[2018-01-29 23:30] Denz1994 commented on #185
Yes, there are four different mystery masses. Also, you are correct the cyan mass on the intro and lab screens are the same.

Thanks for the second eye. The above changes were implemented in this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.47/phet/masses-and-springs_en_phet.html). Assigned to @arouinfar for review.

[2018-01-30 17:35] Denz1994 commented on #199
Reopening for review with JO

[2018-01-30 18:20] jonathanolson commented on #206
I believe the above commit should fix this, can you verify?

[2018-01-30 21:31] arouinfar opened #207 "Increase range of Movable Line"
The range of the Movable Line is a bit too restrictive. Here's the current min/max:
<img width="268" alt="screen shot 2018-01-30 at 10 27 21 am" src="https://user-images.githubusercontent.com/8419308/35581202-5ab3803e-05a8-11e8-9569-9b885807c64c.png"> <img width="268" alt="screen shot 2018-01-30 at 10 27 31 am" src="https://user-images.githubusercontent.com/8419308/35581203-5ad06596-05a8-11e8-8f83

[2018-01-30 21:41] arouinfar opened #208 "Movable Line unusable on single-spring screens"
Observed on latest Mac/Chrome.

Steps to reproduce:
* On startup, go to Energy or Lab
* Turn on Movable Line, and it appears where it should
![image](https://user-images.githubusercontent.com/8419308/35592591-bbf5b96c-05ca-11e8-9625-97019a2e7f8a.png)
* Drag movable line, and it gets shifted to the far-left side of the screen
![image](https://user-images.githubusercontent.com/8419308/35592605-c76f4

[2018-01-30 22:00] arouinfar commented on #185
@Denz1994 everything's looking good now, though I have a few questions to bring up at design meeting.

1. Are the masses too muted? I think the gradient washes out the color a bit, so it ended up less saturated than I was expecting.  I still like the color change, but wonder if others have strong opinions otherwise.
![image](https://user-images.githubusercontent.com/8419308/35593569-74860138-05cd-

[2018-01-30 22:45] ariel-phet commented on #206
Appears fixed on master. Closing

[2018-01-30 22:45] #206 closed, assigned to ariel-phet

[2018-01-30 22:52] arouinfar opened #209 "Equilibrium lines inconsistently layered"
I've noticed that the Equilibrium Position and Mass Equilibrium lines are inconsistently layered.

![image](https://user-images.githubusercontent.com/8419308/35595687-c6dd8828-05d4-11e8-896c-b7c1a5fe37f4.png)
(On Intro, the spring was compressed to demonstrate layering.)

I prefer the layering on Energy/Lab because it doesn't occlude the mass. @Denz1994 can you update the Intro and Vectors screens

[2018-01-30 23:06] arouinfar commented on #176
Getting closer @Denz1994, but it looks like the arrow on the left is still closer to the spring than the arrow on the right. Can you move the right displacement arrow 3px further to the right, so that they match?

![image](https://user-images.githubusercontent.com/8419308/35596381-e21b55f0-05d6-11e8-970b-ae213306a303.png)

Now you know why we call it pixel polishing! 😃

[2018-01-30 23:14] arouinfar commented on #203
Agreed @ariel-phet. Thanks for your input!

I think the equilibrium position and natural length should reference the same point, because they'll likely be used to facilitate displacement measurements. If the natural length sits at the end of the spring, then the equilibrium position should too.

I think it makes the most sense to leave the equilibrium position at the end of the spring, so I'll go

[2018-01-30 23:14] #203 closed, assigned to arouinfar

[2018-01-31 15:34] Denz1994 commented on #208
This behavior was corrected in the above commit. There was a translation on the position property that had an incorrect origin.

[2018-01-31 15:43] #208 closed, assigned to Denz1994

[2018-01-31 18:41] Denz1994 commented on #185
1. I pushed this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.49/phet/masses-and-springs_en_phet.html) for review of the mass gradients. On the intro screen, the non-gray masses have had their gradients removed. On the other screens, the gradients have been darkened. A side effect of this hackish change means the gray masses have been slightly darkened

[2018-01-31 19:41] Denz1994 commented on #207
Good suggestion. This [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.50/phet/masses-and-springs_en_phet.html) includes that above suggestion. How do you think the red movable line looks against the blue 'height = zero' line on the energy and lab screen?

[2018-01-31 19:42] Denz1994 commented on #199
This was corrected with the above commits. Thanks @jonathanolson for the help.

[2018-01-31 19:42] #199 closed, assigned to Denz1994

[2018-01-31 21:15] Denz1994 commented on #209
This layout issue has been corrected and is fixed in the latest [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.51/phet/masses-and-springs_en_phet.html).

[2018-01-31 21:15] #209 closed, assigned to Denz1994

[2018-01-31 23:01] ariel-phet opened #210 "Consider having mass "jump" to pointer if clicking on oscillating spring"
@Denz1994 @arouinfar

As I am playing with the latest version of masses and springs (which is looking really nice by the way), I was thinking about a way to improve the UX. It seems "snagging" a mass can be a bit tricky when the mass is oscillating (yes I can press stop, but if feel natural to want to grab the mass).

Perhaps we could make it such that if the mass is attached to the spring, if you

[2018-01-31 23:05] ariel-phet opened #211 "Masses "drop into place" on startup...consider removing?"
Currently, when you start the sim, or switch between the scenes on the first screen, the masses "drop into place" - this seems to be a repetition of the way the original runs. And the masses in the original make a "clunk" sound when they hit.

Generally, we don't have things animate on sim startup. I also think the design of the current sim has no issues with users realizing they can hang the mass

[2018-01-31 23:30] arouinfar commented on #210
@ariel-phet I love this idea! I think this change would be super helpful. Students definitely click on the mass to try and grab it, though eventually switch over to using the stop button. However, I think jumping the mass to their cursor/finger would be better UX.

[2018-02-01 02:53] Denz1994 commented on #211
This [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.52/phet/masses-and-springs_en_phet.html) removes the "drop into place" motion for review.

I remember a part of the discussion around this "drop into place" motion was to differentiate the masses on the intro screen when switching scenes on the intro screen and when pressing the reset button. At some poi

[2018-02-01 17:20] ariel-phet commented on #211
@Denz1994 excellent thanks. I prefer that behavior. Will defer to @arouinfar .

[2018-02-01 17:33] Denz1994 opened #212 "Toolbox panel tools not consistently positioned."
The positions of the ruler and timer are swapped between the intro screen and the other screens. Should be a quick fix, when adding the tools to the toolboxNode.

[2018-02-01 17:34] #212 closed, assigned to Denz1994

[2018-02-01 17:47] Denz1994 opened #213 "Natural Length line does not sync with adjusting spring length using slider."
Steps to reproduce:

1. Start on intro screen.
2. Switch to second scene.
3. Show natural length line.
4. Shorten the spring with the spring length slider.

The position of the line is out of sync with the bottom of the spring.

[2018-02-01 17:48] arouinfar opened #214 "Combine Length and Constant Parameter panels"
@Denz1994 in the spirit of #108, let's combine the Length and Constant Parameter panels for the 2nd scene on Intro. I've mocked it up, with the font sizes requested in #205.

![image](https://user-images.githubusercontent.com/8419308/35693894-d8dfbd8e-073c-11e8-9a60-ead9881ff36b.png)

![image](https://user-images.githubusercontent.com/8419308/35693878-cc75aa5e-073c-11e8-89b0-9764ded3fd9f.png)

[2018-02-01 17:50] arouinfar commented on #213
@Denz1994 the same bug is present for the Equilibrium position too

[2018-02-01 17:56] jonathanolson commented on #210
It would also be technically possible (and might be useful in sims like this or Pendulum Lab) to start a drag if the mass moves over a pressed mouse/finger. For example, if the user presses a mouse down (and misses the mass barely), when the mass moves over the mouse location it could start a drag.

It would also definitely work to be able to click on the spring (where the mass would jump to that

[2018-02-01 18:05] Denz1994 commented on #214
I really like this suggestion. Thanks for the input @arouinfar.

[2018-02-01 20:36] arouinfar commented on #211
Thanks @Denz1994! I prefer to remove the "drop into place" startup animation, as it's a bit dated. I think the fall-then-zoom animation in #133 captures a lot of the original intention behind animating the falling masses on startup.

I suspect @kathy-phet may have strong opinions about this issue, so I think it'd be best to decide in today's design meeting.

[2018-02-01 20:39] arouinfar commented on #207
The updated range is great @Denz1994! The dashes of the movable line and GPE reference line are offset from one another, similar to the Mass Equilibrium. Can you increase the range of the movable line so that  it can align with GPE reference line? You'll also need to move the "Height = 0 m" string over a few pixels to the right to avoid occlusion.

<img src="https://user-images.githubusercontent.c

[2018-02-01 20:45] arouinfar commented on #185
@Denz1994 I like the more saturated look in dev.49. The gray masses do look a bit darker, but we could probably lighten the underlying gray to improve the readability of the mass strings.

[2018-02-02 15:37] #213 closed, assigned to Denz1994

[2018-02-02 16:03] Denz1994 commented on #207
@arouinfar what do you think about this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.53/phet/masses-and-springs_en_phet.html
)?  If this checks out, I'll leave up to you to close this issue.

[2018-02-02 17:33] Denz1994 commented on #214
Could you review this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.54/phet/masses-and-springs_en_phet.html). There are some alignment and font issues detailed in #205.

Are we changing the title of the panel? I see in the mockup "Length 1" instead of "Spring Length 1"? If this is fine I'll leave it up to you to close.

[2018-02-02 18:25] Denz1994 commented on #211
I believe the consensus was to remove this "drop into place" animation. This is removed from the latest dev and on master. Leaving up to @arouinfar to close.

[2018-02-02 19:04] arouinfar commented on #207
Looks great @Denz1994. Thanks!

[2018-02-02 19:04] #207 closed, assigned to arouinfar

[2018-02-05 20:51] arouinfar commented on #210
Based on the discussion last design meeting, I'm going to mark this issue as deferred and unassign @Denz1994.

The root issue is that the oscillations themselves are a bit too fast, so we've decided to reduce the k values, instead. If the oscillations are still too fast, we may consider this solution.

For the record, we were fine with missing the cases where the click occurs below the mass.

[2018-02-05 21:08] arouinfar opened #215 "Reduce spring constants"
Overall, the oscillations are a bit fast (even in slow motion) which partly motivated the change requested in #210. During the last design meeting, we decided to tweak the spring constants so that the oscillations would be a bit slower.

@Denz1994 I think one tick mark above "Small" is probably large enough to become the new "Large".

[2018-02-05 21:15] arouinfar opened #216 "Reduce damping range"
In design meeting, we discussed reducing the overall damping because it feels a bit too harsh. The current midpoint looks about right to be the max damping.

Desired behavior
* When damping is small, the amplitude decay shouldn't be obvious until the spring has gone through a few oscillations.
* Critical damping should be observable for at least some range of masses. (Currently critical damping is

[2018-02-05 21:20] arouinfar opened #217 "Add "Damping = 0" to Intro and Vectors"
In interviews, students expected some amount of damping to be present. In #145 we had discussed the possibility of a damping checkbox or readout to emphasize that there isn't any damping on the Intro and Vectors screens.

We ultimately decided against a damping checkbox because
* If we allow damping on Vectors, we would need to show the damping force which is beyond the scope of the learning goals

[2018-02-05 21:22] arouinfar commented on #211
Correct @Denz1994. In design meeting @kathy-phet confirmed that the original intent of the animation was to cue that the masses were grabbable, so it's no longer necessary. Closing.

[2018-02-05 21:22] #211 closed, assigned to arouinfar

[2018-02-05 21:25] arouinfar commented on #185
In design meeting, the team reviewed the colors used in dev.49 and liked the look. The decision was to use the darker gradient in dev.49, but lighten the underlying gray for the metallic masses so that they retain their original appearance. The same gradient should be applied to all masses.

[2018-02-05 21:53] arouinfar opened #218 "Mystery Mass Mechanics"
In design meeting, we discussed the goals and productive constraints for the mystery masses.

Intro & Vectors:
* Mystery masses have the same density as known masse
* Values are all within the range of the known masses, to support qualitative comparisons.

Lab
* Masses should be different from Intro & Vectors
* Mystery masses should not have the same density as the known mass (or each other). The

[2018-02-05 23:02] arouinfar commented on #214
Looks good @Denz1994! Since #205 is still underway, I won't worry too much about font sizes.

Good catch! I had considered adding a "Spring 1" title to the panel itself, but then decided against it because it felt a bit too heavy. I forgot to revert "Length" to "Spring Length" before taking the screenshots for this issue.

[2018-02-05 23:02] #214 closed, assigned to arouinfar

[2018-02-05 23:09] arouinfar opened #219 "Shorten spring attachment point?"
In #203 we decided against shifting the equilibrium position, but @kathy-phet and I had wondered if it was possible to shorten the bit of wire extending from the end of the coil by a few px, as a sort of compromise.

@Denz1994 if this would be a quick and noninvasive change (e.g. displacement, mass equilibrium won't need to be adjusted) can you shorten the wire a few px? If not, please feel free t

[2018-02-06 00:22] arouinfar opened #220 "Scene selection button cleanup"
Currently, the scene selection buttons appear to be screenshots of the default springs.
![image](https://user-images.githubusercontent.com/8419308/35835516-624e11b6-0a98-11e8-874a-d7e7c3cfb868.png)

Generally, the scene selection button are a bit more iconic. For example, the scene selection buttons in Hooke's Law
<img src="https://user-images.githubusercontent.com/8419308/35833705-7848e12a-0a8f-1

[2018-02-07 02:11] ariel-phet opened #221 "Elastic potential energy should only depend on displacement"
On the energy screen, it looks like the elastic potential energy is not being calculated correctly from the equilibrium position. For instance for default conditions on the energy screen a (100 g mass, default spring constant) a 20 cm displacement cause a larger PE_elastic for a stretch than a compression.

Seen on [1.0.0-dev.54](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.

[2018-02-07 18:04] Denz1994 opened #222 "Ruler Length should match model elements."
After reviewing the model elements of the draggableRulerNode, the ruler's size is too large. After comparing to the spring's length the length of the ruler, I adjusted the length of the ruler. The ruler is a bit smaller in length now.

[2018-02-07 18:32] #222 closed, assigned to Denz1994

[2018-02-07 19:35] arouinfar commented on #221
@ariel-phet @Denz1994 I don't believe that the current behavior is incorrect.

I've had similar thoughts about the displacement. It appears to be asymmetric around the mass equilibrium (larger stretch than compression) because the displacement vector references the <i>natural length</i>. The oscillation itself, however is symmetric about the equilibrium position.

For example, at equilibrium the b

[2018-02-07 19:51] arouinfar commented on #221
@ariel-phet I've made a note in #174 to add the following to the Teacher Tips:

If you've been convinced that there isn't an issue with the model, please feel free to close.

[2018-02-07 20:48] ariel-phet commented on #221
@arouinfar, please note in the original comment, I am not discussing the displacement from equilibrium, it makes sense with the gravity on, the displacement will be asymmetric due to the gravitational potential energy.

The issue with the model is in the energy ***displayed on the energy graph*** Try the same experiment manually stretching 20 cm, and compressing 20 cm passed the natural length pos

[2018-02-07 20:54] ariel-phet commented on #221
Notice 20 cm stretch
![20cm stretch](https://user-images.githubusercontent.com/4051174/35941062-50fa6730-0c0e-11e8-8a30-1148e84ecfa1.PNG)

20 cm compression
![20 cm compression](https://user-images.githubusercontent.com/4051174/35941080-59e9ce08-0c0e-11e8-8e58-7343da11a394.PNG)

[2018-02-07 20:56] ariel-phet commented on #221
@arouinfar please note that in the above screenshots that for the ***equivalent displacement from natural length*** the bar graph is displaying different value of PE_elastic

[2018-02-07 21:21] arouinfar commented on #221
@ariel-phet thanks for the clarification -- sorry I misinterpreted your original comment. Looks like we were in the process of testing the same scenario. The gravitational potential energy is indeed asymmetric about the natural length.
![image](https://user-images.githubusercontent.com/8419308/35941383-437b2d64-0c0f-11e8-85f5-dfc2a39d4cd3.png)

It seems like there's something strange going on with

[2018-02-08 00:34] Denz1994 commented on #217
A text that reads "Damping = 0" was added beneath the gravity combo box. It can be reviewed in this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.55/phet/masses-and-springs_en_phet.htm).

[2018-02-08 00:35] Denz1994 commented on #216
Damping range has been reduced using the above suggestion from @arouinfar. Please review this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.55/phet/masses-and-springs_en_phet.html) for the change.

[2018-02-08 00:38] Denz1994 commented on #220
I believe the outside border is a bit too thick, but just for clarity is this the direction we want to go in @arouinfar? I had to darken the springs in the icon a bit. The blue color was pulled from the image above as well.

Can you check this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.55/phet/masses-and-springs_en_phet.htm)?

[2018-02-08 01:19] Denz1994 commented on #215
The spring constant range has been lowered with the above suggestion. Try it out in this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.56/phet/masses-and-springs_en_phet.html) and @arouinfar can close if acceptable.

[2018-02-08 01:41] ariel-phet commented on #215
@Denz1994 @arouinfar overall I think this current range is much better. The default is moving at a very reasonable pace for most masses.

My one suggestion might be to tweak the range a bit for one type of fun challenge question. I think a natural question might be..."Can you get the 100 g and 50 g mass to oscillate at the same frequency?"

Currently the range is not quite enough. Even with the sp

[2018-02-08 01:47] ariel-phet commented on #220
@Denz1994 @arouinfar 3 comments:

1. I think these more iconic springs are a nice improvement

2. I do think the border/stroke of the buttons should be reduced to be more like the style in Hooke's law

3. "Scene 2" button should have the shorter spring on the right, longer spring on the left to match the actual scene

[2018-02-08 10:04] Denz1994 commented on #218
The above changes have been applied. @arouinfar please review in this [dev version]( https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.57/phet/masses-and-springs_en_phet.html).

Note to self: Masses should be initialized in each screen's model. Generalization, in this case, is a bit cumbersome. Review TODO statements.

[2018-02-08 10:14] Denz1994 opened #223 "Changing length of spring while paused gives incorrect mass attachment point."
On the intro screen, pause the sim. Attach a mass. Change the length of the spring. The position of the mass seems to be offset by the spring hook height in the wrong direction.

[2018-02-08 10:17] Denz1994 commented on #219
Could @arouinfar review this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.58/phet/masses-and-springs_en_phet.html) for the change?

[2018-02-08 17:23] arouinfar opened #224 "Ruler shrunk"
The ruler is quite a bit smaller than it used to be. The change appears to have occurred between dev.54 and dev.55. Can you look into it @Denz1994?

![image](https://user-images.githubusercontent.com/8419308/35987796-f11698aa-0cb9-11e8-8832-47f0fb46e497.png)  ![image](https://user-images.githubusercontent.com/8419308/35987751-d397db4a-0cb9-11e8-8d1d-6d42184b5ff5.png)

[2018-02-08 17:24] arouinfar commented on #219
Looks great, thanks @Denz1994!

[2018-02-08 17:24] #219 closed, assigned to arouinfar

[2018-02-08 17:47] arouinfar opened #225 "Gravity tweaker step size should be 0.1 m/s^2"
I've noticed that the Gravity slider thumb snaps to steps of 1.0 m/s^2 (similar to the PL mass & length sliders) which is great. However, the tweakers seem to be following the same step size, which means users can't access all possible values.

@Denz1994 can you update the step size to 0.1 m/s^2?

[2018-02-08 17:49] Denz1994 commented on #225
Great notice @arouinfar I will update this.

[2018-02-08 17:50] Denz1994 commented on #224
Slack discussion on this between @arouinfar and myself:

Me: February, 8 2018 12:33 PM

@arouinfar: February, 8 2018 12:33 PM

Me:  February, 8 2018 12:42 PM

With that mentioned, I will close this issue and reference #222.

[2018-02-08 17:50] #224 closed, assigned to Denz1994

[2018-02-08 17:56] pixelzoom opened #226 "branch: alternative-falling"
Identified by `print-branches.sh`.  @Denz1994 please describe.

FYI, all non-release branches are supposed to have an associated GitHub issue. Title is of the form "branch: {{branchName}}}". The description should include: the purpose of the branch, expected lifetime of the branch, references to any related issues. The issue can be closed when the branch is deleted.

[2018-02-08 17:56] pixelzoom opened #227 "branch: mipmap-ruler"
Identified by `print-branches.sh`.  @Denz1994 please describe.

FYI, all non-release branches are supposed to have an associated GitHub issue. Title is of the form "branch: {{branchName}}}". The description should include: the purpose of the branch, expected lifetime of the branch, references to any related issues. The issue can be closed when the branch is deleted.

[2018-02-08 17:56] pixelzoom opened #228 "branch: portedGraph"
Identified by `print-branches.sh`.  @Denz1994 please describe.

FYI, all non-release branches are supposed to have an associated GitHub issue. Title is of the form "branch: {{branchName}}}". The description should include: the purpose of the branch, expected lifetime of the branch, references to any related issues. The issue can be closed when the branch is deleted.

[2018-02-08 18:00] arouinfar commented on #217
@Denz1994 a few tweaks:
* Increase padding between Gravity slider and "Damping = 0" by a few px
* Left-align with checkboxes

[2018-02-08 19:17] arouinfar commented on #218
@Denz1994 can you double check the values of the Lab screen mystery masses?

The blue mass looks like it's slightly under 230 g. (Movable line is in the same place for both.)
![image](https://user-images.githubusercontent.com/8419308/35992934-ff7901bc-0cc8-11e8-9233-6f73da53185f.png) ![image](https://user-images.githubusercontent.com/8419308/35992947-0aabbfd4-0cc9-11e8-994a-6da5c62cfca0.png)

The

[2018-02-08 19:30] arouinfar commented on #215
Thanks for your input @ariel-phet! I agree that the oscillation speed is much easier to observe.

I would also like to see the maximum spring constant increased a bit, as it would support @ariel-phet's teaching example.

It would also be nice if the 250g mass's equilibrium position at max gravity and max k could be within dev. Currently, it's impossible to retrieve the 250 g mass at max gravity by

[2018-02-08 19:47] arouinfar commented on #216
It's looking a better @Denz1994!

A few suggestions...
* At max damping, the 50 g mass is still a bit underdamped. Can you increase it a bit so critical damping can be observed?
* At min (non-zero) damping, the amplitude decay is still pretty obvious early on. Can you decrease it slightly? I realize the amplitude decays exponentially, so this may not be something you can accommodate, but I think i

[2018-02-12 14:56] Denz1994 commented on #185
The gray masses have been brightened a bit after the gradient changes. @arouinfar Can you review in this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.60/phet/masses-and-springs_en_phet.html)?

[2018-02-12 14:57] Denz1994 commented on #176
The position displacement vectors have been adjusted slightly. @arouinfar Could you check in this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.60/phet/masses-and-springs_en_phet.html) if the pixels have been polished?

[2018-02-12 17:45] arouinfar commented on #218
@Denz1994 did you intentionally assign me? I took a look at master, and there doesn't appear to have been any changes made.

[2018-02-12 17:50] arouinfar commented on #176
@Denz1994 the padding appears to be equal now! However, I think you may have moved the left arrow towards the middle rather than moving the right arrow further right. The displacement arrows are looking a bit crowded together, and should be a bit closer to their respective masses.
![image](https://user-images.githubusercontent.com/8419308/36111129-50e975f6-0fe2-11e8-85dc-3511e29d3611.png)

Can you

[2018-02-12 17:51] arouinfar commented on #185
Looks great! Thanks @Denz1994.

[2018-02-12 17:51] #185 closed, assigned to arouinfar

[2018-02-12 17:54] Denz1994 commented on #218
In regards to the mass values above. If all of the densities are the same then we get something that looks like this:
![image](https://user-images.githubusercontent.com/13894380/36109760-5943ecac-0fee-11e8-8166-24b69b33b7a4.png)![image](https://user-images.githubusercontent.com/13894380/36109823-8226e7e6-0fee-11e8-8cca-21b8bd628b1c.png)

In the above comparison, the moveable line is in the same lo

[2018-02-12 18:18] Denz1994 commented on #176
Sorry for all the minor changes, could you review this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.62/phet/masses-and-springs_en_phet.html) @arouinfar?

[2018-02-12 18:20] arouinfar commented on #176
@Denz1994 the pixels have all been polished! 😄

[2018-02-12 18:20] #176 closed, assigned to arouinfar, Denz1994

[2018-02-13 17:54] Denz1994 commented on #225
The step has been updated to 0.1 m/s in this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.63/phet/masses-and-springs_en_phet.html). Closing this issue.

[2018-02-13 17:54] #225 closed, assigned to Denz1994

[2018-02-14 13:28] Denz1994 commented on #218
@ariel-phet added input in a zoom meeting: 02/13/18

I will update and post a new dev version.

[2018-02-14 15:48] Denz1994 commented on #218
The hook heights have been adjusted and the masses have had their appropriate labels applied. Could you review this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.65/phet/masses-and-springs_en_phet.html) @arouinfar?

[2018-02-15 00:21] arouinfar opened #229 "Natural Length observable on all screens"
In dev.65, the Natural Length is observable on Screens 2-4, but should only be on Intro. As a side note, toggling the checkbox on Intro does not change the visibility on the other screens.

For example, here's the Energy screen:
![image](https://user-images.githubusercontent.com/8419308/36235003-5d12f102-11ab-11e8-89a1-2f89c8dac170.png)

[2018-02-15 00:25] arouinfar commented on #218
@Denz1994 thanks for the clarification. The hook size looks great in dev.65, but I think something's still not quite right with the masses.

The blue mass still appears to be less than 230 g (movable line in the same place for both):
![image](https://user-images.githubusercontent.com/8419308/36235067-b3bd61e0-11ab-11e8-87f1-3256e3c9fa9a.png)  ![image](https://user-images.githubusercontent.com/8419

[2018-02-15 00:35] Denz1994 commented on #221
The slight offset has been removed from the displacement arrow and the asymmetry in the Elastic Potential Energy is fixed. There was an issue with the modelViewTransform that was being used for the displacement vector.

Could @ariel-phet verify the issue has been corrected in this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.66/phet/masses-and-springs_e

[2018-02-15 13:09] Denz1994 commented on #229
Sorry @arouinfar, I should have made an issue for this earlier. In a slack meeting on 02/13/18 @ariel-phet mentioned, that it would be good to have the natural length line visible on every screen. The main reason being that it would make it more clear that the displacement vector extends from the natural resting length of the spring.

I've added the toggle checkbox to every screen as well. Assigni

[2018-02-15 13:18] Denz1994 opened #230 "branch: alternative-falling"
Purpose: Branch was created to provide an alternative animation for a mass that has been dropped and then animated back to its original position on the mass shelf.

Expected Lifetime: Short-term. The use of this branch was only used for about a week. It can be deleted after a decision was made in #133.

Relevant Issues: #133, #226

[2018-02-15 13:23] Denz1994 opened #231 "branch: mipmap-ruler"
Purpose: This branch was created to compare the initialization of the draggable ruler node in the tool box using an icon.

Expected Lifetime: Short-term. The use of this branch was only used for about a week. It can be deleted after a decision was made in #199.

Relevant Issues: #199, #227

[2018-02-15 13:36] Denz1994 opened #232 "branch: portedGraph"
Purpose: Branch was created to provide an alternative animation for a mass that has been dropped and then animated back to its original position on the mass shelf.

Expected Lifetime: Short-term. The use of this branch was used to merge relevant changes from the Masses and Springs ```EnergyGraphNode.js``` into a common code component consisting of ```BarChartNode.js``` and ```BarNode.js``` in Grid

[2018-02-15 14:04] Denz1994 commented on #216
I increased the range of the damping to accommodate for critical damping at 50g and max damping value. Also, I decreased the steps in the damping slider so we can snap to smaller min (non-zero) values.

In a [previous dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.66/phet/masses-and-springs_en_phet.html) it would take longer to stop oscillating (specifical

[2018-02-15 15:27] Denz1994 commented on #215
I was to reproduce the question posed above by @ariel-phet regarding a 50g and 100g mass and keep the 250g within the dev bounds at max gravity. Can you review this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.69/phet/masses-and-springs_en_phet.html) to ensure the oscillation isn't too fast?

[2018-02-16 00:09] #223 closed, assigned to Denz1994

[2018-02-16 00:33] arouinfar commented on #229
Thanks for the clarification @Denz1994! I spoke with @ariel-phet about the issue this morning, and we decided that the natural length's visibility should be tied to the Displacement.  If the Natural Length is independent of displacement, students may measure the distance between the natural length and the mass equilibrium, which would not be productive, as the reference points are different. One o

[2018-02-16 01:07] ariel-phet commented on #221
Verified fixed. Nice job. Closing.

[2018-02-16 01:07] #221 closed, assigned to ariel-phet

[2018-02-16 03:15] Denz1994 commented on #229
Woah, I like it. Will work on this and update.

[2018-02-16 18:00] Denz1994 commented on #229
What do you think about this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.71/phet/masses-and-springs_en_phet.html) @arouinfar? The natural length and displacement arrow have been coupled and the bracket has been added. I think this is a great improvement.

[2018-02-16 22:58] arouinfar commented on #229
Looks great @Denz1994!

The bracket might look better as the third checkbox, but flow wise, I think it's important to leave at the top. It's also the only checkbox that has any physical meaning for an empty spring.

I reviewed this with @kathy-phet, and she pointed out that the Mass Equilibrium doesn't make much sense without a mass, and could actually be confused for the natural length. It would

[2018-02-16 22:58] #229 closed, assigned to arouinfar

[2018-02-16 23:08] arouinfar opened #233 "Hide Mass Equilibrium for empty springs"
In reviewing #229  @kathy-phet pointed out that the Mass Equilibrium doesn't make much sense without a mass, and could actually be confused for the natural length. It would be better to show nothing for an empty spring.

@Denz1994 can you hide the Mass Equilibrium when the springs are empty? No need to disable the checkbox, just hide the black dashed line in the play area.

[2018-02-19 16:19] Denz1994 commented on #233
Good input. Try out this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.72/phet/masses-and-springs_en_phet.html
) @arouinfar and if it looks good, close.

[2018-02-19 17:13] phet-steele opened #234 "Uncaught TypeError: Cannot read property 'reset' of undefined"
Press Reset All on any screen at any time.

[code]

[2018-02-19 17:16] Denz1994 commented on #234
Thanks, I'll patch now.

[2018-02-19 17:16] #234 closed, assigned to Denz1994

[2018-02-19 18:14] arouinfar commented on #233
👍

[2018-02-19 18:14] #233 closed, assigned to arouinfar

[2018-02-21 02:49] Denz1994 commented on #220
Can you review this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.73/phet/masses-and-springs_en_phet.html) @arouinfar to check if the scene buttons are okay?

[2018-02-21 15:50] Denz1994 commented on #146
Could you review this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.74/phet/masses-and-springs_en_phet.html) @arouinfar and close if needed?

[2018-02-21 16:44] arouinfar commented on #146
Looks great @Denz1994!

[2018-02-21 16:44] #146 closed, assigned to arouinfar

[2018-02-21 17:33] arouinfar commented on #220
Getting closer @Denz1994! I think the icons are looking great, but I have a few tweaks to suggest:
- [x] Remove the yellow stroke (contrasts poorly against white)
- [x] Use single black stroke which is heavier for the active selection (e.g. 2 pt on active, 1 pt on inactive)
- [x] There's a lot of blank space below the springs, so change aspect ratio of buttons to get rid of excess padding.  Square

[2018-02-21 18:22] Denz1994 commented on #205
If @arouinfar doesn't see any more revisions in this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.75/phet/masses-and-springs_en_phet.html), then I am leaving it to you to close. Thanks for the input!

[2018-02-21 18:36] Denz1994 commented on #220
What do you think about this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.76/phet/masses-and-springs_en_phet.html) @arouinfar?

[2018-02-21 18:37] arouinfar commented on #220
Love it @Denz1994!!

[2018-02-21 18:37] #220 closed, assigned to arouinfar

[2018-02-21 18:43] Denz1994 commented on #217
Check this latest [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.77/phet/masses-and-springs_en_phet.html) @arouinfar for the above improvements.

[2018-02-21 19:43] arouinfar commented on #217
Thanks @Denz1994! Looks good.

[2018-02-21 19:43] #217 closed, assigned to arouinfar

[2018-02-21 19:54] arouinfar commented on #205
Looking good @Denz1994! It's getting close, but I found a few more pixels to polish 😄
- [x] Constant Parameter, Spring Constant, Length: increase to 12 pt
- [x] Gravity & Damping sliders: titles bold (Leave "Damping = 0" as is.)
- [x] Mass slider: Increase "Mass" and value readout to 14 pt
- [x] Mass & Gravity sliders: Thumb is still too close to min/max readouts, so move min/max values up a px. (

[2018-02-21 21:52] Denz1994 commented on #93
Closing this issue because the bounds of the massNodes have been updated a while ago, along with the addition of the mass hooks.

[2018-02-21 21:52] #93 closed, assigned to Denz1994

[2018-02-22 04:28] arouinfar commented on #218
@Denz1994 did you still want to talk about this? I pulled master, and things are looking the same.

[2018-02-22 05:16] arouinfar commented on #215
@Denz1994 confirmed that the current range of k is 5-10 N/m. I think that range is a bit too small, as it only allows k to be doubled. I think it would be better to allow k to be quadrupled, so users could more easily observe the square root relationship between k and the period.

Locally, I experimented with a k range of 3-12 N/m, which looked nice. However, this range doesn't nicely divide into

[2018-02-22 05:30] arouinfar commented on #216
I think the new range is looking much better! However, I'm finding it a bit hard to reproduce experiments with so many available positions for the thumb. In general, I like the half steps, but perhaps we could reduce the total number of tick marks (while keeping the range the same) as a compromise.

@Denz1994 can you reduce the number of tick marks from 11 to 7, while keeping the half steps and sa

[2018-02-22 13:26] Denz1994 commented on #218
In a zoom meeting with @ariel-phet, we reviewed the offset of the mass equilibrium lines. It seems to be a natural cause of having differently sized masses despite having the same mass value. The mass equilibrium line is tracking the center of mass and if the massNodes are varied in size, the line should be in a different position.

Leaving to @arouinfar to close if needed.

[2018-02-22 15:43] Denz1994 commented on #215
The range has been updated along with the tick marks in this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.78/phet/masses-and-springs_en_phet.html). Leaving to @arouinfar to close.

[2018-02-22 15:59] Denz1994 commented on #216
The slider tick marks have been reduced and the steps are still in half increments. Could you review this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.79/phet/masses-and-springs_en_phet.html) @arouinfar?

[2018-02-22 19:43] arouinfar commented on #216
👍

[2018-02-22 19:43] #216 closed, assigned to arouinfar

[2018-02-22 19:44] arouinfar commented on #215
Looks great, thanks @Denz1994!

[2018-02-22 19:44] #215 closed, assigned to arouinfar

[2018-02-22 19:46] arouinfar commented on #218
I can't believe I didn't take the varying densities into account! <i>Of course</i> the mass equilibrium will be shifted slightly. I reviewed again, this time comparing the Displacement vector (as I should have been doing this whole time), and everything is matching up perfectly.

[2018-02-22 19:46] #218 closed, assigned to arouinfar

[2018-02-22 20:54] Denz1994 opened #235 "Period trace for mass oscillation."
In a zoom meeting, @ariel-phet suggested having a period trace similar to the one in pendulum lab. He mentioned that there was interest in having one by a teacher and both sims are similar in demonstrating oscillation. Here are some key takeaways:

- A vertical rectangular path that follows the COM of the oscillating mass.
- Only on Lab Screen
-  Positioning should be in line with mass equilibrium

[2018-02-23 21:59] ariel-phet commented on #235
I think you captured my thoughts well, removing my assignment for the moment

[2018-02-23 22:54] arouinfar commented on #235
@ariel-phet and I discussed this briefly last week, and I think it'd be a good addition. The general idea and mockup looks good to me @Denz1994.

[2018-02-26 18:43] Denz1994 opened #236 "branch: periodTrace"
Purpose: Branch was created to provide an added feature to the lab screen. This feature is a period trace that tracks the oscillation of the mass in a similar fashion to pendulum lab.

Expected Lifetime: Short-term. @ariel-phet Mentioned that this feature is a last minute addition that is worth investigating within a short timeframe. It was expected that I would work on this for 4 hours and a deci

[2018-02-27 19:49] Denz1994 commented on #205
The above changes have been implemented. The font of the mass and readout was already 14. I don't know if this is a change that was made in another commit. Could you try this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.81/phet/masses-and-springs_en_phet.html) @arouinfar. Thanks.

[2018-02-27 20:22] ariel-phet opened #237 "Reduce opacity of unselected scene a bit more?"
When looking at 1.0.0-dev.81, to my eye, pretty much everything is looking quite clean and polished

The one thing I noticed as a possible tweak was decreasing the opacity of the unselected scene on the intro screen. It just seems a bit dark to me.

![scene select](https://user-images.githubusercontent.com/4051174/36752768-5160fcf8-1bc1-11e8-9895-50175248ea5d.PNG)

[2018-02-27 20:23] ariel-phet commented on #237
@arouinfar if you agree, feel free to assign back to me and I will work with @Denz1994 to tweak it.

[2018-02-27 20:47] arouinfar commented on #237
Great catch @ariel-phet. It definitely looks a bit dark, especially when comparing to Hooke's Law:
![image](https://user-images.githubusercontent.com/8419308/36753781-78a36f64-1bc4-11e8-95e5-ae83e6fecf7b.png)

It looks like @Denz1994 may be layering a reduced-opacity black square on top of the unselected scene, rather than reducing the opacity of the button itself.

[2018-02-27 21:11] phet-steele opened #238 "Gravity panel contents shift when selecting mystery planet"
I am only seeing this in the Lab screen.

Changing back and forth between "Planet X" and anything else causes the contents of that panel to shift  (expand and shrink).

![mas10](https://user-images.githubusercontent.com/5863899/36755010-0611d5f4-1bc8-11e8-85ab-e1d067579385.gif)

Seen on macOS 10.13.3 Chrome. For phetsims/QA/issues/103.

<details>
<summary>Troubleshooting Information</summary>

URL

[2018-02-27 21:22] arouinfar commented on #205
Looks great @Denz1994! Two more requests:
- [x] Mass sliders: Bold "Mass" -- the title gets a bit lost
- [x] Constant Parameter: Left-align with "Short" (shift radio options over with title)

[2018-02-27 21:37] phet-steele opened #239 "Movable Line does not reset"
1. Enable Movable Line
2. Move it
3. Reset All

Enable the Movable Line again and notice that its position did reset to default.

Seen on macOS 10.13.3 Chrome. For phetsims/QA/issues/103.

<details>
<summary>Troubleshooting Information</summary>

URL: https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.81/phet/masses-and-springs_en_phet.html
Version: 1.0.0-dev.81 2018-02-27

[2018-02-27 22:31] phet-steele commented on #156
@jonathanolson @Denz1994 I have no idea why I'm only seeing this now and didn't see this back in December (or maybe I did; you have to get lucky to see this issue).

Since we are rounding the centiseconds up and down, there are a few issues.

When centiseconds are between [99.5, 100), the timer rounds up to 100 BEFORE 100 centiseconds (1 sec) have actually elapsed, leading to:

<img width="192" al

[2018-02-27 23:08] arouinfar opened #240 "Update screen icons"
For https://github.com/phetsims/QA/issues/103

- [x] Intro screen: Update unknown mass color
- [x] Energy screen: Update stacking order of total energy
- [x] Lab screen: Remove equilibrium position

[2018-02-27 23:16] jonathanolson commented on #156
Should be fixed with the above commit. Can you verify?

[2018-02-28 17:55] phet-steele commented on #156
This looks like a working solution in master....let's hope this issue stays dead this time.

[2018-02-28 17:55] #156 closed, assigned to phet-steele, Denz1994

[2018-02-28 18:13] phet-steele opened #241 "Position velocity/acceleration vectors dynamically"
@Denz1994 @arouinfar it might be a sleek enhancement to position the Velocity/Acceleration vectors based on their visibility. What I mean is:

When only one of these vectors is enabled, that vector appears in the middle of the mass like so:

<img width="250" alt="screen shot 2018-02-28 at 11 09 53 am" src="https://user-images.githubusercontent.com/5863899/36804573-3c2b8904-1c78-11e8-8535-8f14b8a95

[2018-02-28 18:22] Denz1994 commented on #241
I like this and it shouldn't be too hard to implement. I'll work on it.

[2018-02-28 18:56] phet-steele commented on #189
There is one more scenario to handle @Denz1994. We should also be disabling the stop button when a user grabs an oscillating mass.

This is actually half-implemented already 😄. If you grab an oscillating mass, then release, you can see the stop button very quickly flicker to disabled and back to enabled. But of course, I'm pretty confident that it should become disabled the moment the mass is grab

[2018-02-28 19:42] phet-steele opened #242 "Energy Legend should dismiss when clicked"
The "Energy Legend" dialog should be dismissible by clicking directly on it, similar to the About dialog. This is in addition to clicking the Close button or the area around the dialog (which are both already happening 👍).

Seen on macOS 10.13.3 Chrome. For phetsims/QA/issues/103.

<details>
<summary>Troubleshooting Information</summary>

URL: https://www.colorado.edu/physics/phet/dev/html/masses-

[2018-02-28 20:26] arouinfar commented on #189
Agreed @phet-steele. Great catch!

[2018-02-28 20:27] arouinfar commented on #241
Thanks for the suggestion @phet-steele. From Slack discussion, this sounds like a straight-forward change, so I'd say go for it @Denz1994.

[2018-02-28 20:37] phet-steele opened #243 "Energy Legend text alignment"
@Denz1994 there is some fun alignment of the text in the Energy Legend dialog. Not so sure this is the desire, so check with @arouinfar.

Red lines are the baselines of the left column of text. Green lines are the baselines of the right column of text. Looks like E<sub>therm</sub> is the only one that has both aligned:

<img width="489" alt="screen shot 2018-02-28 at 1 17 14 pm" src="https://user-

[2018-02-28 20:38] Denz1994 commented on #241
Great suggestion @phet-steele. Could you see if this issue resolved in master?

[2018-02-28 20:41] arouinfar commented on #243
Nice catch @phet-steele!! Etherm has the preferred look -- abbreviation (KE, PE, etc.) and descriptive string sharing the same baseline.

[2018-02-28 20:56] phet-steele commented on #241
This is working great in master! Now I'm noticing though that arrows are not quite centered on the mass (when alone). This is most noticeable on mystery masses. Using the ruler as a straightedge, the arrow is a bit far to the right of the center:

<img width="185" alt="screen shot 2018-02-28 at 1 54 51 pm" src="https://user-images.githubusercontent.com/5863899/36812631-fc77e764-1c8e-11e8-88c9-5e2d

[2018-02-28 21:43] Denz1994 commented on #243
All of the text alignments have been adjusted to be more uniform. Note that using rich text changes the baseline of the abbreviated text (as seen in pendulum lab) but they are definitely more consistent. Could you check this in master @phet-steele  and close if it meets your approval?

[2018-02-28 21:52] phet-steele commented on #243
I will let @arouinfar decide.

[2018-02-28 21:59] arouinfar commented on #243
KE looks to be aligned perfectly, but every subsequent line gets shifted down a bit more.
![image](https://user-images.githubusercontent.com/8419308/36815325-9ed87890-1c97-11e8-93b8-51c93cb25ad9.png).

However, it's pretty subtle, and I wouldn't notice it without the horizontal lines. Given the limitations of rich text, I'd say this is good enough.

[2018-02-28 21:59] #243 closed, assigned to arouinfar

[2018-02-28 22:15] Denz1994 commented on #239
Hey, @phet-steele could you check if this is fixed in master?

[2018-02-28 22:24] arouinfar commented on #240
Updated assets have been sent to @Denz1994.

[2018-02-28 22:44] Denz1994 commented on #241
Good catch. There were some inconsistencies in the view elements compared to the model that was taken care off. This should be fixed in master @phet-steele.

[2018-02-28 23:41] Denz1994 commented on #240
The screen icons have been applied in this [dev version.](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.82/phet/masses-and-springs_en_phet.html) What do you think @arouinfar?

[2018-02-28 23:41] arouinfar commented on #240
👍

[2018-02-28 23:41] #240 closed, assigned to arouinfar

[2018-03-01 00:57] Denz1994 commented on #205
The above changes were applied in this [dev version.](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.83/phet/masses-and-springs_en_phet.html) Leaving to @arouinfar to close.

[2018-03-01 01:19] Denz1994 commented on #189
Good catch. See if master is fixed @phet-steele.

[2018-03-01 17:11] arouinfar commented on #205
👍

[2018-03-01 17:11] #205 closed, assigned to arouinfar

[2018-03-01 18:02] phet-steele commented on #241
Nice and centered! Gracias everyone.

[2018-03-01 18:02] #241 closed, assigned to phet-steele

[2018-03-01 19:47] phet-steele opened #244 "Stop button flickers when adjusting spring length"
1. Intro screen -> adjustable length scene
2. Get a mass oscillating on the left spring.
3. Start adjusting the length. The Stop button will flicker.

![mas11](https://user-images.githubusercontent.com/5863899/36866045-78a51ac2-1d4e-11e8-8394-134a776a45cc.gif)

This is the only place this is happening, and it's slightly annoying. Other areas where parameters are changed during oscillation do not a

[2018-03-01 19:53] phet-steele opened #245 "Stop button is disabled during the first step of oscillation"
1. Pause the sim.
2. Attach a mass to a spring.
3. Drag the spring and release.
4. Step the sim forward once.

On this first step, the mass is moving (you can verify with the energy graph or velocity vector), however the Stop button is still disabled. On the second step forward, the Stop button will be enabled.

![mas12](https://user-images.githubusercontent.com/5863899/36866394-6a026118-1d4f-11e8

[2018-03-01 19:56] Denz1994 commented on #245
This may explain why the button is flickering in issue #244. I will track down the link responsible for this.

[2018-03-01 19:58] phet-steele commented on #189
Works great, thanks.

[2018-03-01 19:58] #189 closed, assigned to phet-steele

[2018-03-01 19:59] phet-steele commented on #242
Works, thanks.

[2018-03-01 19:59] #242 closed, assigned to phet-steele

[2018-03-01 20:00] phet-steele commented on #239
Fixed in master.

[2018-03-01 20:00] #239 closed, assigned to phet-steele

[2018-03-02 14:51] Denz1994 commented on #244
**Long Answer**: When the natural length is changed the mass also needs to be repositioned and its values need to be updated. In doing this we are setting the mass vertical velocity to zero before setting the final velocity of the mass (done to cover cases where the sim is paused and not stepping through the model).
 However, we needed to update the button's enabled property after the velocity is

[2018-03-02 14:53] Denz1994 commented on #245
Could you check if this is solved in master @phet-steele? See [#244 comment](https://github.com/phetsims/masses-and-springs/issues/244#issuecomment-369941366) for explaination of solution. Thanks.

[2018-03-02 15:34] Denz1994 commented on #238
After reviewing this the panel's logic, I found an easier way of dealing with this questionTextNode for planetX. We can just make the questionNode's local bounds equal the hSlider/numberControl local bounds. That way we don't have to manually adjust them.

Can you check if this was fixed in master @phet-steele?

I will be releasing a new dev version because there have been some significant changes

[2018-03-02 16:04] Denz1994 commented on #237
@arouinfar Nope, no black square being layered here. I just needed to reduce the opacity of the deselected radio button from the default value. Could you review this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.85/phet/masses-and-springs_en_phet.html)?

[2018-03-02 16:10] arouinfar commented on #237
:+1:

[2018-03-02 16:10] #237 closed, assigned to arouinfar

[2018-03-02 18:31] phet-steele commented on #244
This is working for me.

[2018-03-02 18:31] #244 closed, assigned to phet-steele

[2018-03-02 18:32] phet-steele commented on #245
Yes, this is fixed. Thanks for the explanation.

[2018-03-02 18:32] #245 closed, assigned to phet-steele

[2018-03-02 18:54] phet-steele commented on #238
@Denz1994 this works great in English, but breaks in i18n. Neither of these were broken in dev.81:

`?stringTest=double`:

<img width="333" alt="screen shot 2018-03-02 at 11 53 14 am" src="https://user-images.githubusercontent.com/5863899/36916156-56dd90a0-1e10-11e8-9d28-4d41dca26b1a.png">

`?stringTest=i` (short strings):

<img width="314" alt="screen shot 2018-03-02 at 11 53 02 am" src="https://

[2018-03-06 17:07] Denz1994 commented on #238
There was some bugginess in adding and removing elements from the panel. Instead, we are just adding all of the nodes to the panel and toggling visibilities based on what planet is selected.

I think commit 7e370e694b51d698fb49e8eee4b7df35597c1f55 might have fixed this in master. Can you confirm @phet-steele.

[2018-03-06 19:59] Denz1994 opened #246 "Addressing TODO Statements"
As of 03/06/18, there are 31 TODO statements. I will use this issue to make any remarks specific to a particular TODO and to reference their completion.

[2018-03-06 20:47] samreid opened #247 "Misspelling in mysteryLable"
While looking into a lint error, I saw `mysteryLable` it should be fixed.

[2018-03-06 21:00] Denz1994 commented on #247
Hey, thanks a lot. I caught another misspelling: `adjusable`  I'll be more careful.

[2018-03-06 21:04] #247 closed, assigned to Denz1994

[2018-03-07 17:20] phet-steele commented on #238
@Denz1994 this works. Makes i18n pretty tight though (shrinks quite a bit).

[2018-03-07 17:20] #238 closed, assigned to phet-steele

[2018-03-07 18:14] Denz1994 opened #248 "ResetAllButton should be in front of scene graph at all times."
@phet-steele noted that the reset all button can be blocked by draggable sim elements (masses, ruler, and timer). He mentioned in a slack message 03/07/18.

Note: This behavior isn't something that is found in Pendulum Lab or CCK, but maybe it should be.

[2018-03-07 18:18] Denz1994 commented on #248
Can you check this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.88/phet/masses-and-springs_en_phet.html) @phet-steele for the desired behavior?

[2018-03-07 18:22] Denz1994 commented on #248
Addendum to above note: Unit rates does follow this behavior, where the reset all button isn't blocked by draggable nodes.

[2018-03-07 18:23] phet-steele commented on #248
@ariel-phet I'm correct in this convention, right? Clearly it's not something we always remember to check (hence PL and CCK being different). Maybe well suited to be checked in a code review as an additional check after QA (easy to verify from looking at code I believe).

Then @Denz1994 asked if this extended to play/pause and sim speed options....does it @ariel-phet?

@Denz1994 dev.88 is correct

[2018-03-07 18:36] ariel-phet commented on #248
@phet-steele I don't think we have a "hard and fast" rule. For something like pendulum lab, if you cover the button with the ruler or timer, it is not a big deal to just move them out of the way.

@arouinfar - I don't think we have ever said the reset all button must always be on top have we?

[2018-03-07 18:38] ariel-phet commented on #248
My instinct would be that as long as the reset all button is not getting covered in "normal" use cases, it is not a concern.

[2018-03-07 18:49] phet-steele commented on #248
@ariel-phet @arouinfar is there any harm in having a hard and fast rule? Has there been a situation where it's been problematic to have something behind the button (ie something small gets stuck behind)?

[2018-03-07 18:55] Denz1994 commented on #248
Charges and fields has charges and sensors that are smaller than the button.

Could @phet-steele review this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.89/phet/masses-and-springs_en_phet.html). It wasn't too hard of a fix.

[2018-03-07 19:05] arouinfar commented on #248
@ariel-phet I don't think it's ever been explicitly discussed in design, but I think it's generally been a QA convention to check the z-order (recently, at least).

Agreed, but I think it's best to leave ResetAllButton on top, whenever possible. If the user encounters a bug, the ResetAllButton will be more accessible if it's kept on top.

Good example, @Denz1994. That might be a case were we shoul

[2018-03-07 19:08] phet-steele commented on #248
@Denz1994 dev.89 is working great

Good point!

[2018-03-07 19:08] #248 closed, assigned to Denz1994

[2018-03-08 15:05] Denz1994 opened #249 "Use MathSymbols.js for math symbols."
As per the suggestion in https://github.com/phetsims/scenery-phet/issues/353, math symbols should be taken from `MathSymbols.js` for uniformity in code conventions.

[2018-03-08 19:05] arouinfar opened #250 "Add icon to mass panel"
On the Lab screen, it may not be immediately clear which mass the slider is adjusting.  After discussion with @ariel-phet we decided that adding an iconic mass to the panel would address this issue. @Denz1994 can you add an iconic adjustable mass to the left of the "Mass" title? Here's a mockup:

![image](https://user-images.githubusercontent.com/8419308/37170441-0ea12c90-22c8-11e8-8f4d-f41232a5f0

[2018-03-08 19:18] arouinfar opened #251 "Masses on shelf can become obscured/inaccessible"
When masses are returned to the shelf, they do not return to their original layering, which can obscure underlying masses, such as the red mystery mass:
![image](https://user-images.githubusercontent.com/8419308/37170846-45279aaa-22c9-11e8-84bb-b12aebcf530d.png) ![image](https://user-images.githubusercontent.com/8419308/37170859-4e046e28-22c9-11e8-913a-eb64403c4b7a.png)

This can become even more

[2018-03-08 19:21] arouinfar commented on #235
@Denz1994 to clarify -- the period trace should have a "Period Trace" checkbox located below "Movable Line". By default, the checkbox will be turned off.

[2018-03-08 19:37] Denz1994 commented on #250
One cute little mass icon coming up.

[2018-03-09 22:26] Denz1994 commented on #235
The period trace is in a stable condition. There is one consideration that I found. If we have minor oscillations the trace starts to look like a straight line until the mass stops oscillating. I don't think we want this behavior, but I wanted to get it reviewed in case someone may find it useful.

@ariel-phet  and @arouinfar Review this [dev version ](https://www.colorado.edu/physics/phet/dev/htm

[2018-03-09 22:54] Denz1994 commented on #235
@ariel-phet  mentioned: Thickness of the trace should be a bit thinner. Also, the color selection could use some work.

[2018-03-09 23:02] Denz1994 commented on #235
A new [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.93/phet/masses-and-springs_en_phet.html) with a thinner line and contracted xOffset for the period trace has been pushed for review @arouinfar.

@ariel-phet Mentioned:

[2018-03-10 00:01] arouinfar commented on #235
Looks nice @Denz1994! I definitely prefer the thinner period trace. Generally, I like the behavior, but here are few suggestions for improvements:
- [x] Move period trace 25px closer to the mass. Currently, it feels really far away, and I think that being in closer proximity to the mass would make the trace more interpretable.
- [x] Change color to black (sim already has plenty of color elsewhere)

[2018-03-12 04:04] samreid opened #252 "build failure"
masses-and-springs : build : phet
Failure to grunt snapshot-1520823736216/masses-and-springs:
Running "lint-all" task

Running "clean" task

Running "build" task
Building runnable repository (masses-and-springs, brands: phet)
Building brand: phet
Fatal error: Perennial task failed:
Error: Error: Error: ENOENT: no such file or directory, open '/data/share/phet/continuous-testing/snapshot-1520823736

[2018-03-12 04:05] samreid commented on #252
Proposed fix committed, @Denz1994 please review

[2018-03-12 21:46] jonathanolson opened #253 "Code Review"
PhET code-review checklist
=============

*Please mark failed items with* ❌

#### **Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] Does the html file size seem reasonable, compared to other similar sims?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter `ea`)
- [x] Does the

[2018-03-12 21:56] jonathanolson opened #254 "Phet-io status?"
I see some instrumentation, but the sim isn't listed as having phet-io support in its package.json. What is the current phet-io status with this sim?

See https://github.com/phetsims/masses-and-springs/issues/253

[2018-03-12 22:11] Denz1994 commented on #254
At one point there was supposed to be phet-io integration, but as the phet-io engine has implementation methods have undergone changes, I believe phet-io implementation was to be postponed.

[2018-03-12 22:11] #252 closed, assigned to Denz1994

[2018-03-13 05:57] #254 closed, assigned to Denz1994

[2018-03-13 06:02] jonathanolson opened #255 "Duplication between ScreenViews"
Most of the duplication, where possible, should be removed or factored out.

For example, in the VectorsScreenView:
[code]
and LabScreenView:
[code]
and IntroScreenView:
[code]
and EnergyScreenView:
[code]
and to a lesser extent TwoSpringScreenView:
[code]
and OneSpringScreenView:
[code]

I also see other duplications across these types. I'll be available to help with refactoring to clean this up,

[2018-03-13 17:32] jonathanolson opened #256 "General layout and struts"
It would be good to talk about layout sometimes, as using struts is typically not commonly needed/desired, except in certain cases.

For collaboration, let's look through every layout where struts are currently used.

https://github.com/phetsims/masses-and-springs/issues/253

[2018-03-13 21:58] jonathanolson commented on #236
Looks like it was merged into master, can the branch be removed now?

[2018-03-13 22:23] jonathanolson opened #257 "Some touch areas could be improved"
The tweaker buttons for mass/spring-constant have pretty small touch areas. Gravity too, so maybe all of them could be increased? In the energy graph, the thermal button and info button could be increased. Areas in the toolbox (ruler/timer icons) could be increased to fit. Reset-all has some space to be increased.

Up to @arouinfar if touches that barely miss a mass should grab it. This requires s

[2018-03-13 22:40] jonathanolson opened #258 "Layout issues with longer strings"
Masses with a different mass string may overflow, consider setting this custom to each mass:
![masses-and-springs-overflow-1](https://user-images.githubusercontent.com/480878/37373491-5f113fae-26dc-11e8-9f5d-8e811b174541.PNG)

It's also a bit weird how the entire gravity/damping node gets smaller, instead of parts of its components being more limited:
![masses-and-springs-overflow-2](https://user-

[2018-03-13 23:05] jonathanolson opened #259 "Performance check?"
I'm not able to test on a range of lower-performance devices. As part of the code review, it wants a performance check.

@phet-steele, is performance acceptable, and/or is there anything that could be improved?

See https://github.com/phetsims/masses-and-springs/issues/253

[2018-03-13 23:10] jonathanolson commented on #253
The "about a day" code review is complete. Most review items are in inline comments (I'll be reviewing all commits tagged to this issue to resolve them), and a few are in issues.

@ariel-phet, I didn't do some of the in-depth review things (checking code coverage, scanning for copy/paste reuse, checking property usage for visibility, etc.), let me know and I could do these things after some of the

[2018-03-13 23:12] jonathanolson commented on #253
Also some review items are essentially for me to handle, mostly in the Spring.js step().

[2018-03-14 08:15] Denz1994 commented on #253
Thanks a lot @jonathanolson for the review.

[2018-03-14 08:17] Denz1994 commented on #236
Yes. Due to the merging of this branch into master, I am closing this issue.

[2018-03-15 02:03] arouinfar commented on #257
@Denz1994 let's expand the touch areas as @jonathanolson suggested.

@jonathanolson I'm not sure I follow:

Would this be somewhat similar (in spirit) to the request made in #210? I'm generally in favor of changes that would make the oscillating masses easier to grab. I'd say it's worth investigating if it won't require a huge amount of resources or have large adverse effects on iPad2 performance.

[2018-03-15 02:59] arouinfar opened #260 "Change default damping"
@Denz1994 the default damping feels a bit too harsh to me. Can you change it to the smallest, non-zero amount?

[2018-03-16 21:47] jonathanolson commented on #257
Yes, I was thinking it would be like Charges and Fields / Pendulum Lab. https://github.com/phetsims/pendulum-lab/issues/117 is a good reference, and hopefully the tagged commits help with the implementation.

[2018-03-16 21:47] jonathanolson commented on #257
Shouldn't require a lot of resources, and shouldn't hurt performance.

[2018-03-18 23:31] ariel-phet commented on #210
It seems that with the newly tuned oscillations periods and the suggestions in #257, this is no longer needed. Closing

[2018-03-18 23:31] #210 closed, assigned to nobody

[2018-03-18 23:33] ariel-phet commented on #136
No sounds will be in 1.0

Marking as deferred and clearing assignees

[2018-03-18 23:34] ariel-phet opened #261 "LineArrowShape common code work?"
It seems like https://github.com/phetsims/scenery-phet/issues/165 should be done as part of finishing this sim off. Noting here so that work does not get overlooked.

[2018-03-19 17:44] ariel-phet commented on #253
spoke with @jonathanolson for some of these "extra" more in-depth items he will collaborte with @Denz1994 and show him how to clean them up (if they exist)

[2018-03-19 18:38] arouinfar commented on #257
Thanks for the clarification @jonathanolson. Let's go for it!

[2018-03-27 20:19] Denz1994 commented on #246
Reference work in #253

[2018-03-27 20:19] #246 closed, assigned to Denz1994

[2018-03-27 20:19] Denz1994 commented on #249
We are now using ```MathSymbols``` when needed.

[2018-03-27 20:19] #249 closed, assigned to Denz1994

[2018-03-29 15:37] oliver-phet opened #262 "User request: millimeter ruler"

[2018-03-29 15:45] Denz1994 commented on #262
Visually the tick marks may be too dense to differentiate.

[2018-03-29 16:02] arouinfar commented on #262
@oliver-phet the scale of the masses and spring constants is typical for what is found in a physics lab, so the displacements are on the order of centimeters. As @Denz1994 pointed out, users would not be able to resolve mm tick marks on the ruler.

In this context, it's generally better to convert the cm to m when doing calculations (finding k or unknown g), because the SI unit for forces is N, wh

[2018-03-29 16:09] oliver-phet commented on #262
Replied to user. Closing.

[2018-03-29 16:09] #262 closed, assigned to oliver-phet

[2018-04-02 18:40] jonathanolson commented on #253
I'll be doing work in https://github.com/phetsims/scenery/issues/250 to support rasterization of toolbox items.

[2018-04-02 21:38] jonathanolson commented on #253
Renamed it `node.rasterized()`. Just provide the mipmap flag in the options, and let me know if you have any trouble.

[2018-04-03 17:35] Denz1994 commented on #28
Closing. All references should be made to #253.

[2018-04-03 17:35] #28 closed, assigned to Denz1994

[2018-04-04 03:11] Denz1994 commented on #250
@arouinfar Can you check this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.94/phet/masses-and-springs_en_phet.html) for review?

[2018-04-04 03:12] Denz1994 commented on #260
@arouinfar Can you check this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.94/phet/masses-and-springs_en_phet.html) for review?

[2018-04-04 04:21] arouinfar commented on #260
👍

[2018-04-04 04:21] #260 closed, assigned to arouinfar

[2018-04-04 19:27] arouinfar commented on #250
Those are indeed cute little mass icons! 😄

A few tweaks:
* The mass looks a bit too small, can you increase the size ~10%?
* There's also appears to be quite a bit of extra padding at the top of the panel. Can you trim those extra pixels off?
![image](https://user-images.githubusercontent.com/8419308/38329724-e85be40e-380b-11e8-8902-258329cd2751.png) ![image](https://user-images.githubusercontent

[2018-04-11 14:38] Denz1994 commented on #235
Changes should be implemented on master @arouinfar.

[2018-04-11 14:39] Denz1994 commented on #250
Panel changes were made on master @arouinfar?

[2018-04-11 15:14] arouinfar commented on #250
@Denz1994 it looks like trimming off the extra padding from the top of the panel shifted the icon down.
![image](https://user-images.githubusercontent.com/8419308/38625680-3fcb925a-3d68-11e8-89d0-2995b772bb90.png)

Can you center-align the icon with "Mass"?
![image](https://user-images.githubusercontent.com/8419308/38625819-874eb77e-3d68-11e8-8f1d-dd1939994a21.png)

[2018-04-11 15:16] arouinfar commented on #235
Looks great @Denz1994!

[2018-04-11 16:06] Denz1994 commented on #250
What about now @arouinfar? Try in master.

[2018-04-11 16:15] arouinfar commented on #250
Getting closer @Denz1994, but it's still not quite centered
![image](https://user-images.githubusercontent.com/8419308/38629414-2f8bffde-3d71-11e8-9768-d2f4e2a13745.png)

[2018-04-11 16:51] Denz1994 commented on #250
Sorry for the constant commits. Could you try master now @arouinfar?

[2018-04-11 16:56] arouinfar commented on #250
Mass icon looks great!

I've noticed that the "Mass" string looks way smaller than other slider titles. Can you bump it up to 14pt to match the others?

[2018-04-11 20:03] Denz1994 commented on #250
The mass string was smaller, due to the size of the panel it is contained in. I made the panel a bit larger so the string also increased in size. What do you think @arouinfar?

[2018-04-11 20:10] arouinfar commented on #250
Sorry to keep kicking this back to you @Denz1994, but the font size still looks pretty small. Can you bump it up a bit more? It's okay if the panel ends up slightly larger.

[2018-04-27 17:04] phet-steele commented on #259
I probably won't have time for this, and @jonathanolson I know you have an iPad 2. That's all you need.

[2018-05-07 02:37] #258 closed, assigned to Denz1994

[2018-05-15 19:21] Denz1994 commented on #256
After much refactoring and some review with @jonathanolson, the use of struts has been minimalized. Proper alignments have been given to view elements without the use of manually applying struts. Closing this issue.

[2018-05-15 19:21] #256 closed, assigned to Denz1994

[2018-05-15 19:24] Denz1994 commented on #255
Screenview generalization was refactored in issue #256. As much duplication has been removed as possible. This means adding the use of options to configure view elements and exposing them to the main screen view supertype. After reviewing with @jonathanolson, I'm closing.

[2018-05-15 19:24] #255 closed, assigned to Denz1994

[2018-05-15 20:47] Denz1994 commented on #251
There has been added logic to reset the mass layers if the massNode returns to its original position. Could you check master for this change @arouinfar?

[2018-05-15 20:47] Denz1994 commented on #250
There was a problem with the overall layout of the contentNode of the panel. We needed to remove the force vectors from the mass icon. The icon created bounds to include them despite not being visible. This makes the adjustment of fonts and positioning the panel's content a lot less hacky.

Could you review the massValueControlPanel in master @arouinfar?

[2018-05-15 21:11] arouinfar commented on #250
Getting really close @Denz1994!! Alignment looks good, but the relative font sizes look a bit off. The min/max labels look too large, and the readout looks a bit too small. The min/max/readout should all be the same size, as in the Gravity slider (12 pt, I believe).

![screen shot 2018-05-15 at 2 59 58 pm](https://user-images.githubusercontent.com/8419308/40083429-56f4bc50-5851-11e8-884e-7dcb7a440

[2018-05-15 21:14] arouinfar commented on #251
@Denz1994 the re-layering looks good, but it doesn't look like the gap between the adjustable and mystery masses was added, as specified in the 2nd & 3rd items in https://github.com/phetsims/masses-and-springs/issues/251#issue-303598670.

![image](https://user-images.githubusercontent.com/8419308/40083804-80c34aaa-5852-11e8-9ef5-dc0e73df5bb5.png)

[2018-05-16 00:18] Denz1994 commented on #251
You are right. Can you try now in master @arouinfar?

[2018-05-16 00:18] Denz1994 commented on #250
The max width on the readout was too constraining. It has been made larger and the fonts were not the same size for the min/max labels. Could you check in master @arouinfar?

[2018-05-16 13:19] Denz1994 opened #263 "Update Credits"
Opening this issue so we don't forget to update credits.

Current Credits are as follows:
[code]

[2018-05-16 16:38] arouinfar commented on #263
QA credits should include Arnab Purkayastha and Liam Mulhall, and will likely expand to include others, so @lmulhall-phet should confirm the QA credits once we get to RC testing.

@jonathanolson may also need a dev credit, but I'm not sure about the scope of his contributions.

[2018-05-16 16:42] arouinfar commented on #251
Looks great! Thanks @Denz1994.

[2018-05-16 16:42] #251 closed, assigned to arouinfar, Denz1994

[2018-05-16 16:45] arouinfar commented on #250
Looking good!

[2018-05-16 16:45] #250 closed, assigned to arouinfar, Denz1994

[2018-05-16 17:36] ghost commented on #263
So far as I know, it’s Arnab, Steele, and myself. Possibly Ethan as well. I don’t know if Bryce or Ben tested, but I suppose we can include them just in case.

[2018-05-16 21:22] Denz1994 commented on #257
The touch areas for the masses have been expanded slightly beyond the bounds of the rectangle. A similar approach was used to Pendulum-Lab. You will need a touchscreen device to try this out in master @arouinfar. Should the touch areas be made a bit larger or smaller @arouinfar?

[2018-05-16 21:36] arouinfar commented on #257
@Denz1994 I'm having trouble using phettest on the iPad. Can you publish a new dev version?

[2018-05-17 15:57] Denz1994 commented on #257
Sorry for the delay. I was having some deployment issues on bayes. Try this [dev version](https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-dev.98/phet/masses-and-springs_en_phet.html) @arouinfar.

[2018-05-17 18:19] arouinfar opened #264 "UI elements on right side of screen unresponsive to touch and click"
When verifying #257 using dev.98/iPad Air, I discovered  that all of these UI components were unresponsive to touch. The bug affects all screens. Testing on my laptop reveals the same issue for click, as well. The cursor never changes to a hand when hovering over these components, so it appears they are no longer clickable/touchable.

<img src="https://user-images.githubusercontent.com/8419308/401

[2018-05-17 18:20] arouinfar commented on #257
@Denz1994 I cannot touch or click many UI elements, please see the above bug report.

[2018-05-17 18:22] Denz1994 commented on #264
Note to self: Set backgroundPlane() behind options panel on the right side of sim screen.

[2018-05-17 18:48] #264 closed, assigned to Denz1994

[2018-05-17 19:00] Denz1994 commented on #257
Just pushed a fix for that to master. Still having issues with releasing dev versions. I will push a dev version once it is corrected if testing from phettest is still an issue.

[2018-05-17 19:05] arouinfar commented on #257
Sounds good @Denz1994. Still can't load phettest on the iPad, so I'll wait for the new dev.

[2018-05-17 21:21] Denz1994 commented on #257
Finally got things sorted out with dev releases. Thanks @mattpen for the help. Can you try this [dev version](https://phet-dev.colorado.edu/html/masses-and-springs/1.0.0-dev.101/phet/masses-and-springs_en_phet.html) @arouinfar?

[2018-05-17 21:39] arouinfar commented on #257
Looks good @Denz1994!

[2018-05-17 21:39] #257 closed, assigned to arouinfar

[2018-05-17 21:52] Denz1994 commented on #253
The only tasks left in this issue are documentation updates which should be handled by @jonathanolson. Issue #261 will track common code work. Removing assignment and leaving to @jonathanolson to close.

[2018-05-20 02:46] Denz1994 commented on #261
As noted in a https://github.com/phetsims/scenery-phet/issues/165#issuecomment-390337404, LineArrowShape (now LineArrowNode) is now being considered as its own common code component. This would remove consolidation with ArrowNode.js.

Currently, MAS is using the new added common code component LineArrowNode.js that is a copy from Hookes-Law (which was already reviewed). This is the final blocking

[2018-05-21 16:35] Denz1994 opened #265 "Net force vector has incorrect direction."
There are cases where the net force vector is just incorrect. The magnitude of the net force vector should be the sum of the spring and gravity vectors. Right now there is an issue with the spring force vector's direction not changing. I believe this is causing the net force vector to have an incorrect reading.

[2018-05-21 16:43] Denz1994 commented on #265
I was able to track this bug down to commit 34b9929a6372b48f842b947db1a7cea35282331c regarding factoring out how the vector arrows were being drawn. I missed a negative sign for the spring constant vector and it caused the vector to always be the opposite direction it should be facing. This behavior has been corrected and is now displaying the proper orientation.

[2018-05-21 16:43] #265 closed, assigned to Denz1994

[2018-05-21 23:15] phet-steele commented on #235
I see no response to this behaviour in a comment. Is the "practically a horizontal line" behaviour okay? I was going to raise a similar question.

[2018-05-22 00:17] phet-steele opened #266 "Spring anchors are not centered"
@arouinfar @Denz1994 likely not a huge deal, but now that I've seen it I can't unsee it. On the Energy and Lab screens, the spring anchor point is not quite centered on the gray block. It is shifted closer to the left. This throws the entire spring, and masses attached to the spring, off to the left as well.

<img width="250" alt="screen shot 2018-05-21 at 5 25 37 pm" src="https://user-images.gith

[2018-05-22 00:17] phet-steele opened #267 "Movable line handle does not always change my cursor"
The furthest left edge of the Movable Line grippy handle part does not change my cursor to a hand. It can still be grabbed there, but it it not totally obvious.

The red highlighted area is the problematic area. The green area works as expected:
<img width="404" alt="screen shot 2018-05-21 at 5 32 58 pm" src="https://user-images.githubusercontent.com/5863899/40334825-678c3734-5d1d-11e8-8f60-078fb2

[2018-05-22 00:17] phet-steele opened #268 "Movable line jumps to the left when first grabbed"
1. Fresh sim load!
2. On the Energy or Lab screen (not a problem on Vectors), enable the Movable Line.
3. Pay close attention as you grab it; it will jump a tiny bit to the left.

![mas13](https://user-images.githubusercontent.com/5863899/40334952-47f44bd6-5d1e-11e8-9d48-1a688b5bce69.gif)

This will never happen again unless the browser is refreshed. You also can't move it back to the right.

Seen

[2018-05-22 00:17] phet-steele opened #269 "Period trace doesn't fade when step forward is held"
1. Lab screen, attach a mass, enable Period Trace and let it start drawing.
2. Pause the sim before the period has finished.
3. Hold Step Forward and eventually the trace will just disappear instead of fade away.

![mas14](https://user-images.githubusercontent.com/5863899/40335058-00beea2c-5d1f-11e8-913b-3048507ae80f.gif)

Seen on macOS 10.13.4 Chrome. For phetsims/QA/issues/122.

<details>
<summa

[2018-05-22 00:17] phet-steele opened #270 "Period trace does not draw horizontally very gracefully"
When stepping forward, at the moment when the trace is drawn horizontally, the horizontal bit looks ugly with a visible overhang:

<img width="200" alt="screen shot 2018-05-21 at 5 48 22 pm" src="https://user-images.githubusercontent.com/5863899/40335111-454e68ca-5d1f-11e8-8c16-819ab5c5179e.png">

@arouinfar I would imagine we do not want the overhang? This happens regardless of sim speed, it's ju

[2018-05-22 00:17] phet-steele opened #271 "Period trace layering"
@arouinfar this is not an issue unless you say it is, so I just wanted to check: are we okay with the period trace layering?

It's layered over everything (except dialogs):

<img width="421" alt="screen shot 2018-05-21 at 5 53 26 pm" src="https://user-images.githubusercontent.com/5863899/40335243-e7591a16-5d1f-11e8-8297-28728d132894.png">

For phetsims/QA/issues/122.

[2018-05-22 00:17] phet-steele opened #272 "Period trace does not uncheck on Reset All"
Title says it all.

Seen on macOS 10.13.4 Chrome. For phetsims/QA/issues/122.

<details>
<summary>Troubleshooting Information</summary>

URL: https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-dev.102/phet/masses-and-springs_all_phet.html
Version: 1.0.0-dev.102 2018-05-21 16:49:55 UTC
Features missing: touch
Flags: pixelRatioScaling
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_1

[2018-05-22 00:17] phet-steele opened #273 "Period trace is always running"
@arouinfar @Denz1994 it looks like the Period Trace checkbox is only toggling the visibility of the trace, instead of also toggling its calculation. In other words, the trace is ALWAYS being drawn, you just can't see it sometimes. This means that, when checking the Period Trace checkbox, there is a 50% chance (I didn't think too hard on the math) that you will see an "in progress" trace, one that

[2018-05-22 00:17] phet-steele opened #274 "Slider labels look interactable"
Hovering my mouse over slider labels (the min/max value labels) changes my cursor to a hand. Labels cannot be clicked, so this should not be happening.

Seen on macOS 10.13.4 Chrome. For phetsims/QA/issues/122.

<details>
<summary>Troubleshooting Information</summary>

URL: https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-dev.102/phet/masses-and-springs_all_phet.html
Version: 1.0.0-dev

[2018-05-22 00:17] phet-steele opened #275 "Period trace can get stuck when a mass has stopped"
1. Start a period trace.
2. BEFORE HALF the trace has been drawn, press the Stop button (or just somehow stop the mass ie. with damping, though that is much harder)

The trace will continue to drawn to the mass's stopping point then will just hang there indefinitely waiting to draw a full period, but it never will). @Denz1994 I would suggest that traces are removed when a mass has stopped (regardl

[2018-05-22 00:21] ariel-phet commented on #266
@arouinfar @Denz1994 I might also just shrink the gray block a bit (so the right side is a bit shorter). That might be easier than centering the anchor, which likely involves some tweaky stuff with the spring node.

[2018-05-22 00:36] phet-steele commented on #266
Sure thing...unless the location of the anchor is dependent on the bounds of the gray block, like it's placed at width/2 or something. Shortening the length of the block would also shift the anchor over in that case 😄.

[2018-05-22 04:22] arouinfar commented on #266
@Denz1994 please center the spring, either by shifting `springNode` or by reducing the size of the grey block -- whichever is easier.

[2018-05-22 04:31] arouinfar commented on #270
Quite the catch @phet-steele. The overhang was not a deliberate design decision. @Denz1994 can you kill it?

[2018-05-22 12:55] Denz1994 commented on #266
The controls towards the center of the screen around the spring are grouped together. This makes the view more manageable and a lot more readable. So we can just shift the controls, including the springHangerNode (gray block) to the left to center it over the springNode. Can you check in master @phet-steele if it looks good?

[2018-05-22 13:26] Denz1994 commented on #274
This is a problem with all hSliders apparently. I don't know of a sim where clicking on the label to move the slider is desired (or have some other functionality). I'm going to push a fix in Sun/HSlider that should fix this issue for all sims.

[2018-05-22 13:35] Denz1994 commented on #274
Can you try this is master @phet-steele? It may be worth testing in another sim if you can think of one where clicking on a label is desired. I tested in FAMB, GAO, and CCK-DC.

[2018-05-22 14:04] Denz1994 commented on #272
Commit message says it all. Can you check in master @phet-steele?

[2018-05-22 14:37] Denz1994 commented on #268
I couldn't see this behavior on the intro screen either. The draggable xBoundsLimint on the movableLineNode was corrected. Could you confirm in master @phet-steele?

[2018-05-22 15:03] Denz1994 commented on #267
Could you try picking up that handle in master @phet-steele? The cursor should change to a pointing hand.

[2018-05-22 15:24] Denz1994 commented on #273
This is a great point @phet-steele. I too am concerned about the performance issue and any reduction step functions that aren't being used in the view would be a benefit to performance. Check out this [dev version](https://phet-dev.colorado.edu/html/masses-and-springs/1.0.0-dev.103/phet/masses-and-springs_en_phet.html) and tell me what you think @arouinfar. I think this is the behavior @phet-steel

[2018-05-22 16:47] jonathanolson commented on #253
Spot checks look good. All in-code REVIEW/TODO comments are handled, so closing. Nice job!

[2018-05-22 16:50] jonathanolson commented on #98
Whoops, didn't see this issue. Should be done in https://github.com/phetsims/masses-and-springs/commit/14bb0b4acc171e7aa5563892518831f70f61528a.

There's not really a great way of cleaning up any of the formula bits, and it appears to be working well.

[2018-05-22 16:50] #98 closed, assigned to jonathanolson, Denz1994

[2018-05-22 16:52] jonathanolson commented on #259
@lmulhall-phet, can you let me know how the performance looks as part of the QA tests for https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-dev.102/phet/masses-and-springs_all_phet.html?

If it needs improvement, I'll be available for collaboration with @Denz1994.

[2018-05-22 18:09] Denz1994 commented on #270
This same behavior is present in Pendulum-Lab, however, it is harder to see due to the pendulum's line covering up the shape being drawn. Do you have any idea why this would be happening @jonathanolson? I don't see any options/methods in Shape.js or Path.js that would help. Using Shape.strokedShape didn't seem to work either.

[2018-05-22 18:14] arouinfar commented on #273
Good find @phet-steele. This behavior is problematic. Performance is definitely a concern, but I think students could also be confused by the trace appearing already in progress. @Denz1994 dev.103 looks good, but I think @phet-steele should also verify.

[2018-05-22 18:17] Denz1994 commented on #273
Note to @phet-steele there is a bug in dev.103 regarding the period trace not disappearing when grabbed. This [dev version](https://phet-dev.colorado.edu/html/masses-and-springs/1.0.0-dev.104/phet/masses-and-springs_en_phet.html) should have it fixed.

[2018-05-22 18:23] arouinfar commented on #271
Thanks @phet-steele. We should probably tweak the z-ordering a bit. I think it makes the most sense to keep the tools up on the top. If a user wanted to measure the period trace with the ruler, the transparency makes it possible.

@Denz1994 please layer the stopwatch and ruler above the period trace.

[2018-05-22 18:37] Denz1994 commented on #275
Try this out on master @phet-steele. Do you think we should fade the period trace or have it just disappear completely? Thoughts @arouinfar?

I like the fade visually and it shows that there is a trace still present. It also makes the code more manageable because we can reuse this fade function, but I don't really have a strong inclination either way.

[2018-05-22 18:39] arouinfar commented on #235
Yikes, looks like I missed that comment @phet-steele.

I don't think the period trace is very useful when it gets smaller than this:
<img width="151" alt="screen shot 2018-05-22 at 12 34 30 pm" src="https://user-images.githubusercontent.com/8419308/40382905-bcf4a7de-5dbc-11e8-99d1-f18caad85de7.png">

When the oscillation is really small, the trace looks pretty ugly and could be confusing to studen

[2018-05-22 18:40] Denz1994 commented on #235
Agreed. Work in progress.

[2018-05-22 18:47] arouinfar commented on #270
@Denz1994 while a bit unsightly, the overhang isn't harmful. If it would require significant time to address, please feel free to veto.

[2018-05-22 18:49] arouinfar commented on #275
phettest is being a bit temperamental right now. I'll check back later this afternoon @Denz1994.

[2018-05-22 18:56] Denz1994 commented on #270
I'll wait for @jonathanolson input (just out of curiosity). It may be a Shape.js or Path.js issue.

[2018-05-22 19:42] jonathanolson commented on #270
Checking into it (self-assigning).

[2018-05-22 19:59] jonathanolson commented on #270
So this looks like the general way browsers render stroked lines when one of the starting/ending line segments is very short (shorter than the lineWidth/2).

I'm not sure if we need to figure out a better way to handle this in the general case (maybe?), but for now, in PeriodTraceNode, we could avoid drawing the "second line" and "third line" if their points are less than lineWidth/2 from the last

[2018-05-22 21:46] phet-steele commented on #266
@arouinfar @Denz1994 while we are at it, can we center the "1" and "2" over the anchors?
<img width="258" alt="screen shot 2018-05-22 at 3 45 54 pm" src="https://user-images.githubusercontent.com/5863899/40391958-5143b320-5dd7-11e8-8cdf-85a84dde6522.png">

[2018-05-22 21:47] arouinfar commented on #266
Agreed @phet-steele.

[2018-05-22 21:48] phet-steele commented on #267
Such a pointy hand now!

[2018-05-22 21:48] #267 closed, assigned to phet-steele

[2018-05-22 21:49] phet-steele commented on #268
Looking good.

[2018-05-22 21:49] #268 closed, assigned to phet-steele

[2018-05-22 21:49] phet-steele commented on #272
👍

[2018-05-22 21:49] #272 closed, assigned to phet-steele

[2018-05-22 21:52] phet-steele commented on #274
It has been. I'm mostly just pointing out affected sims as I go...so thanks for the complete fix at the source!

[2018-05-22 21:52] #274 closed, assigned to phet-steele

[2018-05-22 21:58] phet-steele commented on #273
Looks like it is working, thanks.

[2018-05-22 21:58] #273 closed, assigned to phet-steele

[2018-05-22 22:06] phet-steele commented on #275
@Denz1994 turns out there is another part of this issue that I overlooked. If you change step 2 to:

-AFTER HALF but BEFORE COMPLETION, press stop...

...you get odd looking drawing. The end result is the same screenshot I have above, but it will visually "compress" the trace drawing. I think you have to start oscillation by compressing the spring, not expanding (changes the direction the trace is

[2018-05-22 22:41] arouinfar commented on #275
@Denz1994 if the stop button is pressed, the Period Trace should immediately clear. The trace doesn't have any meaning when the mass is prematurely stopped, and it just looks weird. Better to immediately clear it than let it fade away.

[2018-05-23 13:17] Denz1994 commented on #275
That pesky period trace disappears at the press of the stop button. Can you test in master @phet-steele to make sure?

[2018-05-23 13:26] Denz1994 commented on #271
The ruler has been moved to the front of the sceneGraph. Could you try the layering in this [dev version](https://phet-dev.colorado.edu/html/masses-and-springs/1.0.0-dev.105/phet/masses-and-springs_en_phet.html) @arouinfar?

[2018-05-23 14:11] Denz1994 commented on #266
Good point. Can you try in master @phet-steele for the centered labels?

[2018-05-23 14:12] Denz1994 commented on #261
phetsims/scenery-phet#165 has been closed and as noted in the above comment we are moving on with sim code in M&S.  Closing this issue.

[2018-05-23 14:12] #261 closed, assigned to Denz1994

[2018-05-23 14:15] Denz1994 commented on #270
Will work on #235 to squelch small period trace oscillations, before handling this issue. Will return after that work is complete.

[2018-05-23 16:32] arouinfar commented on #271
👍

[2018-05-23 16:32] #271 closed, assigned to arouinfar

[2018-05-23 16:33] phet-steele commented on #266
Lookin' good.

[2018-05-23 16:40] phet-steele commented on #275
Looking good! I'l let @arouinfar close; should be a simple behaviour to verify. Side note for @Denz1994, you have small formatting issues throughout `PeriodTraceNode.js`. Maybe you'll get around to it later, so ignore me.

[2018-05-23 16:54] arouinfar commented on #275
Looks good to me @Denz1994!

I'll leave this issue open so @Denz1994 sees this comment. Please feel free to close.

[2018-05-23 16:56] Denz1994 commented on #275
Thanks for the notice @phet-steele. I'm very active in that file today, but I'll clean it up soon enough.

[2018-05-23 16:56] #275 closed, assigned to Denz1994

[2018-05-23 17:34] Denz1994 commented on #269
This one was tricky. The period trace now fades when the sim is playing, in its final state (last leg of trace), and has already begun fading.

I have gained a new appreciation for encapsulation and good documentation. Test in master @phet-steele.

[2018-05-23 17:36] Denz1994 commented on #269
Note to @phet-steele: The period trace doesn't fade when the sim is stepped through using the stepForwardButton. This behavior is found in Pendulum Lab as well.

[2018-05-24 19:28] ghost commented on #269
@Denz1994, I tested in master. The period trace doesn't disappear at all now.

![ms](https://user-images.githubusercontent.com/31285590/40510454-fec2c5d0-5f59-11e8-8008-27522dfed5a7.gif)

[2018-05-24 21:26] EthanWJohnson opened #276 "Immovable lines appear movable"
In a similar vein to https://github.com/phetsims/masses-and-springs/issues/274, the mass equilibrium, natural length, and zero height lines appear interactable. The cursor changes to a hand when hovering over, but these lines cannot be manipulated in any way (zero height particularly, as it doesn't have a UI element that toggles its visibility). I checked prior versions, and it appears the element

[2018-05-24 21:29] Denz1994 commented on #269
I think this is more of a question of design. The period trace is designed after pendulum lab and doesn't fade when the sim is paused.

My two cents: After a period trace is completed it takes a few oscillations to represent a new trace, during this time it is fading. I don't think we want the period trace to continuously follow the mass's oscillation pattern, otherwise, we wouldn't have the fadin

[2018-05-24 22:06] Denz1994 commented on #276
Good catch. I believe I caught all of the immovable lines with the above commit. Could you try in master @EthanWJohnson?

[2018-05-24 22:20] EthanWJohnson commented on #276
Looks good; all of the lines no longer appear clickable.

[2018-05-24 22:20] #276 closed, assigned to EthanWJohnson

[2018-05-25 16:37] Denz1994 commented on #269
Raising priority. I can work on other issues, but will need some input on this soon.

[2018-05-26 00:32] ariel-phet commented on #269
@Denz1994 @lmulhall-phet I chewed on this for a bit.

1. This is the same behavior as published pendulum lab (period trace not fading when using step forward)

2. Thanks for noticing this behavior @lmulhall-phet

3. Although this behavior is a bit odd, it really only makes a difference if you are watching the evolution of the sim ONLY through the step forward button. Generally such a button is use

[2018-05-26 00:32] #269 closed, assigned to ariel-phet

[2018-05-26 00:52] ghost opened #278 "Line drawn when mass moves"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.13.4

<b>Browser</b>

Firefox 60.0.1

<b>Problem Description</b>

For phetsims/QA/issues/122. A line is "drawn," i.e. is left behind, when a mass is moved next to a mass that is slightly bobbing.

<b>Steps to Reproduce</b>

1. Go to the Intro screen or the Vectors screen.
2. Attach the 250g mass and the orange mass. (It doesn't hav

[2018-05-26 20:46] Denz1994 opened #279 "Vectors and forces should be quelled after a certain threshold."
Similar to the point brought up in https://github.com/phetsims/masses-and-springs/issues/235#issuecomment-391097298, should we limit the visibility of small vectors. At some point they start to look like straight lines.

![image](https://user-images.githubusercontent.com/13894380/40579996-3f80240a-6103-11e8-8b89-0fb16351897e.png)

This is also present in pendulum lab. Noting here because of the si

[2018-05-29 13:32] Denz1994 commented on #279
Tagging @arouinfar as well.

[2018-05-29 15:38] Denz1994 commented on #235
@arouinfar This [dev version](https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-dev.106/phet/masses-and-springs_en_phet.html) has the update behavior. Some notes about this behavior: The trace is hidden from view and doesn't fade once it goes below a certain threshold.

There are three main reasons for this. One, the fading behavior would continue to show the "ugly" trace that we are tr

[2018-05-29 16:15] ariel-phet commented on #279
We should get @arouinfar opinion before I weigh in

[2018-05-29 17:20] Denz1994 commented on #270
Vetoing. I rather solve a general case for this and because we are squelching small oscillations we don't need a general case for this sim (see #235).

I've implemented a prototype for a general solution  that involves drawing a line relative to being a distance away from its previous point, but it is making the code less readable and not covering all cases.

In this sim, we have a trace with 3 tr

[2018-05-29 17:27] Denz1994 commented on #278
I've tried the steps in FireFox and Chrome on both windows 10 and IOS but I can't reproduce the "ghost line". I have seen this before during development, but it was rare and I thought it was a browser issue.

Can you consistently reproduce this @lmulhall-phet?

[2018-05-29 17:31] ghost commented on #278
@Denz1994, so far as I know, it's only an issue on macOS/FF. I can't consistently reproduce this with the exact same set of conditions. Sometimes I need to use a different set of masses, or move the right mass instead of the left mass, but I can usually reproduce the ghost line if I mess around with it for a bit.

[2018-05-29 17:45] Denz1994 commented on #278
@jonathanolson Have you ever run into a problem where nodes are drawing these ghost lines when moved?

[2018-05-29 19:29] jonathanolson commented on #278
Yup, basically it seems like a bug in certain SVG implementations that don't properly repaint some regions.

One potential workaround would be to wrap each mass with an invisible rectangle that is slightly larger than the actual mass. Thus when it redraws things, the region it repaints will be slightly larger, and thus will not include the artifact.

Let me know if it would be good to collaborate

[2018-05-29 21:57] Denz1994 commented on #278
Okay, this makes sense. I don't know why certain regions wouldn't get painted though. Could it have to do with the gradients on the massNodes? Perhaps, the whole gradient isn't completely being painted before the next step is being called.

I added a background Rectangle with bounds slightly larger than the mass to compensate for the paint callbacks. Could you try in master @lmulhall-phet?

It wou

[2018-05-29 22:09] jonathanolson commented on #278
It's possible. It totally depends on the browser code, their optimizations, etc. If we ever DO discover a consistent trigger for browser-specific bugs, it may be possible to work around it generally. So far it hasn't been worth the time to discover that (would probably take a while).

[2018-05-29 22:12] Denz1994 commented on #278
Understandable, thanks for the input @jonathanolson.

[2018-05-30 04:52] phet-steele commented on #278
@jonathanolson this just looks like another one for https://github.com/phetsims/john-travoltage/issues/193 IMO.

[2018-05-30 15:33] ghost commented on #278
@Denz1994, I'm still seeing the ghost line in master.

[2018-05-30 16:55] ariel-phet commented on #279
@Denz1994 @arouinfar

1. There will not be a scenario where an extremely small oscillation could have large velocity or acceleration

2. The vectors going to straight lines doesn't bother me horribly. This behavior only occurs (normally) on the lab screen where you can have velocity and acceleration displayed, and also have damping active. A normal use case on the vectors screen you have to try to

[2018-05-30 19:20] arouinfar commented on #279
Good question @Denz1994. I think this situation is a bit different from #235. There, the small oscillation makes it impossible to accurately display the period trace, which could be pedagogically problematic. In the case of the vectors (on the Lab screen), the magnitude is decaying, so shrinking down to zero is exactly what the users should see. I agree with @ariel-phet -- let's stick with the cur

[2018-05-30 19:20] #279 closed, assigned to arouinfar

[2018-05-30 19:22] arouinfar commented on #235
Thanks @Denz1994. I didn't immediately love the new behavior, but I do think it's an improvement. I'm still tinkering a bit to figure out what recommendations to make to improve the behavior a bit more.

[2018-05-30 20:58] JRomero0613 opened #280 "pressing scenery buttons makes sim uninteractable"
Test device: iPad Air 2/ iPad 2/ iPad PRO

Operating System: iOS 11.2.5/ iOS 9.3.5/ iOS 11.3.1

Browser: Safari

For phetsims/QA/issues/122

Problem description: Once certain buttons are pressed the simulation continues, however all other buttons, sliders, and menu are not able to be used. After the button is pressed the only way to resolve the issue is to exit and reload the sim. The console does

[2018-05-30 21:13] JRomero0613 opened #281 "Home Screen Select Issue"
Test device: iPad Air 2/ iPad 2/ iPad PRO

Operating System: iOS 11.2.5/ iOS 9.3.5/ iOS 11.3.1

Browser: Safari

For phetsims/QA/issues/122

Problem description: When selecting a screen from the home screen the selected screen does not become highlighted to be selected again, instead it loads the selected screen as soon as the user chooses what screen they want to use. May be related to #280.

Ste

[2018-05-30 21:16] Denz1994 commented on #281
@JRomero0613 Is this reproducible on this [dev version](https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-dev.106/phet/masses-and-springs_en_phet.html)?

[2018-05-30 21:25] ghost commented on #281
@Denz1994, I can't reproduce on iPad Pro.

[2018-05-30 21:29] Denz1994 commented on #281
I was able to reproduce the original bug on my iPhone 6 (iOS 11.3), but was not able to reproduce on this [dev version ](https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-dev.106/phet/masses-and-springs_all_phet.html). Could you try this version as well?

It is the "all_phet.html" link.

[2018-05-30 21:31] Denz1994 commented on #280
Could you test if this is reproducible on this latest [dev version](https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-dev.106/phet/masses-and-springs_all_phet.html)?

This may have been fixed in master. Though I'm not sure what could be causing this on this specific platform.

[2018-05-30 21:33] ghost commented on #281
I can't reproduce the issue on an iPad Pro using [dev.106](https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-dev.106/phet/masses-and-springs_all_phet.html).

[2018-05-30 21:33] JRomero0613 commented on #281
@Denz1994 I was not able to reproduce the bug on either version you gave me, the new versions also seem to have fixed issue #280 but I'll let you know once I have tested futher

[2018-05-30 21:36] Denz1994 commented on #281
Roger. Will be on standby.

[2018-05-30 21:49] JRomero0613 commented on #281
@Denz1994 It looks fine to me, the home screen works fine now and issue #280 is also resolved.

[2018-05-30 22:07] Denz1994 commented on #281
Great work. I'll assign both issues to @JRomero0613 to close.

[2018-05-30 22:08] Denz1994 commented on #280
Leaving to @JRomero0613 to close. This seems to be fixed in the last dev version.

[2018-05-30 22:13] ghost commented on #280
@Denz1994, seems to be working using latest dev on iPad Pro.

[2018-05-30 22:15] #280 closed, assigned to JRomero0613

[2018-05-30 22:15] #281 closed, assigned to JRomero0613

[2018-05-30 22:32] JRomero0613 opened #282 "Vectors Can be Grabbed to Pickup a Mass"
Test device: PC Laptop/ iPad Air 2/ iPad 2/ iPad PRO/ Chromebook

Operating System: OS 17134.48/ iOS 11.2.5/ iOS 9.3.5/ iOS 11.3.1/ OS 67.0.3396.49

Browser: Chrome V. 66.0.3359.181/ Safari/ Safari/ Safari/ Chrome V. 67.0.3396.49

Problem description: For phetsims/QA/issues/122 when viewing the vectors screen with the velocity vector selected, clicking on this vector or any other vector makes the

[2018-05-30 22:50] phet-steele commented on #282
@JRomero0613 what's happening here is that the velocity vectors can be used to drag a mass, so clicking them will pickup a mass and set its velocity back to zero.

@arouinfar did you want this behaviour?

[2018-06-01 00:15] ghost commented on #259
@jonathanolson, I tested the latest dev on an iPad 2, and IMO the performance is not great, but acceptable.

EDIT: The dev version you linked above has a bug that breaks the sim, hence testing it on a newer dev.

[2018-06-01 14:53] Denz1994 commented on #282
I pushed a new [dev version](https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-dev.107/phet/masses-and-springs_all_phet.html) without this behavior for comparison. Personally, I think it makes sense to not grab the vectors. Their mouse/touch areas are pretty small as well.

[2018-06-01 16:51] arouinfar commented on #282
Nice observation @JRomero0613!

My initial thought was that making the vectors grabbable would make the moving masses easier to grab (though I don't remember it being an explicit design decision). In practice, I don't think it actually helps much, and at worst can look buggy.

I prefer the behavior in dev.107 @Denz1994.

[2018-06-01 16:53] Denz1994 commented on #282
The fix has been pushed to master. Can you confirm @JRomero0613 and close if fixed?

[2018-06-01 17:16] JRomero0613 commented on #282
@Denz1994 The fix in master has fixed the issue.

[2018-06-01 17:16] #282 closed, assigned to JRomero0613

[2018-06-01 17:41] Denz1994 commented on #235
I pushed a new [dev version ](https://phet-dev.colorado.edu/html/masses-and-springs/1.0.0-dev.108/phet/masses-and-springs_en_phet.html)with the threshold removed from the period trace, as per our meeting with @DianaTavares and @arouinfar. Can you confirm this is the correct behavior @arouinfar?

[2018-06-01 17:47] arouinfar commented on #235
Looks good to me @Denz1994, thanks.

We ultimately decided to let the period trace die down, even if a bit unsightly at the end, for a few reasons.
* Thinking about the use case in context, the small period trace makes sense as the amplitude dies down, and is unlikely to cause confusion.
* The threshold had some strange side effects. The disappearing trace was abrupt and sometimes aborted mid-trac

[2018-06-01 17:47] #235 closed, assigned to arouinfar

[2018-06-01 17:58] Denz1994 commented on #278
Just adding this snapshot from Pendulum Lab, because it has the same bug. I could not reliably reproduce it though. I found that it goes away if a pendulum stops oscillating.
![image](https://user-images.githubusercontent.com/13894380/40855890-e32e9b32-65a3-11e8-8a2d-ee12e7592ff8.png)

[2018-06-04 14:23] Denz1994 opened #283 "Code exceeds max length in several places."
Please use the "max-len" eslintrc rule in ../chipper/eslint/.eslintrc. This will help significantly.

[2018-06-04 16:29] ariel-phet commented on #194
as @phet-steele mentioned, this is a duplicate of the a sun issue. We will not fix for the current release of Masses and Springs (since a rare use case), but since this issue exists in several sims, we will discuss the main issue at dev meeting.

[2018-06-04 16:29] #194 closed, assigned to jonathanolson, Denz1994

[2018-06-04 17:18] Denz1994 commented on #278
After review with @jonathanolson, the current solution for this bug is sim specific and will most likely require more work in common code. Since this is present in other published sims and isn't sim breaking, can we defer this issue @ariel-phet? Assigning to @ariel-phet for input.

[2018-06-04 17:28] Denz1994 commented on #263
Should we include anyone else in the credits @ariel-phet? Sorry, I don't know Bryce and Ben's full names @lmulhall-phet.

Current Credits:
[code]

[2018-06-04 18:08] #283 closed, assigned to Denz1994

[2018-06-04 20:49] Denz1994 commented on #278
Closing this issue as it is related to a larger issue in https://github.com/phetsims/scenery/issues/810.

[2018-06-04 20:49] #278 closed, assigned to ariel-phet

[2018-06-05 17:00] phet-steele commented on #270
@Denz1994 @arouinfar care to reconsider now that we are keeping small oscillations? Up to you. This is how a **_complete_** trace looks:

<img width="300" alt="screen shot 2018-06-05 at 10 57 13 am" src="https://user-images.githubusercontent.com/5863899/40990982-9f49e962-68af-11e8-891a-6f00bd730bc0.png">

I even get the impression that this trace looks upside down:
<img width="300" alt="screen sho

[2018-06-05 17:26] Denz1994 commented on #270
I think part of the decision involved the fact, in order to get this trace you have to make the mass oscillate. You would see it get to this point and can still be interpreted. A better summary is here in https://github.com/phetsims/masses-and-springs/issues/235#issuecomment-393958310.

[2018-06-05 18:44] arouinfar commented on #270
@phet-steele please take a look at my last https://github.com/phetsims/masses-and-springs/issues/235#issuecomment-393958310, and let me know if you still have questions/concerns.

[2018-06-05 19:00] phet-steele opened #284 "What happens to thermal energy when "Stop" is pressed?"
@arouinfar I have a question about which is more correct:

In masses-and-springs, pressing the "stop" button will NOT clear any thermal energy.

In pendulum-lab, pressing the "stop" button DOES clear all thermal energy.

Maybe each is correct in its own sim, or should they both behave the same? I'm not an expert on the physics here and couldn't find a discussion. 😕

For phetsims/QA/issues/126.

[2018-06-05 19:05] arouinfar commented on #284
@phet-steele pendulum-lab has the desired behavior. The thermal energy should clear because because the stop button is essentially resetting the system. I find it a bit surprising that masses-and-springs behaves differently, so I wonder if the undesired behavior may have crept in.

[2018-06-05 19:12] phet-steele commented on #284
Been there since the first dev I found that charts thermal energy: https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-dev.15/masses-and-springs_en.html (Sep 2017).

[2018-06-05 19:17] phet-steele commented on #270
@arouinfar I believe https://github.com/phetsims/masses-and-springs/issues/235#issuecomment-393958310 you linked me to is more aligned to the discussion of having small period traces or not, and glosses over the trace's appearance in such a case (which is what I'm referring to in https://github.com/phetsims/masses-and-springs/issues/270#issuecomment-394785193). Saying the trace is "a bit unsightly

[2018-06-05 19:19] Denz1994 commented on #284
I didn't even realize the difference in behaviors. Thanks for noticing @phet-steele. Can you check master for this fix?

[2018-06-05 19:29] phet-steele commented on #284
Magnifique 👍

[2018-06-05 19:29] #284 closed, assigned to phet-steele

[2018-06-05 19:35] ariel-phet commented on #270
@phet-steele I am going to take over this issue and discuss with @Denz1994 - thanks for pointing out. I think we might be able to make a simple change or two and accomplish the polish without big time investment.

[2018-06-05 20:11] ariel-phet commented on #270
This unsightliness basically disappears (or is at least very strongly mitigated) if the line width is made smaller. The larger line width at reasonable oscillations looks very good so I am proposing that at a certain threshold we shrink the line width. I think this will have two good consequences

1. It should accomplish the polishing issue
2. It should help the idea of the oscillation "fading awa

[2018-06-05 20:20] JRomero0613 opened #285 "iPad 2 Poor Performance"
Test device: iPad 2

Operating System: iOS 9.3.5

Browser: Safari v. 601.1

Problem description: For phetsims/QA#126 The overall performance of the sim on this device is quite poor. With the ?profiler query parameter the frame rate remains in the region of ~20 FPS when a single spring is oscillating and nothing else is being manipulated. Inputting additional inputs slows the frame rate further, re

[2018-06-05 21:14] Denz1994 commented on #270
In about 1 hour two versions have been produced.

[Dev Version 210](https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-dev.110/phet/masses-and-springs_all_phet.html): The period trace thins to a smaller line width after a certain threshold. This is inline with @ariel-phet [comment](https://github.com/phetsims/masses-and-springs/issues/270#issuecomment-394843936)

[Dev Version 211](https:

[2018-06-05 22:22] phet-steele commented on #270
My two cents: dev.111 is much better between the two. dev.110 has a sudden "jump" to thinness that looks very ugly if it happens in the middle of a trace. dev.111 gets around this by having the thinness occur gradually.

Sorry to be that guy, but the original issue was about the overhang at *any* trace height, not just small traces. See the screenshot in the first post. So if this thinness becomes

[2018-06-05 22:47] Denz1994 commented on #270
Me a few comments ago:

@phet-steele I can investigate for another hour on not drawing lines relative to its previous position. This may be a solution we can apply to Path.js in common code. I'll report back.

[2018-06-06 00:28] ariel-phet commented on #285
@JRomero0613

It is true the performance is not optimal, however, in this particular case there are several factors:

1. Ipad 2 is a dwindling use platform

2. This sim is fairly advanced and less likely to be used on an iPad2

3. I tested the sim on iPad2, and though I agree the performance is not ideal, it is acceptable in this case. It is not pedagogically damaging and I deemed it "good enough"

[2018-06-06 00:28] #285 closed, assigned to ariel-phet, Denz1994

[2018-06-06 00:34] ariel-phet commented on #263
@Denz1994 our policy has been to include all people from the original sim in the credits for the port

Mike Dubson should be moved up to "lead design" (after Amy)

Wendy Adams should be included in "team" alphabetically

confirm with @lmulhall-phet for QA members

Ask @jonathanolson if he wants to be included in software (since he did help develop the model I believe)

[2018-06-06 00:43] ariel-phet commented on #270
@Denz1994 @phet-steele @arouinfar

I really like dev.111 !  I had thought that might be nice, but didn't bring it up, so nice initiative trying the @Denz1994.

As for the overhang, I have to look pretty closely to notice it at large trace heights, and I don't think it is currently worth the time to polish it further.

[2018-06-06 00:43] ariel-phet commented on #270
@arouinfar should make the final call, but I think this it good to go.

[2018-06-06 01:12] jonathanolson commented on #263
I think @mattpen was the one who wrote the model?

[2018-06-06 10:48] Denz1994 commented on #270
Thanks @ariel-phet. I'll wait for @arouinfar 's decision before further investigation.

[2018-06-06 15:28] JRomero0613 commented on #285
@ariel-phet I agree that the extra effort would not be worth the time to improve performance on the iPad 2 as it is still usable and the platform is slowly being phased out. I just wanted you to be aware that the sim really starts to push the iPad when there multiple inputs, other than that it looks good to me.

[2018-06-06 16:26] arouinfar commented on #270
My vote is also for dev.111 @Denz1994. It looks really nice!

I agree @ariel-phet, though I do appreciate @phet-steele's attention to detail. To observe the overhang, I have to actively seek it out by stepping forward.

[2018-06-06 16:32] Denz1994 commented on #270
Okay, it seems like @ariel-phet and @arouinfar are in agreement about proceeding with dev.111

I will close this issue because the overhang is something we will not fix. Thanks, input for the team.

[2018-06-06 16:32] #270 closed, assigned to Denz1994

[2018-06-06 16:40] arouinfar commented on #174
Since RC testing is imminent, removing `status:on-hold`.

[2018-06-06 16:42] arouinfar opened #286 "Create Sim Primer"
For #1

- [x] Draft script - 08/14/18
- [x] Record rough version for script verification - 08/20/18
- [x] Review script verification draft, and adjust script as necessary - 08/21/18
- [x] Record another draft - 08/31/18
- [x] Review 2nd draft - 09/4/18
- [x] Produce primer and upload - 09/11/18
- [x] Caption primer - 09/11/18

[2018-06-08 18:00] Denz1994 commented on #263
@mattpen was the original author of the model. Here is the final version of the credits. Can you confirm the QA team @lmulhall-phet or @phet-steele?
[code]

[2018-06-08 21:18] arouinfar opened #287 "LoL Icons & Descriptions"
For #1

[2018-06-11 14:45] Denz1994 commented on #259
Being that https://github.com/phetsims/QA/issues/122, https://github.com/phetsims/QA/issues/126, and https://github.com/phetsims/masses-and-springs/issues/285 were closed and perfromanced was measured several times in the last month of testing, I'm closing this issue. iPad 2 performance seems accemptable.

[2018-06-11 14:45] #259 closed, assigned to jonathanolson

[2018-06-11 16:35] ghost commented on #263
@Denz1994, I've updated the QA credits with people I've seen testing M&S.

[2018-06-11 16:38] Denz1994 commented on #263
Thanks @lmulhall-phet. I'm going to close this issue.

[2018-06-11 21:37] phet-steele commented on #263
@Denz1994 I went ahead and added the changes to 1.0 as well.

[2018-06-11 21:39] phet-steele opened #288 "1.0 Screenshot"
Hello @arouinfar! What were you thinking for a screenshot? (assign to @lmulhall-phet to make)

[2018-06-11 22:42] arouinfar commented on #288
@lmulhall-phet here's the screenshot + alternates. The Intro screen should be the primary screenshot.

<img width="1440" alt="screen shot 2018-06-11 at 4 28 46 pm" src="https://user-images.githubusercontent.com/8419308/41260795-2cb86180-6d96-11e8-875a-e55e8bd992e8.png">
<img width="1440" alt="screen shot 2018-06-11 at 4 35 57 pm" src="https://user-images.githubusercontent.com/8419308/41260796-2cc7

[2018-06-12 21:51] arouinfar opened #289 ""Gravity" heading should not disappear when on Planet X"
For https://github.com/phetsims/QA/issues/129

Switching to Planet X correctly replaces the slider with the string, "What is the value of gravity?". However, the "**Gravity**" heading should remain visible, as in Pendulum Lab (bottom).
![image](https://user-images.githubusercontent.com/8419308/41319062-d32c9c22-6e57-11e8-9d93-58a6741776a0.png)

![image](https://user-images.githubusercontent.com/84

[2018-06-12 21:55] arouinfar opened #290 "Switching Gravity from Planet X to Custom reveals unknown g"
For https://github.com/phetsims/QA/issues/129

1. On startup go to Lab, default gravity is Earth. (Bug is on all screens, but easier to spot on Lab, which has a readout.)
![image](https://user-images.githubusercontent.com/8419308/41319048-c79015ba-6e57-11e8-9d41-fbbb7a7508c8.png)
2. Switch to Planet X
![image](https://user-images.githubusercontent.com/8419308/41319062-d32c9c22-6e57-11e8-9d93-58a67

[2018-06-12 22:03] arouinfar opened #291 "Changing mass detaches mass from spring when paused & off-screen"
For https://github.com/phetsims/QA/issues/129

The mass detaches itself from the spring if its mass is changed while it is hanging off-screen.

1. Attach adjustable mass to spring
2. Set k to min, mass to max, then click stop. Mass is off-screen.
3. Pause sim.
4. Reduce mass, and it detaches itself from the spring.

![image](https://user-images.githubusercontent.com/8419308/41319583-924010ca-6e59-

[2018-06-13 22:28] arouinfar opened #292 "More Pixel Polishing"
For https://github.com/phetsims/QA/issues/129

- [x] On Vectors, it looks like the vector checkboxes may be a tad larger than the top group of checkboxes. Here's a comparison. It's subtle, but does look slightly different. (Edit: Is it possible that there's a slight difference in font size causing this issue?)
![image](https://user-images.githubusercontent.com/8419308/41379760-1c8b45e4-6f20-11e8-8

[2018-06-13 22:29] arouinfar commented on #292
@Denz1994 if you have any questions, please let me know. I'd also be happy to discuss over Zoom.

[2018-06-15 16:55] arouinfar commented on #287
Icons and descriptions have been created.

[2018-06-15 16:55] #287 closed, assigned to arouinfar

[2018-06-15 22:20] arouinfar commented on #174
The tips have been uploaded to drive.

[2018-06-15 22:20] #174 closed, assigned to arouinfar

[2018-06-18 18:17] arouinfar opened #293 "Allow panel/toolbox on right side to expand 50px before scaling down strings"
For https://github.com/phetsims/QA/issues/129

There are a lot of long strings in this sim, which may get even longer when translated. When reviewing `?stringTest=double` I noticed that the panel remains the same width, so the strings don't really have any room to grow.
<img src="https://user-images.githubusercontent.com/8419308/41553360-c98c5464-72ee-11e8-8184-cda53a43f4e0.png" width=300> <img sr

[2018-06-18 18:28] arouinfar commented on #293
It also looks like all three reference line checkboxes seem to have the same font size. However, I think "Movable Line" has room to be a bit larger, so I'm not sure why it's so small.

In the above CLB example, "Current Direction" is a tad bit smaller because it is a long string, while "Bar Graph" was short enough to keep its original size.

Edit: Decided to open a separate issue for this - #296.

[2018-06-18 18:31] arouinfar opened #294 ""Mass" title occluded by icon under i18n"
For https://github.com/phetsims/QA/issues/129

The string should expand to the right so that the relative spacing between the icon and "Mass" remains the same.

![image](https://user-images.githubusercontent.com/8419308/41554833-32df5f70-72f3-11e8-9e2b-3822bae026e7.png)

[2018-06-18 18:33] arouinfar opened #295 "Damping=0 gets misaligned under i18n"
For https://github.com/phetsims/QA/issues/129

When reviewing `?stringTest=double`, I noticed that "Damping = 0" gets misaligned. The string should maintain left-alignment with "Gravity".

<img src="https://user-images.githubusercontent.com/8419308/41554295-abdd2d0a-72f1-11e8-88c4-40eb3ecc65ab.png" width=300>  <img src="https://user-images.githubusercontent.com/8419308/41554305-b8920b38-72f1-11e8-

[2018-06-18 18:52] arouinfar opened #296 "Strings scaled down too much despite adequate white space"
For https://github.com/phetsims/QA/issues/129

For i18n, strings shrink when they reach their max width. Several strings in MAS seem to have shrunken quite a bit despite adequate white space. @Denz1994 it looks like there may be some issue with the max width.

Here are a few notable examples:

* Mass has quite a bit of white space to its right.
<img src="https://user-images.githubusercontent.com/8

[2018-06-19 21:31] ghost commented on #291
![ms](https://user-images.githubusercontent.com/31285590/41625293-8a83ea1a-73d5-11e8-8462-cb6907d74239.gif)

[2018-06-19 21:32] arouinfar commented on #291
Thanks for the screen capture @lmulhall-phet!

[2018-06-19 22:22] pixelzoom opened #297 "Energy Legend suggestions"
Noted while working on https://github.com/phetsims/joist/issues/413.

masses-and-springs and pendulum-lab both have a dialog titled "Energy Legend"., but their styling is different.

masses-and-springs:

![screenshot_678](https://user-images.githubusercontent.com/3046552/41627229-ab3e699a-73dc-11e8-8180-b338bf1835db.png)

pendulum-lab:

![screenshot_679](https://user-images.githubusercontent.com/3

[2018-06-19 22:25] Denz1994 commented on #297
Checking for quick fix.

[2018-06-19 22:25] arouinfar commented on #297
Thanks @pixelzoom. That is a great suggestion.

@Denz1994 a few tweaks for you
- [x] Font sizes should match pendulum-lab
- [x] Make energy symbols bold
- [x] Total energy abbreviation should be E_total, not E_tot.

[2018-06-19 22:29] Denz1994 commented on #290
I believe this should fix the issue. We needed to prevent setting a value for Body.CUSTOM.gravity when the previous body was being set to Body.PLANET_X. Can you check in master @arouinfar?

[2018-06-19 22:39] Denz1994 commented on #297
Can you double check the fixes in master @arouinfar?

[2018-06-19 22:42] arouinfar commented on #290
Close, but not quite @Denz1994.

Custom, in general, shouldn't have a saved state. Suppose the user sets g=17, then switches to Earth. When returning to Custom, the thumb would stay at 9.8, not jump to 17. This behavior was correct in rc.1. Selecting Custom from the combobox doesn't generally change the value of g.

The only exception to this is Planet X. Going Planet X > Custom should move the th

[2018-06-19 22:43] arouinfar commented on #297
Looks great, thanks @Denz1994!

[2018-06-19 22:45] #297 closed, assigned to arouinfar

[2018-06-20 17:30] arouinfar commented on #297
While this was not technically for https://github.com/phetsims/QA/issues/129, I'm going to go ahead and tag it so it shows up in the RC issue. That way, it'll be easier to keep track of the changes made.

[2018-06-20 18:49] Denz1994 commented on #290
Sorry I missed that use case. Can you double check master for the fix @arouinfar?

[2018-06-20 19:00] arouinfar commented on #290
👍

[2018-06-20 20:39] Denz1994 commented on #291
This one was a bit tricky. Could you check to see if this is fixed in master @arouinfar?

[2018-06-20 20:44] ghost commented on #291
@Denz1994, it seems to be fixed in master. @arouinfar, can you confirm?

[2018-06-20 21:15] arouinfar opened #298 "Total energy incorrectly negative"
For https://github.com/phetsims/QA/issues/129

A mass oscillating off-screen will at times have negative gravitational potential energy.
![image](https://user-images.githubusercontent.com/8419308/41683620-653b5716-7498-11e8-8219-c8f10c468e2c.png)

However, when stopping this mass, the total energy becomes negative, which would only be correct if mgh > 1/2*k*x^2.

In this situation, k = 6 N/m, x =

[2018-06-20 21:15] arouinfar commented on #298
Accidentally opened too soon, please disregard.

[2018-06-20 21:25] arouinfar commented on #298
@Denz1994 can you look into this? I accidentally opened the issue when I was still in the process of writing it up. I'm trying to figure out a bit more information about how to cause the bug, but I'm having trouble reproducing. Had it not been for my accidental opening, I may have decided to ditch this issue.

[2018-06-20 21:30] arouinfar commented on #291
It's looking good @Denz1994!

[2018-06-20 21:30] #291 closed, assigned to arouinfar

[2018-06-22 16:59] Denz1994 commented on #298
I can replicate this by setting up the spring constant, gravity and mass with the same values as described above. Then as the mass is oscillating, press the stop button. Now toggle the spring constant to a low value and you should be able to make the total energy negative. It may help to zoom out on the energy graph.

I don't know if this is a bug though. We can create a situation where we have a

[2018-06-22 17:03] arouinfar commented on #298
@Denz1994 negative total energy is fine, so long as |GPE| > EPE. However, in this case, EPE > GPE, so total energy should be positive.

[2018-06-22 17:54] Denz1994 commented on #298
Height is measured from the bottom of the mass to the "height = zero" line. Is this correct?
Displacement is measured from the spring natural length to the end of the spring after displacement.

[2018-06-22 19:35] ariel-phet opened #299 "Thoughts for a Basics version"
For several reasons it would be good to consider a basics version for this simulation.

1. The current simulation includes a number of advanced features that would not be appropriate for a younger audience, but the topic would still be interesting to explore for student below early high school.

2. Our collaborators at Go-Lab were interested in a version of this simulation for younger audiences

W

[2018-06-22 19:37] ariel-phet commented on #299
From Go-Lab:

[list_of_topics_and_labs.pdf](https://github.com/phetsims/masses-and-springs/files/2128924/list_of_topics_and_labs.pdf)

[2018-06-22 19:39] ariel-phet commented on #299
Go-lab initial thoughts on a basics version here:

[Masses and springs.pdf](https://github.com/phetsims/masses-and-springs/files/2128935/Masses.and.springs.pdf)

To these suggestions I replied the following (and to note the above github comment with a list of topics and such happened after our exchange about a basics version and my concerns with the design suggestions):

[2018-06-22 20:43] arouinfar commented on #298
Yes, that's completely correct, and why the height is closer to -77 cm, making |GPE| > EPE. My bad!

[2018-06-22 20:43] #298 closed, assigned to arouinfar, Denz1994

[2018-06-23 00:31] Denz1994 commented on #298
At least it wasn't a model error. Whew!

[2018-06-25 15:36] Denz1994 commented on #289
Could you check this in master @arouinfar? I believe this was fixed.

[2018-06-25 16:23] arouinfar commented on #289
👍

[2018-06-25 16:24] Denz1994 commented on #294
There are some limitations on how the title expands based on the common code. Without creating a new numberControl scheme for this specific case, could we try reversing the massString and its icon?

This pattern of description/readout/title on the left followed by its icon on the right seems to be standard for the other panels as well, such as the reference line panel and vector indicator panel. I

[2018-06-25 16:26] arouinfar commented on #294
Thanks for clarifying @Denz1994. Moving the icon to the right looks good to me!

[2018-06-25 16:26] #294 closed, assigned to arouinfar, Denz1994

[2018-06-25 18:34] Denz1994 commented on #295
@arouinfar Can you confirm this has been fixed in master?

[2018-06-25 18:36] arouinfar commented on #295
Alignment is looking good!

[2018-06-25 18:36] #295 closed, assigned to arouinfar

[2018-06-25 19:18] Denz1994 commented on #296
These maxWidths have been adjusted so they are more reasonable for the length of their text to remove white space. @arouinfar Does master look good?

[2018-06-25 22:00] arouinfar commented on #296
@Denz1994 the maxWidths are looking better, but Mass, Gravity, and Damping all still look a bit small.

![image](https://user-images.githubusercontent.com/8419308/41877917-50061de4-7890-11e8-97ca-56597ac5d4b8.png)
![image](https://user-images.githubusercontent.com/8419308/41877939-6362cda6-7890-11e8-9d86-6ac8e0d5bfd2.png)

I'll think we should limit Height's maxWidth so the string doesn't run into

[2018-06-26 14:53] Denz1994 commented on #296
The reason the Gravity and Damping look smaller on the lab screen is due to the title of the number control being private in common code. The panel has to fit the title, white space, and readout for a number control and there isn't much room to play with after that. The same is true for the massValueControlPanel.

This is different in Pendulum Lab because it is using a customized NumberControl for

[2018-06-26 17:32] Denz1994 commented on #292
@arouinfar Can you verify that this was corrected? I need a second eye to make sure.

[2018-06-27 16:34] arouinfar commented on #292
@Denz1994 the checkboxes are not the same size. GitHub resized the screenshots, but the red line is the same length in both screenshots. Looks like the vector checkboxes are still a tad bit larger.

![image](https://user-images.githubusercontent.com/8419308/41987039-4f1e5b9c-79f5-11e8-9926-1be9d2808ea3.png)
![image](https://user-images.githubusercontent.com/8419308/41987089-6ed64f58-79f5-11e8-9d0f

[2018-06-27 16:38] arouinfar commented on #296
@Denz1994 let's not bother with a custom NumberControl. I'm hopeful that #293 will provide Gravity and Damping with a bit more space to expand.

[2018-06-27 16:38] #296 closed, assigned to arouinfar

[2018-06-27 19:54] ghost opened #300 "string behind mass"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.13.5

<b>Browser</b>

All browsers

<b>Problem Description</b>

For phetsims/QA/issues/129.

With `?stringTest=double`, this...

![screen shot 2018-06-27 at 1 41 57 pm](https://user-images.githubusercontent.com/31285590/41995901-73387286-7a10-11e8-9daf-533ab3622e02.png)

...occurs in the Energy screen and the Lab screen.

<details>

[2018-06-27 20:34] arouinfar commented on #300
Good catch @lmulhall-phet! This was addressed in #294 and has been fixed in master.

[2018-06-27 20:34] #300 closed, assigned to Denz1994

[2018-06-27 20:35] ghost commented on #300
Wow, I can't believe I didn't see that issue. Thanks, @arouinfar.

[2018-06-27 20:36] arouinfar commented on #300
No problem! I logged a few i18n issues last week (all of them linked the RC issue), and @Denz1994 has addressed most of them.

[2018-06-27 20:50] arouinfar commented on #288
For #1.

[2018-07-03 17:46] arouinfar commented on #292
@Denz1994 looks like these items haven't been addressed in master:

Gravity readout is 12 pt, but should be increased to 14 pt to match "Gravity" title. Perhaps you need to make the readout box a tad bigger so the font can be larger.

Small/Large is still closer to the title than Short/Long
![image](https://user-images.githubusercontent.com/8419308/42235409-eaeaccf4-7eb4-11e8-8a74-7a6f98292e84.png

[2018-07-03 17:51] Denz1994 commented on #292
Work in progress. Thanks for the feedback.

[2018-07-03 20:34] Denz1994 commented on #292
Good catch @arouinfar. Could you review master now?

[2018-07-03 21:05] arouinfar commented on #292
@Denz1994 (1) and (4) look great. It doesn't look like any action was taken for (3).

Left-align Constant Parameter and radio options with "Short".

It looks like (2) had some unintended consequences. The "Gravity" and "Damping"  titles have shrunken quite a bit. This is particularly noticeable if you switch between the Energy and Lab screens. The title should remain the same size -- compare to th

[2018-07-10 17:11] arouinfar commented on #288
@lmulhall-phet not sure if you've gotten started on these or not, but I'd like to tweak screenshots 3 and 4, so reassigning myself.

[2018-07-10 18:15] arouinfar commented on #288
I updated the 3rd and 4th screenshots in https://github.com/phetsims/masses-and-springs/issues/288#issuecomment-396409871. Back to you, @lmulhall-phet.

[2018-07-10 23:18] ghost opened #301 "Adding M&S to "Reading List" on iPad 2 doesn't work"
For phetsims/QA/issues/129.

On iOS 9.3.5 + Safari 9.0, adding M&S to "Reading List" (HTML download) doesn't work.

When I try to interact with the simulation, this happens:

![img_0201](https://user-images.githubusercontent.com/31285590/42542656-1d7461fc-8465-11e8-9042-86f4abaf9d9e.JPG)

The sim is stuck like this and is otherwise unresponsive.

I will tether the iPad tomorrow morning and look in

[2018-07-11 19:42] Denz1994 commented on #292
You are right about (3). I need a second eye to review the other changes @arouinfar.

[2018-07-11 21:09] arouinfar commented on #292
Everything looks great @Denz1994. Thanks!

[2018-07-11 21:09] #292 closed, assigned to arouinfar, Denz1994

[2018-07-11 22:17] ghost commented on #301
I'd like to make a retraction: the "Reading List" feature does work as expected with two caveats...

Caveat 1:

![img_0203](https://user-images.githubusercontent.com/31285590/42601174-f470cbc0-8521-11e8-9609-3273c9fb68d3.JPG)

For some reason there are numbers before the description of the simulation. I am seeing the same thing with Area Model Algebra 1.0.0-rc.3.

Caveat 2: The splash screen somet

[2018-07-11 22:38] phet-steele commented on #301
Those numbers are related to a11y and are expected to be there (pretty sure), albeit it's ugly and unfortunate that they have to be seen. I don't think the work to remove those numbers is worth the benefit.

[2018-07-12 01:27] Denz1994 commented on #292
Great!!!!

[2018-07-17 18:17] Denz1994 commented on #293
Can you check master @arouinfar? I expect that the panel widths are still too small, but should the Movable Line string be given more room to expand?

[2018-07-17 18:30] arouinfar commented on #293
@Denz1994 the panel width is looking pretty good, actually. I think the checkbox strings will all have adequate room to maintain a reasonable font size for most (if not all) locales. However, I'm noticing two undesirable side effects.

First, the Gravity and Damping sliders looks pretty horizontally cramped. Additionally, the Vector checkboxes are no longer left-aligned with the first group of che

[2018-07-17 18:31] Denz1994 commented on #293
Nice thanks for the feedback.

[2018-07-17 20:00] Denz1994 commented on #293
Can you check master now @arouinfar? There was also a bug fix. Should the gravity section be expanded more?

Note to self: The disparity in the two versions above is due to the optionsPanel getting wider, not the content getting smaller.

[2018-07-17 20:24] arouinfar commented on #293
@Denz1994 master is still looking about the same as https://github.com/phetsims/masses-and-springs/issues/293#issuecomment-405682414, even after pulling all repos. The Vector checkboxes have moved over a bit, but are still not left-aligned with the other checkboxes. Gravity and Damping still looking equally squished to me.

![image](https://user-images.githubusercontent.com/8419308/42843274-d678b1

[2018-07-18 17:21] Denz1994 commented on #293
I tracked down the misalignments in a previous set of commits. Can you try master @arouinfar? Thanks for the feedback.

[2018-07-18 18:03] arouinfar commented on #293
@Denz1994 relative alignment and the sliders are looking much better. However, there's quite a bit of wasted space on the left and right sides of the panel.
![image](https://user-images.githubusercontent.com/8419308/42898372-328a7e8e-8a80-11e8-995e-2b829ba70b46.png)

The extra space is not specific to increased panel width, as it appears without ?stringTest (top). The left/right padding in rc.1 is

[2018-07-18 19:49] Denz1994 commented on #293
What do you think about master now @arouinfar?

[2018-07-18 20:03] arouinfar commented on #293
Looks great! Thanks @Denz1994.

[2018-07-18 20:06] arouinfar commented on #301
Agreed. I don't think it's worth the effort to remove the numbers.

@lmulhall-phet does this happen for other multi-screen sims, or is it specific to MAS?

[2018-07-18 20:30] ghost commented on #301
The splash screen weirdness seems to be a problem with other multi-screen sims as well.

[2018-07-18 20:33] arouinfar commented on #301
Thanks @lmulhall-phet!  In that case, I don't think @Denz1994 needs to do anything specific for MAS.

That said, there should probably be some general issue in one of the common repos documenting the non-centered splash screen. Not sure what the best fit would be, so leaving that to @Denz1994 and/or @lmulhall-phet to decide.

[2018-07-18 20:40] ghost commented on #301
Will do @arouinfar.

(EDIT: Note to self: I can't reproduce this consistently. The behavior is different each time a load a sim.)

[2018-07-19 00:23] Denz1994 commented on #301
@lmulhall-phet
Caveat 1: Agreed with the above comments regarding a11y.
Caveat 2: Perhaps we can make a common code issue in Joist for this? If this is a browser issue it shouldn't block publication or further RC testing.

Any thoughts to continue with this issue? @ariel-phet

[2018-07-19 03:25] ariel-phet commented on #301
@Denz1994 this is definitely not a sim-specific issue, would be good to discuss at dev meeting to see where to move this issue, and understand what it would take to fix. I do not see it as blocking publication (people adding to the reading list is pretty rare).

[2018-07-19 15:54] jessegreenberg commented on #301
Regarding the numbers, I don't think they are for a11y, but maybe they are related to Heartbeat.js.

[2018-07-19 15:59] samreid commented on #301
In https://github.com/phetsims/joist/issues/382 and https://github.com/phetsims/joist/issues/470 we determined that "Save to Reading List" automatically saves a "snapshot" of the current DOM which is not automatically cleared when the page is loaded from the reading list.  That is most likely what is causing the duplicate rendering and interference.

[2018-07-19 16:02] samreid commented on #301
Guessing here: maybe related to the cache buster?

[2018-07-19 16:15] jessegreenberg commented on #301
Also guessing, but Heartbeat.js adds a div to the document that looks like
[code]
When a11y is enabled the PDOM comes before the heartbeat div in the document, which is probably why there are no numbers for RIAW in https://github.com/phetsims/masses-and-springs/issues/301#issuecomment-404328188.

[2018-07-19 16:21] samreid commented on #301
I agree that looks suspicious, and iOS may just be scraping the DOM to generate the preview text.

[2018-07-19 19:13] samreid commented on #301
From today's discussion, the iOS app supercedes Reading Mode, and it would be good if clients can use the app instead.

@ariel-phet requested @samreid to take an hour and look into this.

[2018-07-19 19:16] samreid commented on #301
On second thought, @ariel-phet wants to investigate and discuss further with QA.

[2018-07-24 21:01] KatieWoe commented on #289
This no longer seems to be fixed in RC2
It does seem to be fixed in master.
for phetsims/QA/issues/153

[2018-07-25 14:34] KatieWoe commented on #289
Closing

[2018-07-25 14:40] KatieWoe commented on #290
Reopening for phetsims/QA/issues/153.  This seems to be happening again in RC 2

[2018-07-25 15:26] Denz1994 commented on #290
Can we test for this in master? Some logic was added to prevent revealing PlanetX gravity when the bodies are switched in the combo box or via the slider.

[2018-07-25 15:58] KatieWoe commented on #290
Looks good

[2018-07-25 17:01] KatieWoe opened #302 "Long string shrunk too much"
**Test device:**
Dell Laptop and iPad 2
**Operating System:**
Windows 10 and iOS 9
**Browser:**
Chrome and Safari
**Problem description:**
When using stringTest=long the movable line string on the intro screen becomes very small.
For phetsims/QA/issues/153
May be related to phetsims/masses-and-springs/issues/296
**Steps to reproduce:**
1. Use stringTest=long
2. Go to the intro screen
3. Look at th

[2018-07-25 17:44] Denz1994 commented on #290
Closing this issue. Thanks for the feedback @KatieWoe.

[2018-07-25 18:36] Denz1994 commented on #302
Good catch. I changed the maxWidths these texts in this panel. Can you confirm in master @KatieWoe?

[2018-07-25 19:02] KatieWoe opened #303 "Off Center Sliders When Strings are Long"
**Test device:**
Dell Laptop + others
**Operating System:**
Windows 10 + others
**Browser:**
Chrome + others
**Problem description:**
For phetsims/QA/issues/153
When stringTest=long is used the sliders on Intro, Vectors, and Energy screens become off center.  To compare, this does not seem to happen on the Lab screen.  It also does not occur in the pendulum simulation.
**Steps to reproduce:**
1. U

[2018-07-25 19:06] KatieWoe commented on #302
Looks good in master.

[2018-07-25 19:08] Denz1994 commented on #302
Closing this issue.

[2018-07-25 19:08] #302 closed, assigned to Denz1994

[2018-07-25 19:17] Denz1994 commented on #303
Maxwidths have been adjusted to the slider titles so the panel contents don't get shifted out of proportion. Can you confirm in master @KatieWoe and if it looks good, close this issue?

[2018-07-25 19:18] Denz1994 commented on #290
If you select a Custom body in the combo box without adjusting any of the settings, the sim crashes. This is due to having a null oldGravity value. Fix is pending.

[2018-07-25 19:35] KatieWoe opened #304 "HTML Download on Chromebook does not work"
**Test Device**
Acer Chromebook
**Operating System**
Chrome OS
**Browser**
Chrome
**Description**
When attempting an html download on a chromebook the simulation opens to the home screen and freezes.
For phetsims/QA/issues/153
**Steps to Reproduce**
1. On the simulation, right click and save as.  Make sure you are on a chromebook.
2. Turn off the wifi
3. Open the saved html download

[2018-07-25 19:40] Denz1994 commented on #290
This was a relatively quick patch. The bug was fixed in master. Closing.

[2018-07-25 19:41] KatieWoe commented on #304
Upon further examination, this seems to be covered in https://github.com/phetsims/resistance-in-a-wire/issues/151
We do not seem to support this on ChromeOS.  Disregard. Closing

[2018-07-25 19:41] #304 closed, assigned to Denz1994

[2018-07-25 19:42] Denz1994 commented on #304
Good to know. Thanks for the explanation.

[2018-07-25 19:55] KatieWoe commented on #303
The sliders no longer seem to be off center.  However, it seems that a string is now being split on the Lab Screen.
![splits](https://user-images.githubusercontent.com/41024075/43224113-6ce04608-9012-11e8-9453-b513d6593c8d.PNG)

[2018-07-25 20:01] arouinfar commented on #303
@Denz1994 the new maxwidths seem pretty small to me, and I'm worried Gravity and Damping won't internationalize well.

master:
![image](https://user-images.githubusercontent.com/8419308/43224110-6b8a52ee-9012-11e8-91f6-e4299f6a9554.png)

rc.2:
![image](https://user-images.githubusercontent.com/8419308/43224129-767fc4ae-9012-11e8-8b9c-86c09f7fa517.png)

I'd say keeping an appropriate maxwidth is a

[2018-07-25 20:28] ghost opened #305 "stringTest=long makes lines not aligned with associated strings"
Noticed this while looking at #303...

The natural length, mass equilibrium, and movable lines become slightly misaligned when stringTest=long is used:

![screen shot 2018-07-25 at 1 53 43 pm](https://user-images.githubusercontent.com/31285590/43225486-674ca58e-9016-11e8-86a1-2529c986f7c6.png)

Default for contrast:

![screen shot 2018-07-25 at 1 53 23 pm](https://user-images.githubusercontent.com

[2018-07-25 20:30] arouinfar commented on #305
Good catch @lmulhall-phet. I think the purpose of `?stringTest=long` is to reveal layout issues when strings are pushed to/beyond their limit, and this certainly looks like a layout issue to me.

[2018-07-25 20:32] ghost commented on #305
Ah, I see. That makes much more sense. Thanks, @arouinfar.

[2018-07-25 20:35] ghost commented on #305
Also, on the Energy screen, a slider thumb can overlap with a string:

![image](https://user-images.githubusercontent.com/31285590/43225952-ba58374c-9017-11e8-973f-ed12330490da.png)

[2018-07-25 20:51] jonathanolson opened #306 "Unused strings?"
While patching the joist fix into the 1.0 branch, I saw this during the build:

[code]

Are these strings used, or can they be removed? (Probably want to do that, if needed, before release)

[2018-07-25 20:56] ghost opened #307 "home screen icons still moving up and down with stringTest=double"
The problem described in this comment https://github.com/phetsims/joist/issues/470#issuecomment-405336702 still seems to be a problem in https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-rc.2/phet/masses-and-springs_all_phet.html?stringTest=double.

For phetsims/QA/issues/153.

[2018-07-25 21:01] KatieWoe commented on #307
Can confirm presence in RC2.  However, I can't find it in master.

[2018-07-25 21:01] ghost commented on #307
@KatieWoe says she's not seeing this in master, so possibly related to build error?

[2018-07-25 21:04] jonathanolson commented on #307
Hmm, ~15 minutes ago I applied this patch to the release branch, so it would definitely still be broken in rc.2.

Any production deploy or rc.3 should have it fixed however?

[2018-07-25 21:05] jonathanolson commented on #307
See https://github.com/phetsims/joist/issues/470#issuecomment-407890807 and https://github.com/phetsims/joist/issues/470#issuecomment-406371217

[2018-07-25 21:07] ghost commented on #307
I didn't see the timestamp, sorry @jonathanolson and @Denz1994. 😳

[2018-07-25 21:07] #307 closed, assigned to jonathanolson, Denz1994

[2018-07-25 21:28] ghost opened #308 "stringTest=double makes radio buttons touch edge of toolbox"
Here's the issue:

![screen shot 2018-07-25 at 3 22 28 pm](https://user-images.githubusercontent.com/31285590/43228524-fedfa1aa-901e-11e8-8910-d49db989f564.png)

Seen on all browsers + macOS.

For phetsims/QA/issues/153.

[2018-07-26 23:49] arouinfar commented on #308
I think what's happening is that the radio buttons are remaining left-aligned with "Constant Parameter" which collides with the panel border under i18n. Maintaining alignment is desirable, but losing the padding between the strings and panel border isn't.

@Denz1994 I think this panel could be allowed to expand to the left to provide room for long translations, similar to what was done in #293. Wh

[2018-07-27 17:02] Denz1994 commented on #306
These strings are being used in the sim in the radio buttons of the play speed selection. I don't know why we are getting a build error here. Any thoughts @jonathanolson?

[2018-07-27 17:08] Denz1994 commented on #306
Okay this makes sense after further investigation. I forgot I enumerated the options for the sim speed. We don't need the strings in the .json file anymore. Thanks for the catch @jonathanolson.

[2018-07-27 17:14] Denz1994 commented on #306
Unused strings were removed. Closing.

[2018-07-27 17:14] #306 closed, assigned to Denz1994

[2018-07-27 17:59] Denz1994 commented on #303
Let's try master now. What do you think @arouinfar @KatieWoe? The reducing the max width of the readout is the cleanest means of making room for all of the other components.

[2018-07-27 18:27] KatieWoe commented on #303
The string is no longer being split.  The sliders are back to being off center, but I think we decided that was less important.

[2018-07-27 20:13] Denz1994 commented on #308
Can you review master @arouinfar? The logic for aligning the panel contents has been slightly refactored.

[2018-07-27 22:12] arouinfar commented on #293
@Denz1994 in reviewing #305 , I noticed that the panel doesn't appear to be expanding more than a few px (if at all) for long strings.
![image](https://user-images.githubusercontent.com/8419308/43348479-6ad414b0-91b7-11e8-8f31-0323e4496260.png)
![image](https://user-images.githubusercontent.com/8419308/43348485-74f0fc24-91b7-11e8-899b-595d5f4c5b9f.png)

[2018-07-27 22:15] arouinfar commented on #293
By the way, it appears that this was unfixed in rc.2
![image](https://user-images.githubusercontent.com/8419308/43348617-3c25bc26-91b8-11e8-9fa0-18158df193fb.png)
![image](https://user-images.githubusercontent.com/8419308/43348636-4ce602a0-91b8-11e8-989e-8dba56e62d9a.png)

[2018-07-27 22:16] arouinfar commented on #303
The layout in master looks fine to me, though I did reopen #293 because the panel isn't properly expanding.
![image](https://user-images.githubusercontent.com/8419308/43348564-f236ce16-91b7-11e8-91d4-7e81f92a64e8.png)

I'll go ahead and close this issue. Thanks @Denz1994!

[2018-07-27 22:16] #303 closed, assigned to arouinfar, KatieWoe

[2018-07-27 22:18] arouinfar commented on #308
@Denz1994 the strings are no longer colliding with the border, but it looks like panel isn't expanding, as requested.
![image](https://user-images.githubusercontent.com/8419308/43348674-87441342-91b8-11e8-944c-21cb1c5dd9b1.png)
![image](https://user-images.githubusercontent.com/8419308/43348683-8ec6dd34-91b8-11e8-911a-8b04b9fdbef5.png)

[2018-07-30 18:05] ariel-phet commented on #301
Discussed with @lmulhall-phet - he is going to make a more general issue (since this is not sim specific). He will link that issue to this one, and close this M&S issue.

In the new issue @lmulhall-phet will try to layout more specific steps and issues to the reading list problems.

[2018-07-31 23:43] samreid opened #309 "Lint issues"
I saw some lint issues recently, I'll commit a workaround shortly.

[2018-08-01 15:02] Denz1994 commented on #309
Removed the commented out code. Thanks @samreid for the issue.

[2018-08-01 15:02] #309 closed, assigned to Denz1994

[2018-08-01 16:27] Denz1994 commented on #305
@arouinfar Can you review master? I added some alignBBox/alignGroup refactors.

[2018-08-01 18:12] arouinfar commented on #305
@Denz1994 the strings and icons now remained aligned under i18n, which is great.

However, it looks like the Displacement and Natural Length icons are missing from the Lab screen, but they're correctly appearing on the Energy screen.

![image](https://user-images.githubusercontent.com/8419308/43539502-49db6d3e-9582-11e8-8d57-d43bba9aa5d1.png)

![image](https://user-images.githubusercontent.com/841

[2018-08-01 18:28] Denz1994 commented on #308
Can you review master now @arouinfar? I need a second eye for the expansion.

[2018-08-01 18:37] arouinfar commented on #308
@Denz1994 for i18n the new panel width is looking good. However, the panel should only get wider for i18n, but otherwise it can keep the same width as it had before (match spring constant panel width).

[2018-08-01 18:42] arouinfar commented on #308
Here are some screenshots for comparison.

![image](https://user-images.githubusercontent.com/8419308/43541475-c1fba2d4-9587-11e8-9961-1a40d4187076.png)
![image](https://user-images.githubusercontent.com/8419308/43541440-af54414a-9587-11e8-803f-59ff9f46877b.png)
![image](https://user-images.githubusercontent.com/8419308/43541457-b5260c48-9587-11e8-8110-201d27744872.png)

To summarize
- [x] Spring

[2018-08-01 19:41] Denz1994 commented on #305
You are right @arouinfar, what about master now?

[2018-08-01 19:44] arouinfar commented on #305
Looks good, thanks @Denz1994!

[2018-08-01 20:16] arouinfar commented on #299
We've now had a few brainstorming meetings, and have discussed our preliminary design with our collaborators at Go-Lab.  There are a few small design concerns to discuss (e.g. extra 250 g mass, gravity controls in accordion menu) but the overall design is largely mapped out.

I've Slacked @Denz1994 to set up a time to discuss the design/goals.

I think we've fulfilled the original intensions for t

[2018-08-01 20:16] #299 closed, assigned to arouinfar

[2018-08-02 00:32] ariel-phet commented on #301
General issue made, closing this one.

[2018-08-02 00:32] #301 closed, assigned to nobody

[2018-08-02 18:21] oliver-phet opened #310 "Use new screenshot procedure for Masses and Springs"
We should take the sim screenshot for Masses and Springs using the new procedure in:
https://github.com/phetsims/tasks/issues/947#issuecomment-408920853

[2018-08-02 18:23] arouinfar commented on #288
@KatieWoe @lmulhall-phet please see #310 before taking the screenshots for MAS.

[2018-08-03 19:17] Denz1994 commented on #308
After further investigation, there are a few things to consider. The contents of the panel is already being scaled because the panel is too small for the default sizes of the contents (hSlider in particular). If we change the maxWidth of the panel it will change the scale of its contents automatically because the contents will have more space to expand to its default size.

There is a potential wo

[2018-08-03 20:32] Denz1994 commented on #308
In a discussion with @ariel-phet. Check for input from @jonathanolson. If the panels require that they are enlarged, then create a general issue where appropriate. Otherwise, work towards refactoring a workaround that allows for more pixel space.

[2018-08-07 19:06] Denz1994 commented on #308
In a meeting with @ariel-phet and @jonathanolson it was confirmed that the contents of the panel need to fit within the panel, by either making the contents smaller or making the panel a bit larger. @ariel-phet thought it was best to let the panels expand a bit more. @arouinfar can you check if master is good for review?

[2018-08-07 23:04] arouinfar commented on #308
It's looking pretty good to me! Thanks @Denz1994.

[2018-08-08 15:09] Denz1994 commented on #293
The panels no longer have maxWidths and instead the contents have adjusted maxWidths. The toolboxes on each screen have widths that match the optionsPanels respectively. Could you review master @arouinfar to make sure that there is adequate spacing for i18n?

[2018-08-08 17:35] arouinfar commented on #293
Looks good to me, thanks @Denz1994!

[2018-08-08 17:35] #293 closed, assigned to arouinfar

[2018-08-08 22:08] KatieWoe commented on #289
This no longer seems to be fixed in rc.3 For phetsims/QA/issues/165
Edit: Sorry, wrong issue

[2018-08-08 22:08] #289 closed, assigned to Denz1994

[2018-08-08 22:09] KatieWoe commented on #290
This no longer seems to be fixed in rc.3 For phetsims/QA/issues/165

[2018-08-08 22:13] KatieWoe commented on #305
This issue seems to be appearing in RC 3 phetsims/QA/issues/165
![rc3](https://user-images.githubusercontent.com/41024075/43867305-02f32c78-9b26-11e8-8fe4-945994243e98.PNG)

[2018-08-08 22:46] KatieWoe commented on #305
Taking a second look at this, I'm no longer sure.  It looks better than it used to, but still seems a bit misaligned to me.

[2018-08-08 23:04] Denz1994 commented on #290
I reverted some logic pushed from https://github.com/phetsims/masses-and-springs/commit/98951d448882c664d8a37849c69a382307ea4c65. Can you check master to assure this is fixed @KatieWoe?

[2018-08-08 23:13] arouinfar commented on #305
@KatieWoe I think the Displacement and Natural Length icons are grouped as a single icon, which is then centered with respect to the checkbox.

![image](https://user-images.githubusercontent.com/8419308/43869060-defa0eba-9b2d-11e8-8e7d-86a539d54a55.png)

It looks a bit misaligned for `?stringTest=long` but less so for `?stringTest=double` (which is more realistic for a sim translation).
![image](h

[2018-08-08 23:23] Denz1994 commented on #305
The icons are grouped with their labels respectively. The slight difference here is one, we have a bracket included in the label group so it isn't as uniform as the other three labels. Two, the arrow isn't the same size as the line symbols in height so there is a bit more variability in the symbol size as well.

I am going to agree with closing this issue on the basis that the symbols for the brac

[2018-08-08 23:23] #305 closed, assigned to Denz1994

[2018-08-08 23:25] Denz1994 commented on #310
Becuase #288 is assigned to the QA team I'm going to assign this issue to @KatieWoe and @lmulhall-phet so it isn't left hanging in this repo.

[2018-08-09 01:26] phet-steele commented on #290
@Denz1994 @arouinfar I'm going to be super nit-picky about the current logic, and you can choose to ignore me. The logic prevents the Planet X value from being applied when switching from Planet X -> Custom by using the user's previously stored gravity value. For example, if my gravity was 10.7, then Planet X -> Custom, my gravity would be back to 10.7. However, if my stored value is equal to Plan

[2018-08-09 01:35] phet-steele commented on #290
If it were me, I would have gravity switch back to the stored value without giving diddly-squat if that value was the same as Planet X. Pretty much just what @arouinfar said in https://github.com/phetsims/masses-and-springs/issues/290#issuecomment-398569154.

...regardless of the previous value of g.

[2018-08-09 02:21] phet-steele opened #311 "Gravity readout rounding errors when using tweakers"
This happens for Earth, the Moon, and Jupiter, but I will use Jupiter as the example.

Since the internal value of Jupiter's gravity (24.79 m/s<sup>2</sup>) has more sig figs than the sim's readout (the sim shows that value of gravity to be 24.8 m/s<sup>2</sup>), we have rounding errors.

1. On Lab, set the gravity to that of Jupiter (using the combo box).
2. Press either tweaker arrow for this sl

[2018-08-09 02:25] phet-steele commented on #311
An additional note, this breaks right away from the Lab screen startup (while Earth is selected). I don't know why I made you all go through that extra step of switching to Jupiter first. I guess I am just sadistic or something.

[2018-08-09 14:58] KatieWoe commented on #290
Problem seems fixed in master.  I do agree with Steele that the specific value of 14.2 doesn't need to be avoided if it was entered into custom then Planet X was selected and then custom was.  It's probably an unlikely case, but it might be worth looking at.

[2018-08-09 15:14] arouinfar commented on #290
@phet-steele great catch. This behavior is never desired:

I completely agree with this sentiment:

@Denz1994 if the previous custom value happens to be 14.2, then going Planet X > Custom should not move the thumb.

[2018-08-09 15:19] Denz1994 commented on #311
@arouinfar Would you be opposed to having 2 sig figs present in the readout and a the tweakers changing the value by .01? This is also done in pendulum lab. Maybe to prevent these rounding errors.

[2018-08-09 15:39] arouinfar commented on #311
@phet-steele, I hope that I may someday have your attention to detail. :)

@Denz1994, from https://github.com/phetsims/masses-and-springs/blob/master/js/common/MassesAndSpringsConstants.js#L55, all of the non-Planet X benchmarks have two decimal places.

    MOON_GRAVITY: 1.62,
    JUPITER_GRAVITY: 24.79,
    PLANET_X: 14.2,

We have two options. Either increase the view to two decimal places, or

[2018-08-09 15:45] arouinfar commented on #311
I will open the relevant issue in the PL repo. While PL was published not too long ago, it started off as a early port. At that time, the design team did not explicitly think about precision, as we do now.

[2018-08-09 15:47] KatieWoe opened #312 "Performance Issues and Lag in Microsoft Edge in Intro Screen"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Edge 42.17134.1.0
**Problem description:**
For phetsims/QA/issues/165
There is significant lag when dragging objects when the sim is run in Edge.  (Edit: This problems seems to be only or mostly in the Intro screen.)
**Steps to reproduce:**
1. Open the sim in edge
2. Choose the Intro screen
3. Drag one of the masses of the

[2018-08-09 17:03] Denz1994 commented on #311
This issue is present for any value of gravity that is adjusted with the tweaker. I'll investigate more, but regardless of the gravity, pressing the tweaker once doesn't change the readout.

[2018-08-09 18:50] KatieWoe commented on #312
This problem seems to be much better or nonexistent in iframe on edge.

[2018-08-09 22:49] KatieWoe opened #313 "Strings can become too small when doubled and have room to be larger"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome
**Problem description:**
For phetsims/QA/issues/165
When stringTest=double a few of the strings in the right panel become almost unreadably small, though they still have room to be longer to their right.
**Steps to reproduce:**
1. Set stringTest=double
2. Go to the Lab screen
3. Notice how the Mass Equilibrium string

[2018-08-09 22:59] arouinfar commented on #313
@Denz1994 it seems like the maxWidths could be a hair bigger. I think we could allow strings to expand until they reach the red line.

![image](https://user-images.githubusercontent.com/8419308/43930174-3e52d08c-9bf5-11e8-896f-5dd6f317c4db.png)

However, if this change requires significant refactoring or other complications, I don't think it's necessarily worth it, as Mass Equilibrium is more of a

[2018-08-10 15:24] KatieWoe commented on #313
Similar Issue with max width.  The label "Mass" seems to become very small sooner than it needs to as well.  This is the mass you see in the box that lets you adjust the mass of one of the weights.
![double](https://user-images.githubusercontent.com/41024075/43966459-2cb0b364-9c7f-11e8-8183-7cb461674e77.PNG)

[2018-08-10 15:28] arouinfar commented on #313
@Denz1994 it really looks like the maxWidth of "Mass" ended up smaller than when I reviewed it. Unfortunately, it was just in master, so I can't go back and compare.

[2018-08-10 15:40] KatieWoe opened #314 "Spring thickness in second scene of intro screen initially appears incorrect"
**Test device:**
Dell and hp Laptop
**Operating System:**
Windows 10 and 7
**Browser:**
Chrome and Firefox
**Problem description:**
For phetsims/QA/issues/165
When using the second scene in the intro screen that allows students to compare different lengths of spring, the initial thickness of the left spring is incorrect.  It has the spring constant set as the constant parameter, but shows a thickn

[2018-08-10 17:18] arouinfar commented on #313
@KatieWoe it's possible that we cannot make "Mass" any larger due to the limitations of numberControl. In https://github.com/phetsims/masses-and-springs/issues/296#issuecomment-400339027 @Denz1994 commented that:

@Denz1994 does this also apply to "Mass"?

[2018-08-10 17:50] arouinfar opened #315 "Increase Toolbox Height by 10%"
For https://github.com/phetsims/QA/issues/165

This was originally requested in https://github.com/phetsims/masses-and-springs/issues/292. However, comparing the toolbox heights in rc.1 and rc.3 reveals that the increased height was somehow reverted.

![image](https://user-images.githubusercontent.com/8419308/43973056-942090a0-9c93-11e8-8471-2d8da9299797.png)

[2018-08-10 17:52] Denz1994 commented on #315
Just checking, do you mean width @arouinfar?

[2018-08-10 17:56] arouinfar commented on #315
Thanks for checking @Denz1994. I do indeed mean height. I understand why the toolboxes have different widths, and I'm not requesting a change there, but in https://github.com/phetsims/masses-and-springs/commit/946225874bc35375046647c83f55fc6834e1c34d you increased the height, which was post-rc.1. Not sure why rc.3 has the same height as rc.1.

[2018-08-10 17:59] Denz1994 commented on #315
I understand now. Thanks for the clarity.

[2018-08-10 18:17] arouinfar commented on #266
For https://github.com/phetsims/QA/issues/165

@Denz1994 on Energy and Lab, the springNode is no longer centered in the gray block. The attachment point is shifted a bit to the right. (Intro and Vectors alignment still looks fine.)

![screen shot 2018-08-10 at 12 05 02 pm](https://user-images.githubusercontent.com/8419308/43973779-ab460cb8-9c95-11e8-9c4b-5ca69bcc12a6.png)

![screen shot 2018-08-10

[2018-08-13 14:36] Denz1994 commented on #266
Minor tweak to centering. This came about when we changed the size of the hSlider panels. Can you check in master @arouinfar?

[2018-08-13 15:10] Denz1994 commented on #315
The heights of the toolboxes have been adjusted @arouinfar can you check master for a comparison?

[2018-08-13 15:40] arouinfar commented on #315
@Denz1994 rc.3 and master appear to have the same vertical height. (Horizontal offset is there so it's easier to see that they have the same height.)

![image](https://user-images.githubusercontent.com/8419308/44042168-d4360c24-9edc-11e8-8fe2-eb94070f62c2.png)

[2018-08-13 15:41] Denz1994 commented on #315
Sorry I didn't push my stashed commit.

[2018-08-13 15:43] arouinfar commented on #266
Looks great!

[2018-08-13 15:43] #266 closed, assigned to arouinfar

[2018-08-13 15:46] arouinfar commented on #315
Toolbox height is looking good now. Can you also increase the size of the rulerNode and timerNode icons by 10% so that they have the same relative padding as before?

[2018-08-13 15:46] Denz1994 commented on #315
Ahh good point. Work in progress.

[2018-08-13 16:22] Denz1994 commented on #315
What do you think about master now @arouinfar?

[2018-08-13 17:03] Denz1994 commented on #314
Great find @KatieWoe. Can you check the bug is fixed in master? Also @arouinfar can you check to make sure this is the behavior we want. I do think it is an improvement.

[2018-08-13 17:32] arouinfar commented on #315
👍

[2018-08-13 17:32] #315 closed, assigned to arouinfar

[2018-08-13 17:46] arouinfar commented on #314
Nice one @KatieWoe! @Denz1994 master is behaving pretty nicely to me, but I'll let @KatieWoe verify that the original issues has been addressed.

[2018-08-13 18:10] Denz1994 commented on #313
@arouinfar The above [#296 (comment)](https://github.com/phetsims/masses-and-springs/issues/296#issuecomment-400339027) remains true for the massValueControl. This was the original intent behind switching the title to the left and the icon to its right. I didn't make any changes to the string font for "mass".

RC.1 has "mass" at a different position, but the size is slightly larger. Do you want th

[2018-08-13 18:15] Denz1994 commented on #313
I'm going to second @arouinfar [comment above](https://github.com/phetsims/masses-and-springs/issues/313#issuecomment-411924423). I am running into more refactors than I would like, specifically due to the bracket being in the checkboxGroup.

[2018-08-13 18:47] arouinfar opened #316 "Inconsistent gray used for energy graph & panels"
All credit goes to @phet-steele for spotting this one.

While not technically found during https://github.com/phetsims/QA/issues/165, I'm going to go ahead and tag it because it's a change that needs to be made before the next RC.

The Energy Graph and Panel/Toolbox on the right are using different shades of gray. According to Illustrator's color dropper, the Energy Graph is `#EEEEEE` and the othe

[2018-08-13 18:54] arouinfar commented on #313
@Denz1994 I would not like to change the order of "Mass" and the icon. It sounds like the same maxWidth issues are applying here, so I'd rather punt than worry about a custom numberControl. If I understood correctly, please feel free to close @Denz1994.

[2018-08-13 18:57] Denz1994 commented on #316
Wow, what a catch @phet-steele. @arouinfar Can you check master? The color does make the screen feel a bit lighter.

[2018-08-13 18:58] Denz1994 commented on #313
Okay makes sense thanks for the feedback.

[2018-08-13 18:58] #313 closed, assigned to Denz1994

[2018-08-13 19:02] arouinfar commented on #316
Love it!

[2018-08-13 19:02] #316 closed, assigned to arouinfar

[2018-08-13 20:36] KatieWoe commented on #314
Looks good in master.

[2018-08-13 20:43] arouinfar commented on #314
Great! I'll go ahead and close.

[2018-08-13 23:01] arouinfar commented on #310
@oliver-phet do you know what the new process is? If so, can you let @KatieWoe know? @amanda-phet's currently out, and https://github.com/phetsims/tasks/issues/947 doesn't yet include the new procedure.

[2018-08-13 23:03] oliver-phet commented on #310
Yes, I'll link up with @KatieWoe tomorrow. We don't have a specific resolution picked out for the new procedure, but we can take this one at the current 2048x1344.

[2018-08-14 16:28] Denz1994 commented on #311
I made some refactors that fixed the tweaker button bug in my comment directly above. The gravity values for each planet were also changed. Can you review master @arouinfar?

[2018-08-14 19:58] Denz1994 commented on #312
@KatieWoe Could you check to see if this is still prevalent in the intro screen after recent changes? Or if this is an issue on RC. 2 or RC. 1? I'm having a hard time narrowing down the cause.

[2018-08-14 20:09] KatieWoe commented on #312
Just tested it in master and it is still present.  It also seems to have been present in RC 1 and RC 2, though slightly less severe there.

[2018-08-14 20:38] arouinfar commented on #290
Looks good @Denz1994!

[2018-08-14 20:38] #290 closed, assigned to arouinfar

[2018-08-14 20:39] arouinfar commented on #311
Everything looks good in master. Thanks @Denz1994.

[2018-08-14 20:39] #311 closed, assigned to arouinfar

[2018-08-14 21:26] Denz1994 commented on #312
From @jonathanolson on slack:

@KatieWoe Could we try the first suggestion from @jonathanolson to make window size smaller like the iframe and test performance in that case?

[2018-08-14 21:34] KatieWoe commented on #312
@Denz1994 Just tested the RC 3 in the smaller window.  It worked very well.

[2018-08-14 23:00] arouinfar commented on #286
@CWilson4960 the script is ready for recording. For the first draft, rc.3 will be fine.
https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-rc.3/phet/masses-and-springs_en_phet.html

[2018-08-15 15:21] Denz1994 commented on #312
I updated the boundsMethod to 'unstroked'. @KatieWoe Can you try on master again to test if performance changed?

Note: I just ordered a recharger for a low-end machine I can use for testing in the future. Sorry for the constant kickback on this issue.

[2018-08-15 15:56] KatieWoe commented on #312
No problem.  Just tested it on master.  It still seems to be present.  It might be a bit better, but not much if at all.

[2018-08-15 15:58] KatieWoe commented on #312
![perform](https://user-images.githubusercontent.com/41024075/44158373-bd270600-a071-11e8-8679-36a428fe25f5.gif)

[2018-08-15 20:28] ariel-phet commented on #312
I looked at this behavior, although the UX is a bit unideal, edge is not a high use platform, and not worth the time to currently fix. Oscillating behavior seems fine, so this is really just a lag in dragging issue and not pedagogically damaging or such.

Marking as deferred. This sim will surely be revisited at some point and we can look more deeply at that time, or perhaps newer versions of Edge

[2018-08-19 16:43] Denz1994 opened #317 "CheckBox sizes are unequal"
These boxes should be corrected to the same size:
![image](https://user-images.githubusercontent.com/13894380/44310978-79076e80-a3ad-11e8-98b4-27ad1ede1b0c.png)

[2018-08-19 16:51] Denz1994 opened #318 "OptionsPanel and toolboxPanel are not the same width"
Following the red line on the left side of the image shows that the panels are not the same width.

![image](https://user-images.githubusercontent.com/13894380/44311028-2a0e0900-a3ae-11e8-9e33-466c35b79565.png)

[2018-08-19 16:53] #318 closed, assigned to Denz1994

[2018-08-19 18:37] #317 closed, assigned to Denz1994

[2018-08-21 17:09] Denz1994 opened #319 "TimerSecondProperty reentry error"
During fuzzMouse, this error pops up when the timer is played and stopped.
`Assertion failed: reentry detected, value=0.072, oldValue=0.07200000000000001`

If ran multiple times the values change but seem to be off by a rounding error.

[2018-08-21 18:56] samreid commented on #253
Does VerticalCompositeBarNode.js need to be reviewed?  Are there any other common code components developed for this simulation that warrant review (aside from LineArrowShape which was noted in https://github.com/phetsims/masses-and-springs/issues/261 )?

[2018-08-21 20:33] jonathanolson commented on #253
The formatting for VerticalCompositeBarNode seems quite off (I haven't pulled since this morning), and it has some things to clean up (`{String}` instead of `{string}`, commented-out code, etc.

@Denz1994, can you make a pass at cleaning this up, and note any other files moved to common code?

[2018-08-21 20:37] samreid commented on #253
I committed a cursory reformat this afternoon, but it would still benefit from @Denz1994's attention.

[2018-08-22 14:53] Denz1994 commented on #319
The same issue arises when changing gravityProperty.

This was fixed by commits fb141cad4980a187abbd1169606811ab57eb98e7 and fd148501df2d9291968c5b56a957c4315ca4a8d0

[2018-08-22 14:53] #319 closed, assigned to Denz1994

[2018-08-22 14:55] Denz1994 opened #320 "StringTest=xss failure in CT"
`masses-and-springs : xss-fuzz : load
Uncaught Error: Assertion failed
Error: Assertion failed
    at window.assertions.assertFunction (https://bayes.colorado.edu/continuous-testing/snapshot-1534945252694/assert/js/assert.js:22:13)
    at new BracketNode (https://bayes.colorado.edu/continuous-testing/snapshot-1534945252694/scenery-phet/js/BracketNode.js?bust=1534948906906:50:15)
    at new Indicat

[2018-08-22 14:58] #320 closed, assigned to Denz1994

[2018-08-22 17:22] Denz1994 commented on #253
VerticalCompositeBarNode.js, VerticalBarChart.js, and VerticalBarNode.js are not being used anymore in sim code. BarNode.js and BarChartNode.js are being used instead, these components may be worth reviewing.

[2018-08-22 21:58] samreid commented on #253
Why were they not needed for Masses and Springs?  Can they be deleted?

[2018-08-23 05:00] phet-steele opened #321 "TypeError: Cannot read property 'width' of undefined"
Upon sim load:

[code]

Only in 1.0.0-rc.4, not in master. Seen on Win 10 Chrome.

<details>
<summary>Dependencies</summary>

{
  "comment": "# masses-and-springs 1.0.0-rc.4 Wed Aug 22 2018 12:28:19 GMT-0600 (MDT)",
  "assert": {
    "sha": "928741cfc8fe804334d5b35292140314511f8678",
    "branch": "HEAD"
  },
  "axon": {
    "sha": "37d5839cf25343fec5811fefd088eeb510b8950b",
    "branch": "HEAD"

[2018-08-23 05:31] phet-steele commented on #253
While this issue is getting attention, I noticed two "has" written in a comment at https://github.com/phetsims/masses-and-springs/blob/master/js/common/view/EnergyGraphNode.js#L106-L107

[code]

[2018-08-23 05:48] phet-steele opened #322 "Why are there some values of thermal energy that cannot be cleared?"
I'm seeing this limit in `EnergyGraphNode.js` that decides whether the user can clear thermal energy:

[code]

I can't find documentation about why the limit of `0.001` was chosen. This coupled with the ability to zoom in makes the sim look buggy; thermal energy is shown but cannot be cleared:

![image](https://user-images.githubusercontent.com/5863899/44506731-f3154d00-a664-11e8-84a7-132a16a07071

[2018-08-23 12:19] samreid commented on #253
Our code has 56 occurrences of `' the the '`, I'll add to the bad-text.js lint rule to forbid that.

[2018-08-23 12:48] Denz1994 commented on #253
After refactors with JO, BarNode.js was made a lot more flexible. It handles monitoring multiple properties without needing a separate API. Additionally, BarChartNode.js has some api improvements regarding using options to add barNodes, update method for barNodes, and the TODOs in VerticalBarChart where handled when building BarChartNode.

It is safe to delete VerticalCompositeBarNode.js, Vertical

[2018-08-23 13:30] Denz1994 commented on #322
I don't think there was a specific reason for this. This may have been introduced prior to the refactors to the energyGraphNode. I don't see a good reason to keep it around and it has been replaced with the above suggestion by @phet-steele. Leaving to @arouinfar to close if all seems good.

[2018-08-23 14:39] samreid commented on #253
I removed the files you mentioned.

[2018-08-23 15:26] #253 closed, assigned to jonathanolson, Denz1994

[2018-08-23 16:52] arouinfar commented on #322
I see no reason to have such a limit. Good find @phet-steele.

[2018-08-23 16:52] #322 closed, assigned to arouinfar

[2018-08-24 22:59] Denz1994 commented on #321
This was fixed with some help by @jonathanolson and @samreid. The issue was due to a bad set of shas being mixed into the dependencies of the rc.4. The approach involved reverting some SUN dependencies 7b8858ebcd5e159a3947c0b3f4d03d16720b1f91, a correction to Sherpa preloads (ad696015207cc1126fd019f35f3d1a0c44b881ac) and recommiting corrections applied to this rc version (35251180aca96ec5279be59c3

[2018-08-24 22:59] #321 closed, assigned to Denz1994

[2018-08-27 19:03] phet-steele opened #323 "Toolbox width should match the panel above it"
@Denz1994 @arouinfar generally we like to keep stacked panels at the same width, so if one scales, both will scale. Currently the options panel scales for i18n, but the toolbox underneath stays the same (or at least does not scale to the same width):

![image](https://user-images.githubusercontent.com/5863899/44679844-4850b600-a9f9-11e8-88ae-cf56287b88e3.png)

The toolbox should always match the w

[2018-08-28 19:54] KatieWoe opened #324 "Legends of Learning: spring unpauses in a different location"
**Devices**
Dell and HP laptop
**OS**
Win 10 and Win 7
**Browser**
Chrome and Firefox
**Problem Description**
For phetsims/QA/issues/180
When pausing the sim with LoL when the spring is moving, the spring will unpause in a new location.  This causes a "jump."
**Steps to Reproduce**
1. Enter the sim into the Legends of Learning harness
2. Go to any of the screens
3. If damping is non-zero on the sc

[2018-08-28 21:59] KatieWoe commented on #324
Update: It seems that opening the "message logs" when paused further changes the state of the sim.
Screenshot:
![jumpmenu](https://user-images.githubusercontent.com/41024075/44753424-43643300-aadb-11e8-8cf6-f52d85fcd77c.gif)

[2018-08-28 22:32] KatieWoe opened #325 "Gravity title and Planet X question shift up or down when stringTest=long"
**Test device:**
Dell laptop
**Operating System:**
Windows 8 and 10
**Browser:**
Firefox and Chrome
**Problem description:**
For phetsims/QA/issues/180
When stringTest=long the string that represents the Planet X question shifts up noticeably on the first three screens.  On the lab screen the title instead shifts down.  In either case the two strings are noticeably closer than they should be.  I'm

[2018-08-28 22:40] arouinfar commented on #325
@Denz1994 another way to describe this issue is that changing the value in the comboBox shifts the Gravity title on the Lab screen. Compare Planet X (left) to the Moon (right). When the numberControl is replaced with the string, the Gravity title is shifted down. This doesn't happen on other screens, where there's just an HSlider to control gravity.

![image](https://user-images.githubusercontent.

[2018-08-28 23:03] KatieWoe commented on #325
I've also noticed that the gravity title seems to shift from right to left when different options are selected.  This may be easier to see with stringTest=X

[2018-08-29 17:38] phet-steele commented on #324
@KatieWoe your first comment is a trade-off that was discussed in https://github.com/phetsims/pendulum-lab/issues/187, and as long as the physics of the simulation remains intact, is fine.

However your second comment is concerning, and may warrant its own issue (in joist) for maybe @jonathanolson and/or @samreid to look into.

[2018-08-30 18:05] CWilson4960 commented on #165
This issue is occurring again in rc.4
phetsims/QA/issues/180
related to phetsims/masses-and-springs/issues/169 also reopening.
Steps to reproduce:
1. Load sim
2. Go to 2nd screen
3. Check slo mo
4. Hang 100g mass
5. Stop Mass
6. Check net force and acceleration (occurs with just acceleration too)
![mas vectors thingy](https://user-images.githubusercontent.com/31217926/44870191-bc36cc80-ac4c-11e8-9

[2018-08-30 18:06] CWilson4960 commented on #169
This issue is occurring again in rc.4
phetsims/QA/issues/180
related to phetsims/masses-and-springs/issues/165 also reopening.
Steps to reproduce:
Load sim
Go to 2nd screen
Check slo mo (option, just exactly what I did)
Hang 100g mass
Stop Mass
Check net force and acceleration (occurs with just acceleration too)
Macbook Pro 2012, OS Sierra 10.12.6
Chrome Version 68.0.3440.106 (Official Build) (64-

[2018-08-31 18:41] KatieWoe opened #327 "CT: Failure to grunt and Failure to lint everything"
[code]
[code]

[2018-08-31 18:44] #327 closed, assigned to Denz1994

[2018-09-04 01:36] samreid opened #328 "Investigate re-entrant Properties"
In https://github.com/phetsims/axon/issues/179 we identified Property instances that are re-entrant.  In this context, re-entrant means a change in value of the Property causes (via listeners) another change in the value of the same Property instance.

Re-entry can occur for at least 3 different reasons, which are document here: https://github.com/phetsims/axon/issues/179#issuecomment-414717687

[

[2018-09-06 02:27] phet-steele opened #329 "Spring Constant 1 value should be saved during a scene switch"
The values for Spring Constant 1, Spring Constant 2, and Spring Length 1 (all on the Intro screen) are slightly inconsistent. The slider values for Spring Constant 2 and Spring Length 1 are saved when switching between same/adjustable length scenes. However, the slider value for Spring Constant 1 is reset every time the scene is switched. @arouinfar and I would like this to be consistent, where Sp

[2018-09-07 15:06] Denz1994 commented on #329
Good catch, I've applied the above change to both master and rc 1.0 branch. Can you confirm this is fixed @phet-steele?

[2018-09-07 17:04] Denz1994 commented on #324
Based on @phet-steele's comment above and since an issue has been logged in joist for the second point made. Is there anything left to do with this issue? It seems like any further work should be handled in https://github.com/phetsims/joist/issues/515.

[2018-09-07 17:26] #324 closed, assigned to samreid, KatieWoe

[2018-09-07 18:16] arouinfar commented on #329
@phet-steele said over Slack:

Things are also looking good to me. Thanks @Denz1994!

[2018-09-07 18:16] #329 closed, assigned to phet-steele

[2018-09-11 16:33] Denz1994 commented on #169
Can you test on RC 1.0 branch for this fix @KatieWoe?

[2018-09-11 16:34] Denz1994 commented on #165
Can you test on RC 1.0 branch for this fix @KatieWoe?

[2018-09-11 19:53] KatieWoe commented on #165
@Denz1994
 I'm unclear as to what you mean.  Do you mean this link: https://phet-dev.colorado.edu/html/masses-and-springs/1.0.0-rc.4/

[2018-09-11 19:53] KatieWoe commented on #169
@Denz1994 I'm unclear as to what you mean.  Do you mean this link: https://phet-dev.colorado.edu/html/masses-and-springs/1.0.0-rc.4/

[2018-09-11 20:16] KatieWoe commented on #169
This still occurs on master and in the link above. @Denz1994
![update](https://user-images.githubusercontent.com/41024075/45385215-660f4500-b5cd-11e8-8c8a-c4adce4c7793.PNG)

[2018-09-11 20:16] KatieWoe commented on #165
This still occurs on master and in the link above. @Denz1994
![update](https://user-images.githubusercontent.com/41024075/45385215-660f4500-b5cd-11e8-8c8a-c4adce4c7793.PNG)

[2018-09-11 20:26] phet-steele commented on #165
@KatieWoe he means to not check on master, but to check on the 1.0 branch. The link you provided is the 1.0 branch, but it is not up-to-date. 1.0.0-rc.4 is a snapshot in time and its code will never change. To test on the most up-to-date 1.0, @Denz1994 either needs to make an rc.5 for QA, or you need to have the phet code base checkedout on your local computer, checkout the branch, and serve the s

[2018-09-11 20:43] phet-steele commented on #169
https://github.com/phetsims/masses-and-springs/issues/165#issuecomment-420413699

[2018-09-11 21:19] arouinfar commented on #286
The primer is produced and ready for sim deploy.

[2018-09-11 21:20] arouinfar commented on #286
Since the primer appears in the master checklist, I'll go ahead and close this issue.

[2018-09-11 21:20] #286 closed, assigned to arouinfar

[2018-09-11 22:19] KatieWoe opened #330 "Version on master 1.1.0-dev.0"
For https://github.com/phetsims/QA/issues/184
I've been checking the versions on master on sims for the above issue.  There seems to some confusion surrounding this here.  Specifically, I am seeing .rc versions listed on master.  My understanding was that only .dev version should be listed here.  I believe that the version should say 1.1.0-dev.0.  If you have questions, I suggest talking with @jon

[2018-09-12 16:57] pixelzoom commented on #330
Looking at commit history for package.json master, it looks like RC deploys have been done out of master, in a very odd order.  Here are the past several commits, in reverse chronological order:

Bumping version to 1.0.0-rc.3 denz1994 8/21/18, 10:15 AM
Bumping version to 1.0.0-rc.4 denz1994 8/21/18, 10:14 AM
Bumping version to 1.0.0-rc.3 denz1994 8/21/18, 8:21 AM
Bumping version to 1.0.0-rc.4 denz

[2018-09-12 16:59] pixelzoom commented on #330
And back to the issue at hand... Because there is a 1.0 release branch, master's package.json should have been set to `"version": "1.1.0-dev.0"`.   I can see that that was done in a commit on 6/8/18, but was then changed to 1.0.0-rc.1 just 2 minutes later.

[2018-09-12 20:06] jonathanolson commented on #330
Nope, I think merges happened between master and the release branch that won't happen in the future. That's how things were a bit weird, and it caused some troubles with rc.3 and rc.4 which is why there were a lot of commits for those.

Basically, the package.json in master should be fixed up, and things should be good for the future.

[2018-09-12 20:11] pixelzoom commented on #330
I fixed package.json. @Denz1994 please verify.

[2018-09-12 20:12] Denz1994 commented on #330
Looks good @pixelzoom Thank you.

[2018-09-12 20:14] #330 closed, assigned to Denz1994

[2018-09-13 14:46] KatieWoe opened #331 "CT: Cannot read property 'removeInputListener' of null"
[code]

[2018-09-13 18:26] oliver-phet commented on #310
Unassigning myself for now, let me know if there are questions about the procedures, but I think the QA team has this under control.

[2018-09-14 21:25] Denz1994 commented on #325
GravityAndDampingControlNode.js has been refactored to use NumberControl.createLayoutFunction4() and https://phet-dev.colorado.edu/html/masses-and-springs/1.0.0-rc.5/phet/masses-and-springs_en_phet.html can be used to test this fix @KatieWoe.

Notes on implementation:
The refactor removed a significant portion of alignments from all node children. Also, the visibility is handled internally within

[2018-09-14 21:28] Denz1994 commented on #323
The right-hand panels have been refactored to use an alignGroup for formatting the width of the panels and position. The committed fixes can be tested in this link https://phet-dev.colorado.edu/html/masses-and-springs/1.0.0-rc.5/phet/masses-and-springs_en_phet.html @KatieWoe.

If the bug is fixed please assign to me so I can cherry pick commits into master.

[2018-09-14 21:29] Denz1994 commented on #325
If everything looks good. Please assign to me so I can cherry pick the commits into master.

[2018-09-14 21:29] KatieWoe commented on #325
I think it looks much better.  @arouinfar final decision

[2018-09-14 21:30] Denz1994 commented on #169
The above fixes have been applied to https://phet-dev.colorado.edu/html/masses-and-springs/1.0.0-rc.5/phet/masses-and-springs_en_phet.html. Could you use this link to test @KatieWoe?

If the fixes above solve the bug, I will cherry-pick the commits into master.

[2018-09-14 21:30] KatieWoe commented on #323
Looks fixed to me.

[2018-09-14 21:32] Denz1994 commented on #165
Thanks for the clarification @phet-steele. I applied the changes above to https://phet-dev.colorado.edu/html/masses-and-springs/1.0.0-rc.5/phet/masses-and-springs_en_phet.html @KatieWoe . If the issue is fixed, please reassign to me so I can cherry-pick the relevant changes into master.

[2018-09-14 21:36] KatieWoe commented on #169
Looks good to me.

[2018-09-14 21:38] KatieWoe commented on #165
Looks good

[2018-09-14 22:21] arouinfar commented on #325
Looks good, thanks @Denz1994!

[2018-09-17 15:13] Denz1994 commented on #325
Refactors have been cherry-picked into master. Closing.

[2018-09-17 15:13] #325 closed, assigned to Denz1994

[2018-09-17 15:25] Denz1994 commented on #323
Refactors to ToolboxPanel.js applied to master #323. Closing.

[2018-09-17 15:25] #323 closed, assigned to Denz1994

[2018-09-17 15:31] Denz1994 commented on #169
Fixes cherry-picked into master #169 #165. Closing.

[2018-09-17 15:31] #169 closed, assigned to Denz1994

[2018-09-17 15:31] Denz1994 commented on #165
Fixes cherry-picked into master #169 #165. Closing.

[2018-09-17 15:31] #165 closed, assigned to Denz1994

[2018-09-17 18:19] KatieWoe commented on #314
This issue is back in  https://github.com/phetsims/QA/issues/188#event-1850450915

[2018-09-17 18:39] Denz1994 commented on #314
Please confirm this is corrected in [1.0.0-rc.7](https://phet-dev.colorado.edu/html/masses-and-springs/1.0.0-rc.7/phet/masses-and-springs_en_phet.html) @KatieWoe and if so, you can close this issue.

[2018-09-17 18:42] phet-steele commented on #314
The fix is now in 1.0 and looks fine!

[2018-09-17 18:43] KatieWoe commented on #314
@Denz1994 it looks fixed in that link but now https://github.com/phetsims/masses-and-springs/issues/329 looks unfixed there.

[2018-09-17 18:46] phet-steele commented on #314
Oh wow I've never seen two opposite commits on the same line where each fixes its own bug but causes another. https://github.com/phetsims/masses-and-springs/commit/d4d6abd49d75943acd6f9ac245b8cba6b46db776 and https://github.com/phetsims/masses-and-springs/commit/aaba5ccc287639c876f9bedb43611ceb775bbc50

[2018-09-17 18:47] Denz1994 commented on #314
Okay, this is probably why it wasn't included in rc.6. Working on a new solution. Thanks for the notice @KatieWoe.

[2018-09-17 20:09] Denz1994 commented on #314
@KatieWoe Can you review [1.0.0-rc.8](https://phet-dev.colorado.edu/html/masses-and-springs/1.0.0-rc.8/phet/masses-and-springs_en_phet.html) for an applied fix for this issue and #329? If fixed, I'll cherry-pick the changes into master.

[2018-09-17 20:11] KatieWoe commented on #314
@Denz1994 looks good.

[2018-09-17 20:18] Denz1994 commented on #314
Fixes cherry-picked into master. Closing.

[2018-09-17 20:18] #314 closed, assigned to Denz1994, KatieWoe

[2018-09-18 03:08] phet-steele commented on #263
QA has a handful of new members. @Denz1994 @KatieWoe please update this sim's QA credits in 1.0 and master, before publication.

[2018-09-18 10:25] Denz1994 commented on #263
@KatieWoe Who are the new members that should be added?

[2018-09-18 14:31] KatieWoe commented on #263
Add Kathryn Woessner, Megan Lai, Jacob Romero, and Ethan Johnson
@megan-phet @JRomero0613 @EthanWJohnson Let me know if this is how you want your names written.  Remove your assignment when you've approved.

[2018-09-18 15:52] Denz1994 commented on #263
Credits have been updated in both branches. The last person to approve their name please close this issue.

[2018-09-18 16:01] KatieWoe commented on #263
@Denz1994 I think @CWilson4960 also contributed.

[2018-09-18 16:11] arouinfar commented on #263
That's correct @KatieWoe. @Denz1994 please add Clara Wilson to the QA credits.

[2018-09-18 17:52] Denz1994 commented on #263
Clara Wilson has been added. Is there anyone else? If not, I will close.

[2018-09-18 18:13] Denz1994 commented on #288
@KatieWoe @lmulhall-phet  Have screenshots been taken with the new procedure in #310? @jonathanolson mentioned that they should be added to both branches in the assets directory.

[2018-09-18 18:22] KatieWoe commented on #263
@Denz1994 I think that's it.

[2018-09-18 18:23] megan-phet commented on #263
Looks good Katie

[2018-09-18 18:24] KatieWoe commented on #288
@Denz1994 Not yet.  I wasn't sure when they were usually taken, so I've been waiting for a go ahead.  Are we ready for them?

[2018-09-18 18:26] phet-steele commented on #331
@Denz1994 are we ignoring this for 1.0?

[2018-09-18 18:42] arouinfar commented on #288
@KatieWoe we generally take screenshots during the RC process, after last-minute pixel polishing wraps up. For MAS, that was probably around rc.3 or so, so please go ahead and take/commit the screenshots so we can move forward with publication.

[2018-09-18 19:41] KatieWoe commented on #288
@arouinfar @Denz1994 just added to master branch and 1.0 branch.  Take a look and let me know if they work.

[2018-09-18 19:47] arouinfar commented on #288
The screenshots look good to me @KatieWoe!

@Denz1994 to clarify, did you mean both the master and 1.0 branches? There's also the accessibleScreenView branch -- not sure if the screenshots need to be checked in there as well.

[2018-09-18 19:49] Denz1994 commented on #288
They should also be checked into the accessibleScreenView branch as well. Thanks for the clarification @arouinfar.

[2018-09-18 19:50] arouinfar commented on #288
@KatieWoe can you add the screenshots to the accessibleScreenView branch?

[2018-09-18 20:09] KatieWoe commented on #288
@arouinfar Done

[2018-09-18 20:10] arouinfar commented on #288
:+1:

[2018-09-18 20:10] #288 closed, assigned to nobody

[2018-09-18 20:27] arouinfar commented on #310
Screenshots have been committed, so we can close this issue.

[2018-09-18 20:27] #310 closed, assigned to KatieWoe

[2018-09-18 20:28] arouinfar commented on #328
@Denz1994 is this something that needs to be done for 1.0?

[2018-09-18 20:36] arouinfar commented on #263
@Denz1994 should the QA additions in https://github.com/phetsims/masses-and-springs/commit/fc6432191d7f5191fafa8c4a5c52a323b2a1ae73 and https://github.com/phetsims/masses-and-springs/commit/584f0553ca1ec5945454536a3d8a7e0fd14b0920 also apply to the `accessibleScreenView` branch? Otherwise, I think we can go ahead and close this issue.

[2018-09-18 21:32] Denz1994 commented on #263
Based on this comment, https://github.com/phetsims/masses-and-springs/issues/326#issue-355277448 I don't think credits need to be updated, since the branch is to be deleted.

[2018-09-18 21:32] #263 closed, assigned to Denz1994, KatieWoe

[2018-09-19 16:11] Denz1994 commented on #331
@ariel-phet mentioned via slack 1.0 these issues (along with #328) shouldn't stop publication. We can revisit for a maintenance release if stability/usability are an issue.

[2018-09-19 16:14] Denz1994 commented on #328
Along with @ariel-phet input from https://github.com/phetsims/masses-and-springs/issues/331#issuecomment-422863140, @jonathanolson mentioned via slack long-term code hygiene improvements or non-functional improvements would generally be master-only. Being that the stable shas for the 1.0 branch isn't compatible with these new additions to AXON, this won't be added to 1.0.

[2018-09-19 16:41] Denz1994 commented on #263
The latest[ rc version](https://phet-dev.colorado.edu/html/masses-and-springs/1.0.0-rc.9/phet/masses-and-springs_all_phet.html) includes the updated credits.

[2018-09-20 19:54] arouinfar commented on #308
@Denz1994 this is occurring in 1.0. @DianaTavares showed me this:
![image](https://user-images.githubusercontent.com/8419308/45843352-9d23db80-bcdc-11e8-93c1-ec2e5e184c56.png)