[2018-09-25 23:32] arouinfar commented on #1
@Denz1994 @ariel-phet the remaining items are yours.

[2018-10-01 22:15] ariel-phet opened #332 "Retake screenshots"
It appears there are some kerning issues associated currently with Win 10 chrome, the current screenshots should be retaken on a platform not exhibiting the kerning issues. Although the screenshots on the website or such are fine currently, if we wanted to use these assets on a poster or such the kerning issues would become noticeable.

[2018-10-03 15:21] Denz1994 opened #333 "Mass layer inconsistent between two and one spring views"
During development of Masses and Springs: Basics, I noticed that the mass layering of the TwoSpringView keeps the smaller masses to the front of the view. This is not true for the OneSpringView and is more noticeable if more masses are being added to the screen view.

Two Spring View Layering:
![image](https://user-images.githubusercontent.com/13894380/46420537-45cf3380-c6fe-11e8-94b8-35f0084667c0

[2018-10-03 15:51] #333 closed, assigned to Denz1994

[2018-10-05 23:39] KatieWoe commented on #332
This should be done.  See https://github.com/phetsims/masses-and-springs/issues/288 for commits. @ariel-phet

[2018-10-08 23:55] ariel-phet commented on #332
Excellent, closing

[2018-10-08 23:55] #332 closed, assigned to ariel-phet

[2018-10-09 20:29] KatieWoe opened #334 "Ghost image of slider"
Sorry that this wasn't caught before.  It seems to appear on one Win 8.1 device but I'm pretty sure it never showed up on the other Win 8.1 device.  This was found by @oliver-phet.  I doesn't seem to appear on Pendulum Lab.
Device
Socrates (Testing during RC was done on Schrodinger)
OS
Win 8
Browser
Internet Explorer
Problem Description
When dragging the sliders either with touch screen or mouse t

[2018-10-09 20:35] phet-steele commented on #334
No worries @KatieWoe, pretty sure this is just https://github.com/phetsims/scenery/issues/80 (and https://github.com/phetsims/plinko-probability/issues/93) so it's been around for a long time.

[2018-10-09 20:47] KatieWoe commented on #334
Update.  It seems to be on IE 11 regardless of platform (it does seem to show up on Schrodinger, as well as Win 7 and Win 10 devices).  It somehow slipped past during RC

[2018-10-09 21:04] arouinfar commented on #334
@KatieWoe I'm not too worried about this creating devastating consequences for users. Looks like we've known about this sort of issue for years now (thanks for the links @phet-steele), but it's a bit elusive.

Perhaps we should mark this as deferred and add a link to this issue in https://github.com/phetsims/scenery/issues/80, as was done for Pinko? I'll leave that decision up to @ariel-phet.

[2018-10-10 19:38] arouinfar opened #335 "Inconsistent Z-ordering of Equilibrium Position/Mass Equilibrium"
Discovered during https://github.com/phetsims/masses-and-springs-basics/issues/17

In general, the reference lines should be layered above the springNode, but behind the mass.

On Intro, the Equilibrium Position is behind the springNode.
![image](https://user-images.githubusercontent.com/8419308/46760933-8136a880-cc90-11e8-9322-b48d6037ed64.png)

On Vectors, the Mass Equilibrium is behind the spri

[2018-10-10 20:49] Denz1994 commented on #335
The order of adding view components to the scene graph has changed. Please review @arouinfar for the above correction.

All lines should be behind the mass and in front of the spring.

[2018-10-10 20:57] arouinfar commented on #335
Everything's looking good @Denz1994.

[2018-10-16 23:21] ariel-phet commented on #334
Hmm, this does not occur in published pendulum lab and it also is only occurring with the sliders in the "main" control panel. For instance the Spring Constant or mass sliders do not show this issue in IE11.

@Denz1994 especially since we are planning on publishing a basics version of this sim it would be good to address this issue if possible.

[2018-10-22 15:17] KatieWoe commented on #331
Adding some assertion failed instances to this issue. @Denz1994
[code]

[2018-10-24 15:37] KatieWoe opened #336 "CT: Assertion failed"
[code]

[2018-10-24 15:38] KatieWoe commented on #336
Also appears in Masses and Springs Basics @Denz1994

[2018-10-24 17:53] Denz1994 commented on #334
This is part of a long-standing browser related issue in https://github.com/phetsims/scenery/issues/80. A summary of this issue is due to the incorrect bound allocation for updated paintable regions by SVG there are paintable regions that are left uncleared by the browser.

The temporary workaround resembles @samreid comment here https://github.com/phetsims/scenery/issues/80#issuecomment-31693300.

[2018-10-24 18:10] KatieWoe commented on #334
@Denz1994 just checked a built version from master.  Still seems to be appearing, and unfortunately it still seems to be happening.
![still](https://user-images.githubusercontent.com/41024075/47451732-bdd0cc80-d785-11e8-89b7-003ce7c435d4.gif)

[2018-10-26 14:40] KatieWoe opened #337 "CT: perennial lint everything"
[code]

[2018-10-26 14:40] KatieWoe commented on #337
[code]

[2018-10-26 16:12] Denz1994 commented on #337
This should have been fixed by https://github.com/phetsims/masses-and-springs/commit/a66358418c86019f9ccbdebebd486da1a60040da

[2018-10-26 16:12] #337 closed, assigned to Denz1994

[2018-11-01 06:24] jonathanolson commented on #334
I'm curious what happens if we test a custom build (https://phet-dev.colorado.edu/olsonjb/masses-and-springs_en_phet.html) with the "transparent" part semi-transparent red. Does it fix things? Does it smear red across the slider?

[2018-11-05 15:43] KatieWoe commented on #334
@jonathanolson @Denz1994 Here's a look with that build.
![redslide](https://user-images.githubusercontent.com/41024075/48008419-e1c1d580-e0d6-11e8-8f7a-6f23e95db125.gif)

[2018-11-06 19:04] Denz1994 commented on #328
The properties that require reentrant values were failing initially failing fuzz testing. After confirming that the reentrant option was required, some documentation has been added to explain the usage. This isn't posing any more ct issues and fuzzing is working well. Closing

[2018-11-06 19:04] #328 closed, assigned to Denz1994

[2018-11-06 19:04] Denz1994 commented on #308
The spring options panel on the second scene of the intro screen, described above, has been refactored to use alignBox/alignGroup. This change has a similar structure to the general sim option panels found on the right side of each screen. Assigning to @arouinfar to review.

[2018-11-06 21:37] KatieWoe opened #338 "CT: failure to grunt"
[code]

[2018-11-06 21:38] KatieWoe commented on #338
[code]

[2018-11-06 21:39] arouinfar commented on #308
@Denz1994 master is looking good now
![image](https://user-images.githubusercontent.com/8419308/48095347-c2f43980-e1d1-11e8-9d36-743b318573c1.png)

[2018-11-06 22:00] Denz1994 commented on #338
CT has cleared up after these commits 5c09e70366f190134b29a9f1e16b17e579fecb42 and 7821fa60b96d3837ca69c0686ee1a327aa83a44a

[2018-11-06 22:00] #338 closed, assigned to Denz1994

[2018-11-09 19:03] Denz1994 commented on #336
@jonathanolson made a commit (https://github.com/phetsims/scenery/commit/aafb5874381b6f99695660eec6a33cce74f8df38) that handles interrupted callbacks. I have only been able to trace this assert failure to the TimerNode in MAS and MASB.

I'll fuzz for an hour to see if this is cleared up. This is also relevant to https://github.com/phetsims/masses-and-springs/issues/331 and https://github.com/phets

[2018-11-12 14:16] Denz1994 commented on #336
After fuzzing for 2hrs and 30min in two different browser instances, there weren't any errors. CT has also cleared up and isn't throwing any related errors. Closing this issue and relevant issues (#331 and phetsims/masses-and-springs-basics#32).

[2018-11-12 14:16] #336 closed, assigned to Denz1994

[2018-11-12 14:17] Denz1994 commented on #331
Closing as described in https://github.com/phetsims/masses-and-springs/issues/336.

[2018-11-12 14:17] #331 closed, assigned to Denz1994

[2018-11-12 16:12] Denz1994 commented on #334
I'm going to tag this issue in the next QA dev test for Masses-And-Springs-Basics because it may be present in that sim aswell. This issue still isn't fixed.

[2018-11-13 05:59] jonathanolson commented on #334
For the workaround, it may be good to collaborate on something that would hopefully trigger a repaint of the full area of the slider when it changes. Thoughts @Denz1994?

[2018-11-14 00:17] ariel-phet commented on #1
Everything checked, closing

[2018-11-14 00:17] #1 closed, assigned to ariel-phet, Denz1994

[2018-11-16 19:51] KatieWoe opened #339 "Memory Test"
Due to https://github.com/phetsims/atomic-interactions/issues/72 @ariel-phet asked for a quick memory leak test on 1 or 2 recently published sims.  These are the results.  I don't see anything concerning, but am still less familiar with what to expect.  After examining feel free to close or ask me for more testing.
Start: 48.8 MB
1 min: 55.2
2 min: 56.1
3 min: 56.8
4 min: 57.2
5 min: 57.7
6 min: 5

[2018-11-21 06:02] samreid opened #340 "Range mismatch in Spring"
During https://github.com/phetsims/dot/issues/79 I noticed this code:

[code]

Is it intentional that the springConstant specifies a different Range than `SPRING_CONSTANT_RANGE`?  If not, we should use `range: MassesAndSpringsConstants.SPRING_CONSTANT_RANGE`.  If so, the discrepancy should be documented.

[2018-12-04 18:05] Denz1994 commented on #340
I have updated the range. Using the constant value is will suffice. Good catch. Closing.

[2018-12-04 18:06] #340 closed, assigned to Denz1994

[2018-12-04 21:24] Denz1994 commented on #339
Memory Test: MacBook Pro, Chrome Version 70.0.3538.110

Each time stamp was a snapshot taken after the documented time interval.

Start: 51.1 MB
5 min: 58.5
10 min: 59.7
15 min: 60.5
20 min: 61.0
30 min: 61.0
45 min: 61.4
60 min: 61.3
60 min: 61.5

Total run time = 4hrs 5 min

I don't see anything alarming as well. Closing.

[2018-12-04 21:24] #339 closed, assigned to Denz1994

[2018-12-04 21:27] Denz1994 commented on #334
After discussing with @jonathanolson via slack, I'll postpone work on this bug until the next dev test. This wasn't caught in the last [dev test](https://github.com/phetsims/QA/issues/220#issuecomment-442931065) and the above-implemented solution seems to be a hit or miss. Waiting until the next dev test for verification.

[2018-12-07 15:26] samreid opened #341 "Value is out of range"
From continuous testing:

masses-and-springs : fuzz : require.js : run
Uncaught Error: Assertion failed: value is out of range, value=30, range=[3,12]
Error: Assertion failed: value is out of range, value=30, range=[3,12]
    at window.assertions.assertFunction (https://bayes.colorado.edu/continuous-testing/snapshot-1544164929412/assert/js/assert.js:22:13)
    at NumberProperty.assertNumberPropert

[2018-12-07 15:33] samreid commented on #341
This problem can be triggered by this set of actions:

1. Screen 1
2. Choose the "short + long" spring system
3. Change constant parameter to thickness
4. Reduce spring length 1.

@Denz1994 please let me know if you would like assistance looking into this.

[2018-12-10 14:59] #341 closed, assigned to Denz1994

[2018-12-17 15:47] KatieWoe opened #342 "CT: value is out of range"
[code]

https://github.com/phetsims/masses-and-springs/issues/341

[2018-12-19 22:04] KatieWoe commented on #334
I don't see it on MASB dev.15.  @Denz1994 do you want me to check MAS master?

[2018-12-20 15:34] Denz1994 commented on #334
Yes, it would be good to check MAS master @KatieWoe.

[2018-12-20 15:41] KatieWoe commented on #334
Still occurs on MAS master @Denz1994

[2018-12-21 20:20] ghost commented on #334
Looks good in MASB 1.0.0-dev.15.

[2019-01-04 15:00] Denz1994 commented on #342
Steps to reproduce:
1. Start sim on the intro screen
2. Slide Spring Constant 1 slider to the max value
3. Switch scenes to adjustable spring scene
4. Select Thickness as the constant parameter
5. Slide the Spring Length slider to the minimum (or one tick above minimum)
6. Switch to the fixed spring scene
7. Switch back to adjustable length scene

On step 7 the console should output an error messa

[2019-01-04 15:00] #342 closed, assigned to Denz1994

[2019-01-09 00:13] pixelzoom opened #343 "non-standard energy colors"
Noted while investigating phetsims/scenery-phet#455.

In `MAS/EnergyGraphNode`:

[code]

First of all, these constants have totally inappropriate names. They are apparently colors for KE, PE (gravity), PE (elastic), and Thermal Energy respectively.  These names should be changed.

Total Energy color looks like it's not specified, defaulting to 'black'. That should be changed.

Second, they should

[2019-01-09 00:37] arouinfar commented on #343
Thanks @pixelzoom. All PhET sims should use the same colors for the various energies, but `PhetColorScheme` is a bit antiquated. Changes to `PhetColorScheme` will be discussed in https://github.com/phetsims/scenery-phet/issues/456, so marking this as `status:on-hold` until that issue is resolved.

[2019-01-10 19:15] arouinfar commented on #343
@Denz1994, in https://github.com/phetsims/scenery-phet/issues/456 the colors used for energy were updated in PhetColorScheme.js. MAS should be using PhetColorScheme for gravitational PE, elastic PE, KE, and thermal energy.

The total energy is represented by a stacked bar comprised of the other energies, rather than a solid bar such as the one in ESPB. I do not believe the total energy needs to us

[2019-01-11 16:35] Denz1994 commented on #343
PhetColorScheme is now being used for Colors for the Energy Graph view. Closing.

[2019-01-11 16:35] #343 closed, assigned to Denz1994

[2019-02-05 18:20] pixelzoom opened #344 "undesirable '{0}' replacement"
Noted in https://github.com/phetsims/scenery-phet/issues/446.

NumberControl requires either '{{value}}' or '{0}' in the string pattern. The former is preferred, the latter is deprecated in new code.

These 2 strings are used with NumberControl:

[code]

If '{{value}}' had been used in those strings, these replacements would be unnecessary:

[code]

Since these strings have been released and trans

[2019-02-06 19:24] Denz1994 commented on #344
I made the refactor as suggested above and testing with several `stringTest={TEST}` query parameters. This looks good and should be cherry-picked into the RC branch of MASB. Labeling as such and referencing in [RC Test issue](https://github.com/phetsims/QA/issues/281).

[2019-02-27 16:17] Denz1994 commented on #344
@KatieWoe Reported that stringTest=long seems to be giving an issue on startup.

Exception: Error: Assertion failed: missing value placeholder in options.valuePattern: 12345678901234567890123456789012345678901234567890 at window.assertions.assertFunction (http://phettest.colorado.edu/assert/js/assert.js:22:13) at new NumberDisplay (http://phettest.colorado.edu/scenery-phet/js/NumberDisplay.js?bust

[2019-02-27 16:32] pixelzoom commented on #344
In https://github.com/phetsims/sun/issues/472#issuecomment-461165542, it was suggested that we add an assertion to NumberDisplay and NumberSpinner, to verify that the required `{{value}}` placeholder is in `options.formatPattern`.   Unfortunately, `stringTest` is rather dumb when it comes to string replacement, and blows away the entire string.   So that's why this assertion is failing only with `

[2019-02-27 16:42] pixelzoom commented on #344
Fixed in the above commits. Tested masses-and-springs with and without `stringTest`.

@Denz1994 please verify.

[2019-02-27 21:41] Denz1994 commented on #344
Thanks for looking into this. String test is looking good.

[2019-03-13 16:14] Denz1994 commented on #344
These changes have been applied to the `masses-and-springs-basics-1.0` branch in the `masses-and-springs` repo. A branch in`Sun` (`masses-and-springs-basics-1.0) was created to also handle these changes. MASB 1.0 sim dependencies have been updated.

Closing this issue

[2019-03-13 16:14] #344 closed, assigned to nobody

[2019-03-20 18:01] oliver-phet opened #345 "User suggestion: ability to zoom"

[2019-03-20 18:07] Denz1994 commented on #345
@oliver-phet Was there any info on platform or browser?

[2019-03-20 18:19] Denz1994 commented on #345
Just brainstorming: My initial thought for a workaround is to take a snapshot of the screen using the phet menu in the nav bar and zoom from the snapshot.

It seems like right-clicking to zoom as described isn't a phet specific function that was intended for the sim, but more of convenience based on the browser in use. Alternatively, a 3rd party plugin for a magnification would work.

Toggling the

[2019-03-20 20:40] oliver-phet commented on #345
More info from user:

The original sim was Flash and I verified that it allows native zoom in the browser.

[2019-03-21 15:41] ariel-phet commented on #345
@oliver-phet there are plans in the future to allow "pinch to zoom" and the like for accessiblity, but this will be a project wide feature. We should not try to make some sort of workaround for this sim. Also let the user know about Hooke's law if they are wanting a sim with help verifying Hooke's Law, since that sim has a quantitative readout of displacement.

[2019-03-21 15:55] oliver-phet commented on #345
Email to user sent.

[2019-03-21 15:55] #345 closed, assigned to oliver-phet

[2019-03-28 18:40] pixelzoom opened #346 "use Checkbox enabledProperty"
This TODO appears in VectorVisibilityControlNode:

[code]

In https://github.com/phetsims/sun/issues/488, Checkbox option `contentAppearanceStrategy` went away, because it was unused.  In any case, the above code looks like it should be using `enabledProperty`, since the listener in Checkbox looks like:

[code]

So I'm going to change the above TODO comment to:

[code]

[2019-04-02 14:54] Denz1994 commented on #346
Addressed TODO following the pattern below:

`VerticalCheckboxGroup.checkboxOptions.enableProperty= new BooleanProperty()`

The affected spring and gravity forces checkboxes are working as intended after some fuzzing. Closing.

[2019-04-02 14:54] #346 closed, assigned to Denz1994

[2019-04-09 12:27] Denz1994 opened #347 "User Request: Graphing tool for plotting oscillation"
A user at NCTM 2019 (San Diego, CA) suggested a graphing tool to plot the y position of an oscillating spring plotted over an interval of time.

Consider the `MemberPotentialChart.js`in Neuron as an example, excluding the playback feature. This isn't the first time this has been suggested according to @ariel-phet so this issue has been created to track the progress of this feature.

[2019-04-09 12:51] Denz1994 commented on #347
Alternatively, we could use our Griddle library to handle this.

[2019-04-09 13:34] Denz1994 commented on #347
I did some rough experimenting with XY plotting for about 30 minutes. I was able to plot time (30 sec) along the x-axis and y position(m) along the y-axis using using `XYPlot` and  `XYDataSeries`. This was just proof of concept so pardon the visuals.
![image](https://user-images.githubusercontent.com/13894380/55804335-12ed6a00-5aaa-11e9-8287-7c4e90322267.png)

[code]
[code]

[2019-04-09 19:25] arouinfar commented on #347
Nice @Denz1994! Glad to see you got the graph hooked up.

I'll tag for design meeting. Perhaps this is something @kathy-phet, @ariel-phet, and I can review in an upcoming brainstorming meeting.

[2019-04-16 22:56] KatieWoe opened #348 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Arrows at end of sliders could have larger pointer areas

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/410

[2019-04-17 16:24] arouinfar commented on #348
@Denz1994 asymmetric dilation of NumberControl tweakers was added in https://github.com/phetsims/scenery-phet/issues/489. Here's a mockup of updated touch areas in green.
![image](https://user-images.githubusercontent.com/8419308/56304186-d00b4200-60fa-11e9-9492-b0d37615969e.png)

[2019-04-30 17:58] Denz1994 commented on #348
I've updated the arrow's at the end of the NumberControls to have dilated touch areas. @arouinfar Please check master for MAS and MASB for the changes.

[2019-05-01 02:46] arouinfar commented on #348
Thanks @Denz1994. The Gravity tweakers are looking good, but I think the Mass tweakers are still feeling a bit small. Can you add some extra vertical padding to the Mass tweakers?

![image](https://user-images.githubusercontent.com/8419308/57004045-a6392d00-6b88-11e9-825e-66a355f1af84.png)

I know it looks a bit exaggerated, but the Mass NumberControl is somewhat on the smaller side, so the exagge

[2019-05-07 13:54] Denz1994 commented on #348
This makes sense. The touch areas have been expanded along the Y-axis. Please review master @arouinfar?

[2019-05-07 15:55] arouinfar commented on #348
Looks great, thanks @Denz1994!

[2019-05-07 15:55] #348 closed, assigned to arouinfar

[2019-06-27 22:42] zepumph opened #349 "Enumeration should not be a member variable"
From https://github.com/phetsims/phet-core/issues/61#issuecomment-505661338,

@Denz1994, would you mind converting these Enumeration usages to more idiomatic phet usages. Likely they should be constants. @samreid made a recommendation in the above link. See also

https://github.com/phetsims/phet-info/commit/a48a28780db3bdae04742e7780cba3c658b7d339
https://github.com/phetsims/phet-core/blob/master/

[2019-08-14 16:00] Denz1994 commented on #349
Enumerations should be fixed along with their usages in the intro screen. I added the Enumerations to MAS Constants.js. I'll watch CT for bug reports and close if CT is clean.

[2019-12-10 20:04] zepumph opened #350 "Remove leading space from string"
From https://github.com/phetsims/chipper/issues/821, this merge to master added the following assertion that is being triggered here:

[code]

After talking with @Denz1994, it sounds good to fix. I'll commit.

[2019-12-10 20:04] #350 closed, assigned to nobody

[2019-12-17 00:53] ariel-phet commented on #347
Received another request for this feature today on twitter - might be worth considering after BAM

[2019-12-17 16:24] samreid opened #351 "Duplicated code in OneSpringScreenView and TwoSpringScreenView"
While working on https://github.com/phetsims/gas-properties/issues/170, I noticed around 20 lines of duplicated code between OneSpringScreenView and TwoSpringScreenView.

![image](https://user-images.githubusercontent.com/679486/71014244-df3df780-20ae-11ea-9b28-a0e079ab8d3c.png)

Assigning to the responsible dev.  Also note, I have some commits coming to these files shortly for https://github.com/

[2019-12-17 19:09] samreid opened #352 "Use Stopwatch and StopwatchNode"
From https://github.com/phetsims/gas-properties/issues/170: DraggableTimerNode.js and a few properties in MassesAndSpringsModel should be replaced with Stopwatch and StopwatchNode.  I'll implement this shortly, and assign to the responsible dev for review.

[2019-12-17 22:58] samreid commented on #352
Before the commit, there was code like:

[code]

But it was unclear to me what the rounding was doing for the stopwatch node.  This should be discussed and/or addressed before this issue can be closed.

[2019-12-22 06:04] samreid opened #353 "Should the pointer area for the StopwatchNode be dilated?"
From https://github.com/phetsims/gas-properties/issues/170#issuecomment-566840809

The StopwatchNode in Masses and Springs has a dilated pointer area, like so:

![image](https://user-images.githubusercontent.com/679486/71317905-efa2f900-2445-11ea-8f95-b6139667c7ed.png)

@pixelzoom said:

I'll add the pointer area as it was before, but wanted to double check with a designer why this pointer area is

[2019-12-31 19:13] arouinfar commented on #353
I see no reason why the StopwatchNode needs dilated touch areas, as its footprint is already quite large. @samreid I would agree the common component should not have any dilation by default.

@Denz1994 can you remove the dilation in MAS & MASB?

[2020-01-01 13:36] Denz1994 commented on #353
![image](https://user-images.githubusercontent.com/13894380/71641945-99b62880-2c71-11ea-8c3d-54d837c2ae55.png)

The dilated touch areas for the stopwatch has been removed from both MAS and MASB. If this looks good @arouinfar, I think we can close this issue.

[2020-01-01 15:01] Denz1994 commented on #351
The code duplication essentially adjusts relevant view components when the visible bounds of the sim change.`SpringScreenView.adjustViewComponents( )` was added to remove the code duplication in the two spring views. I'll let CT run a cycle before closing.

[2020-01-01 16:03] #351 closed, assigned to Denz1994

[2020-01-02 22:38] arouinfar commented on #353
@Denz1994 looks good in master. Since this hasn't been deployed, I'll leave this open with `status:fixed-awaiting-deploy`.

[2020-01-03 15:55] KatieWoe opened #354 "CT value is not a member of Enumeration [object Object]"
Also in MASB
[code]

[2020-01-04 00:13] zepumph commented on #349
This looks to be incomplete, after poking around in https://github.com/phetsims/masses-and-springs/issues/354, I see that in `MassesAndSpringsModel` there are still two that have different Enumeration instances based on which model instance it is. Can these be moved to the constants too?

I bet this will solve that CT issue.

[2020-01-04 00:13] zepumph commented on #354
I think this will be solved by finishing up https://github.com/phetsims/masses-and-springs/issues/349

[2020-01-08 14:54] Denz1994 commented on #349
Correct @zepumph thanks for catching that. I pushed a fix to move those two cases to the constants file. This has the sim working again while testing locally, but I'll monitor CT.

Note: https://github.com/phetsims/masses-and-springs/commit/9461544b8b74f845c985a1a48697d58c029e8175 has a corrected commit message at the bottom of the commit.

[2020-01-08 14:57] Denz1994 commented on #354
There were still two `Enumeration.byKeys()` cases that weren't moved to constants. Commit https://github.com/phetsims/masses-and-springs/commit/9461544b8b74f845c985a1a48697d58c029e8175 should have fixed this. I'll wait for another CT cycle before closing.

[2020-01-09 15:52] Denz1994 commented on #349
This seems to have been fixed after adjusting those last two `Enumeration` instances. Closing.

[2020-01-09 15:52] #349 closed, assigned to Denz1994

[2020-01-24 22:53] samreid commented on #352
@Denz1994 can you please take a look?

[2020-02-19 20:48] Denz1994 commented on #354
CT isn't reporting this issue any longer. Closing.

[2020-02-19 20:48] #354 closed, assigned to Denz1994

[2020-02-20 02:33] Denz1994 opened #355 "Enumerations should be isolated in their own files"
As suggested by @pixelzoom enumerations should be moved into their own .js file and not in the constants file for this repo. There are 4 cases of enumerations in the sim.

I'm opening this issue to track any relevant changes.

[2020-02-20 02:36] Denz1994 commented on #355
The above changes have been made and the fields in the constants file have been removed.

[2020-02-20 02:36] #355 closed, assigned to Denz1994

[2020-02-20 15:45] KatieWoe opened #356 "CT enumeration is assigned a value but never used"
In basics as well:
[code]

[2020-02-20 16:24] Denz1994 commented on #356
I just needed to remove an unused import statement. The commit above should have fixed this.

[2020-02-20 16:24] #356 closed, assigned to Denz1994

[2020-03-11 17:02] Denz1994 commented on #352
This was introduced as a fix to https://github.com/phetsims/masses-and-springs/issues/156. However it was found (a few months later) that there was still an erroneous edge case where the centisecond readout would overlap the bounds of the timer. This was later corrected in https://github.com/phetsims/scenery-phet/commit/5701df8ee2e173ced810002476e5345f6f938733, but the code responsible for the rou

[2020-03-11 17:15] #352 closed, assigned to Denz1994

[2020-04-02 02:26] DianaTavares opened #357 "Radio buttons change position in Spanish translation"
This radio buttons and strings move position in the Spanish version of the sim:

![image](https://user-images.githubusercontent.com/26031501/78204234-54fb8280-7456-11ea-8ade-71acdabab85e.png)

This panel appears when this option is selected:
![image](https://user-images.githubusercontent.com/26031501/78204515-f387e380-7456-11ea-8d11-97fb54b04aec.png)

[2020-04-23 01:27] Denz1994 commented on #335
This issue has been lingering for a while but seems to have been fixed. This isn't awaiting any deploys since publication and we aren't doing any qa cycles any time soon. Closing this issue.

[2020-04-23 01:27] #335 closed, assigned to nobody

[2020-04-23 01:30] Denz1994 commented on #334
This seems to have been fixed on the 1.0.0 branch. Lowering the priority of this issue until this repo requires another QA cycle.

[2020-04-23 02:10] Denz1994 commented on #357
It looks like this is as extreme on Master, but is apparent on the 1.0 branch. I adjusted these radio buttons to both use the same options. It is looking better after these changes but we'll have to revisit on the next deploy or QA cycle.

[2020-04-23 02:20] Denz1994 opened #358 "String formatting is not handled for non-English locales"
Found while working on https://github.com/phetsims/masses-and-springs/issues/357

On Master, selecting a locale via the query parameter doesn't update the formatting used for the `SpringConstantsPanel`.  See the image below.

![image](https://user-images.githubusercontent.com/13894380/80051930-709ef980-84e7-11ea-9cce-fd73e57510d8.png)

[2020-05-01 17:32] arouinfar opened #359 "Energy Legend: make all text black and add color swatches"
In https://github.com/phetsims/griddle/issues/49, `labelColor` was added to bar graphs, and the is default black. The primary motivation for this change was the contrast ratio between the colored text and the white background was poor (see values in https://github.com/phetsims/griddle/issues/49#issuecomment-622483092).

Another place that the colored text appears is in the Energy Legend:
![image](

[2020-05-06 20:17] Denz1994 commented on #359
The color swatches have been added to the legend. Can @arouinfar review this change on master?

[2020-05-06 20:21] arouinfar commented on #359
Looks great, thanks @Denz1994!

[2020-06-03 16:26] oliver-phet opened #360 "User suggestion: spring mass"

[2020-06-04 14:36] pixelzoom opened #361 "model is reset twice when ResetAllButton is pressed"
In base class SpringScreenView:

[code]

In subclass OneSpringScreenView:

[code]

[2020-07-30 03:33] Denz1994 commented on #361
Good catch. I removed the `reset()` in the subclass. To check for any other duplicate calls, I tested by logging a message in `reset()` and making sure there aren't any duplicate messages. Closing this one.

[2020-07-30 03:33] #361 closed, assigned to Denz1994

[2020-08-27 15:19] oliver-phet opened #362 "User suggestion: horizontal orientation"

[2020-09-10 22:53] pixelzoom opened #363 "Class constructor OscillatingSpringNode cannot be invoked without 'new'"
For https://github.com/phetsims/tasks/issues/1044, I converted scenery-phet's `ParametricSpringNode` to ES6 `class`. Here's the patch:

<details>
<summary>ParametricSpringNode</summary>

[code]

</details>

I also converted masses-and-springs `OscillatingSpringNode` to ES6 `class`. It's currently the only subclass of `OscillatingSpringNode`. Here's the patch:

<details>
<summary> OscillatingSpring

[2020-09-11 15:01] jonathanolson commented on #363
I'd like to try getting MutableOptionsNode working with class, it looks like we now have the browser support requirements to do so.

[2020-09-20 03:46] samreid commented on #363
It's likely that the commit in https://github.com/phetsims/sun/issues/627 will help here.  Is the next step for this issue for @pixelzoom to reapply the patches and see if the fix helped?

[2020-09-20 14:13] pixelzoom commented on #363
Sorry, I can't be involved in this issue.  I just ran into it while working on phetsims/tasks#1044.  Up to @Denz1994 and @jonathanolson to decide how to proceed.

[2020-09-29 03:32] arouinfar opened #364 "Use PhetColorScheme.VELOCITY and PhetColorScheme.ACCELERATION"
In https://github.com/phetsims/scenery-phet/issues/621 we modernized the color used for velocity and acceleration.

MAS(B) currently use a similar color for the velocity and acceleration fills, but should be updated to use PhetColorScheme.
https://github.com/phetsims/masses-and-springs/blob/master/js/common/view/MassesAndSpringsColorProfile.js#L51-L55

Assigning to the responsible dev, @Denz1994.

[2020-09-29 05:18] pixelzoom opened #365 "buggy EnergyGraphNode"
Problems noted while converting EnergyGraphNode to ES6 class for https://github.com/phetsims/tasks/issues/1044.

(1) EnergyGraphNode should be named EnergyGraphAccordionBox.  It's a subclass of AccordionBox, and PhET convention is name these with "AccordionBox" suffix.  This also is important for consistent PhET-iO element naming.

(1) Reset All does not restore the expanded state of the accordion

[2020-10-06 19:51] Denz1994 commented on #365
Thanks for creating the issue. I've refactored EnergyGraphNode to EnergyGraphAccordionBox and adjusted its use cases. Also, reset is now calling AccordionBox.reset(). Assigning to @pixelzoom for review and closing if this looks good.

[2020-10-06 20:03] Denz1994 commented on #364
The color profile has been updated for the velocity and acceleration arrows. This should also affect MASB. Closing this issue.

[2020-10-07 03:40] arouinfar commented on #364
Since this change hasn't been deployed, I'm reopening and marking as `status:fixed-awaiting-deploy`.

[2020-10-12 18:03] pixelzoom commented on #365
Changes look good, and verified that it's fixed in master.

Since this is a problem in the published version, do you want to do a maintenance release?  If not, feel free to close.

[2020-10-12 22:34] pixelzoom opened #366 "OneScreenSpringView calls MassesAndSpringsModel.reset"
Noted while converting ScreenView subclasses to ES6 `class` for https://github.com/phetsims/tasks/issues/1044.

In OneScreenSpringView.js:

[code]

Why are you calling `MassesAndSpringsModel` reset?   This looks like a bug, and I commented it out during the ES6 class conversion.

[2020-10-12 22:40] pixelzoom opened #367 "LabScreenView step duplicates implementation of super type"
Noted while converting ScreenView subclasses to ES6 class for phetsims/tasks#1044.

class LabScreenView extends OneSpringScreenView, and defines `step` like this:

[code]

OneSpringScreenView already defines `step`, like this:

[code]

So instead of calling `super.step`, LabScreenView is duplicating the implementation of  OneSpringScreenView `step`.  This is a future bug waiting to happen.

The im

[2020-10-14 20:22] Denz1994 commented on #367
Agreed, we should just be calling the reset method in the parent class. That change has been made above. I checked the other screen views in MAS and MASB and didn't find another duplication like this. Reassigning back over the @pixelzoom to close.

[2020-10-14 20:37] pixelzoom commented on #367
👍🏻 closing

[2020-10-14 20:37] #367 closed, assigned to pixelzoom

[2020-10-27 13:38] Denz1994 commented on #366
Right. We actually don't need the`OneSpringView.reset()` because the resetAllButton listener is handling this same functionality. Closing this one.

[2020-10-27 13:38] #366 closed, assigned to Denz1994

[2020-11-23 19:23] Denz1994 commented on #365
Closing this issue, as it isn't problematic to the user's experience when operating the sim.

[2020-11-23 19:23] #365 closed, assigned to Denz1994

[2021-02-11 22:41] arouinfar commented on #362
We received another request for a horizontal system:

I am currently teaching an 8th grade curriculum that uses some math concepts when teaching the "Physics" material.  I was wondering if you would consider creating a HORIZONTAL "masses and springs" simulation with SHM but horizontal. It would need to include those great energy graphs. Removing gravitational PE would make it more accessible to yo

[2021-02-25 21:03] pixelzoom opened #368 "Convert to one of the ZoomButtonGroup subclasses"
From https://github.com/phetsims/scenery-phet/issues/652, this sim is a candidate for converting to one of the ZoomButtonGroup subclasses.  The Buttons screen of the scenery-phet demo shows the 2 subclasses (screenshot below), PlusMinusZoomButtonGroup on the left, MagnifyingGlassZoomButtonGroup.  If you don't want to change the look of the sim, use MagnifyingGlassZoomButtonGroup.  If you think the

[2021-02-27 18:54] PaulTorry opened #369 "User Suggestion: Displacement arrow from mass equilibrium"
To make the connection to the defining equation of SHM a=-w^2x it would be helpful to have an arrow showing displacement from equilibrium.

One option would be to have the displacement option separate to natural length and if either Natural Length or Mass equilibrium is ticked it shows the relevant arrow (or both?)

[2021-03-04 16:26] oliver-phet opened #370 "User reported issue: spring constant values"
The model indicates a range of 3N/m to 12N/m values for the spring constants. But a user wrote in suggesting these default values are far from "normal" spring values:

[2021-03-05 16:39] arouinfar commented on #370
[Carolina's](https://www.carolina.com/physical-science-energy-and-motion/hookes-law-spring-set/751952.pr) spring set ranges 25-250 N/m and [Fisher Scientific's](https://www.fishersci.com/shop/products/hooke-s-law-spring-set-2-in/S27662) set is ~10-200 N/m. The springs used in the sim are not comparable to the values found in a typical classroom setup.

Leaving self-assigned to compare to the Flash

[2021-04-04 18:44] PaulTorry commented on #369
To clarify I believe...
the current arrow showing **displacement** would be better termed **extension (from natural length)**
the term **displacement** should instead mean **displacement from equilibrium**

I am not sure if this is a localisation difference. For reference I am British, the term may be different in the US or elsewhere

[2021-05-10 22:30] chrisklus commented on #236
this branch should be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-10 22:31] chrisklus commented on #232
this branch should be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-10 22:31] chrisklus commented on #231
this branch should be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-10 22:32] chrisklus commented on #230
this branch should be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-10 22:32] chrisklus commented on #228
this branch should be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-10 22:33] chrisklus commented on #227
this branch should be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-10 22:33] chrisklus commented on #226
this branch should be re-deleted as part of https://github.com/phetsims/special-ops/issues/198

[2021-05-10 23:12] chrisklus commented on #236
branch re-deleted, closing

[2021-05-10 23:12] #236 closed, assigned to Denz1994

[2021-05-10 23:13] chrisklus commented on #232
branch re-deleted, closing

[2021-05-10 23:13] #232 closed, assigned to Denz1994

[2021-05-10 23:13] chrisklus commented on #231
branch re-deleted, closing

[2021-05-10 23:13] #231 closed, assigned to Denz1994

[2021-05-10 23:13] chrisklus commented on #230
branch re-deleted, closing

[2021-05-10 23:13] #230 closed, assigned to Denz1994

[2021-05-10 23:14] chrisklus commented on #228
branch re-deleted, closing

[2021-05-10 23:14] #228 closed, assigned to Denz1994

[2021-05-10 23:14] chrisklus commented on #227
branch re-deleted, closing

[2021-05-10 23:14] #227 closed, assigned to Denz1994

[2021-05-10 23:14] chrisklus commented on #226
branch re-deleted, closing

[2021-05-10 23:14] #226 closed, assigned to Denz1994

[2021-05-23 19:08] PaulTorry commented on #369
Sorry, still getting used to github.

[2021-10-25 09:52] jeffroy11 commented on #290
what is the gravity values of planet x?
anyone who can tell me

[2022-06-28 13:20] samreid opened #371 "The clear thermal button disappeared"
In https://github.com/phetsims/scenery-phet/issues/746, we discovered that Masses and Springs creates but never displays a MoveToTrashButton.  The sim used to look like this:

https://github.com/phetsims/masses-and-springs/issues/322#issue-353233485

<img width="327" alt="image" src="https://user-images.githubusercontent.com/679486/176188652-dea552e1-cf43-4342-98d7-7d9438c6ef1c.png">

But now look

[2022-06-28 19:33] jessegreenberg commented on #371
Oh no! That deletion was not intentional, I reviewed https://github.com/phetsims/griddle/issues/49 and it was all about changing the label colors, changes were meant only for `labelColor` in https://github.com/phetsims/masses-and-springs/commit/50f69eb9ec6e0ac7f057e4179c102fc70201f809.

The button has been added back. Thanks for finding this.

[2022-06-29 02:14] samreid commented on #371
Looks great, thanks for the fix.  Closing.

[2022-06-29 02:14] #371 closed, assigned to samreid

[2022-10-18 04:19] arouinfar commented on #370
Unassigning. We can re-evaluate when this sim is next revisited.

Unfortunately, I didn't get the chance to do this before Adobe deprecated the workaround.