[2015-11-09 21:27] pixelzoom commented on #4
All of my commits were general refactors. I have no idea who is responsible for this sim or what its status is.

[2015-11-09 21:31] samreid commented on #4
Looks like this was a Q1 2013 prototype by @samreid before we went with scenery.  No simulation-specific code was ported here, looks safe to delete.  I backed up the repo on my laptop (no issues need to be saved), will hold onto it for 30 days or so in case anyone wants to change their mind.  Will delete shortly.

[2015-11-09 21:31] samreid commented on #4
Closing issue now since delete is imminent.

[2016-01-19 18:29] ariel-phet opened #1 "Masses and Springs master checklist"
## Design
- [x] **Sim folder and design doc created** (Date: 12/17/2014)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Legacy sim docs/info gathered**
  - [x] Sim suggestions doc reviewed
  - [x] Unfuddle tickets reviewed
- [x] **Learning goals and

[2016-01-21 17:19] pixelzoom opened #2 "sim title?"
The title for the HTML5 version is currently "Masses And Springs".  Capitalizing the "And" is inconsistent with titles of other PhET sims.  Words that are deemphasized ("and", "an", "a",...) are usually in lowercase. Eg:

Balloons and Static Electricity
Build an Atom
Forces and Motion: Basics
Molecules and Light
Reactants, Products and Leftovers
Resistance in a Wire

Also, the title for the Java v

[2016-01-21 17:53] arouinfar commented on #2
I prefer "Masses and Springs" since we haven't included ampersands in HTML5 sim titles, and I'd like to keep consistent with our modern conventions.

I also noticed that the Flash version of Masses & Springs is mass-spring-lab which isn't consistent with the convention of simulation-name.

When the sim goes lives, would it be possible to move the sim pages to /masses-and-springs and /legacy/masses

[2016-01-27 03:43] pixelzoom opened #3 "masses-and-springs_en.html is stale"
`masses-and-springs/js/masses-and-springs_en.html` looks like it's out of date. The .html files for requirejs mode testing were updated for all sims awhile back, probably while this sim was removed from active-repos.  I think that running `grunt generate-development-html` will do the trick, but you might want to confirm with @jonathanolson (author of that grunt task).

[2016-01-30 01:39] ariel-phet opened #4 "Suggestion for using analytic solution for model"
@dubson suggested that in the original sim he used a fancy model that was unnecessary, since the damped harmonic oscillator with linear drag is an exactly solved problem with a solution that consists of simple functions.

As we build the model for this sim lets try using the more straightforward model @dubson suggests

[2016-02-02 00:23] ariel-phet commented on #2
+1 to @arouinfar comments

and yes, the redirects should be possible, and should be doen

[2016-02-02 00:24] ariel-phet opened #5 "Layer dashed reference line above ruler"
From unfuddle: https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2339

@arouinfar please consider the comments below as you refine the redesign, should be easy to address

[2016-02-04 21:26] arouinfar commented on #5
@ariel-phet I think we can easily address these issues. In fact, it looks the first one was addressed in the latest version of Masses and Springs, which is dated after the Unfuddle ticket.

@mattpen can you please layer the dashed reference line above the ruler?

[2016-02-05 22:11] pixelzoom opened #6 "sim fails lint"
As of @84430b2ad4133c832297d728de1a7bbaa50219c4:

[code]

[2016-02-13 18:46] mattpen commented on #6
The repo passes lint at https://github.com/phetsims/masses-and-springs/commit/c56624603ebae9e7e6d147133bd7d99c1bf77cbd

[code]

[2016-02-13 18:46] #6 closed, assigned to nobody

[2016-02-13 18:57] mattpen commented on #2
These items are complete.

I'll leave the issue open to address this request.

[2016-02-13 18:59] mattpen commented on #3
@jonathanolson @pixelzoom - It looks like @samreid made some updates to this file for phet-io.  When I ran `grunt generate-development-html` it just deleted some of his changes.  Is the file correct in its current state in master?

[2016-02-13 19:12] pixelzoom commented on #3
There shouldn't be anything specific to PhET-iO in any sim's development html file.  The development html file (repoName_en.html, at the top level of the repo) is for testing non-PhET-iO sims in requirejs mode.  But you'll need to check with @samreid about why that file contained anything related to PhET-iO; perhaps it was some quick test that was inadvertently pushed.

[2016-02-13 19:16] samreid commented on #3
I may have forgot to update a template, I'll look into this when back to work.

Sam

On Feb 13, 2016, at 12:13 PM, Chris Malley <notifications@github.com<mailto:notifications@github.com>> wrote:

There shouldn't be anything specific to PhET-iO in any sims' development html file. The development html file (repoName_en.html, at the top level of the repo) is for testing non-PhET-iO sims in requirejs

[2016-02-14 23:17] arouinfar commented on #2
Thanks, @mattpen!

On Feb 13, 2016 12:57 PM, Matt Pennington notifications@github.com wrote:

If the title is changed:
(1) the description of the GitHub repo needs to be manually edited
(2) the README.md file needs to be regenerated using grunt unpublished-README.

These items are complete.

When the sim goes lives, would it be possible to move the sim pages to /masses-and-springs and /legacy/mass

[2016-02-15 18:36] phet-steele opened #7 "Automated Testing Error"
[code]

[2016-02-15 18:58] mattpen commented on #3
I pulled the most recent changes to chipper, added a `$HOME/.phet/build-local.json` file with the brand value, then ran `grunt generate-development-html`.  Afterwards there were no differences from the current state of master so the html file appears to no longer be stale.

[2016-02-15 18:59] #3 closed, assigned to mattpen

[2016-02-20 09:36] jonathanolson opened #8 "Will we allow springs systems to be critically damped or over-damped?"
If we want to use the analytic solution AND support both under-damped (oscillating) and over-damped (so much friction that position just "decays" towards equilibrium), it would make sense to write the model using complex numbers for intermediate results.

If we just want to support under-damped motion (ensuring c^2 < 4km), the model can be written without having to use intermediate complex numbers

[2016-02-20 09:38] jonathanolson commented on #8
I'd note that I'm leaning towards the complex-number implementation, so that we aren't constrained by the "weakest possible spring with the smallest possible mass", since that would effectively determine our maximum friction coefficient.

[2016-02-21 20:57] ariel-phet commented on #8
@jonathanolson is there any downside to using the complex number implementation?

[2016-02-22 04:39] jonathanolson commented on #8
Potentially a bit slower, and will be a bit less clear to read (though can be clear in documentation). Also would need custom code for handling the critically-damped case.

I could mock-up both the complex number one (possibly also with critical damping) and compare it to a Runge-Kutta implementation for accuracy.

[2016-02-22 07:23] ariel-phet commented on #8
You and I should discuss a bit on Monday. I will get in touch

[2016-02-22 22:18] ariel-phet commented on #8
Discussed with JO over skype 2/22/2016, sounds like the complex number implementation is worth a go since it will give use some more flexibility, should allow us to choose a range of friction that gives a non-negligible effect over a wide dynamic range of spring constants/masses.

[2016-02-26 20:08] jonathanolson commented on #2
It sounds like a **headache** to rename a production Flash sim to match a new HTML name, as this would touch most of our systems. This means:
1. Rename, patch and rebuild the original Flash simulation (hasn't been done for a while, 20+ hours expected to resolve versioning, could be more).
2. Patch everything statistics-related to be relative to the new name. Yotta will need to sum "masses-and-spri

[2016-02-26 20:20] arouinfar commented on #2
@jonathanolson I don't think 200+ hours of work is worth it.

I'm fine with either option you've proposed, though I would rather keep the sim named "Masses and Springs" for continuity. I know it breaks convention, but I could live with Masses and Springs being housed in /mass-spring-lab if need be.

[2016-02-26 20:23] ariel-phet commented on #2
@jonathanolson

So it sounds like an easy solution would be to just publish the new sim as "masses-and-springs" , migrate the flash version to "legacy/mass-spring-lab" and redirect "/mass-spring-lab" to the "masses-and-springs" url. Is that correct? (the point being if people use the old url, they will see the new HTML5 sim)

We will **definitely NOT** rename the old flash version

[2016-02-26 21:14] jonathanolson commented on #2
Yes, that was what I was suggesting.

Assigning to @mattpen for investigation of difficulty for migrating to /legacy/mass-spring-lab while leaving the new sim at /masses-and-springs.

[2016-02-26 23:19] ariel-phet commented on #2
tagging as low priority since it will be awhile before the sim is fully developed, and changing the name of the github repo/HTML5 sim is pretty easy these days.

[2016-03-08 21:04] phet-steele opened #9 "Automated Testing Errors"
fuzztesting build, on phettest:

[code]

[2016-03-17 19:18] phet-steele commented on #7
Moving to #9

[2016-03-17 19:18] #7 closed, assigned to mattpen

[2016-03-17 19:19] phet-steele commented on #9
fuzztesting requirejs:

[code]

[2016-03-17 19:20] phet-steele commented on #9
fuzztesting requirejs:

[code]

[2016-03-17 19:21] phet-steele opened #10 "Lint Errors"
[code]

[2016-03-22 18:47] phet-steele opened #11 "Automated Testing Sim Errors (3/22/2016 10:00 AM)"
requirejs:

[code]

[2016-03-22 18:48] phet-steele commented on #9
Last error occurred again on 3/22. See #11.

[2016-03-22 18:49] phet-steele opened #12 "Automated Testing Build Errors (3/22/2016 10:00 AM)"
[code]

[2016-03-22 18:49] phet-steele commented on #10
Occurred again on 3/22. See #12.

[2016-03-29 17:29] phet-steele commented on #9
Third occurrence of the last error on 3/29.

[2016-03-29 17:30] phet-steele commented on #10
Third occurrence on 3/29.

[2016-03-29 20:52] mattpen commented on #9
@phet-steele - I fixed the assert error for the 2nd and 3rd errors above.  I couldn't recreate the first, is it still occurring?

[2016-03-29 21:00] mattpen commented on #11
Fixed here:  https://github.com/phetsims/masses-and-springs/commit/54bd6356932b81a9eae1b8e8d4734fe3f8495b3f

[2016-03-29 21:00] #11 closed, assigned to nobody

[2016-03-29 21:01] mattpen commented on #12
The most recent commit to master (https://github.com/phetsims/masses-and-springs/commit/54bd6356932b81a9eae1b8e8d4734fe3f8495b3f) should pass lint. @phet-steele can you please verify?

[2016-03-29 21:02] mattpen commented on #10
The most recent commit to master (54bd635) should pass lint. @phet-steele can you please verify?

[2016-04-01 16:53] #12 closed, assigned to phet-steele

[2016-04-01 16:54] #10 closed, assigned to phet-steele

[2016-04-01 18:03] phet-steele commented on #9
@mattpen I can't either, I'll keep an eye out for it.

[2016-04-01 18:03] #9 closed, assigned to phet-steele

[2016-07-07 13:32] veillette opened #13 "ThumbNode is private"
in GravityControlPanel.js,

I saw

[code]

The ThumbNode is private to HSLider.
However you can pass options to the HSlider that will be passed to the ThumbNode

[code]

In this way the enabledProperty can be set through HSlider.

[2016-07-07 13:34] veillette commented on #13
Assigning to @mattpen because he is the author of this module

[2016-07-07 15:57] mattpen commented on #13
@veillette Thanks for pointing that out.  There was a reference to ThumbSlider in SpringConstantControlPanel.js as well.  I've removed both.

[2016-07-07 15:57] #13 closed, assigned to mattpen

[2016-07-12 17:31] phet-steele opened #14 "Automated Testing Build Error (7/12/2016 10:04 AM)"
[code]

[2016-07-19 05:20] mattpen commented on #14
MAS now passes lint again.

[2016-07-19 05:20] #14 closed, assigned to mattpen

[2016-07-21 18:01] pixelzoom opened #15 "instances are created before Body type is fully defined"
Problem in Body:

[code]

The static instances are created before inherit is called, so `instanceof` tests will fail.  See https://github.com/phetsims/phet-core/issues/24.

The fix is to create the instances after the inherit call:

[code]

[2016-07-21 18:49] pixelzoom commented on #15
Fixed in above commit, assigned to @mattpen for review.

[2016-07-27 16:33] mattpen commented on #15
I reviewed the commit, thanks for catching this @pixelzoom.

[2016-07-27 16:33] #15 closed, assigned to mattpen

[2016-08-25 23:29] pixelzoom opened #16 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:34] pixelzoom commented on #16
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:34] #16 closed, assigned to jonathanolson

[2016-08-29 19:32] pixelzoom opened #17 "adjust touchArea options for HSlider thumb"
In https://github.com/phetsims/sun/issues/254, the touchArea defaults for HSlider thumb were changed so that they default to pixels, not a percentage of the thumb size.  Sims that use HSlider's `thumbSize` option will therefore need to also specify `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation`.

[2016-09-29 18:40] mattpen commented on #5
This was completed in february.

[2016-09-29 18:40] #5 closed, assigned to mattpen

[2016-09-29 18:47] mattpen commented on #4
The analytic solution was implemented in collaboration with @jonathanolson in spring '16.

[2016-09-29 18:47] #4 closed, assigned to mattpen

[2016-09-30 04:38] mattpen commented on #17
Unassigning until work resumes.

[2016-12-06 23:07] pixelzoom opened #18 "convert from PropertySet to Property"
PropertySet is deprecated and should be replaced by Property, see phetsims/axon#102. Since this sim hasn't been published yet, this should be done before RC testing and publishing.

[2016-12-13 19:10] oliver-phet opened #19 "User suggestion: hang multiple masses from single spring"
I was working with the masses and springs lab and want to suggest the ability to hang more than one mass on the springs.
This could even be using a virtual slotted mass set.

[2016-12-13 19:27] ariel-phet commented on #19
Kicking this over to @arouinfar. As long as we have the ability to have masses that are double, I am not sure what being able to hanging multiple masses buys us. It seems like an unnecessary complication. It seems we are better off having just a well thought out set of potential masses.

[2016-12-13 19:37] arouinfar commented on #19
Currently we have a 250g mass, two 100g masses, and one 50g mass, so I think there are plenty of opportunities for meaningful comparisons. I generally agree with @ariel-phet here. I think hanging multiple masses would be more complicated that it's worth. The only potential benefit I see would be to increase the number of data points that could be added to a plot of F vs. x to find the spring const

[2016-12-13 19:51] ariel-phet commented on #19
@arouinfar the one other thing I could see is potentially having a "custom mass" that perhaps is controlled by a slider or discrete picker or such on the lab screen, so you could adjust is value to a few points.

[2016-12-13 19:55] arouinfar commented on #19
Oh, I like that idea @ariel-phet! I'll mock up a version with the custom mass slider for our next meeting.

If we go down this route, I think we'll want to make sure the largest unknown mass is beyond the slider range. This would be similar to mystery materials in Bending Light -- one has an index of refraction within the range of the n-slider, and the other doesn't.

[2017-01-17 19:23] arouinfar commented on #19
The current design includes a custom mass, so I believe we can go ahead and close this issue.

[2017-01-17 19:23] #19 closed, assigned to arouinfar

[2017-01-18 21:11] Denz1994 commented on #18
The properties contained withing the PropertyCall() have been made new Property types allowing for the removal of the PropertyCall() within the model.
Assigning @pixelzoom for input.

[2017-01-18 21:24] Denz1994 commented on #18
Reassigning to @jbphet

[2017-01-18 21:29] Denz1994 commented on #17
Reviewed the default values with @jbphet and they are a reasonable size at the sim's current state. Closing issue.

[2017-01-18 21:29] #17 closed, assigned to Denz1994

[2017-01-19 20:42] Denz1994 commented on #18
Commit message 4762712 should read:
Used preventGetSet() for properties to move away from PropertySet()

[2017-01-20 19:49] Denz1994 opened #20 "Assertion failure due to screen namespace."
When creating individual Intro, Energy, and Lab screens an assertion error was raised stating the following:

_message = "name is required for screen 0"_

I believe screen 0 is the home screen users are first introduced to when the sim starts.

![image](https://cloud.githubusercontent.com/assets/13894380/22163030/70cc2ce8-df0e-11e6-9aab-948af761dce7.png)

I am having trouble registering this scree

[2017-01-20 20:05] Denz1994 commented on #20
Issue resolved due to a typo in the register statement. Closing.

**js/intro/IntroScreen.js**
Original:
`  massesAndSprings.register( 'introScreen', IntroScreen );`

changed to:
`massesAndSprings.register( 'IntroScreen', IntroScreen );`

[2017-01-20 20:05] #20 closed, assigned to jbphet, Denz1994

[2017-01-23 20:14] jbphet opened #21 "remove usages of Property.preventGetSet"
As part of working on #18 we used `Property.preventGetSet` to detect unconverted usages of properties.  We will leave this in for a while, but in the interest of clean code, they should be removed prior to publication.  This GitHub issue is being logged to remind us to do this.  It will remain unassigned until we get closer to publishing this sim.

[2017-01-24 18:27] phet-steele opened #22 "Automated Testing Build Error (1/24/2017 10:25 AM)"
The first task below failed at EnergyScreen.js, but the problem exists for all three screens.

[code]

[2017-01-26 21:08] Denz1994 opened #23 "Masses get set to equilibrium when in slow motion"
When a mass is in slow motion and is attached to the spring, there is potential for it to automatically go to its point of equilibrium without oscillating.

Steps for reproduction:

1. Change sim speed to slow motion using radio button
2.  Drag mass to spring and once attached hold the mass in place.
3.  Release mass
4.  At this point, the mass should be attached to the spring at its equilibrium.

[2017-01-30 20:35] Denz1994 commented on #22
Commit e59ac42fe58ccae755c69ce03976b56886a763e2 should have taken care of these errors. I tested using my own build version and these errors didn't reoccur. Closing.

[2017-01-31 17:25] phet-steele commented on #22
@Denz1994 this is still an issue. I believe that the first step would be to change labScreen.js, introScreen.js, and energyScreen.js to be capitalized: LabScreen.js, IntroScreen.js, EnergyScreen.js. That's my hunch.

[2017-02-01 16:11] Denz1994 commented on #22
Can @phet-steele post a link so I can test this myself before making a commit? It may save you time.

I run this command in  the cmd line :

$ grunt
Running "eslint:allFiles" (eslint) task
Running "clean" task
Running "requirejs-build" task
Running "after-requirejs-build" task
Done.

[2017-02-02 00:51] Denz1994 commented on #22
I believe these errors have been fixed with the previous commit. Used localhost URL to verify. If errors still persist let me know @phet-steele.

http://localhost:8080/aqua/test-server/test-sims.html?ea&audioVolume=0&testDuration=10000&testConcurrentBuilds=4&fuzzMouse&testSims=masses-and-springs

[2017-02-03 01:14] jonathanolson commented on #22
Slightly different automated error just showed up:
[code]

[2017-02-06 16:16] Denz1994 commented on #23
Further investigation, shows this is not a problem with the slow motion, but a general problem with the model. Even in normal motion. Holding then releasing the mass (while attached to the spring) near the point of equilibrium will stop the oscillation animation completely. The mass snaps to the point of equilibrium.

[2017-02-06 16:49] #23 closed, assigned to Denz1994

[2017-02-06 20:44] Denz1994 commented on #22
@jonathanolson I believe this edit fixes the error. I tried to replicate this error without success after the commit. Ping me if this error persist.

[2017-02-10 16:37] pixelzoom opened #24 "Automated testing error"
aqua/test-server/test-sims.html?ea&testBuilt=false&fuzzMouse

NOTE: This happens when the Reset All button is pressed.

TypeError: toolboxPanel.reset is not a function
    at listener (http://localhost/~cmalley/GitHub/masses-and-springs/js/common/view/TwoSpringView.js?bust=1486744417667:205:22)
    at http://localhost/~cmalley/GitHub/sun/js/buttons/PushButtonModel.js?bust=1486744417667:138:9
    a

[2017-02-13 15:50] Denz1994 commented on #24
I cannot replicate this error after this commit. Please ping if this error persists.

[2017-02-13 19:19] Denz1994 opened #25 "Icon artwork needed for scene switching buttons."
The current implementation of the scene switching buttons uses a placeholder as the icon for the buttons. Official artwork should be used instead unless this suffices. Please advise @arouinfar. Thanks!

_Current artwork:_
![half-spring-icon](https://cloud.githubusercontent.com/assets/13894380/22898922/4cad54aa-f1e6-11e6-87e3-788890e97887.PNG)

![two-spring-icon](https://cloud.githubusercontent.com

[2017-02-13 22:15] jonathanolson commented on #22
Tried checking, had this error (unrelated):
[code]

Looks like some images aren't checked into git?

[2017-02-13 22:16] arouinfar commented on #25
@Denz1994 I don't have true Illustrator assets for the springs, just screenshots from scenery-phet. I can certainly send you image files to use for now, but I think a better long-term solution would be to draw the icons in code.

[2017-02-13 22:17] Denz1994 commented on #22
Correct. I am currently making changes and haven't pushed in a few hours. I will keep this error in mind.

[2017-02-13 22:20] arouinfar commented on #25
@Denz1994 here are image files for the scene icons.

[different_length_scene.png](https://cloud.githubusercontent.com/assets/8419308/22906021/e31afaaa-f1ff-11e6-9e75-1c67be769901.png)
[same_length_scene.png](https://cloud.githubusercontent.com/assets/8419308/22906020/e3191a46-f1ff-11e6-9dba-7fb64497ee63.png)

[2017-02-13 22:21] Denz1994 commented on #25
@arouinfar I was using Color-Vision as a model for how to implement the icons and in that sim, artwork is used for the icon. I will follow through with your suggestion of drawing it in code. Thanks for the images in the meantime.

[2017-02-13 22:24] arouinfar commented on #25
Sounds good @Denz1994. It's not uncommon to create the artwork for scene icons in Illustrator (like color-vision), but in this case I just don't have them.

[2017-02-13 22:27] Denz1994 commented on #25
Makes sense. I will implement these changes.

[2017-02-14 03:11] jonathanolson commented on #22
Looks better, sim is linting and building fine.

Getting a runtime error while fuzzing (try launching the sim with ?ea&fuzzMouse):
[code]

[2017-02-14 17:25] Denz1994 commented on #22
This commit fixed this error. I can't reproduce it after this commit.

[2017-02-14 17:39] phet-steele commented on #22
Good to go after pulling on phettest, the sim is passing fuzzing.

[2017-02-14 17:39] #22 closed, assigned to Denz1994

[2017-02-14 17:42] phet-steele commented on #24
Sim is passing fuzzMouse, and manually pressing the Reset All button is not causing any problems.

[2017-02-14 17:42] #24 closed, assigned to Denz1994

[2017-02-14 17:46] phet-steele opened #26 "Automated Testing Build Error (2/14/2017 10:00 AM)"
[code]

[2017-02-14 20:23] samreid opened #27 "PhET-iO Instrumentation"
As an introduction to PhET-iO Instrumentation for @Denz1994 and for me to get feedback on the "How To Instrument" documents, we would like to take the first steps toward instrumenting Masses and Springs.  I'll paste the checkboxes here, and we can proceed with the instructions.  I want to clarify: this simulation does not need to be instrumented for any 3rd parties for a deadline, but we chose thi

[2017-02-14 21:27] Denz1994 opened #28 "Preliminary code review"
Review of code to be implemented as a checkpoint in the dev cycle. This will ideally reduce the amount of work that needs to be done towards RC.

*NOTE! Prior to doing a code review, copy this checklist to a GitHub issue for the repository being reviewed.*

PhET code-review checklist
=============

**Build and Run Checks**

- [ ] Does the sim build without warnings or errors?
- [ ] Does the sim st

[2017-02-20 19:35] #26 closed, assigned to Denz1994

[2017-02-21 00:32] Denz1994 commented on #25
Commit 95ce0809622118f7febb5f51e438a372482a9df6 fixed this issue.

[2017-02-21 00:32] #25 closed, assigned to Denz1994

[2017-02-22 03:54] jonathanolson opened #29 "Automated testing error"
[code]

Looks like EnergyScreenView needs to pass a tandem to TwoSpringView.

[2017-02-22 15:58] #29 closed, assigned to nobody

[2017-02-22 16:25] Denz1994 opened #30 "Spring Natural Length Line doesn't change Position in response to Constants Panel"
When "spring constant" is selected in the second scene of the intro tab, the natural equilibrium position line doesn't dynamically respond to a change in the spring length HSlider.

I believe this has to do to model.spring[0] not being referenced, but the view representation being referenced instead.

[2017-02-22 16:40] Denz1994 commented on #30
This is also true for the natural length reference line.

[2017-02-22 16:58] Denz1994 commented on #30
Implementing Phet-IO for Spring.js first may help with solving this issue. There are some values that may be more efficiently derived such as, equilibriumYPositionProperty and bottomProperty.  Once this is reviewed and implemented for Phet-IO, I will look into linking these values to their respective functions in the constants panel.

It may actually benefit to begin a full code review before cont

[2017-02-27 15:39] Denz1994 opened #31 "Springs not same thickness at start of sim"
Initial lineWidthProperty for each spring are not the same. This may be due to this property getting reset in multiple places. It becomes more apparent when switching screens to compare spring thickness.

[2017-02-27 15:47] #31 closed, assigned to nobody

[2017-02-27 17:44] Denz1994 opened #32 "Loop to Length Relation Implementation"
Logic needs to be added to loop and length relation. As the length of the adjustable spring gets larger, the number of loops on the spring should decrease as well. The relation is arbitrarily implemented and doesn't follow a physical model.

[2017-02-27 22:30] Denz1994 commented on #32
Commit 	2889efc has the correct logic working when the "thickness" constant is selected in the constants panel and a mass is attached. This is most likely due to the derivation of the spring constant property. May be related to #30.

[2017-02-28 00:37] #32 closed, assigned to Denz1994

[2017-02-28 00:41] Denz1994 opened #33 "Slight lag when adjusting spring length."
After correcting loop/length relation (ref. #32), there are instances of slight lag. Frames may drop down to 20fps occasionally. This may be related to the derivation of the spring constant.

[2017-02-28 00:47] Denz1994 opened #34 "Refactor derivation of spring thickness."
There are some issues arising from the derivation of the spring thickness. This is many due to the spring thickness only being present in the view of the OscillatingSpringNode and not communicating with the model. This is perhaps the cause of some erroneous and laggy behavior (see #33).

Perhaps making spring thickness a derived property in Spring.js is a solution. The integer value derived will b

[2017-02-28 16:18] #33 closed, assigned to Denz1994

[2017-02-28 16:18] Denz1994 commented on #33
Lag was due to a memory leak in the multiLink call where resetting the springs is costly for performance. This is a case that doesn't need to be handled as there should be no added logic to manage the spring when neither constants are selected.

This was discovered and tested using Chrome dev tools Version 56.0.2924.87

[code]

[2017-02-28 17:42] Denz1994 opened #35 "Spring's awkward motion when mass oscillates over spring hanger."
When the mass is made to oscillate well over the spring's hanger the spring doesn't flip over. The animation looks unnatural. Possibly due to commit 1135f392df2044475347a8a707f4815706a048f9

[2017-02-28 17:50] #35 closed, assigned to nobody

[2017-02-28 22:20] samreid opened #36 "Initial review"
As @Denz1994 and I have been working on PhET-iO we realized it would be good to start some brief review process early on.  I'll make some notes here or commit changes as part of this review, mostly in collaboration with @Denz1994.

[2017-03-01 23:45] Denz1994 opened #37 "Logic needed for scene preservation between scenes"
When switching scenes the masses and springs need to preserve their state. Parameters included are mass velocities and positions and spring length, the mass attached, and spring constant. These scenes should operate independently. Options such as the ruler, timer, gravity, friction, and visibility of reference lines should be global properties. Also, the sim play/pause, play speed, and reset state

[2017-03-01 23:59] Denz1994 opened #38 "Masses unresponsive when in alternate scenes"
A few bugs are present in its current state of intro screen involving the scene selection.

- [x] Mass position incorrect on initial proc of changing scenes.
- [x] Masses snag onto respective springs when the scenes change. Snag acts as if the mass is still attached to spring in the alternate scenes.

[2017-03-02 00:33] Denz1994 opened #39 "ResetAllButton doesn't reset second scene"
The reset function doesn't touch the second scene.

[2017-03-02 16:11] #38 closed, assigned to nobody

[2017-03-02 16:11] #37 closed, assigned to Denz1994

[2017-03-02 16:15] Denz1994 opened #40 "Scene change in intro tab doesn't preserve state of mass layering."
Because both scenes use the same set of masses we need to stash how the masses are layered in each scene. Masses change their z-axis layering when clicked on or dragged.

_Proposed solution:_
- Pull from layering information from the view and store it in the stashed parameters. These parameters should also be applied similarly to the mass and spring properties.

[2017-03-02 16:31] Denz1994 opened #41 "Reviewing behavior of scene selection for intro tab"
The intro screen currently uses a radio button group to switch between scenes. Each scene independently preserves spring and mass properties (mass position, spring length, mass velocity, etc.).

Because the scene switching is instantaneous when clicked, this abrupt change in the scene may be confused the user that the masses and springs have changed. The only indication of such change is the panel

[2017-03-02 16:43] Denz1994 opened #42 "Scene selection causes spring oscillation during scene change"
When the spring constant is adjusted in the first scene and the same spring in the second scene is not oscillating (with a mass attached) there is an unintentional oscillation in the second scene spring.

_Thoughts:_
- Investigate state of spring parameters in model.stashSceneParameters.

[2017-03-02 17:58] Denz1994 opened #43 "Refactor model.stashSceneParmeters and model.applySceneParameters"
This method is really verbose. Can we truncate this using an array for the masses object?

[2017-03-02 18:06] Denz1994 opened #44 "Spring thickness scale is a bit visually extreme."
The spring thickness min and max are a visually extreme for a spring in this sim.

![image](https://cloud.githubusercontent.com/assets/13894380/23520329/b8a82f50-ff37-11e6-945e-5c52533f963a.png)

![image](https://cloud.githubusercontent.com/assets/13894380/23520350/cd71ae84-ff37-11e6-83f0-600a44d41b89.png)

As described by @ariel-phet, "The spring goes from a thin spring to something in a car susp

[2017-03-02 18:52] Denz1994 commented on #44
The springOscillatingNode is handling the thickness differently in each scene. In the first scene, it is related to the spring constant, in the second scene it is related to the springLength.

_Thoughts:_
- Investigate the pros and cons of this inconsistency.
- Could a slider just adjust two properties as needed? This needs to be documented well or made known to avoid unintended results.

[2017-03-02 22:57] Denz1994 opened #45 "Spring constant parameter should be selected by default"
Default selected value for constants parameter should follow design doc as seen below:

![image](https://cloud.githubusercontent.com/assets/13894380/23530870/e4fc0c42-ff60-11e6-81ec-7fa5c9e7161a.png)

[2017-03-02 23:02] #45 closed, assigned to nobody

[2017-03-02 23:36] Denz1994 commented on #41
Input from @ariel-phet, "Using a different spring color may help in distinguishing the two scenes. A color resembling bronze would work. Make sure the springs are in different shades of bronze, in case you are looking at the sim in black and white."

[2017-03-03 00:30] Denz1994 commented on #44
Taking the previous comment and referencing it to #34.

[2017-03-03 00:30] #44 closed, assigned to Denz1994

[2017-03-03 00:35] Denz1994 commented on #34
From #44

Spring thickness only changes when the spring constant is changed. This link is handled in  js/common/view/OscillatingSpringNode.js line 71-75.

[code]

[2017-03-06 23:56] #40 closed, assigned to Denz1994

[2017-03-07 18:14] phet-steele opened #46 "Automated Testing Lint Error (3/7/2017 10:00 AM)"
[code]

[2017-03-07 18:26] #46 closed, assigned to Denz1994

[2017-03-07 21:23] samreid opened #47 "Use modelViewTransform instead of mvt"
According to our review guidelines, please use modelViewTransform instead of mvt (and generally spelling out things instead of abbreviations).  See #36

[2017-03-07 21:35] samreid opened #48 "Move StopSignNode to common code"
Noted during #36, we would like to move StopSignNode to common code so it can easily be used by other sims.

[2017-03-07 22:24] Denz1994 opened #49 "Are mass colors using color blind colors?"
Masses are using red, green, and blue colors. Should we incorporate phetColorScheme.COLORLIND?

[2017-03-08 17:32] jonathanolson opened #50 "Automated testing failures"
[code]
and runtime:
[code]

[2017-03-08 20:58] #50 closed, assigned to nobody

[2017-03-08 22:49] Denz1994 commented on #48
Commit 8318c97 closed this issue.

[2017-03-08 22:49] #48 closed, assigned to samreid, Denz1994

[2017-03-08 22:57] #47 closed, assigned to Denz1994

[2017-03-08 23:15] Denz1994 commented on #43
After reviewing unit rates with @pixelzoom , it seems like this is the common method for preserving states between scenes. The wordiness of the method is the cost of preserving specific parameters. Closing for now until a new method is presented.

[2017-03-08 23:15] #43 closed, assigned to Denz1994

[2017-03-08 23:27] Denz1994 commented on #34
Spring thickness has been added as a derived property. The issue regarding the inconsistancy in deriving the thickness is inherent with the two sliders adjusting different properties. The thickness derivation doesn't produce the incorrect result so it should satisfy.

A seperate issue will be logged regarding the state of the thickness when switching scenes and the equilibrium line moving with the

[2017-03-08 23:27] #34 closed, assigned to Denz1994

[2017-03-09 16:31] Denz1994 opened #51 "Spring thickness isn't preserved for each scene."
Steps to reproduce:

1.  Start sim.
2. Adjust spring constant (so spring thickness changes)
3. Switch scenes
4. Select "thickness" in spring constant panel
5. Spring thickness will now resemble thickness of first spring in the first scene.

**Thoughts:**
Investigate the multilink present in the introViewScreen. Multilinks are fired regardless of the truthiness of the if clause, so they should be s

[2017-03-13 15:55] Denz1994 commented on #49
The design doc doesn't mention any specifics regarding this. The differences in the view are listed below.

**Default Colors**
![image](https://cloud.githubusercontent.com/assets/13894380/23861973/5876fe0c-07d1-11e7-878c-cd0a1fd84a10.png)

**Color Blind Colors Enabled**
![image](https://cloud.githubusercontent.com/assets/13894380/23862074/a7c64a44-07d1-11e7-8c2a-8579a020422f.png)

Is there a gener

[2017-03-13 16:04] Denz1994 commented on #49
As suggested by @jbphet, the color-blind scheme should be used. Using a Chrome plugin for color-blindness, we noticed the masses are distinct enough for several forms of color-blindness.

With further discussion on this topic, we came to the conclusion that Phet-IO instrumentation should be careful to consider color blindness with instrumenting tandem IDs. Tandem IDs should not specify color, as u

[2017-03-13 16:07] Denz1994 opened #52 "Check that Tandem IDs don't correspond with a specific color."
In cooperation with the idea that Phet Sims should be color-blind accessible, Tandem IDs should not be specific to a certain color.

Issue #49:

Check to assure Tandem IDs are not restrained by a specific color.

[2017-03-13 16:26] Denz1994 commented on #52
Is this something that should be considered for all Phet-IO Tandem IDs implementations?
I didn't find any references to color-blindness in the PhET-IO instruction doc in #27.

[https://github.com/phetsims/phet-io/blob/master/doc/how-to-instrument-a-phet-simulation-for-phet-io.md](url)

@samreid

[2017-03-13 16:34] Denz1994 commented on #49
This should also be considered for the reference lines and the spring stopper buttons as well, I assume.

Do you have any input on this change @arouinfar?

[2017-03-13 17:05] Denz1994 commented on #49
**Color-Blind Scheme Enabled**

![image](https://cloud.githubusercontent.com/assets/13894380/23865871/abebe330-07dc-11e7-99e0-c251cd13c3f0.png)

**Color-Blind Scheme Disabled**
![image](https://cloud.githubusercontent.com/assets/13894380/23865962/f89b9fea-07dc-11e7-9f70-d0f0f6129c7c.png)

[2017-03-14 15:56] samreid commented on #52
@Denz1994 and I discussed it and decided it would be more convenient to refer to the "red-orangish" mass as "the red one" for its tandem name.  We are not planning to make the mass colors settable over the PhET-iO API, but if one day a client requests that feature, we may need to revisit this discussion.

[2017-03-14 16:01] Denz1994 commented on #52
Closing this issue until needed based on client requests.

[2017-03-14 16:01] #52 closed, assigned to Denz1994

[2017-03-14 21:01] arouinfar commented on #49
Good questions @Denz1994! I don't believe there's a codified rule for when to use colorblind red. Generally, we use it to improve contrast against a black background (e.g. oxygen atoms in Atomic Interactions). I don't particularly like using colorblind red unless necessary.

Using the colorblind preview modes of Illustrator, standard red doesn't appear to have contrast issues, so I'd recommend we

[2017-03-14 21:47] Denz1994 commented on #49
Okay, thanks for the input. I will follow your suggestion.

[2017-03-14 21:48] Denz1994 commented on #49
Commit 8f2e3cb50889006adca48214fcc82032f4e76a47 fixed this issue. Closing.

[2017-03-14 21:48] #49 closed, assigned to Denz1994

[2017-03-16 06:33] jonathanolson opened #53 "Automated testing error"
After fixing some lint issues, there are still errors:
[code]

[2017-03-16 21:35] Denz1994 commented on #53
Attempted to reproduce this error and couldn't. Tested with fuzzMouse test for 20 minutes with 4 different concurrent browser instances. Also, bayes continuous testing is not producing any errors in the last hour. I believe commit 979dbfe1866aa428daf370c5b73a68fe6d16ff3d fixed this issue.

[2017-03-16 21:35] #53 closed, assigned to nobody

[2017-03-20 15:51] phet-steele opened #54 "Automated Testing Errors"
[code]

[code]

[2017-03-20 16:12] #54 closed, assigned to Denz1994

[2017-03-20 22:42] Denz1994 opened #55 "Inheritance of energy model"
After re-evaluating the approach to creating energy screen, I figured it would be best to have a separate model for the energy screen. This requires inheritance from the common model. The sim is in a stable state, but refactoring the methods from the common model is a must at this point. It seems to be an unnecessarily large energy model at the moment.

[2017-03-21 12:31] #55 closed, assigned to nobody

[2017-03-21 12:33] Denz1994 commented on #55
Return statement needed to include the common model. Used PlinkoProbability as a template to follow.

[2017-03-21 15:36] samreid opened #56 "Each scene should have its own model"
During #36 I saw code for stashing and unstashing model values for scene switching.  For instance:
[code]

It will probably be much simpler to give each scene its own model and view rather than trying to stash and unstash values.  This is typically what is done in other sims and it works very well.

[2017-03-21 15:40] samreid commented on #36
In the preceding commits, I updated some styles and added TODOs.  I recommend @Denz1994 to review the preceding commits and let me know if you have any questions about them.

[2017-03-21 15:43] samreid opened #57 "Some places missing @public/@private and (read-only)"
From #36:

All attribute assignments should include visibility annotations.   For example, in MassesAndSpringsModel.js
[code]

[2017-03-21 15:46] Denz1994 commented on #56
True. This feature is specific to the intro screen and should be in an intro screen model.

[2017-03-21 16:34] Denz1994 opened #58 "Adjust approach to ToolboxPanel.js start event."
As per the suggestion of @samreid, this code should be revised for clarity. It seems to be finding the parent ScreenView before starting the "start" event. It isn't clear whether this code is necessary and should be revised.

[code]

[2017-03-21 16:51] #58 closed, assigned to Denz1994

[2017-03-21 16:53] Denz1994 commented on #58
Initially, we were searching for the screenview to be able to translate the coordinates of a user's click (in toolboxPanel coordinates) to the screenview (in screenview coordinates). Searching for the screenview can be avoided because we know the timer node is in screenview coordinates. So we are just using the timer node's coordinate as a reference, rather than searching for the screenview.

@sam

[2017-03-21 17:14] samreid opened #59 "Rename Spring.addMass to Spring.setMass"
During #36 I saw this code:

[code]

It should be called `setMass` since it can only have one mass (not a list of attached masses).

[2017-03-21 17:18] samreid opened #60 "Eliminate startDrag functions"
A few of the files have code like this:

[code]

In discussion, @Denz1994 and I preferred just calling the startDrag on the *movableDragHandler directly, without this adapter method.  In each case, this will clean up 9 lines and remove an unnecessary method.

Discovered in #36

[2017-03-21 17:24] samreid opened #61 "IndicatorVisibilityControlPanel should extend Panel"
During #36 I saw that IndicatorVisibilityControlPanel extends Node and contains one child which is a Panel.  It would be simpler if IndicatorVisibilityControlPanel extended Panel instead.

[2017-03-21 17:25] samreid opened #62 "Factor out duplicated code in line creation"
During #36 I saw this code in IndicatorVisibilityControlPanel:

[code]

I recommend factoring out a function so the lines can be created like this:

[code]

[2017-03-21 17:34] samreid opened #63 "Eliminate unnecessary node"
Similar to #61 I saw that NaturalLineLengthNode extends Node and has only one child.  Generally if a node extends Node and has only 1 child it may be unnecessary (unless there are coordinate transformations or something else that warrants the extra Node in the hierarchy).

Discovered during #36

[2017-03-21 21:49] Denz1994 commented on #51
Refactor applyStashedParameters to pull from parameter object instead of the previously implemented array.

[2017-03-22 15:37] Denz1994 opened #64 "Assert Failure for selectedConstantProperty and naturalRestingLength in IntroViewScreen"
Console:
[code]

Steps to reproduce:

1. Start sim
2. Select the second scene
3. Change constant parameter to "Thickness"
4. Select the first scene
5. Press the resetAllButton
6. Assertion Failure is produced

_Thoughts:_

[code]
1. A reset flag can be used that is true at the beginning of the reset() call and is set back to false at the end of the reset call. A similar approach can be taken for s

[2017-03-22 15:42] #64 closed, assigned to Denz1994

[2017-03-22 15:46] Denz1994 commented on #64
Adding flags to assertions to handle special cases seems to go against the idea of an assertion. Also because it is expected that a user would be able to trigger these assertions relatively easily when using the sim, perhaps the assertion should be removed.

It seems unnatural to have assertions over frequent user actions. Instead, we will treat it as expected sim behavior and accommodate for thes

[2017-03-22 15:49] Denz1994 commented on #30
After closing #34 the equilibrium position of the left spring is now responsive. However, the line for the Natural Length is still unresponsive. Pursuing further investigation.

[2017-03-22 16:18] Denz1994 commented on #30
Link needs to be added to yPosition vector translation of naturalLengthLine.

[2017-03-22 16:24] Denz1994 commented on #56
Check all TODO statements in the intro directory for the removal of properties and links.

[2017-03-22 17:51] #56 closed, assigned to Denz1994

[2017-03-22 17:53] Denz1994 commented on #56
The IntroModel has been added. The intro model is still being updated as the sim is being developed so this issue will be closed.

[2017-03-22 17:56] Denz1994 commented on #42
This is no longer an issue. I can't specify what commit fixed this, but it is no longer a problem.

[2017-03-22 18:04] Denz1994 commented on #30
There was some hackish code that solved this issue. I forgot to remove this and the problem still exists.

Hackish solution:
[code]

[2017-03-22 20:32] Denz1994 commented on #42
The best method to reproduce the bug involves:

1. Start a spring oscillation with a mass.
2. Adjust spring constant.
3. Stop spring oscillation with stop sign button
4. Switch scenes and repeat steps 1-3.
5. Switch scenes again.
6. Start an oscillation and stop it with the stop sign button.
7. At this point switching scenes quickly will make the spring oscillate as if it was never stopped.

I can

[2017-03-22 20:37] #30 closed, assigned to Denz1994

[2017-03-22 20:37] #42 closed, assigned to Denz1994

[2017-03-22 23:30] #59 closed, assigned to Denz1994

[2017-03-23 15:21] Denz1994 commented on #56
The energy model has also been added in commit 7f20a3e0d0f9609d38e93667b7592191634bd25a.

[2017-03-23 17:51] Denz1994 opened #65 "Mass radius inconsistent with actual cylinder radius derivation."
Considering the comment from @samreid. The ``` this.radius``` attribute should be a square root and not a cube root.
[code]

[2017-03-23 18:06] Denz1994 commented on #65
After double-checking this suggestion and changing the root the masses are too small in radius.

Using the above suggestion we get this:
_Square root_
![image](https://cloud.githubusercontent.com/assets/13894380/24262074/8bd17364-0fbe-11e7-9562-09f155d37450.png)

_Cubed root_
![image](https://cloud.githubusercontent.com/assets/13894380/24262118/b53a68dc-0fbe-11e7-91f7-79d8aaab8210.png)

Note: Look

[2017-03-23 21:38] samreid commented on #65
@Denz1994 would it be possible to use the square root and change the radii (so that they match the cube root version)?

[2017-03-27 16:51] Denz1994 commented on #62
The two commits above work to remove this duplicated code as suggested with a passed in a tandem argument into the createLine function.

[2017-03-27 16:51] Denz1994 commented on #62
Assigning to @samreid for review.

[2017-03-28 15:44] Denz1994 commented on #61
There were several places where inheritance could have been refactored, such as the ruler, timer, line, and panel. The suggestion above was considered for these objects as well. Assigning @samreid for review.

[2017-03-29 00:50] Denz1994 opened #66 "Structure for masses and parameters should be refactored."
The current methods for stashing and applying scene parameters in the intro screen need cleaning. The parameters should be of an object type and referenced as such.
0
This may also be handled similarly for the creation of the masses. Currently, the masses are created and referenced in an array. It would be better managed in an object as to not confuse indexes and order of creation.

These are all

[2017-03-31 18:32] samreid commented on #62
Looks good, it would be even better if `createLine` was a local var declared in the constructor, since it does not need to be used elsewhere.  Also, please add JSDoc for the `createLine` function.

Also, only use `self` inside closures.  Use `this` where possible.

[2017-03-31 18:38] samreid commented on #61
IndicatorVisibilityControlPanel looks good.  It looks like this same pattern should be applied to SpringHangerNode, which is a Node that has only one child.

[2017-04-03 15:22] Denz1994 commented on #61
Also changed inheritance of springHnagerNode.js

[2017-04-03 16:01] Denz1994 commented on #62
Above suggestions where implemented.

[2017-04-03 19:24] Denz1994 commented on #65
A scaling factor has been added for the radius to keep proper derivation using square root.

[2017-04-04 15:58] phet-steele opened #67 "TypeError: Cannot read property 'get' of undefined"
[code]

[2017-04-04 16:12] Denz1994 commented on #67
Multilink should be moved to model for Vector screen. The current implementation has it in the common model. This won't be a quick fix and will require significant refactoring of the multiLink.

Thanks for the report.

[2017-04-04 19:27] Denz1994 commented on #66
Consider this suggestion by @samreid. Should be able to remove referencedMass()
Keep masses local and array of masses global so they can be referenced by index.

[code]

[2017-04-04 23:50] Denz1994 commented on #66
The suggestion proposed above is useful and I would imagine will be implemented at some point in this sims lifespan. I don't want these masses as an array type because referencing will require index management for stashing and applying scene parameters.

[2017-04-05 17:00] samreid commented on #66
I thought the code was refactored into separate states so there is no more stashing and applying?

[2017-04-13 20:19] samreid commented on #61
Looks great, thanks!  Closing.

[2017-04-13 20:19] #61 closed, assigned to samreid

[2017-04-13 20:24] samreid commented on #62
Everything is looking good so far, the only thing I noticed is that:

masses-and-springs/js/common/model/MassesAndSpringsModel.js
masses-and-springs/js/common/model/Spring.js
masses-and-springs/js/common/view/DraggableRulerNode.js

and other files still use `self` where `this` should be used.

[2017-04-17 18:17] Denz1994 commented on #63
I believe this was fixed in commit 424ff07. Re-assigning for review.

[2017-04-17 18:36] samreid commented on #63
Looks great, thanks! Closing.

[2017-04-17 18:36] #63 closed, assigned to samreid

[2017-04-17 19:11] Denz1994 commented on #62
Reviewed all the current instances of self and adjusted some implementations in several files. Reassigning for review.

[2017-04-17 20:00] samreid opened #68 "Unexpected link callbacks?"
While reviewing #62 I noticed this code in Spring.js

[code]

I am not sure how to read this.  Normally the only vars referenced in a link function should be the variables that were linked (or constants).  But in this case, It looks like when gravity or spring constant changes, it starts animating, but only if a mass was attached.

Also, if this listener turns out to be correct, it looks like it s

[2017-04-21 19:08] jbphet opened #69 "design of scene switching on the first screen is inconsistent with other sims"
I'm doing some code review on Masses and Springs, and I'm troubled by the current behavior of the radio buttons that select between equal length springs and different length springs on the "Intro" screen.  The behavior described can be seen in version http://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.1/masses-and-springs_en.html.  The selection buttons look like this:

![m

[2017-04-24 15:09] Denz1994 commented on #67
I believe this was fixed in commits  8f8097809ee0b8e389757c293d5e07680f01f5f0 and 3b7f72e9465fc2667f1ac34cdafc98c16b66d96e. I cannot reproduce this error as well.

[2017-04-24 15:09] #67 closed, assigned to Denz1994

[2017-04-24 16:24] jbphet commented on #69
I'm going to mark this as high priority, since I'm doing some code review on this sim, and one of the areas that may need some attention is related to this feature, so it would be good to know whether it's going to change and, if so, how, before investing a lot of effort in it.

[2017-04-24 17:34] jbphet opened #70 "preliminary code style and structure feedback"
Since @Denz1994 is relatively new to PhET, we've decided to do some periodic intermediate code reviews so that he gets feedback on things like coding standards, architecture, and so forth, as the implementation progresses.  He and I just went through a review of a couple of files, here is a list of what we discussed (for followup):

File: `MassesAndSpringsModel.js`

- [x] comment: "TODO:: There ha

[2017-04-24 18:41] arouinfar commented on #69
@jbphet I'm still leaning towards ESPB-style scene selection -- one set of masses, masses return to their "home" location when the scene is changed. That said, I do not think that the sliders controlling spring properties such as length or spring constant should reset when switching between the scenes. The same goes for checkboxes -- switching scenes should not affect checkbox selection.

I think

[2017-04-24 19:12] Denz1994 commented on #69
Referencing #41, it was discussed that varying the color of the masses would help in providing a better indication that each scene has a different set of masses.

[2017-04-24 19:13] arouinfar commented on #69
Thanks @Denz1994, though after discussing the scene selection options with @jbphet, I think we'll instead want to keep the same set of masses across both screens.

[2017-04-24 22:34] Denz1994 commented on #18
There are no more instances of propertySet() and removed usages of property.preventGetSet().

[2017-04-24 22:34] #18 closed, assigned to jbphet, Denz1994

[2017-04-25 15:09] Denz1994 commented on #70
The management of the scene state has been completely refactored as per suggestion by @jbphet. It includes state management in the mass and spring objects respectively and relaying that back to the intro model. The previous attempt handled everything in the model.

I was able to remove about 150 lines of code with this change and the code looks a lot more compartmentalized and readable.

There is

[2017-04-26 15:03] Denz1994 commented on #66
This issue has been deferred to #70. A different approach towards state restoration has been implemented and is awaiting review. Closing this issue because it is addressed elsewhere.

[2017-04-26 15:03] #66 closed, assigned to Denz1994

[2017-04-26 16:49] #39 closed, assigned to Denz1994

[2017-04-26 16:49] Denz1994 commented on #39
Commit b323e2b fixed this issue.

[2017-04-26 16:52] Denz1994 commented on #57
Assigning to @samreid for review.

[2017-04-26 17:29] Denz1994 commented on #60
Reassigning to @samreid for review.

[2017-04-26 18:15] ariel-phet commented on #69
@arouinfar @Denz1994 I agree that the ESPB-style paradigm seems best to follow if we are going to go with scene selection.

[2017-04-26 18:25] Denz1994 commented on #69
I will begin working on these adjustments. Due to the agreed upon nature of mass behavior during scene selection, I will also close #41.

[2017-04-26 18:25] Denz1994 commented on #41
Reference #69

[2017-04-26 18:25] #41 closed, assigned to nobody

[2017-04-26 20:55] Denz1994 commented on #69
I was able to make the desired changes to the scene selection behavior. However, there is a side effect.

The masses have this slight dropping animation that resembles the masses behavior when you initialize the sim. However, when you switch the scenes you get this dropping animation as well. This is also mimicked by pressing the reset button quickly as well.

**Thoughts:**

_Pros:_
- Gives more c

[2017-05-04 23:03] arouinfar commented on #69
@Denz1994 I agree with <i>Pros</i> you've outlined, though I think the dropping animation on startup is enough to convey the information. When switching scenes, I find the animation a bit distracting, and I agree that it could definitely look like a bug when paused. I would recommend that we remove the dropping animation from the scene selection.

[2017-05-04 23:06] Denz1994 commented on #69
Thanks for the feedback, I will work on removing the dropping animation from the scene selection.

[2017-05-08 15:35] Denz1994 opened #71 "Truncate links managing visibility of spring vectors and forces"
Current workable code looks like this:

[code]

I believe this can be refactored.

[2017-05-08 17:01] Denz1994 opened #72 "Stop Spring Button doesn't cooperate with acceleration and net force vectors."
When the stop spring button is pressed the acceleration vector and net force vector don't go to appropriate values. Ideally, the vectors should have a lenght of zero because there is no net force or acceleration.

**Steps to reproduce:**
1. Go to vector screen
2. Start an oscillation with a mass
3. Turn on either acceleration or net force vector visibility
4. Press stop spring button
5. Vectors sh

[2017-05-08 18:42] Denz1994 commented on #71
I was able to remove about 40 lines of code and it does look cleaner and concise, but can we do better?

Current code:
[code]

[2017-05-08 18:42] Denz1994 commented on #71
Tagging @samreid for a review perhaps on Thursday.

[2017-05-08 20:03] samreid commented on #71
Thanks, it is looking much better. I have a few preliminary recommendations:

1. Eliminate `===true` and `!==null` and use truthiness instead
2. eliminate extra ()
3. name the callback parameters to match the properties
4. Factor out a constant for `'forces'`

I believe after this is complete, moving back to the "one arrow per multilink" will be better (making it clear what depends on what), we'll

[2017-05-08 20:22] Denz1994 commented on #71
I made those adjustments. Thanks for the suggestions.

[2017-05-08 20:24] samreid commented on #71
Thanks, I'll try factoring them out momentarily.

[2017-05-08 20:24] samreid commented on #71
Also, is `!!` necessary?  If so, why?

[2017-05-08 20:29] samreid commented on #71
I was thinking of something like this:

[code]

[2017-05-08 20:31] Denz1994 commented on #71
Oh, I see. I misunderstood.

I was following documentation from this link for your first point.
https://www.sitepoint.com/javascript-truthy-falsy/

[2017-05-08 20:35] Denz1994 commented on #71
If I don't add ```!!spring``` and leave it with either ```!spring``` or ```spring``` then I get an error. The value for spring is null when there isn't a spring attached and the vectors should only be visible when they are attached to a spring. Is this just a syntactical error?

Is there a shorthand for ```spring !== null```?

[2017-05-08 20:40] samreid commented on #71
Thanks for helping me understand the problem.  It looks like Node.setVisible() requires a boolean, not just a truthy value, so we will need to use `!!spring` as you recommended.

[2017-05-08 20:41] Denz1994 commented on #71
Okay that makes sense then.

[2017-05-08 23:05] Denz1994 commented on #68
You interpreted this correctly. We want to animate the spring only when a mass is attached and if the spring constant and gravity changes.

I factored out the body of the function in a multilink. I know this goes against the conventional use of multilink, but I think I used it because at the time it worked. I don't like going against the convention due to inconsistency, but the multilink architect

[2017-05-09 00:28] samreid commented on #68
Should it start animating when the massProperty value changes?

[2017-05-09 16:31] Denz1994 commented on #68
Linking only the massProperty doesn't give the desired results.

_Consider this scenario:_
A spring with an attached mass should animate when the gravity of the system changes. The weight increases and the spring should match this phenomenon by animating an elongated spring. The same can be considered for spring constant.

[2017-05-09 16:38] samreid commented on #68
This line is buggy:

[code]

`self.massProperty.get` will always be true.  It should be written as `self.massProperty.get()` to get the correct value.

I'm just wondering: if a mass is attached to a spring (keeping gravity constant), should animated get set to true?  If not, why not?

[2017-05-09 16:50] Denz1994 commented on #68
- Yes, when the mass is initially attached.
- No, once the mass is at rest but still attached to the spring.
- Yes, when the spring constant of the spring changes.

```this.animatedProperty``` acts only as a flag for the ```stepOscillate()``` function to be called.
```stepOscillate()``` is responsible for the oscillation of the spring

[2017-05-09 16:53] samreid commented on #68
Where is the code that starts animation when the mass is initially attached?

[2017-05-09 17:00] Denz1994 commented on #68
```MassesAndSpringModel.js``` line 393-395 is always calling the stepOscillate() function whether the mass is attached or not. Once we are in stepOscillate()  in ```Spring.js``` line 325, we first check if the mass is attached and continue from there with how the spring should oscillate.

[2017-05-09 17:26] Denz1994 commented on #68
We can significantly reduce the number of calls to  ```stepOscillate()``` in the step function if we check if the mass is attached before we call it in ```step()``` in the ```MassesAndSpringModel.js```. Previously the function was always being fired, but now we only fire it when a mass is attached.

This should help with performance.

[2017-05-10 16:16] Denz1994 opened #73 "Reset function being called inefficiently."
After some investigation on #69, I realized the reset() in the intro screen is being called at unnecessary locations. Also there are 4 different reset function variations :
``` reset() , resetState(), resetMassesState(), applyResetState() ```

This seems confusing.

We can combine some of these functions by using parameters instead.
```resetState() & resetMassesState()  --->  resetState(massesOnly

[2017-05-10 20:32] Denz1994 commented on #51
This is still a problem and needs to be tracked via a commit. I can't pinpoint what commit closed this issue.

[2017-05-10 20:58] #51 closed, assigned to Denz1994

[2017-05-11 15:25] #69 closed, assigned to Denz1994

[2017-05-11 16:49] Denz1994 opened #74 "Add friction slider to the gravity control panel."
Make this happen.

![image](https://cloud.githubusercontent.com/assets/13894380/25961251/e3e65f58-3636-11e7-9eb5-91981b91d1fb.png)

The friction property will need to be added to model. I'm reserving that for a new issue.

[2017-05-11 20:11] Denz1994 opened #75 "Add flag to determine whether the vectors' visibilty links need to be called."
While reviewing #71 with @samreid, we confirmed that it would be worth not updating vectors if they aren't visible. This may cause performance lag on other screens where they shouldn't be called anyway (i.e. "intro and "energy").

_Proposed Solution:_
- Add an extended options flag to the view that would manage a conditional statement around the mulitlinks for the vectors.

[2017-05-11 20:16] samreid commented on #71
- [x] also check to see if the other callbacks can be factored out like that

[2017-05-11 20:49] Denz1994 opened #76 "Bounds don't scale well with changing screen size."
Making the screen smaller makes the panels shift out of the view bounds.

_Proposed Solution:_
- Define max width for panels
- Consider alignment with the right side of the panel to the right side of the screen.

[2017-05-12 15:25] samreid commented on #68
@Denz1994 can you comment on next steps after the above commit?

[2017-05-15 15:06] Denz1994 commented on #68
The commit 0030b66039571654cb9f2840f3b5e237f737e4d4 factored out the body of the link. We were also able to multilink the referenced properties in the link's function in commit 0526612 and significantly reduce the amount of stepOscillate() calls. After testing the changes, I am ready to close this issue.

[2017-05-15 15:06] #68 closed, assigned to Denz1994

[2017-05-15 16:55] #76 closed, assigned to Denz1994

[2017-05-15 21:13] Denz1994 opened #77 "Timer and Ruler doesn't stay within bounds when screen size changed."
Steps to reproduce:
1.Start sim on any screen.
2. Drag out a timer from the toolbox
3. Drag timer to the left or right border of the screen.
4. Make browser screen smaller.
5. The timer will eventually fall off the screen.

The same thing happens with the ruler. The drag bounds are static and don't follow the current screen bounds.

[2017-05-15 22:25] #74 closed, assigned to Denz1994

[2017-05-15 23:33] Denz1994 commented on #77
Deferring this problem until a response on #302 as the solutions may be related.

[2017-05-16 14:51] #75 closed, assigned to Denz1994

[2017-05-16 14:59] Denz1994 opened #78 "Mass node vector updates called excessively"
All of the mass node vectors are being updated even though one mass is being adjusted.

For example: Adding one mass to a spring triggers 7 calls to update the vectors.

All of the masses aren't supposed to updated when not adjusted. Fix it!

[2017-05-16 15:00] Denz1994 commented on #78
_Thoughts:_

-  I may be able to target a specific mass based on its userControlledProperty

[2017-05-16 15:22] Denz1994 opened #79 "Contents within Vector and Reference Line panels are not aligned"
Try a stringTest=x or stringTest=long. You will see that the icons represented within the vector and reference line panels aren't aligned. Thy should be formatted regardless of panel dimensions.

_Thoughts:_
- Consider using an HBox with an hStrut to combine text and icons.

![image](https://cloud.githubusercontent.com/assets/13894380/26113902/16c09a7a-3a19-11e7-80a5-24016cf9f0f0.png)
![image](htt

[2017-05-16 17:36] Denz1994 commented on #71
Fixed in commit b759d77506476953ca4dbc5fd0796fbfc240630e

[2017-05-16 17:36] #71 closed, assigned to Denz1994

[2017-05-16 17:39] Denz1994 commented on #73
So far this is a major improvement on a number of calls we need and reduction on the lines of code. Closing due to improvements.

[2017-05-16 17:39] #73 closed, assigned to Denz1994

[2017-05-16 20:06] Denz1994 commented on #78
Only updated vectors if the vector is visible.

[2017-05-16 20:06] #78 closed, assigned to Denz1994

[2017-05-16 22:01] Denz1994 commented on #79
This has been corrected. Good job @Denz1994.

[2017-05-16 22:01] #79 closed, assigned to Denz1994

[2017-05-18 19:03] Denz1994 opened #80 "Performance Review with JO"
This may be a good time to get some feedback on performance behavior, tools, and practices for sim development:

- [x] View elements are more taxing than model elements? Consider #78, #73

[2017-05-22 16:10] Denz1994 opened #81 "Consider using Align Box for Panel elements"
https://github.com/phetsims/circuit-construction-kit-common/issues/323#issue-230262510

Use ```AlignBox.js``` instead of the hard-coded hStruts for aligning panel text.

[2017-05-24 19:52] phet-steele opened #82 "Error: Assertion failed: Segment start is infinite"
[code]

[2017-05-24 19:57] Denz1994 commented on #82
I am trying to reproduce this and can't. If this is coming from bayes, I think I saw this earlier today and attempted to fix it with success. I will wait to see if bayes gets this same error and tackle this later today.

[2017-05-24 20:01] phet-steele commented on #82
@Denz1994 bayes has been reporting this error since 10 AM this morning (5/24).

[2017-05-24 20:03] Denz1994 commented on #82
Ahh okay, I'll take a look today then. Thanks for the update.

[2017-05-24 22:22] Denz1994 commented on #82
The last 8 Bayes testing runs don't appear to have this error. Also, 4 individual fuzz test runs for 5 minutes each didn't reproduce this error.

[2017-05-24 22:24] phet-steele commented on #82
@Denz1994, if you can, may you reference the commit(s) you think fixed this, then close?

[2017-05-24 22:26] Denz1994 commented on #82
Commit 8f6813618176c73ed5260b464aa634f17937186f is what fixed this issue. Commit 0d4a7fec97588d66e1e5fd7694bdfd1771b2c16d is what I think caused it.

[2017-05-24 22:26] #82 closed, assigned to Denz1994

[2017-05-29 03:44] samreid commented on #36
This review still needs to be done, but I'm no longer sure who/when.  @ariel-phet can you please comment?

[2017-05-31 16:00] Denz1994 opened #83 "Spring thickness not updated on all screens"
Only the intro screen shows a spring thickness update when the spring constant is changed. This was working at one time, but I don't know what commit forced this error. The function updateThickness() may need to be called as expected.

[2017-05-31 16:00] ariel-phet commented on #36
@jbphet should be working on the review this week or next, once ExEx has gone to RC testing

[2017-05-31 18:26] Denz1994 commented on #80
The meeting was successful. Was able to make sim look visually smoother by changing the rendered and the pathBoundsMethod. I will try making the same adjustments to the massNodes.

[2017-06-05 15:39] #81 closed, assigned to Denz1994

[2017-06-05 15:52] Denz1994 commented on #80
After adjustments made to the rendering of the springs and masses visually on both firefox and chrome (windows 10) the sim looks better. Most of the animations are performed by the springs and masses and they look significantly smoother as opposed to jumpy and laggy.

Using the profiler I was only able to get the frames to drop to 43 fps (previously 24fps). I did this on the vector screen, with al

[2017-06-05 15:53] Denz1994 commented on #80
It may be worth performing the same rendering enhancements on the vectors. Will continue to investigate.

[2017-06-05 16:11] Denz1994 commented on #80
Changing the "boundsMethod: safePadding" gave me these weird side effects for the layout.  I didn't make any changes to the VStruts in the panel. It seemed to make the bounds of the arrows larger and take up more negative space around the arrow.

![image](https://cloud.githubusercontent.com/assets/13894380/26792025/4bbb2444-49d6-11e7-809d-625012a37a7e.png)

However, changing the renderer to canvas

[2017-06-05 16:11] #80 closed, assigned to Denz1994

[2017-06-05 17:03] Denz1994 commented on #83
I don't know why this problem appeared and then was fixed. I can't reproduce this bug so I am closing for now. I don't know what commit caused and fixed this issue.

[2017-06-05 17:03] #83 closed, assigned to Denz1994

[2017-06-05 19:14] Denz1994 commented on #72
After experimenting with listeners for the rectangular push button, I found a workaround that sets the net acceleration to zero when the mass stop oscillating. There are no need to create and dispose of listeners.

[2017-06-05 19:16] #72 closed, assigned to Denz1994

[2017-06-07 03:08] samreid opened #84 "Use StringUtils.fillIn instead of StringUtils.format"
From https://github.com/phetsims/circuit-construction-kit-common/issues/350 StringUtils.fillIn is a better way to internationalize and recommended for future production simulations.

[2017-06-08 19:43] Denz1994 opened #85 "Legend for energy graph modal or non-modal."
As of right now, the legend for the energy graph uses a modal dialog box. Following the design doc the legend mimics a dialog box similar to the "About" dialog in the nav bar.

-Design Doc 2017

We had some discussion in dev meeting about dialog boxes and apparently, there are other sims that use a similar dialog box but in a non-modal method. It was suggested by several devs to ask if this was th

[2017-06-08 19:44] Denz1994 commented on #85
More of my two cents:

Would it be ideal to allow users to change screens, while the dialog box is open? As of right now, you can't.

[2017-06-08 19:54] Denz1994 opened #86 "Limits on zooming in/out."
Is there a specific scope that the bars should remain in when zooming in or out? Using the current implementation of Pendulum-Lab, you can zoom in and out indefinitely. Is this something that should be limited?

http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.11/pendulum-lab_en.html
compared to
http://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.3/masses

[2017-06-08 20:12] arouinfar commented on #85
@Denz1994 thanks for publishing a new dev. The energy dialog behaves exactly as I had imagined. I don't think it would be particularly helpful for the students to interact with the sim while the dialog is open, so I'd rather stick with a modal dialog.

[2017-06-08 20:13] Denz1994 commented on #85
Okay sounds good. Thanks for the feedback!

[2017-06-08 20:13] #85 closed, assigned to Denz1994

[2017-06-12 16:38] Denz1994 commented on #84
I have implemented stringUtils.fillIn() without the use of stringUtils.format(). I also changed how some of the strings were being used and unnecessary stringUtils.format() calls. The placeholders in the  `masses-and-springs-strings_en.json` have been updated to accommodate stringUtils.fillIn().

Assigning to @samreid for review.

[2017-06-12 16:47] Denz1994 commented on #84
Follow-up: Does this mean that in all sims, usages of stringUtils.format() should be replaced by stringUtils.fillIn()? I would imagine similar treatment of sims would follow the pattern of https://github.com/phetsims/axon/issues/102, where we are constantly chipping away at usages of stringUtils.format()

[2017-06-12 16:49] samreid commented on #84
Yes, `fillIn` is preferable, though we don't want to have to force translators to re-translate everything so we may stick with `format` for a long while.

[2017-06-12 16:51] samreid commented on #84
What is the `Length 1` string for?  I can't see it in context?

[2017-06-12 17:41] Denz1994 commented on #84
Okay, that makes sense. It may be a headache for translators.

The Length 1 string is used on the Intro screen in the second scene.

![image](https://user-images.githubusercontent.com/13894380/27047101-186e5a64-4f64-11e7-92f2-c218975c2baf.png)

[2017-06-12 17:45] Denz1994 commented on #84
The "Length 1" title seems a bit odd to me in its current state. Maybe "Natural Resting Length" or "Spring Length".

I assume "Length 1" is minimalist, like "Constant" or "Gravity".

[2017-06-12 17:51] samreid commented on #84
Perhaps "Spring 1 Length" if it is important that it refer to spring 1?  The rest of the change set looks good.

[2017-06-12 17:54] Denz1994 commented on #84
Sounds good. I will close this issue and make a new design issue related to the title of this panel. Thanks!

[2017-06-12 17:54] #84 closed, assigned to samreid, Denz1994

[2017-06-12 18:00] Denz1994 opened #87 "Change Spring Length Title "Length 1"?"
![image](https://user-images.githubusercontent.com/13894380/27047624-fa4af82e-4f65-11e7-8196-e38134398c5f.png)

"Length 1" is the current title of the panel that changes the natural resting length of a spring. My thought was that this could be worded better. Perhaps, "Spring 1 Length" or "Natural Resting Length"?

Just a thought, but if "Length 1" works, then let it be.

[2017-06-12 18:02] Denz1994 commented on #86
I forgot to mention that using the zoom in button on the latest dev version will cause to bars to exceed the panel. This is a bug.

[2017-06-12 21:34] arouinfar commented on #87
@Denz1994 good point. I like "Spring Length 1".  I put the number at the end to be more in line with other sims (like Hooke's Law) were the label reads as "variableName #". What do you think?

[2017-06-12 21:53] Denz1994 commented on #87
I don't mind "Spring Length 1". I think it sounds better than "Length 1". I will implement this. Thanks for the input.

[2017-06-12 21:59] arouinfar commented on #86
I really like this idea @Denz1994. Given the pretty big range in possible values, I'm not sure how many steps will be necessary to make this possible, but I have a feeling it may be more than 3.

When maxing out m, k, g, and x (mass dragged down to navbar), the total energy bar should completely fill the most zoomed out setting. On the flip side, a reasonable "minimum" scenario (min m, min k, g=mo

[2017-06-12 22:03] Denz1994 commented on #86
Okay, that gives me something to work with. I will play around with some values and post a dev version for review. Thanks!

[2017-06-13 16:55] #87 closed, assigned to Denz1994

[2017-06-14 15:52] samreid commented on #65
The code change seems great, thanks, closing.

[2017-06-14 15:52] #65 closed, assigned to samreid

[2017-06-14 22:44] Denz1994 opened #88 "Adjust Screen Bounds"
The view needs more screen real estate to work with. The TwoSpringView layout bounds should be responsible for this. This will also require that all panels and view elements are laid out in respect to the view bounds, not other view elements. This won't be a quick fix due to having two common views.

[2017-06-14 23:03] Denz1994 commented on #86
I was able to fully implement the zoom in/out feature for the energy graph and posted a dev version for testing.

deployed: http://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.4/masses-and-springs_en.html

I recommend using the mass value control panel to adjust the green bar. The other sliders such as friction, spring constant, and gravity sliders control the other bars. Th

[2017-06-15 16:21] Denz1994 opened #89 "Info Icon needs to be added to legend button."
![image](https://user-images.githubusercontent.com/13894380/27191235-6b644e98-51b4-11e7-90d9-1c87a316cba1.png)
Make this happen.

[2017-06-15 16:29] arouinfar commented on #86
@Denz1994 I really like the idea of using a 2^n zoom level. The default zoom level will probably need to be somewhere in the middle to optimize the for the default parameters. We might want to consider labelling the zoom level with respect to the default, so 1/4, 1/2, 1, 2, 4 rather than 1, 2, 4, 8, 16 -- but that's something we can consider more once the energy values are implemented.

I'd like t

[2017-06-15 16:46] arouinfar opened #90 "Design screen icons"
We need screen icons!

[2017-06-15 17:35] Denz1994 commented on #89
This may need to be drawn programmatically. I don't think there is a common code shape for it.

[2017-06-15 19:24] Denz1994 commented on #86
I like these changes. I am working on adding the arrows into the common code file. I also like the readout for the zoom (2x).

Should the (2x) zoom readout be internationalized @arouinfar?

[2017-06-16 17:06] arouinfar commented on #86
Great question. I would think that "x" for multiplication is pretty universal mathematical symbol, and we don't support i18n of numbers, so my guess is that it may not be necessary. @Denz1994 can you hold off on i18n until the design team can review the changes?

[2017-06-19 14:23] Denz1994 opened #91 "Hooks for masses."
According to design doc and a design meeting from earlier this year.

Is there artwork for the mass hooks? If not I can use the Java version as a mockup and see how that looks.
![image](https://user-images.githubusercontent.com/13894380/27289819-8a108dae-54c8-11e7-918d-5aae9c04dc79.png)

[2017-06-19 14:28] Denz1994 commented on #88
I should add the other two masses on the one spring view before adjusting the screen bounds.

![image](https://user-images.githubusercontent.com/13894380/27290013-1e668aa8-54c9-11e7-9287-a0db652eaeb1.png)

[2017-06-19 17:40] arouinfar commented on #91
@Denz1994 I haven't mocked up the hooks, but they should look similar to the Flash version. After you add the hooks, you'll need to shift the equilibrium position down so it remains even with the top of the mass.

[2017-06-19 21:11] Denz1994 commented on #91
I just added a prototype for the hooks. Let me know if you like them. Also, it was mentioned during a status meeting some time ago and in the design doc that the sizes of the masses were too big. These masses are smaller but aren't exactly how the design doc specified.

I would add as well, ignore the lab screen mass labels. It is still a work in progress.

Test here:http://www.colorado.edu/physic

[2017-06-20 18:45] Denz1994 commented on #89
There is a common code shape for this... FontAwesomeNode.js

I imported the svg data for a new 'info_circle' for font awesome. This was then imported as the content option for my info button. Thanks, @pixelzoom for the suggestion assigning for review of common code changes.

Re-assigning for review of common code changes.

[2017-06-20 18:51] pixelzoom commented on #89
FontAwesomeNode change was in https://github.com/phetsims/sun/commit/c97ad88d7865e4efa2a4a630c793c67447a060f8.

Looks great 👍.  Back to @Denz1994 in case there's other work to be done here.

[2017-06-20 18:58] Denz1994 commented on #89
Thanks for the quick response. Closing this issue.

[2017-06-20 18:58] #89 closed, assigned to Denz1994

[2017-06-20 21:00] Denz1994 commented on #86
Adding a new dev version to test in the interim before the correct energy values are added.

http://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.6/masses-and-springs_en.html

Additions:

- Zoom readout (still needs 1/4, 1/2, 1, 2, 4 values)
- Continuous arrows added to the top of the bar nodes.
- Info button Icon
- Energy title position changed on graph area, not just the ac

[2017-06-22 00:35] jonathanolson opened #92 "Automated testing error"
[code]

[2017-06-22 16:17] arouinfar commented on #91
@Denz1994 the hooks look good! As for the dimensions, I believe the decision was to use the aspect ratio and scaling from Pendulum Lab.

Also, please ignore my previous request to shift the equilibrium position. For some reason I thought the equilibrium position referenced the top of the masses (which would require a shift) but they in fact are aligned to the bottom-most coil, which is the physica

[2017-06-22 17:02] Denz1994 opened #93 "Scaling of masses should resemble the masses in pendulum lab."
The MassNodes should be represented based on their volume. Check the ratio used in pendulum lab and replicate.

[2017-06-22 19:24] Denz1994 commented on #91
@arouinfar When you mentioned the aspect ratio, are you referring to the hook or mass?
The pendulum in pendulum lab doesn't have hooks to compare so I'm assuming you mean the mass.

[2017-06-22 19:30] arouinfar commented on #91
Great question @Denz1994. I was referring to the mass itself. Sorry about that!

[2017-06-22 19:32] Denz1994 commented on #91
Okay sounds good, then I will close this issue. I have created a new issue for the mass aspect ratio.Thanks for the feedback.

[2017-06-22 19:32] #91 closed, assigned to Denz1994

[2017-06-22 20:04] #92 closed, assigned to nobody

[2017-06-26 22:52] jbphet commented on #36
It took a while, but Expression Exchange is now in RC testing, so I'm going to take some time now to do some reviewing of this code.  I will create issues for the larger, multi-file things that I see, and will embed review comments in the code for the smaller things that can be handled more quickly and easily.

[2017-06-26 22:59] jbphet opened #94 "feedback on 'showVectors' option in MassesAndSpringModel"
The ```MassesAndSprings``` type has an option called `showVectors`.  This option doesn't actually control whether the vectors are shown, it ultimately controls whether they are created in the view elements.  There are separate properties, such as `velocityVectorVisibilityProperty`, that control whether vectors are actually shown.

I have two pieces of feedback about this option:
1. Since it never

[2017-06-29 17:01] Denz1994 opened #95 "Vectors don't respect dynamic size adjustments to massNodes."
Adjusting a mass's size doesn't make the vectors change position. Adjusting the size of the masses could produce these type of bugs as seen below.

![image](https://user-images.githubusercontent.com/13894380/27700242-3dd18110-5cba-11e7-972c-f8e025d4df39.png)

[2017-06-29 18:09] Denz1994 commented on #36
I've added a bunch of constants as suggested. This removed a lot of unchanged properties and numbers in the model and treats them as constants.

[2017-06-29 19:15] #95 closed, assigned to Denz1994

[2017-07-03 17:27] Denz1994 opened #96 "Thermal Energy for energy graph"
How are we calculating this value for the spring system?

![image](https://user-images.githubusercontent.com/13894380/27802673-819d4d68-5fe2-11e7-931a-4846b2b5b35b.png)

[2017-07-03 17:31] Denz1994 opened #97 "Friction Value for spring system"
We should determine the range of the friction values empirically.

![image](https://user-images.githubusercontent.com/13894380/27802778-233845ba-5fe3-11e7-96a9-d6f7c53203cd.png)

[2017-07-03 18:03] Denz1994 opened #98 "Update documentation of spring.step() with complex number implementation."
It is time to bring some clarity to this method, particularly in its documentation

- [x] Document what algorithm/mathematical model is being used
- [ ] Refactor variable names where possible.
- [ ] Factor out code where needed.

[2017-07-03 18:04] Denz1994 commented on #98
This feed was useful.

https://www.quora.com/What-are-over-damped-critically-and-under-damped-systems

[2017-07-03 20:01] Denz1994 opened #99 "Update About tab"
The about tab needs to be filled:
- [x] Fill credits

[2017-07-05 18:16] #99 closed, assigned to Denz1994

[2017-07-05 20:51] Denz1994 opened #100 "Add xAxis labels"
We need to have labels added to the X-Axis of the energy graph.

![image](https://user-images.githubusercontent.com/13894380/27884309-17d446d8-6191-11e7-9bd6-6460622c117b.png)

We need to make this an option for common code purposes.

[2017-07-05 21:29] Denz1994 commented on #100
I was able to build a template that works for both the sim and common code. The labels are options that when not supplied move the X-axis to the bottom of the chart area. Adding a label option shifts the x-axis up and added the labels that are provided in the options.

Labels are provided as an array of Text Nodes.

[2017-07-05 21:36] Denz1994 commented on #100
We also need to consider that buttons like this in ESPB may need to be added.
![image](https://user-images.githubusercontent.com/13894380/27886071-b6a1d112-6197-11e7-9c3f-d42af86b42a0.png)

[2017-07-06 17:10] Denz1994 opened #101 "Gravitational Potential Energy value is large when at bottom of screen."
We need to make sure that the position of the mass is the bottom of the massNode when calculating the GPE.

Currently, it is the middle of the mass hook.

![image](https://user-images.githubusercontent.com/13894380/27923488-bfa6629c-623b-11e7-8abe-d180659782ce.png)

[2017-07-06 17:21] #101 closed, assigned to Denz1994

[2017-07-06 17:21] Denz1994 commented on #101
Using the bottom of the mass as a reference for the position rather than the top, makes the GPE reduce to zero when the mass is at the bottom of the screen. This also gives us the correct value for the GPE to be represented on the screen.

Closing this issue.

[2017-07-06 17:26] Denz1994 opened #102 "Energy Graph doesn't dynamically represent mass attached to spring."
The mass that is represented in the energy graph remains the first mass produced by the screen. We need it to represent whatever mass is attached to the spring at that time.

[2017-07-07 18:11] veillette opened #103 "Options in Scenery Text should be passed as an Object."
[code]

[2017-07-07 18:16] veillette commented on #103
In
[code]

Instead of using

[code]
you should use

[code]

[2017-07-10 21:40] jbphet opened #104 "add model and implementation-notes documents"
We generally create two documents to help with the maintenance of the simulations, model.md and implementation-notes.md.  The audience for the former is people outside of PhET who may need a bit more information about how the simulation functions and what assumptions we made, and the latter is for internal use, and describes the 'big picture design' issues.  See https://docs.google.com/document/d/

[2017-07-10 23:19] jbphet opened #105 "equilibrium position doesn't get updated in some circumstances"
The equilibrium position in `EquilibriumLineNode` is only updated when visible.  This can lead to it being in an incorrect position if it is made invisible, then something that affects it is changed (such as the spring length when in the 'unequal sizes' mode), then it is made visible again.

This was found during code review, see #36.

[2017-07-11 13:26] Denz1994 commented on #105
Thanks for the report. I originally did this so the position updates for the reference lines don't need to be called when you can't see the lines in the view. However, you noticed a bug with this approach, so now the positions update regardless of visibility. Assigning to @jbphet for to review and close.

[2017-07-11 13:55] Denz1994 commented on #103
I can't replicate the error:
assert.js:20 Assertion failed: Extra prototype on Node options object is a code smell

The other error regarding font was addressed by adding it into the options object. Thanks for the report and suggestion. Assigning to @veillette for review and closure. If you can replicate the assertion error please reassign back to me. Thanks.

[2017-07-12 23:42] Denz1994 commented on #102
Confirmed with @arouinfar: We only want to represent the attached spring.

Method 1:
Add a method to the barNode that represents links/unlinks the appropriate property to be watched. So when a mass is changed we call barNode.switchProperty() and now represent this new mass's energy properties. I assume this will be more consistent with common code purposes but would take longer to code and test.

[2017-07-16 01:43] veillette commented on #103
Thanks. Work is done. closing.

[2017-07-16 01:43] #103 closed, assigned to veillette

[2017-07-17 22:40] jbphet commented on #105
Changes look reasonable, and the symptom seen before is now gone.  Closing.

[2017-07-17 22:40] #105 closed, assigned to jbphet

[2017-07-18 20:24] jbphet opened #106 "masses can be lost off screen"
Masses can be dragged off the screen and dropped, making them inaccessible to the user until a reset is performed.

This was noticed during code review, see #36.

My suggestion would be to replace the `TandemSimpleDragHandler` in `MassNode` with a `MovableDragHandler`.  There are a lot of examples of the usage of this drag handler in the code that you can draw from.

[2017-07-18 20:39] Denz1994 commented on #102
Check issue https://github.com/phetsims/griddle/issues/25 to see how this may be implemented more efficiently.

[2017-07-18 21:45] jbphet opened #107 "cursor for the handle for the reference line doesn't behave quite right"
On the current master, the little knob on the reference line doesn't cause the cursor to change to a hand for all of it.

It probably just needs the following line of code added to the creation of the `LasterPointerNode` in `MovableLineNode`.

[code]

[2017-07-18 21:53] Denz1994 commented on #107
I made a change to the cursor and it now changes to indicate the movableLineNode is pickable. Thanks for the suggestion. Closing.

[2017-07-18 21:53] #107 closed, assigned to Denz1994

[2017-07-19 19:18] Denz1994 commented on #106
Bounds added to mass so they can't be dragged off screen. After discussing with @jbphet and @arouinfar, they behavior of the masses being dragged limits the amount of oscillation that can be produced in the sim. This isn't a problem and is within the reasonable bounds of the sims expectations.

 Thanks for the input.

[2017-07-19 19:29] Denz1994 commented on #88
The layoutBounds should not be explicitly changed, rather the panels should be positioned inrespect the the screenView.visibleBoundsProperty().

[2017-07-19 20:33] Denz1994 commented on #88
The panels are now aligned with the screenView.visibleBoundsProperty.

[2017-07-20 16:23] Denz1994 commented on #100
Closing this issue because we have added an option for the labels and the labels have been added to the x-axis. All other concerns should be addressed in the common code component in Griddle.

[2017-07-20 16:23] #100 closed, assigned to Denz1994

[2017-07-20 17:44] Denz1994 opened #108 "Floating panels in for screens"
Should the panels float outside of the dev bounds? I am working on having the right outermost panels float along with the play button controls, play speed radio group, and the reset button. I will post a dev version to look at soon.

[2017-07-20 18:51] Denz1994 commented on #108
@arouinfar Do you think that we need floating panels for the sim due to the space constraints on the lab screen? The masses are a bit too large to fit in the space. How do you think we should handle this?

You can see the difference in the spacing in the intro/vector (floating) screens vs. the energy/lab (non-floating) screens.

[2017-07-20 21:27] Denz1994 commented on #77
I think this problem was fixed as a side effect of #106. I can't reproduce it so I am closing.

[2017-07-20 21:28] Denz1994 commented on #88
Closing this and referring this issue to #108.

[2017-07-20 21:28] #88 closed, assigned to Denz1994

[2017-07-21 17:27] Denz1994 commented on #77
The drag bounds have been changed for the screen so this is still a problem.

[2017-07-21 17:34] arouinfar commented on #108
@Denz1994 and I chatted a bit about this yesterday afternoon. Floating panels won't address the issue of a crowded Lab screen on iPad, so we'll need to make a few layout tweaks.

- [x] Float panels on all screens (looks less claustrophobic)
- [x] Tools also need to float
- [x] Move mass panel to top of screen to free up space for the masses
- [x] Format mass slider track like Gravity (add min/max

[2017-07-21 19:21] Denz1994 commented on #106
We changed the bounds of the screenView so there is still a possibility of losing the masses on smaller screens.

As of now, the TwoSpringView is behaving ideally. We don't lose the masses anymore, but the ruler and timer can still be lost.

[2017-07-21 20:51] jbphet opened #109 "reduce code duplication in TwoSpringView"
I'm seeing a lot of duplicated code in the file `TwoSpringView.js`.  Here is an example:

[code]

The bulk of the code is exactly the same with just a couple of adjustments for the different springs.  This pattern occurs several times in the file.  It would be better if the springs were in an array, and there was a loop where the various controls and lines were added based on their positions.

Als

[2017-07-21 21:19] jbphet opened #110 "consolidate and fix NaturalLengthLineNode and EquilibriumLineNode"
`NaturalLengthLineNode` and `EquilibriumLineNode` are very similar - both are dashed, colored lines that follow a position property in the Y direction.  These should be consolidated.  Options can be used to set the differences.

Also, both have an issue with how they position themselves based on the property.  Below is an excerpt from `NaturalLengthLineNode`:

[code]

This is creating a new proper

[2017-07-21 21:22] jbphet commented on #110
Also, both of these have code to dilate the touch and mouse areas, but as far as I can tell from interacting with the simulation, neither of them are interactive, so I suspect that code can be removed.

[2017-07-21 22:22] jbphet commented on #109
Here's a thought, and @Denz1994 - you'll have to decide if this is a helpful suggestion.  Maybe some of the common elements, such as the lines, can be moved into `OscillatingSpringNode`.

[2017-07-21 22:50] jbphet opened #111 "consolidate common model-view transform"
The following code, with only very minor variations, is repeated five times in masses-and-springs.  This is a sign that this should be consolidated, either by refactoring other portions of the code or pulling into a common area.

[code]

[2017-07-24 15:52] Denz1994 opened #112 "Mass attached to springs should drag based on limits of spring contraction."
The dragging of the mass should look realistic. In line with this design, a request was made by @arouinfar to have the masses only reach a y position based on the coils and thickness of the spring it is attached to.

For example, a spring should stop when all the coils are compacted together.

![image](https://user-images.githubusercontent.com/13894380/28532011-b56a0482-7055-11e7-844a-e76c4b9b76f8

[2017-07-24 21:08] Denz1994 commented on #112
After speaking with @arouinfar, we concluded this looks a lot more natural and is an improvement. Special thanks to @samreid , @phet-steele , @jbphet , and @jessegreenberg for the help.

[2017-07-24 21:08] #112 closed, assigned to Denz1994

[2017-07-24 21:35] Denz1994 opened #113 "Spring hook in the way of the massNode"
The hooks reside in front/ on top of springs rather than being hooked on the spring. There is a current solution to place the bar behind the spring.

![image](https://user-images.githubusercontent.com/13894380/28545553-9ef68db8-7084-11e7-8a98-da49fe53dac3.png)

[2017-07-24 22:03] Denz1994 commented on #113
Putting the mass behind the spring in the scene graph is looks more realistic.

![image](https://user-images.githubusercontent.com/13894380/28546891-7fbb8e80-7089-11e7-8abb-1cf30259805a.png)

[2017-07-24 22:04] Denz1994 commented on #113
However, we do get this side effect...

![image](https://user-images.githubusercontent.com/13894380/28546935-bd8e55bc-7089-11e7-8575-224a08a880a6.png)

[2017-07-24 22:07] Denz1994 commented on #113
After speaking with @arouinfar, we decided to keep the original version if it takes too much time to fix the issue. I will discuss with @jbphet to develop a strategy to remove the layering issue.

[2017-07-26 00:23] samreid commented on #62
MassesAndSpringsModel.js and DraggableRulerNode.js still each have places in the constructor where `self` is incorrectly used instead of `this`.

[2017-07-26 19:06] jbphet opened #114 "EnergyModel seems unnecessary"
The `EnergyModel.js` file is just a specific configuration (i.e. two specified option values) of the `MassesAndSprings` parent type.  This adds an unnecessary level of inheritance, and it would be simpler to just use the parent model directly.  There is no rule that says that there must be a model type for each screen.

[2017-07-26 19:09] jbphet commented on #114
This is also true for `EnergyScreenView`, i.e. it does essentially nothing, and the parent class should just be directly used in `EnergyScreen`.

[2017-07-26 19:18] jbphet commented on #114
This was found during code review, see #36.

[2017-07-26 19:21] jbphet opened #115 "consolidate SingleSpringHangerNode and SpringHangerNode"
There are a number of duplicated values for things like the fill and the rectangle rounding in `SingleSpringHangerNode` and `SpringHangerNode`, which means these would need to be changed in two places if the design changes.  It should be reasonably straightforward to consolidate this object into a single type that takes an array of springs and adjusts the width and labeling accordingly.

This was

[2017-07-26 20:13] jbphet opened #116 "move control panel fill value into constants"
The fill pattern `rgb( 240, 240, 240 )` is repeated 9 times in the code - this should be moved into `MassesAndSpringsConstants` and be referenced from there.

[2017-07-26 20:13] jbphet commented on #116
Seen during initial code review, see #36.

[2017-07-26 20:31] jbphet commented on #114
This is also true of `VectorModel`.

[2017-07-26 20:41] jbphet commented on #36
Initial review is complete, assigning to @Denz1994 to address the `// REVIEW` comments.  In general, the code looks pretty good and is coming along very nicely.

Just to be clear, this is a sort of 'mid-term' code review since @Denz1994 is a fairly new developer, and we will still need to perform a final review before publication.

[2017-07-27 00:03] Denz1994 commented on #36
@jbphet Thanks for the review and input, I will work to make the appropriate changes.

[2017-07-28 14:04] Denz1994 commented on #106
We need to apply the same bounds to the OneSpringView

[2017-07-28 14:44] #116 closed, assigned to Denz1994

[2017-07-28 14:45] Denz1994 commented on #116
Added this constant and applied it to the panels. Thanks for noticing this.

[2017-07-28 15:10] #115 closed, assigned to Denz1994

[2017-07-28 15:17] Denz1994 commented on #115
Thanks for the suggestion. Some of these implementations were from months ago and I feel I know better now, but never got around to refactoring. Thanks for the review.

[2017-07-28 17:20] Denz1994 commented on #108
The floating panels have been added to both screens.

[2017-07-28 18:10] Denz1994 commented on #108
MassValueControlPanel had been moved to the top of the sim screen.

[2017-07-28 18:30] Denz1994 commented on #108
Added labels to the massValueControlPanel.

[2017-07-28 20:36] Denz1994 commented on #108
I made some adjustments to the MassValueControlPanel and the floating panels. I will move the issue relating to "tool panels need to float." As of right now, I have released a dev version for review.
@arouinfar How does the mass panel positioning look? How about the floating panels?

Should the masses float as well?
http://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.8/masse

[2017-07-28 20:44] Denz1994 opened #117 "Tools don't drag well with floating bounds"
We may need to change the drag bounds on the ruler and timer. The toolbox items just warp back and forth on the sim rather than positioning where they should be. This was mentioned by @arouinfar as part of a review of #108.

[2017-07-28 20:48] arouinfar commented on #108
@Denz1994 the positioning of the mass panel and the floating panels look good! It seems that the velocity/acceleration panel on Lab doesn't float, though. The behavior of the floating masses looks good to me.

[2017-07-28 20:50] Denz1994 commented on #108
Oh sorry, must have missed that panel. I will work on the panel floating and the masses floating. Thanks.

[2017-07-30 13:10] Denz1994 commented on #114
I think I got the original idea came from this point in the PhET code-review checklist:

I must have misinterpreted this because if there is nothing in the file it should be removed and not left in the sim code. I'll remove the unused files.

[2017-07-30 13:32] Denz1994 commented on #114
I removed some unused model/view directories.

[2017-07-30 13:45] Denz1994 commented on #117
We should look into employing MoveableDragHandler instead of TandemSimpleDragHandler.

[2017-07-30 15:25] Denz1994 commented on #117
Changed the drag bounds of the ruler and timer nodes to respect the visible bounds of the screen. I also used MoveableDragHandler and got rid of TandemSimpleDragHandler.

[2017-07-30 15:29] Denz1994 commented on #117
The ruler and timer can still be lost off of the screen if they are dragged too far to the extremes of the visible bounds of the screen. If you adjust the screen's bounds (minimize/maximize screen size) then they return into the view.

We should probably have the bounds of the nodes not intersect with the visible bounds of the screen.

[2017-07-31 20:19] arouinfar commented on #90
I'd like to mirror the icons used in Pendulum Lab, where possible.
![image](https://user-images.githubusercontent.com/8419308/28796389-980aad88-75fa-11e7-9524-d515ad23991d.png)

Once challenge is that there are two screens which have vectors (Vectors & Lab). I've mocked up some pretty rough screen icons. I'm pretty happy with Vectors and Energy, but would love to hear ideas from @ariel-phet and/or

[2017-08-01 19:31] Denz1994 opened #118 "MassNodes need to float."
It would look better for the sim view for the masses to float along with the panels. Their starting location should be relatively the same as they are [currently](http://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.9/masses-and-springs_en.html).

[2017-08-01 19:33] Denz1994 commented on #117
The rulerNode and timerNode no longer get lost off of the screen. The center of the nodes stays within the screen bounds as expected. Posting a [dev version](http://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.9/masses-and-springs_en.html) for @arouinfar  to review behavior.

@arouinfar If you don't see any issues with the ruler and timer being dragged off or floating please

[2017-08-01 19:47] arouinfar commented on #117
@Denz1994 tools an be completely dragged off-screen on the left and bottom part of the screen.

[2017-08-01 19:48] arouinfar commented on #117
To reproduce:
Resize the window so it is very wide
Drag ruler as far left as possible.
To retrieve the ruler, make the window narrow, and then wide again.

[2017-08-01 19:58] Denz1994 commented on #117
I didn't apply the fix to all of the screens. Sorry for the mix-up. @arouinfar Try this [version](http://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.10/masses-and-springs_en.html).

[2017-08-01 20:01] arouinfar commented on #117
Thanks @Denz1994. Looks great!

[2017-08-01 20:01] #117 closed, assigned to arouinfar

[2017-08-01 20:07] Denz1994 commented on #108
The vector panel floats in the current [version](http://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.10/masses-and-springs_en.html). A new issue has been opened for the massNodes. Reference #118.

[2017-08-01 20:07] #108 closed, assigned to Denz1994

[2017-08-02 17:43] Denz1994 commented on #111
I referenced the model view transform as a constant in the constant file. The springs still use a different mvt though. I will continue to investigate.

[2017-08-02 17:57] Denz1994 commented on #90
Can we add a colored mass to the left most icon (intro tab)? It seems like the image is in grayscale while the others are a bit more vibrant.

Or perhaps, for the intro screen, we can have a two spring system shown with one gray mass hanging from a spring (as shown) and a colored mass hanging from second slightly compressed spring.

[2017-08-02 18:43] ariel-phet commented on #90
@arouinfar I think I would zoom in on the masses quite a bit more on vectors and lab.

If not too busy, maybe put all 4 vectors on the vectors icon, and then just acceleration and velocity on the lab icon (since only velocity and acceleration are available on lab)

Or perhaps lab could be some iconic sliders suggesting you can adjust lots of parameters?

[2017-08-02 20:17] samreid commented on #60
This seems much better, thanks!  Closing.

[2017-08-02 20:17] #60 closed, assigned to samreid

[2017-08-02 20:43] samreid commented on #57
Searching for the regex `this.\w+ = ` I'm still seeing many places without annotations.  I stopped my search at Mass.js

[2017-08-02 20:49] Denz1994 commented on #57
I have to go throughout the code base again as there have been many edits since April.

[2017-08-03 17:18] Denz1994 commented on #118
As per our discussion with @arouinfar at status meetings, the masses don't need to float. This is also in line with the draggable laser node in the 2nd screen of Bending Light. The draggable node doesn't float there and shouldn't float here either.

[2017-08-03 17:18] #118 closed, assigned to Denz1994

[2017-08-16 15:18] Denz1994 commented on #106
This was handled already. Closing.

[2017-08-16 15:18] #106 closed, assigned to Denz1994

[2017-08-16 15:20] Denz1994 commented on #113
The spring is in one node and would involve layer manipulation. I am closing this issue until someone else brings this up as an issue.

[2017-08-16 15:20] #113 closed, assigned to Denz1994

[2017-08-16 16:17] Denz1994 commented on #93
The mass heights have been adjusted and they are now more elongated matching the design doc.  Do you want the adjustable mass on the energy/lab screen to scale in size based on its mass?

Personal intake: It may have the unintended effect of relaying to users that a larger mass may mean more volume.

Check the latest dev [version](http://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.

[2017-08-16 17:00] arouinfar commented on #93
Looking good @Denz1994. The masses in the mockups were intended to match the aspect ratio of the masses in Pendulum Lab. It looks pretty close, but can you confirm that it's the same?

I get what you're saying, but assuming the material of the mass doesn't change, the natural consequence of increased mass would mean increased volume. We haven't done anything to cue that the mass has a non-constant

[2017-08-24 17:09] Denz1994 commented on #36
Removing the high priority tag because the review is complete and we have significantly reduced the number of REVIEW comments.

[2017-08-30 15:22] Denz1994 commented on #111
The mvt implemented now is used to set positioning values for the springNodes and for the hanger node. The function in the constant file suffices for the positioning arguments of our view components.

[2017-08-30 15:22] #111 closed, assigned to Denz1994

[2017-08-30 15:23] Denz1994 commented on #114
Closing because these models have been removed and they are still unused.

[2017-08-30 15:23] #114 closed, assigned to jbphet

[2017-08-30 17:40] Denz1994 commented on #109
A new common view was created for the two/one spring view system. The hierarchy now exists as such:
- SpringView.js/TwoSpringView.js/IntroScreenView.js
- SpringView.js/OneSpringView.js/EnergyScreenView.js

The same hierarchy is followed for the Vector Screens and Lab Screens.

[2017-09-05 17:25] Denz1994 commented on #109
After some discussion with @jbphet, we went over some objects that could be consolidated into a more common view (SpringView.js). The methods have been added to remove code duplication when generating view objects. Also, an array has bee created for the oscillating spring nodes in the common SpringView.js

Closing this issue because SpringView.js, TwoSpringView.js, and OneSpringView.js have been c

[2017-09-05 17:27] #109 closed, assigned to Denz1994

[2017-09-05 18:44] Denz1994 opened #119 "Spring.stopSpring() doesn't account for adjustable masses."
Stopping the spring with the spring stop button doesn't account for a mass whose mass has been adjusted. A 50g mass should not stop at the same location as a 300g mass. This is apparent on both Energy and Lab screens and should be fixed.

[2017-09-07 12:23] Denz1994 commented on #90
Place holders have been committed for the nav-bar and home screen icons.

[2017-09-10 23:06] samreid opened #120 "Coil length probably shouldn't be negative"
![image](https://user-images.githubusercontent.com/679486/30253840-54042a04-964a-11e7-8ef6-60ac648e1a90.png)

Discovered in https://github.com/phetsims/axon/issues/137

[2017-09-13 20:23] phet-steele opened #121 "Images need license entries"
Looks like the license.json file was deleted in https://github.com/phetsims/masses-and-springs/commit/a57d4c980a4d4e3b067c2194e91f39c5f2c91e49, not that it had anything in it...

@Denz1994, all images need an associated license entry in that file if the sim is to build at all. Please look at other license files for how to do this (like https://github.com/phetsims/pendulum-lab/blob/master/images/li

[2017-09-13 20:25] phet-steele opened #122 "invalid value: -2.16025641025641"
[code]

[2017-09-13 20:36] Denz1994 commented on #121
I added the license.json along with the licenses from the sim I derived the images from (Make-A-Ten). I was running into an issue where I couldn't build, but this solved it. I can run a successful local build now. Can you confirm a successful build as well? @phet-steele

[2017-09-13 21:02] phet-steele commented on #121
I can build! Gracias!

[2017-09-13 21:02] #121 closed, assigned to phet-steele, Denz1994

[2017-09-15 17:36] Denz1994 opened #123 "How do we treat energy values that are negative?"
In [dev 16](http://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.16/masses-and-springs_en.html) we are getting an absolute value for the potential energy so when our mass oscillates pass the bottom of the screen the potential energy gets larger.

Steps to reproduce:
1. Start sim in Energy or Lab Screen
2. Attach a mass and increase the mass to 300g
3. Slightly lower the sprin

[2017-09-15 17:40] Denz1994 commented on #119
This was corrected in the commit cb0b15dc39851000c34074573526b9ec260e2b87

[2017-09-15 17:40] #119 closed, assigned to Denz1994

[2017-09-15 17:50] Denz1994 commented on #122
This specific issue was fixed in commit ed08432c00a393d8b4d1f36becd9685a9b7c87f4. The limits on the range values were corrected. I figure more of these will pop up periodically because a lot of these ranges were changed. I will look at Bayes testing report to try to catch them. Thanks for the report.

[2017-09-15 17:53] Denz1994 commented on #102
After major refactoring to VerticalBarNode.js, the properties passed in are now Dynamic Properties. There should be no use of an external method to monitor different properties. This is handled internally by Dynamic Property. Fixed in commit 69efc129df82a102a63b68f03e7813d43401a145

[2017-09-15 17:53] #102 closed, assigned to Denz1994

[2017-09-15 18:00] Denz1994 commented on #97
Empirically determined the appropriate range for the friction. We are using a linear scaling factor for the damping coefficient. This was reviewed with @arouinfar. Fixed in commit dd5dc035328f3897de42539864508423912472aa

[2017-09-15 18:00] #97 closed, assigned to Denz1994

[2017-09-18 22:19] arouinfar commented on #123
@ariel-phet the current behavior matches Flash in that the zero point for the gravitational potential energy is just below the masses and abs(GPE) is graphed. The Teacher Tips warn:

graph is calculated as an absolute value.

I don't find this to be particularly great UX, but I can understand why Flash behaves the way it does. I think it'd be preferable to provide some constraints so that gravitat

[2017-09-19 20:11] phet-steele commented on #122
Yup, here's another one for ya.

[code]

[2017-09-19 20:12] Denz1994 commented on #122
Thanks for the report. I'll look into this.

[2017-09-22 15:13] Denz1994 commented on #96
Thermal energy values have been calculated and reviewed.
Essentially, thermal energy = total initial energy -  total current energy

Check commit: da852ade76c7215325dc54377aad02603694c3a2

[2017-09-22 15:13] #96 closed, assigned to Denz1994

[2017-09-22 17:04] Denz1994 commented on #110
A new referenceLineNode.js was created to consolidate these two files. There was some code that was removed as well.

[2017-09-22 17:04] #110 closed, assigned to Denz1994

[2017-09-25 19:04] ariel-phet commented on #123
I have a few thoughts, but agreed this needs to be discussed at design meeting. I am fine with moving the zero of GPE off screen, but mainly we need a way to communicate the starting height of the masses to the user. A "variable" GPE zero point might work if we didn't have friction, but I think with friction it would be too confusing.

[2017-09-25 19:05] ariel-phet commented on #123
Basically I think it would be by far best if we avoid having negative GPE, as that complicates both the interpretation and the graph.

[2017-09-26 14:48] Denz1994 commented on #122
I abandoned the use of number property. I believe some of these values were coming up as null and breaking the range values set on them. I will monitor bayes for the rest of the day to confirm that this fixed the problem. I can't reproduce the bug with fuzz testing. Closing for now and will reopen if I see a similar issue.

[2017-09-26 14:48] #122 closed, assigned to Denz1994

[2017-09-27 15:09] Denz1994 opened #124 "Positioning of massNode when bounds change?"
Consider the following:

Scenario A: Mass is at rest at the default position and the mass value changes, thereby increasing the size of the mass. The mass node should remain in the position as if it is at rest on the ground.

![image](https://user-images.githubusercontent.com/13894380/30920643-8500ba7a-a372-11e7-8339-7201ea133d35.png)

![image](https://user-images.githubusercontent.com/13894380/30

[2017-09-27 17:36] #94 closed, assigned to Denz1994

[2017-09-27 18:45] arouinfar commented on #124
@Denz1994 when the screen is narrow, the mass appears to be floating, which I find a little odd. Is it possible for the mass to maintain a fixed distance from the navbar? That way, it would essentially float down with the navbar at narrow aspect ratios.

[2017-09-27 19:07] Denz1994 commented on #124
We can make the masses float. However, if we take a situation where a massNode is a stationary mid-air (due to the sim being paused or zero gravity) we should not have this mass node float. Correct? @arouinfar

[2017-09-27 19:09] arouinfar commented on #124
Correct @Denz1994. The floating would only apply to masses that _aren't_ connected to the spring.

[2017-09-27 22:38] Denz1994 commented on #77
This has been corrected after accounting for dragBounds.

[2017-09-27 22:38] #77 closed, assigned to Denz1994

[2017-09-27 22:40] Denz1994 opened #125 "ClearThermalEnergy button flickers when friction is zero."
After adding a mass to oscillate, if the friction slider is set to zero the clear thermal energy button flickers on and off. This is a side effect of the enable property being changed rapidly.

Check VerticalBarChart.js lines 138-140

[2017-09-28 14:54] Denz1994 commented on #86
This new dev version may be worth discussing at the design meeting for the values of the zoom readout. [1.0.0-dev.17](http://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.17/masses-and-springs_en.html)

Do we still want still want 1/4, 1/2, 1, 2, 4 values for the zoom readout?

[2017-09-28 16:09] arouinfar commented on #86
Let's discuss at design meeting.

[2017-09-28 20:18] Denz1994 opened #126 "Label the Zero cm on the ruler"
The ruler should have the zero right at the edge of the ruler. Get rid of the extra tick mark and the label at the ends. Like a real ruler.
![image](https://user-images.githubusercontent.com/13894380/30988512-85cf90d8-a468-11e7-813f-df749d8e3305.png)

[2017-09-29 17:33] ariel-phet commented on #123
At design meeting we decided to display negative GPE on the bar graph, and remove the stacking behavior from total energy when GPE goes negative.

@arouinfar do you want to capture any finer grain details here in the issue?

[2017-09-29 17:54] arouinfar commented on #126
A little clarification @Denz1994 -- we decided to ditch the extra padding so that 0 and 100 line up with the edge of the ruler, but these tick marks do not need to be labelled. The team liked the ruler used in Pendulum Lab, so you can use that as a reference for the tick marks/labelling.

[2017-09-29 17:58] arouinfar commented on #124
During yesterday's design meeting, we decided to kill the floating massNode, and instead create a shelf for the masses to sit on. See the [meeting notes](https://docs.google.com/document/d/13SiJic3Ha_x2FNW_XYFLZGCHRxCG5YLxE_zAu4t5tmQ/edit#heading=h.jaakc7xvrv54) for further discussion.

I'll open a separate issue for the shelf, so I think you can close this one @Denz1994.

[2017-09-29 19:01] arouinfar opened #127 "Create shelf for masses to sit on"
In #124 we considered allowing the massNode to float down with the navbar at narrow aspect ratios, because the masses appear to be floating in mid-air at narrow aspect ratios. Given that the masses free fall when released in play area, masses floating in mid-air is undesirable.

In #123 we decided to explicitly show where GPE=0, and that it should be aligned with the bottom of the masses's resting

[2017-09-29 23:01] arouinfar commented on #123
@Denz1994 @ariel-phet the discussion from yesterday's design meeting has been fleshed out pretty well in the [meeting notes](https://docs.google.com/document/d/13SiJic3Ha_x2FNW_XYFLZGCHRxCG5YLxE_zAu4t5tmQ/edit#heading=h.jaakc7xvrv54), but the main outcomes are:
* Show a negative GPE bar, but cut it off when it reaches the inner edge of the graph panel.
* When GPE<0, the total energy bar will be so

[2017-10-02 14:15] #126 closed, assigned to Denz1994

[2017-10-02 14:16] Denz1994 commented on #124
Thanks for the update @arouinfar.

[2017-10-02 14:16] #124 closed, assigned to Denz1994

[2017-10-02 14:40] Denz1994 commented on #123
I like the gray bar. Nodes that are grayed out seem to be consistent in showing that the state of the node has changed (e.g. disabled buttons).

[2017-10-03 20:26] jessegreenberg opened #128 "Automated test error"
Found running through test-server, showing up on continuous testing intermittently.

[code]

[2017-10-03 20:36] Denz1994 commented on #128
Will check friction slider. This may be related to https://github.com/phetsims/masses-and-springs/issues/125

[2017-10-03 22:22] ariel-phet commented on #123
I would agree with the gray bar @Denz1994 and @arouinfar lets go with that look.

[2017-10-04 19:38] Denz1994 commented on #123
Some changes have been made to the graph:

-BarNodes now extends below x-axis for negative values
-Zero point for the height can be adjusted
-Stroke around the labels has been added to stand out amongst negative barNodes.

[2017-10-05 18:10] #128 closed, assigned to Denz1994

[2017-10-05 18:10] Denz1994 commented on #128
This was a problem in the gravity slider. There was an incorrect reference to the body object and not body.gravity. This was causing a fail when Planet X was selected and then reset. Correcting the reference fixed the problem. I will close this issue and reopen if Bayes picks this up again. Thanks, @jessegreenberg  for the report.

[2017-10-06 14:28] Denz1994 opened #129 "Remove the zoom readout from the energy graph."
As per our discussion in the design meeting, the zoom readout doesn't really symbolize anything in the model. It is only useful for the designers and devs and should be removed from the sim. The limits on the zoom in/out should remain intact.

[2017-10-06 14:29] #129 closed, assigned to Denz1994

[2017-10-06 14:31] Denz1994 opened #130 "Vector visibility panel overlaps sound button."
![image](https://user-images.githubusercontent.com/13894380/31282714-618e84a8-aa81-11e7-8c8c-9c07a022ea29.png)

This fix may require that some vertical spacing needs to be reduced in the vector visibility panel. I will play around with this to see what works.

[2017-10-06 14:47] #130 closed, assigned to Denz1994

[2017-10-06 14:48] Denz1994 opened #131 "Buttons at the bottom of energy graph visual changes."
![image](https://user-images.githubusercontent.com/13894380/31283498-d6f41080-aa83-11e7-9ce5-438daf736359.png)

Change the visuals of the buttons to resemble the buttons in Pendulum Lab.

[2017-10-06 15:06] Denz1994 commented on #131
These changes were made successfully. The graph looks a bit more colorful.

![image](https://user-images.githubusercontent.com/13894380/31284412-705e3956-aa86-11e7-8ce6-e196dbdab6af.png)

[2017-10-06 15:06] #131 closed, assigned to Denz1994

[2017-10-12 18:19] arouinfar commented on #86
@Denz1994 last week we decided to remove the zoom-level label (e.g. "2x"). It looks like the zoom level was removed in dev.20. Can this issue be closed?

[2017-10-12 18:23] Denz1994 commented on #86
Yes, it can. Thanks for the notice.

Zoom label removed in commit 00958ca0b70b8ebac947811573f6604cf388b7d3

[2017-10-12 18:23] #86 closed, assigned to Denz1994

[2017-10-12 18:25] arouinfar commented on #127
Here are the shelf mockups discussed in the 10/5/17 design meeting.
* Thin shelf with same color used in Unit Rates
* The width can vary across screens, as necessary
* For Energy and Lab, add a "height = 0" reference line centered below the spring. It will have a similar look to the other reference lines, and will be the same light blue used for GPE in the bar graph.

![image](https://user-images.

[2017-10-12 18:27] Denz1994 commented on #98
After collaborating with @jonathanolson, the core mathematical model was once detailed and would require an independent review to refactor. The model does work but may be able to be replaced by Twixt/DampedAnimation.js. Deferring for now.

[2017-10-12 18:29] arouinfar commented on #123
@Denz1994 I think we can close this issue, as the energy graph now handles negative GPE. There is still some pixel polishing to be done to the energy graph, in general, but I think it seems appropriate to track that in a separate issue (which I'll open shortly).

@Denz1994 if you agree, please close.

[2017-10-12 18:29] Denz1994 commented on #123
Will do. Closing

[2017-10-12 18:29] #123 closed, assigned to Denz1994

[2017-10-12 21:55] arouinfar commented on #127
Overall looking nice @Denz1994!

Pixel-polishing requests for the shelf:
* Bottom-align the shelf with the h=0 line.
* Move play/pause/step and normal/slow up a bit so that the "height = 0" label is not obscured. A few px will probably do the trick.
* The shelf on the Energy screen could be a bit narrower. Here's a comparison between the current length, and a narrower shelf.

<img width="141" alt=

[2017-10-13 18:26] Denz1994 opened #132 "Squelched oscillation causes a spring to permanently stop oscillation"
There was a significant bug, that caused a spring to stop its oscillation unless the user altered the spring system settings or removed a mass. To replicate the user would need to start a spring oscillation and wait for it to stop. After stopping the user could no longer start another oscillation with the simple drag and drop method. Alternatively, this bug could be reproduced starting the oscilla

[2017-10-13 18:26] #132 closed, assigned to Denz1994

[2017-10-13 20:38] Denz1994 commented on #127
I have applied the desired alterations to the shelf and the massNodes. They are visible in the latest dev version http://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.21/masses-and-springs_en.html.

If @arouinfar doesn't see any room for improvement, you may close this issue. Thanks for the feedback!

[2017-10-13 21:42] arouinfar commented on #90
@ariel-phet @Denz1994 here are some updated options for screen icons. For the most part, I think we'll need to modify the navbar icons, with my personal preference being the right-most option for each screen.

* For Intro, I decided to go with a two-spring comparison. One of the masses could instead be a mystery mass for a bit more color.
* Showing all vectors for the Vectors screen icon seems ok

[2017-10-16 17:17] ariel-phet commented on #90
@arouinfar Those all look good to me. I am fine with modifying the icons for the navbar, although I think they could work as is.

The "?" mark should probably be removed on the lab icon, as this is a symbol that can be translated (and would be too small to see on the navbar anyhow).

[2017-10-16 17:18] ariel-phet commented on #90
@arouinfar also agreed that maybe using another color the second mass for the intro icon would be nice to make it a bit more inviting on the homescreen.

[2017-10-19 17:21] Denz1994 opened #133 "Animation for a falling mass?"
There were two proposed designed for a mass that has been dropped by a user. If a mass isn't attached to a spring it should:

1. Fall at the rate of gravity and then animate to its default resting position on the shelf. Take a look here: [1.0.0-dev.22](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.22/masses-and-springs_en.html)

2. Animate to the x position of its def

[2017-10-19 18:29] ariel-phet opened #134 "Spacing between play/pause and step button"
@Denz1994 the spacing between the play/pause and step button is a bit large (they should feel like a coherent group).

![playpause](https://user-images.githubusercontent.com/4051174/31787495-3272bc32-b4c9-11e7-81d6-5fd95438c20f.PNG)

See pendulum lab for an example of ideal spacing.

[2017-10-19 19:15] Denz1994 opened #135 "Testing the use of milestones."
I am testing what a milestone may be useful for. This is a test.

[2017-10-19 19:16] Denz1994 commented on #135
Closing this test. Playing around with github api.

[2017-10-19 19:16] #135 closed, assigned to Denz1994

[2017-10-20 19:09] Denz1994 opened #136 "Updated sounds?"
We should investigate what sounds should be used for the html 5 version of masses and springs. Thoughts @arouinfar ?

[2017-10-20 19:11] arouinfar commented on #133
After discussion with @Denz1994 we've decided to go with option (1) -- fall then zoom (dev.22). Falling first makes more conceptual sense. While not a primary learning goal, students can also see that all objects fall at the same rate, which isn't possible with option (2). Back to you @Denz1994.

[2017-10-20 19:14] Denz1994 commented on #136
AR: We should bring this up after interviews or in next design meeting to get Kathy's thoughts. JB may  create new sounds for us because the java sounds are a bit harsh.

[2017-10-20 19:47] Denz1994 opened #137 "Adjusting mass value causes label to be misaligned."
Either on the lab or energy screen making a very quick adjustment to the massValueControl causes the mass label to position itself oddly.

[2017-10-20 19:56] Denz1994 commented on #134
After talking with @arouinfar, we decided that the spacing in Pendulum lab should be duplicated. This means using the same vertical spacing between the "Normal" and "Slow Motion" radio buttons and the spacing between step button and the play speed buttons.

[2017-10-20 20:00] Denz1994 opened #138 "Combo box visual bug"
Scrolling over a planet in the gravity panel shows a highlight. The top and bottom-most planets have a highlight that overlaps the bounds of the combo box. There may need to be spacing added to the combo box to handle that overlap.

[2017-10-25 12:08] Denz1994 opened #139 "Natural Length Line moves with spring oscillation"
The natural length line (blue) is supposed to remain stationary at the initial length of the spring. The link that updates the position can be made optional.

[2017-10-25 12:13] Denz1994 commented on #127
After our discussion on Friday, I am closing this issue as there were no issues brought up with the shelf.

[2017-10-25 12:13] #127 closed, assigned to arouinfar

[2017-10-25 12:28] Denz1994 commented on #133
The decided on animation has been merged into master and fixed. Thanks for the suggestion @arouinfar. Revision made in commit 2f379e237ed33cf9f56cd9b9075a5cd85302511e.

[2017-10-25 12:28] #133 closed, assigned to Denz1994

[2017-10-25 12:29] Denz1994 opened #140 "Equilibrium Line gets stuck in incorrect position."
When changing scenes in the intro tab, the equilibrium line (green) doesn't snap back into place sometimes. I haven't found the best means to reproduce this consistently.

[2017-10-25 13:41] Denz1994 commented on #140
This was inappropriately referenced to the incorrect commit. It is still an issue.

[2017-10-25 13:43] Denz1994 commented on #139
This issue was actually fixed by commit e7fe8a4e37b2ec75e5f5238742d61237fdf61c7a. Sorry for the issue number mixup.

[2017-10-25 13:43] #139 closed, assigned to Denz1994

[2017-10-25 15:21] #140 closed, assigned to Denz1994

[2017-10-25 15:23] Denz1994 commented on #140
There was some significant refactoring that needed to be handled for ReferenceLine.js. They equilibrium line and natural length line need to consider whether the mass is attached. Essentially, if a mass isn't attached we treat both lines as if their position is in reference to the natural length of the spring and disregard the spring equilibrium.

[2017-10-25 15:35] #134 closed, assigned to Denz1994

[2017-10-25 15:48] Denz1994 opened #141 "Unified corner radii"
After discussion with @arouinfar, we thought it would be best to have all of the panels using the same corner radius. The spring hanger should also have the same radius aswell.

[2017-10-25 15:56] #138 closed, assigned to Denz1994

[2017-10-25 16:00] Denz1994 commented on #70
After reviewing this issue, there isn't anything that is specific to this issue that wasn't touched above. All further review was done in issue #36.

[2017-10-25 16:00] #70 closed, assigned to jbphet

[2017-10-25 16:05] Denz1994 commented on #8
The approach described above has been implemented and is in use in the sim. The only other concern regarding this issue is a matter of documentation which was noted in #98. This issue also hasn't been touched in about a year so I think this is a good time to close and refer any further comments to #98.

[2017-10-25 16:05] #8 closed, assigned to nobody

[2017-10-25 16:07] Denz1994 commented on #62
After reviewing MassesAndSpringsModel.js with @jonathanolson there weren't any misuses of ```self```. Also, the DraggableRulerNode.js doesn't have any more invalid uses. Closing this because both files have been refactored.

[2017-10-25 16:07] #62 closed, assigned to Denz1994

[2017-10-25 16:42] Denz1994 commented on #36
All of the review comments added by @jbphet have been addressed. All further review comments should have their own issue. Thanks, @jbphet for your time!

[2017-10-25 16:42] #36 closed, assigned to Denz1994

[2017-10-25 16:47] Denz1994 opened #142 "Energy graph pixel Polishes"
- [x] Increase corner radius to match panels
- [x] T_tot should be E_tot
- [x] Top-align labels
- [x] Clear heat button below E_therm
- [x] Move up baseline so there’s more room to see a little big more of negative PE_grav, as well as allow room for i18n
- [x] Left-align info button with inner panel
- [x] Right-align zoom buttons with inner panel
- [x] Add a few px white space between zoom buttons

[2017-10-25 16:53] arouinfar commented on #133
Looks great @Denz1994!

[2017-10-25 17:14] arouinfar commented on #142
List looks good @Denz1994. Please let me know if you have any questions!

[2017-10-25 17:30] arouinfar opened #143 "Natural Length should remain constant (unless spring length changed)"
The natural length of a spring is its length when no force is applied, and in general, should never change. The only exception is on screen 1, scene 2 where the spring length can be changed.

For example, these natural lengths are correct
![image](https://user-images.githubusercontent.com/8419308/32013200-76577444-b977-11e7-8b31-987808fa7b55.png)

Adding a mass to the spring shifts the position of

[2017-10-25 17:32] Denz1994 commented on #143
@arouinfar I think I pushed a fix for this sometime earlier today. Were you able to reproduce this on master?

[2017-10-25 17:32] arouinfar commented on #143
Please disregard @Denz1994! I thought I was looking at master, but I was instead using dev.24. The natural length behavior is correct in master.

[2017-10-25 17:32] #143 closed, assigned to Denz1994

[2017-10-25 20:53] arouinfar commented on #141
@Denz1994 the common corner radius should apply to the Energy Graph accordion menu too.

[2017-10-25 22:55] arouinfar commented on #90
Thanks @ariel-phet!

I've cleaned up the icons a bit and have sent the assets to @Denz1994 for implementation.

[2017-10-25 23:02] arouinfar opened #144 "Reverse gradient on masses"
I just noticed the gradient on the masses is backwards. We generally assume the light source is in the upper left corner, so highlights should be closer to the left side, rather than the right.

Can you reverse the gradient @Denz1994?

[2017-10-26 14:23] #144 closed, assigned to Denz1994

[2017-10-26 14:51] Denz1994 commented on #90
I've added the images to the home screen and nav bar. I will release a new dev version sometime today, but you can view the changes in master. Thanks @arouinfar. Please close this issue if you feel the images work. I like them personally.

[2017-10-26 14:53] #141 closed, assigned to Denz1994

[2017-10-26 17:11] arouinfar commented on #90
Thanks @Denz1994!

There appears to be a white outline around the inactive screen options, which looks a bit too bright and distracting.
![screen shot 2017-10-26 at 11 07 08 am](https://user-images.githubusercontent.com/8419308/32066704-e3320c0c-ba3d-11e7-8808-016e41e5e5bc.png)

Other sims with white screen icons do not have this outline.
![image](https://user-images.githubusercontent.com/8419308/

[2017-10-26 17:12] Denz1994 commented on #90
Good catch. I'm on it!

[2017-10-26 17:13] arouinfar commented on #90
Thanks @Denz1994! The icons are looking good otherwise.

[2017-10-27 18:04] ariel-phet opened #145 "Default no friction for first screen or two?"
@arouinfar damping seems like a more advanced topic, so I wonder if for the first screen or two we should default to no friction? Perhaps we just have a check box, much like in projectile motion that give you friction or no friction (with the default as friction off, and then choose some moderate damping for the on mode). I think for the learning goals that I would use such a sim in intro physics

[2017-10-31 18:43] arouinfar commented on #145
@ariel-phet that appears to be a bug. There isn't a friction slider on the first two screens, so friction _should_ be zero. I think learning goals related to damping are better served on Energy and Lab, so I would not advocate for a friction checkbox on Intro. I could consider allowing damping on Vectors, though it may muddy the waters a bit.

Actually, I'm wondering if we'd be better off renaming

[2017-10-31 18:52] ariel-phet commented on #145
@arouinfar I completely concur on calling it "damping" since that is absolutely the correct term

Even though friction should be zero (I agree that is the best default), I do wonder if like projectile motion we want to communicate that in some way. That is why I mentioned maybe having a "damping" checkbox. Sort of "damping on or off" the same way we have air resistance on or off in projectile moti

[2017-10-31 18:53] ariel-phet commented on #145
@Denz1994 be aware that the model should be set to no damping on the first two screens

[2017-10-31 18:57] Denz1994 commented on #145
Okay, this makes sense. I will work on removing friction from the intro and vector model. Also I can push a dev version with a revised slider entitled "Dampening"

[2017-10-31 18:58] ariel-phet commented on #145
@Denz1994 the slider title should just be "Damping" not "Dampening"

[2017-10-31 23:34] arouinfar commented on #145
Thanks for the clarification @ariel-phet. I hadn't thought about the damping checkbox reinforcing that damping is off by default, and it's an interesting idea.

In contrast to air resistance, damping has three states: underdamped, overdamped, and critically damped. I wonder if users would expect a particular kind of damping. I suppose we'd set the damping such that all masses are somewhat underdam

[2017-11-01 00:01] ariel-phet commented on #145
@arouinfar yes I think underdamped would be the way to go. Probably good to make a mockup

[2017-11-06 16:01] Denz1994 opened #146 "Gravity readout on Lab Screen?"
It was mentioned by @arouinfar that a readout for the value of gravity may be necessary for the lab screen to solve for the mass of the mystery mass. I made a prototype for this readout in master (seen on lab screen). Any suggestions for improvements on this readout?

It is worth noting that selecting "Planet X" in the combo box causes the gravity to be shown. A workaround for this in pendulum lab

[2017-11-09 14:50] samreid opened #147 "Clean up iterator"
During https://github.com/phetsims/phet-io/issues/1239 I noticed this code:

[code]

It seems it would be better to eliminate `index` and `referencedMassProperty` and just use `mass` instead.

[2017-11-09 15:02] #147 closed, assigned to Denz1994

[2017-11-09 23:18] Denz1994 commented on #21
This was handled a while removing the usages of propertySet. There are no more use cases of property.preventGetSet in the code base.

[2017-11-09 23:18] #21 closed, assigned to nobody

[2017-11-10 16:53] #137 closed, assigned to Denz1994

[2017-11-10 17:02] Denz1994 commented on #137
I finally tracked this bug down and the current solution just needed the text to be realigned when the text value changed. This becomes an issue when adjusting the massNode's label. It was especially noticeable when the mass value changed from a 3 digit mass (99 g) to a 2 digit mass (100 g).

[2017-11-10 19:35] Denz1994 opened #148 "Energy graph buttons should resemble Pendulum Lab"
The info legend button and zoom in/out buttons should be the same as the buttons in pendulum lab. There are slight differences.

- [x] "i" on info button is smaller
- [x] widen the zoom buttons

[2017-11-13 21:56] phet-steele opened #149 "Gray bar is not seamless"
While the total energy includes negative energy, it should be solid gray. Instead I see the outlines of each energy bar:

<img width="80" alt="screen shot 2017-11-13 at 1 20 00 pm" src="https://user-images.githubusercontent.com/5863899/32747296-8daf1e1e-c875-11e7-9889-92b2e0a485d6.png">

Seen on macOS 10.13.1 Chrome. For phetsims/QA#67.

URL: https://www.colorado.edu/physics/phet/dev/html/masses-a

[2017-11-13 21:56] phet-steele opened #150 "Mass position does not update while paused and spring changes length"
1. 1st screen, different length scene
2. Pause the sim
3. Attach a mass to spring 1
4. Change the spring length

![mas02](https://user-images.githubusercontent.com/5863899/32741586-f4450484-c863-11e7-85e4-340d0aab09bf.gif)

Seen on macOS 10.13.1 Chrome. For phetsims/QA#67.

URL: https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.28/masses-and-springs_en.html
Version: 1.0.0

[2017-11-13 21:56] phet-steele opened #151 "String file housekeeping"
Looking at `masses-and-springs-strings_en.json`, there are some small changes to be made to follow convention and to clean it up:

- [x] I would recommend making this file alphabetical.
- [x] Screen title string keys should follow the convention: `screen.{{screenName}}`, eg.

[code]
not
[code]
- [x] Vector (the screen) should be renamed to Vectors as per request
- [x] Should remove "0 g" (see #159

[2017-11-13 21:56] phet-steele opened #152 "Vectors should be at center of mass"
Every vector needs to be at the center of mass. They are currently wherever this is:

<img width="261" alt="screen shot 2017-11-10 at 3 19 13 pm" src="https://user-images.githubusercontent.com/5863899/32680997-980d207e-c62a-11e7-83f4-c614b57f9619.png">

Seen on macOS 10.13.1 Chrome. For phetsims/QA/issues/67.

URL: https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.28/mass

[2017-11-13 21:56] phet-steele opened #153 "Total energy is not conserved when we have negative energy"
Easy setup for easy visualization:

1. Lab screen
2. Zoom out ONCE
3. No friction
4. Max gravity
5. Drag the 100g mass onto the spring and push it up as far as it can go.

Let go, and when the mass goes below the screen (negative PEgrav), you can see that total energy increases and we get the "off scale" arrow.

![mas03](https://user-images.githubusercontent.com/5863899/32745529-3e8e3662-c870-11e7

[2017-11-13 21:56] phet-steele opened #154 "Pause/Play button translates when pressed"
Pressing the Pause/Play button changes the scale of that group around the wrong point, causing it to translate.

![mas04](https://user-images.githubusercontent.com/5863899/32745746-d2a9e562-c870-11e7-8833-ed9ac714f84f.gif)

The buttons should not move when one increases in scale, see wave-on-a-string as an example.

Seen on macOS 10.13.1 Chrome. For phetsims/QA#67.

URL: https://www.colorado.edu/p

[2017-11-13 21:56] phet-steele opened #155 "Damping slider placed at 0 after Reset All"
After Reset All, the friction value is changed to the default (non-zero) value, but the slider is placed at the min. So thermal energy is generated, but the slider makes it look like there shouldn't be any.

After Reset All:

![mas05](https://user-images.githubusercontent.com/5863899/32746362-9d4a43ba-c872-11e7-9f3b-d645acd8136c.gif)

Seen on macOS 10.13.1 Chrome. For phetsims/QA#67.

URL: https:/

[2017-11-13 21:56] phet-steele opened #156 "Standardize step size across sim speeds"
Step size (from the step button) is not consistent. It can take either four clicks or five before seeing 0.01 seconds pass on the stopwatch when in slow motion. Every click in 'Normal" motion will increase the stopwatch by a variable amount. This is all likely rounding errors.

Step size needs to be the SAME regardless of being in normal or slow motion. This is a standard. That being said, @arouin

[2017-11-13 21:57] phet-steele opened #157 "Mass animation to its "home" can be interrupted"
Grabbing a translating mass interrupts its animation and freezes it in place (it IS still interactable).

Easy setup:
1. Grab a mass, lift it just barely.
2. Without moving too far vertically, move it to the edge of the screen.
3. Release and immediately grab the mass.

![mas06](https://user-images.githubusercontent.com/5863899/32746645-844da298-c873-11e7-8b11-e70f839a59a1.gif)

Seen on macOS 10.1

[2017-11-13 21:57] phet-steele opened #158 "Step button needs to fire on hold"
The step button only fires once. It should continue to step when the user holds down the button.

Seen on macOS 10.13.1 Chrome. For phetsims/QA/issues/67.

URL: https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.28/masses-and-springs_en.html
Version: 1.0.0-dev.28 2017-11-10 19:03:33 UTC
Features missing: touch
Flags: pixelRatioScaling
User Agent: Mozilla/5.0 (Macintosh; In

[2017-11-13 21:57] phet-steele opened #159 "Remove "0g" as a preset gravity option"
We don't need "0 g" as an option in the gravity drop down, never has been in other sims, never should be. 0 g is classified as "Custom" and easily obtainable by sliding to the min. It also creates a confusing entry in the string JSON file...

(yes, @arouinfar agrees after I pointed this out)

Seen on macOS 10.13.1 Chrome. For phetsims/QA/issues/67.

URL: https://www.colorado.edu/physics/phet/dev/h

[2017-11-13 21:57] phet-steele opened #160 "Black bar continues past the stopping point"
The black bar behind the total energy bar will continue to move upwards when dragging past a spring's stopping point.

![mas01](https://user-images.githubusercontent.com/5863899/32739651-c50d3fca-c85d-11e7-96de-0c70feb6bf75.gif)

Seen on macOS 10.13.1 Chrome. For phetsims/QA/issues/67.

URL: https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.28/masses-and-springs_en.html
V

[2017-11-13 21:57] phet-steele opened #161 "Orphaned black bar while mass is not moving"
The position of the black bar behind total energy does not update when energy is stripped while the mass is not in motion.

For example:

1. Go to the Energy screen and let the mass oscillate with default settings for a few seconds.
2. Press the stop button.
3. Clear the thermal energy.

<img width="1064" alt="screen shot 2017-11-13 at 10 36 25 am" src="https://user-images.githubusercontent.com/58

[2017-11-17 13:39] Denz1994 opened #162 "Consolidate a common springControlPanel"
It will be useful to have a common spring control panel. It would use an HSlider to control a single property of the spring. I am primarily doing this to consolidate the spring length slider and spring constant slider. Both of the current sliders are similar in function and appearance. This will also reduce a significant amount of code duplication.

[2017-11-17 13:44] #162 closed, assigned to Denz1994

[2017-11-17 14:37] Denz1994 opened #163 "Spring Length slider needs a proper constraint"
The constraint on the hSlider in the options needs to match the spacing of the tick marks. The intervals are too large right now. Check lines 48-63 IntroScreenView.js.

[2017-11-17 14:48] #163 closed, assigned to Denz1994

[2017-11-17 19:59] Denz1994 commented on #152
The vectors have been aligned to start at the center of the mass nodes. However, the vectors now cover the labels of the masses like this:

![image](https://user-images.githubusercontent.com/13894380/32965644-1f7367ec-cba5-11e7-9eda-90915a1bee84.png)

I don't think the overlap is an issue because showing the vectors is optional. Any thoughts @arouinfar @phet-steele. I could make the arrows thinner

[2017-11-17 19:59] Denz1994 commented on #159
The option to have zero gravity in the combo box. Setting the gravity to zero now reads "custom".

[2017-11-17 19:59] Denz1994 commented on #154
An HBox was realigning the buttons incorrectly. It has been removed and the step forward button no longer adjusts its position.

[2017-11-17 19:59] Denz1994 commented on #155
The energy and lab models have had reworks done to their reset callbacks to set damping to the initial value for each screen.

[2017-11-17 20:01] Denz1994 commented on #156
The step forward button steps the model at a constant dt independent of the sim speed. It now increases by a dt of 0.01.

[2017-11-17 20:02] Denz1994 commented on #158
I believe this was fixed with commit 3399d4acfad1c9663425f7ceb08450caa600f105. Holding the step forward button now fires multiple step callbacks.

[2017-11-17 22:34] phet-steele opened #164 "Net force is not reset when a mass is stopped"
1. 2nd screen, turn on "Net Force"
2. Get a mass oscillating, then press the "stop" button for that mass
3. The "Net Force" arrow will still be visible and non-zero, even though the mass isn't moving (and at equilibrium):

<img width="710" alt="screen shot 2017-11-17 at 1 32 05 pm" src="https://user-images.githubusercontent.com/5863899/32967692-bc159660-cb9b-11e7-8ab2-72f2a82e789d.png">

The compo

[2017-11-17 22:34] phet-steele opened #165 "Vectors are not always initialized with correct location/rotation"
The initial conditions for this bug are very important. Please start these steps right after loading the sim, and do them in exactly the order listed:

1. Enter the 2nd screen
2. Attach a mass to a spring and let it oscillate
3. Press that mass's "stop" button
4. Enable "Net Force"

<img width="248" alt="screen shot 2017-11-17 at 1 52 00 pm" src="https://user-images.githubusercontent.com/5863899/3

[2017-11-17 22:34] phet-steele opened #166 "Reset All button does not reset zoom level..."
...for the energy graph.

Seen on macOS 10.13.1 Chrome. For phetsims/QA#67.

URL: https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.28/masses-and-springs_en.html
Version: 1.0.0-dev.28 2017-11-10 19:03:33 UTC
Features missing: touch
Flags: pixelRatioScaling
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.8

[2017-11-17 22:34] phet-steele opened #167 "Thermal energy questions"
On the 3rd and 4th screen you'll see some funkiness with thermal energy. Do this:

0. From sim start, default damping, go to the 3rd screen.
1. Pause the sim.
2. Attach the variable mass item to the spring
3. Move the mass slider around and you'll see some thermal energy either increase or decrease

![mas07](https://user-images.githubusercontent.com/5863899/32970656-2a483902-cba7-11e7-9f5d-b1d87e7

[2017-11-17 22:35] phet-steele opened #168 "Total energy bar can resize the energy graph panel"
1. Fresh 4th screen (NOT after reset all, reload the sim)
2. Pause the sim
3. Attach the big green mass and drag it up as far as your MOUSE lets you (so go to the edge of your screen)
4. Zoom out once on the energy graph
5. Zoom in once

<img width="279" alt="screen shot 2017-11-10 at 1 24 28 pm" src="https://user-images.githubusercontent.com/5863899/32971201-59ea1750-cba9-11e7-8957-42578ca7d232.p

[2017-11-17 22:35] phet-steele opened #169 "Acceleration vector is visible when there is no acceleration"
1. 2nd or 4th screen,
2. Enable both Velocity and Acceleration vectors.
3. Attach a mass and let it oscillate.
4. Press the mass's "stop" button. There will be no vectors (good!)
5. Click the mass

You will then see an acceleration vector, though the mass is not moving and at equilibrium.

![screen shot 2017-11-17 at 2 08 51 pm](https://user-images.githubusercontent.com/5863899/32969073-dd37c138-c

[2017-11-18 17:28] ariel-phet commented on #167
Thermal energy should definitely not go negative.

[2017-11-20 04:51] arouinfar commented on #167
Thanks @phet-steele! Something's definitely amiss with the thermal energy.

As @ariel-phet said, thermal energy should NEVER be negative. Actually, the only energy that should be able to go negative is the gravitational potential energy. Anything else going negative would definitely be a bug.

When the sim is paused, no. If you change the mass while the sim is paused, the GPE will change (and ther

[2017-11-20 04:55] arouinfar commented on #152
@Denz1994 I think it's acceptable to occlude the mass labels. Vectors are generally drawn from the center of mass, so I think it's important to stick to this convention. As you point out, users can turn off the vectors to read the mass label.

[2017-11-21 23:21] Denz1994 commented on #169
Was able to track this bug down and removed toggling the visibility during vector size updates. There were some checks that weren't being hit outside of the vector updates.

[2017-11-21 23:31] Denz1994 commented on #167
Sorry for the confusion everyone. This was due to a spelling error in a variable declaration, which meant it didn't get referenced during a logic check. The incorrect variable that was being referenced during the logic check didn't flag an error either so we got some funky behavior in the graph.

[2017-11-21 23:32] Denz1994 commented on #166
Added a new listener to the resetAllButton that resets the value of the zoomLevelProperty.

[2017-11-21 23:32] Denz1994 commented on #165
I believe the commit  bf504859b1e5ac46b74545ac047fbe5d5e1c83dc might have fixed this.

[2017-11-21 23:34] Denz1994 commented on #164
Commit bf504859b1e5ac46b74545ac047fbe5d5e1c83dc may have fixed this.

[2017-11-27 21:33] phet-steele commented on #154
Beautiful, fixed.

[2017-11-27 21:33] #154 closed, assigned to phet-steele, Denz1994

[2017-11-27 21:34] phet-steele commented on #155
Fixed in master.

[2017-11-27 21:34] #155 closed, assigned to phet-steele, Denz1994

[2017-11-27 21:38] phet-steele commented on #158
Works, thanks.

[2017-11-27 21:38] #158 closed, assigned to phet-steele, Denz1994

[2017-11-27 21:39] phet-steele commented on #156
The standardization works great!

However, when I start at 0 and step 10 times, the timer displays: 00:00.10. Then when I step once more, it still says 00:00.10. Once more and it will finally say 00:00.11. Rounding errors?

[2017-11-27 22:00] phet-steele commented on #159
Nice one, thanks.

[2017-11-27 22:00] #159 closed, assigned to phet-steele, Denz1994

[2017-11-27 22:03] phet-steele commented on #169
I think this is fixed, thanks.

[2017-11-27 22:04] phet-steele commented on #165
I think it might have done just that!

[2017-11-27 22:05] phet-steele commented on #164
Looks fixed.

[2017-11-27 22:05] #164 closed, assigned to phet-steele, Denz1994

[2017-11-29 23:56] arnabp opened #170 "Alternating spring constant causes spring to exceed normal limits"
![masses_andsprings_constant_bug_1](https://user-images.githubusercontent.com/8583364/33405216-c258cfaa-d524-11e7-851c-642ace3a945b.gif)

I was able to recreate this by simply placing a weight and alternating between the smallest and largest spring constants. I got the spring to stretch to absurd lengths by pausing and having smallest constant at equilibrium position and largest constant at the lo

[2017-11-30 18:18] phet-steele commented on #166
Fixed in master.

[2017-11-30 18:18] #166 closed, assigned to phet-steele, Denz1994

[2017-11-30 18:22] phet-steele commented on #167
Works great now. Thanks for the novel @arouinfar. I learned something, so this was worthwhile 😄

[2017-11-30 18:22] #167 closed, assigned to phet-steele, Denz1994

[2017-11-30 18:24] phet-steele commented on #152
Vectors are placed correctly in master.

[2017-11-30 18:24] #152 closed, assigned to phet-steele, Denz1994

[2017-12-01 18:35] phet-steele opened #171 "Equilibrium position does not update when changing mass value"
1. Go to the Lab screen.
2. Increase to max damping (for dramatic effect) and attach the variable mass.
3. When it's done oscillating, increase the mass to max (300 g). Notice how the green equilibrium line did not move with this new mass.

Some fun consequences:
4. Enable the acceleration vector. There will be a non-zero acceleration, towards the equilibrium position, yet the mass is not moving:

[2017-12-01 18:41] Denz1994 commented on #171
Note to self: Check reference point for mass position in SpringStopperNode. We may be setting this reference explicitly.

[2017-12-04 18:49] Denz1994 commented on #171
There were some inconsistencies in how were were referencing the springExtension from its natural length. This meant there we needed to recalculate the springExtension when it was being used. Additionally the equilibriumYPositionProperty was not using the updated value of the massValue.

The original approach for a psuedo-stopSpring callback revolved around stepping through the model at a prolonge

[2017-12-04 22:14] Denz1994 commented on #157
There was a condition that was checking the position of the mass relative to the floor position. If the mass was on the floor we did nothing. This scheme worked before there was an animation after a mass hits the floor. This was a safeguard that was overlooked when implementing the animation for the masses after release and was removed.

This bug put up a good fight. Could you test in master @phet

[2017-12-06 00:30] Denz1994 commented on #156
Good catch @phet-steele. Could you try to replicate in master again? I think the rounding errors were fixed.

[2017-12-06 02:22] #90 closed, assigned to Denz1994

[2017-12-06 05:54] Denz1994 commented on #170
This is a good catch. I have a few of ideas that may be workable solutions.

1. Have the slider become inactive (grayed out) after the mass reaches a position that is "absurd". This way we can no longer adjust the spring constant after we reached an extreme.

2. Similar to option 1. We can make the slider inactive after the springExtention exceeds a range of "non-absurd"  values. This can be empir

[2017-12-06 06:10] Denz1994 commented on #146
After toying with some alternative solutions, we could have Planet X be removed from the Lab screen altogether. If we need a gravity readout to determine the mass of the mystery mass, then having an unknown gravity seems counterproductive.

Counter-argument: A user can find the Planet X gravity on the lab screen by using the adjustable mass which is labeled.

Counter-counter-argument: True, but id

[2017-12-06 14:46] Denz1994 commented on #57
This was reviewed in early November and I will leave it up to the Code Review Checklist to catch anything that was added or missed.

[2017-12-06 14:46] #57 closed, assigned to Denz1994

[2017-12-06 17:02] ariel-phet commented on #170
@Denz1994 @arouinfar I do not really consider this behavior a bug

What @arnabp did does cause a situation that is not pedagogically useful, but the actions are also ones that are not really productive exploration. In essence, energy is being added to the system because if at the point of largest stretch you make the spring constant large, all of a sudden there is much more stored energy.

Having

[2017-12-06 19:24] Denz1994 commented on #27
As per our discussion on 12/6/17  with @ariel-phet, can I close this issue as far as phet-io implementation? There seems to be some fundamental changes to the phet-io engine that won't be included in the published version of masses and springs. We can always open a new issue in the future.

[2017-12-06 20:11] samreid commented on #27
Yes, let's close for now and we can re-evaulate when it is time to bring Masses and Springs PhET-iO to production.

[2017-12-06 20:11] #27 closed, assigned to ariel-phet, Denz1994

[2017-12-07 19:39] phet-steele commented on #151
Looks good to me, thanks @Denz1994. We'll close this and wait for a code review to see if there are any remaining issues. Note that also now all files that still say "Vector", like `VectorScreenView.js`, should be changed to "Vectors". Ought to be fun.

[2017-12-07 20:10] phet-steele commented on #156
Everything is fine until 00:00.28. This is subtly different however. Pressing once will still show 00:00.28. Pressing again will skip 29 entirely and show 00:00.30. This happens in many more places if you keep going.

[2017-12-07 20:29] phet-steele commented on #157
I think you beat it, nice work.

[2017-12-07 20:29] #157 closed, assigned to Denz1994

[2017-12-07 20:50] phet-steele commented on #171
Nice fix @Denz1994. This is working for me.

[2017-12-07 20:50] #171 closed, assigned to Denz1994

[2017-12-08 19:18] Denz1994 commented on #151
The variable and file names that reference the Vectors tab have been updated.

[2017-12-08 19:18] #151 closed, assigned to Denz1994

[2017-12-08 20:02] Denz1994 commented on #120
Perhaps the naming convention is incorrect for this variable. The coil length undergoes a modelViewTransform that takes its initial model value (positive) and expresses it in the scope of the view bounds. This means that the coil length is more of a distance from the top tip of the spring to the ending tip. I don't think this value is incorrect but instead, the name shouldn't be a "length". It als

[2017-12-08 20:04] #120 closed, assigned to Denz1994

[2017-12-11 18:37] Denz1994 commented on #156
The rounding errors seemed to be fixed in master, could you test @phet-steele.

Also, I believe this rounding error was present in WOAS, but there isn't any play/pause functionality for the whole sim so it is difficult to reproduce. Commit 00d6a052f300219ff2e0f3f482ab1240d9e975ed may have fixed this.

[2017-12-11 21:31] phet-steele commented on #156
Works 👍

[2017-12-12 18:54] Denz1994 commented on #150
Calling setMass() when the naturalRestingLengthProperty is changed should correct the position of the mass when the spring length changes. We shouldn't need to call this in the step function either.

Could you test in master @phet-steele?

[2017-12-18 20:11] ariel-phet opened #172 "Reducing floating boxes"
@arouinfar here are some suggestions from @emily-phet - might be worth discussing at a future design meeting. I think there are a few places we could reduce the feeling of many floating control boxes (eg the spring constant controls may not even need a box, also possible the check boxes do not need a box).

@emily-phet said:

[2017-12-20 20:21] Denz1994 opened #173 "SpringView refactored to SpringScreenView"
Note all screen views should be entitled with ScreenView in their naming. This should be refactored for the common SpringView.js, OneSpringView.js, and TwoSpringView.js.

[2017-12-21 00:43] arouinfar commented on #170
@Denz1994 thank you for thinking through some possible solutions. However, I agree with @ariel-phet that while this behavior may not be pedagogically productive, it is not actually a bug. I am also a bit wary of disabling the slider or otherwise limiting the sim, because that too would seem buggy, but would lack a clear physical explanation.

My vote is to leave the behavior as is, though make a n

[2017-12-21 00:43] #170 closed, assigned to arouinfar, Denz1994

[2017-12-21 00:44] arouinfar opened #174 "Items for Teacher Tips"
For #1

**Model Simplifications**
- [x] #170 - alternating spring constant causes spring to exceed normal limits
- [x] #203 - equilibrium position
- [x] Changing a parameter mid-oscillation
- [x] Damping slider controls c, not gamma (gamma = c/2m)
- [x] Negative GPE
- [x] The thickness of the spring is used to indicate the spring constant.
- [x] Constant length vs. spring constant modes
- [x] #218

[2017-12-21 00:47] arouinfar commented on #172
@ariel-phet @emily-phet definitely food for thought. I've also found the sim to be a bit much, at times, so I think it would be good to discuss.

I'll tag this for design meeting, and work on some alternative mockups.

[2017-12-21 14:22] Denz1994 opened #175 "Negative values handled for the energy graph."
- [x] The backgrounds of the labels need to be aligned and added to the x axis. Right now the bar covers the label when it reaches a negative value.

- [x] The lower minimum on the range for the bars is too low. The arrow exceeds the graph bounds.

[2017-12-21 15:12] Denz1994 commented on #153
I don't think this is still an issue after merging changes from the 'portedGraph' branch. The total energy bar doesn't grow in size due to negative values. Could you please test in master?

[2017-12-21 15:16] Denz1994 commented on #125
This doesn't happen anymore after the merge of the 'portedGraph' branch.

[2017-12-21 15:16] #125 closed, assigned to Denz1994

[2017-12-21 16:29] Denz1994 commented on #142
After merging with 'portedGraph' branch, these changes have been made.

[2017-12-21 16:29] #142 closed, assigned to Denz1994

[2017-12-21 21:07] arouinfar opened #176 "Handling offset between COM and equilibrium"
@kathy-phet noticed:

I did some playing with masses and springs today, and wanted to open a discussion with you about the placement of the force and velocity/acceleration vectors.
I'm finding a lot of cognitive overload having the force and velocity vectors being offset from the location of the application of the spring force. And I am wondering whether we might consider an alternative solution t

[2017-12-21 21:49] arouinfar commented on #176
For Vectors, Energy, and Lab:
* Remove Natural Length
* Add "Displacement" checkbox
* Shift Equilibrium Position to COM and rename "Mass Equilibrium"

Rough mockup of Displacement:
![image](https://user-images.githubusercontent.com/8419308/34276143-50cf4bb2-e65d-11e7-89d6-c7f483534afb.png)

[2017-12-21 21:49] phet-steele commented on #149
Looks better now with the new graph.

[2017-12-21 21:49] #149 closed, assigned to phet-steele, Denz1994

[2017-12-21 21:51] phet-steele commented on #153
Works wonderfully.

[2017-12-21 21:51] #153 closed, assigned to phet-steele, Denz1994

[2017-12-21 21:52] phet-steele commented on #160
No black bar in the new graph = No problem

[2017-12-21 21:52] #160 closed, assigned to phet-steele, Denz1994

[2017-12-21 21:53] phet-steele commented on #161
No longer happens with new graph.

[2017-12-21 21:53] #161 closed, assigned to phet-steele, Denz1994

[2017-12-21 21:54] phet-steele commented on #168
No longer happens with the new graph.

[2017-12-21 21:54] #168 closed, assigned to phet-steele, Denz1994

[2017-12-21 22:19] phet-steele commented on #150
Is the current behaviour on master what is wanted? Following the steps above keeps the mass AND spring in place, instead of moving both.

[2017-12-22 05:18] mattpen commented on #2
Currently, the flash version of this sim is published as both /legacy/mass-spring-lab and /mass-spring-lab.  Today I added this sim to the routes /legacy/masses-and-springs and /masses-and springs as part of phetsims/website#659.  When the html5 MAS is published, it will be available at /mass-spring-lab and /masses-and springs, and the flash version will be available at /legacy/mass-spring-lab and

[2017-12-22 05:18] #2 closed, assigned to nobody

[2017-12-22 13:11] Denz1994 commented on #2
Thanks for closing @mattpen.

[2017-12-22 23:35] arouinfar commented on #145
Discussed in the 12/21/17 design meeting.

On the Vectors screen, we would need to include a damping force, which is constantly changing (bounded by exponential envelope). This representation would be quite complicated, and is not something typically covered, so we decided not to include damping.

Since Vectors will not include damping, it would be a bit odd flow-wise to include damping on the Int

[2017-12-22 23:57] arouinfar opened #177 "Make damping slider snappy"
From #145:

On the Vectors screen, we would need to include a damping force, which is constantly changing (bounded by exponential envelope). This representation would be quite complicated, and is not something typically covered, so we decided not to include damping.
Since Vectors will not include damping, it would be a bit odd flow-wise to include damping on the Intro screen. Other sims, such as E

[2017-12-22 23:58] arouinfar commented on #145
@Denz1994, I think it makes sense to move the remaining work to a new issue, as referenced above. Closing.

[2017-12-22 23:58] #145 closed, assigned to Denz1994

[2017-12-23 00:21] arouinfar commented on #176
Discussion from in the 12/21/17 design meeting:
* The Equilibrium Position and Natural Length lines support learning goals for the Intro screen, so leave these as-is.
* For the Vectors, Energy, and Lab screens, it is more useful to know where the COM is at equilibrium. On these screens, shift the equilibrium position line to the COM and rename "Mass Equilibrium".
* It is problematic to view the Na

[2017-12-23 01:49] arouinfar commented on #136
Discussed in the 12/21/17 design meeting.

The sounds add a bit of whimsy, so we decided to keep the sounds from Flash. The sound will be off by default, and the button can be reduced to ~75% of its current size. Reassigning to @Denz1994.

[2017-12-28 18:03] ariel-phet commented on #146
I believe the decision in design meeting was to try and match the look and function of how this readout is handled in Pendulum lab (which seemed like a good suggestion).

[2017-12-28 20:15] Denz1994 commented on #176
@arouinfar How are we positioning the displacement vector for the second spring node? We get overlap in the vector nodes if we keep them in the same position, as seen below. I haven't found a good solution for this.

![image](https://user-images.githubusercontent.com/13894380/34422175-cf3f59d6-ebe1-11e7-96ee-579d51d19719.png)

[2017-12-28 21:49] Denz1994 commented on #150
Discussion with @ariel-phet. He agreed this is reasonable behavior for a mass system in a paused state. Closing.

[2017-12-28 21:49] #150 closed, assigned to arouinfar, Denz1994

[2017-12-29 01:27] Denz1994 opened #178 "Play/Pause buttons should match Pendulum Lab"
Make sure the button's size and spacing are the same as in pendulum lab. Also, correct the radio button size is the same between both sims.

[2017-12-29 01:30] Denz1994 opened #179 "Minimum coils for the springs should be 2 instead of 1 coil."
@ariel-phet said, "Spring length should have a two coil minimum because one coil doesn’t look like a spring. The learning goal should reflect that the more coils we add, the thicker the spring should get."

We need a spring to look like a spring and one coil doesn't accomplish this.

[2017-12-29 01:32] Denz1994 opened #180 "Spring length panel: change terms to “short” and “long” instead of small and large"
@ariel-phet suggested, "Spring length panel should read “short” and “long” instead of small and large."

[2017-12-29 01:35] Denz1994 opened #181 "Consolidating Panels for Toggling Options"
Some suggestions from @ariel-phet:
- Panels on outer bounds: Merge toolbox, gravity/damping panel, reference line panel
- Instead of white space, we want a thin horizontal hairline. Look at projectile motion intro screen.
- Do this for every screen and we can adjust as needed.
- On the lab screen swap the position of the tools and the vector checkbox to keep it consistent with the other screens.

[2017-12-29 01:40] Denz1994 opened #182 "Constants Panel Polishing"
After meeting with @ariel-phet, the constants panel on intro screen should be adjusted. The white space on the side should be reduced a bit by expanding the maxTextwidth. This may also fix the font of the text itself.

[2018-01-02 16:45] #180 closed, assigned to Denz1994

[2018-01-02 22:14] #179 closed, assigned to Denz1994

[2018-01-03 16:10] #178 closed, assigned to Denz1994

[2018-01-03 23:06] arouinfar opened #183 "Add unit to GPE reference line"
In the 12/21/17 design meeting, we noticed that the "Height = 0" reference line for gravitational potential energy was missing a unit.

@Denz1994 please update the string so it reads, "Height = 0 m"

[2018-01-03 23:31] arouinfar commented on #146
@Denz1994 as @ariel-phet said, the decision was to format the Gravity slider like the one in Pendulum Lab. On Lab, it will look something like this:
![image](https://user-images.githubusercontent.com/8419308/34544414-5aa34288-f0a3-11e7-82af-859cdf12f4fb.png)

And on the other screens, it would look like:
![image](https://user-images.githubusercontent.com/8419308/34544423-66c63c32-f0a3-11e7-9c63-28

[2018-01-04 14:06] #183 closed, assigned to Denz1994

[2018-01-04 17:52] Denz1994 opened #184 "Gravity and Friction Panel Should be common code"
During the status meeting on 01/04/18, it was brought up that the gravity and damping panel should be consolidated into common code. The current gravity and damping slider in master will need to be decoupled as it is done in pendulum lab.

[2018-01-04 17:57] Denz1994 opened #185 "Color Selection for Vectors"
This was brought up at the 01/04/18 status meeting by @terracoda:

I don't have any further thoughts on a suitable color. Thoughts @arouinfar?

[2018-01-04 23:50] arouinfar opened #186 "?dev bounds have inconsistent width"
I've noticed that the width of the ?dev bounds is inconsistent.

Home screen matches other sims:
<img width="1033" alt="screen shot 2018-01-04 at 4 41 37 pm" src="https://user-images.githubusercontent.com/8419308/34589513-61bbb52a-f16e-11e7-8a79-c20dedf9c722.png">

However, ?dev is a bit narrower on the individual screens -- perhaps to preserve the aspect ratio?
<img width="1029" alt="screen shot

[2018-01-05 00:02] Denz1994 commented on #186
I will look into this. Thanks for the report.

[2018-01-05 00:16] arouinfar commented on #185
Thanks for opening this issue @Denz1994! We use the same yellow and green for acceleration and velocity vectors in other sims (such as Pendulum Lab and Projectile Motion). In general, the contrast between the yellow and green is reasonable.
<img src="https://user-images.githubusercontent.com/8419308/34590030-8303fd5c-f171-11e7-83c0-4b0a56c91660.png" width=150> <img src="https://user-images.githubu

[2018-01-05 20:46] Denz1994 commented on #181
The panels on the right side of every screen have been consolidated into one panel. The sections of the panel are separated by thin hairlines as suggested by @ariel-phet. The version of the panels in [1.0.0.dev-23](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.33/masses-and-springs_en.html) are mockups and can be refined programmatically. However, I do want some input

[2018-01-05 20:53] Denz1994 commented on #181
Sidebar: I have been referencing the wrong issue in commits so I have just updated the relevant issues. Continue as normal.

[2018-01-05 22:24] ariel-phet commented on #181
@Denz1994 I think this is definitely an improvement, both visually and UX wise and agree with your comments above.

I think I would still put the "tools" (the ruler and stop watch) in a separate floating panel. To me they are conceptually a bit different. And that way the basic division is "sim controls" and then "measuring tools" - that seems like a good conceptual division to me, and matches sim

[2018-01-05 23:41] Denz1994 commented on #181
The idea of a separate tools panel would be great because alleviates changing the bounds of when a tool should be returned. In the current version, you can drop a tool over the options panel and the tool won't return if it isn't in the tool section.

[2018-01-10 21:36] Denz1994 commented on #186
At some point during development, there was a change to the dev bounds for every screen. The change has been made so the sim is using the default layout bounds. However, this caused a heap of changes to many view elements and their positions.

This is all for the better though because there have been many generalizations and overall clean up of view elements.  If there are any other view changes t

[2018-01-10 21:36] #186 closed, assigned to Denz1994

[2018-01-11 03:25] #173 closed, assigned to Denz1994

[2018-01-11 03:26] Denz1994 commented on #177
The damping slider has been made snappy along with the same visual update as pendulum lab.

[2018-01-11 03:26] #177 closed, assigned to Denz1994

[2018-01-11 03:28] Denz1994 commented on #181
The panels have been consolidated and the toolbox has been removed and placed in its own panel.

[2018-01-11 03:28] #181 closed, assigned to arouinfar, Denz1994

[2018-01-11 03:29] Denz1994 commented on #182
The above suggestions have been implemented.

[2018-01-11 03:29] #182 closed, assigned to Denz1994

[2018-01-11 03:34] Denz1994 opened #187 "Mass stuck when fully primed on spring"
After changing the layout bounds in #186, the mechanism used to attach the masses to a spring has been buggy.

If a mass in grabbed and attached to the spring, then fully raised to the max spring contraction, the mass cannot be dragged back down. It can, however, be released and it will oscillate. This may have something to do with the modelViewTransform used.

Additionally, the attachment point i

[2018-01-12 17:29] Denz1994 commented on #184
After reviewing PendulumNumberControl.js and GravityAndDampingControlPanel.js with @jonathanolson, we discovered that there are unique layouts for each sim. Considering that MAS uses a common number control for both the MassValueControlPanel.js and GravityAndDampingControlPanel.js the layout functions would be different from the uses in Pendulum Lab.

The same layout function is used in both mass

[2018-01-12 19:25] Denz1994 commented on #104
Could you give the model and implementation notes a review @jonathanolson and comment on any suggestions or changes?

[2018-01-12 19:34] Denz1994 commented on #98
Can @jonathanolson review this mathematical model and update the documentation as you see fit?

[2018-01-12 19:35] Denz1994 commented on #136
Assigning @jonathanolson to help with extracting legacy sound files. Thanks for the help JO.

[2018-01-16 15:27] #175 closed, assigned to Denz1994

[2018-01-16 15:58] Denz1994 commented on #176
@arouinfar The above suggestions were implemented.[Dev 34](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.34/masses-and-springs_en.html) can be reviewed for critique. If there aren't any suggestions regarding this issue could you close?

[2018-01-16 16:32] Denz1994 opened #188 "Stop button changes energy graph values incorrectly."
Consistently, clicking the stop button on the energy or lab screen changes the energy values in the graph. It seems to be subtracting thermal energy. This wasn't a problem in [dev 32](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.32/masses-and-springs_en.html).

[2018-01-16 17:29] Denz1994 opened #189 "Disabling spring stopper buttons?"
In the spirit of reducing the visual heaviness around the panels as brought up in #172, the spring stopper buttons can be disabled when there isn't a mass attached. I think this is a natural behavior for the buttons. Thoughts @arouinfar?

P.S. Review changes in master. Merging of chipper 2.0 is delaying dev versions.

[2018-01-16 20:41] arouinfar commented on #189
Excellent suggestion @Denz1994! The stop button is looking good on master, but I have one suggestion. It seems natural to also disable the stop button when the mass is at rest (since triggering the button won't do anything).

There are two scenarios to consider:
(1)  Immediately after using the stop button, the mass will be at rest.
(2)  In the presence of damping, the oscillation will eventually

[2018-01-16 21:35] Denz1994 commented on #189
Thanks for the feedback. I will toil with scenario (2). This may also help to solve #188. Ideally, if the mass velocity = 0 m/s and the center of mass is at the mass equilibrium position the button should be disabled. This may be implemented in Mass.js.

[2018-01-17 17:45] #188 closed, assigned to Denz1994

[2018-01-17 17:54] Denz1994 commented on #189
The spring stop button is only enabled when a mass is oscillating. Otherwise, we shouldn't need to stop the spring. Could you review in master @arouinfar and update this issue as needed?

[2018-01-17 18:06] arouinfar commented on #189
Looks great @Denz1994!!

[2018-01-17 18:17] arouinfar commented on #172
In the last design meeting we discussed some ways to reduce the overall visual weight including:
* Give Mass, Spring Constant, and Length floating panels white background and gray stroke
* Consolidating other panels, where possible -- #181

@Denz1994 has already made these changes, so I think we can go ahead and close this issue.

[2018-01-17 18:17] #172 closed, assigned to arouinfar

[2018-01-17 21:21] Denz1994 commented on #146
@arouinfar Could you review the gravity slider's visuals and critique it. JO and I went over the pendulum lab's gravity slider and we came to the conclusion that making it common code would not be best. There isn't much to leverage between the two sims aside from some visuals options in the code.

Full context in #184.

[2018-01-17 21:27] Denz1994 commented on #184
Closing this issue because there isn't much in common about the sliders used in each sim and probably even less so in the future.

[2018-01-17 21:27] #184 closed, assigned to Denz1994

[2018-01-19 16:44] #187 closed, assigned to Denz1994

[2018-01-22 15:28] Denz1994 opened #190 "Dev version for interviews"
In a slack conversation @ariel-phet made said:

I will tag any new bugs that I find in this issue until a stable version of MAS is secured.

[2018-01-22 15:31] Denz1994 opened #191 "Switching scenes in Intro doesn't reset stop button"
Steps to reproduce:

1. Open to intro screen
2. Attach a mass to spring and start oscillation
3. While oscillating, switch the scene using the scene icons
4. The mass won't be attached but the stop button will still be enabled.

Found during testing for #190.

[2018-01-22 15:59] #191 closed, assigned to Denz1994

[2018-01-22 16:19] Denz1994 opened #192 "Tool layering is out of order."
Ruler and Timer nodes awkwardly can be dragged behind buttons and panels. This should be fixed.

![image](https://user-images.githubusercontent.com/13894380/35231193-26d693a2-ff66-11e7-80c4-e1498241d139.png)

[2018-01-22 16:26] #192 closed, assigned to Denz1994

[2018-01-22 16:30] Denz1994 commented on #192
Found during testing for #190.

[2018-01-22 16:50] Denz1994 opened #194 "Adjusting browser window size while gravity box is open, causes misplaced menu."
Step to reproduce:
1. Open sim on any screen.
2. Click gravity combo box so the menu is open.
3. While the menu is open, make the browser window smaller.
4. At this point, the menu will be at a weird location away from the combo box.

Found during testing #190.

[2018-01-22 17:23] Denz1994 commented on #194
After doing some investigation, it seems like this is a problem in both projectile motion and CCK Black Body Study. However, this isn't a problem in Models of the Hydrogen Atom and Molecules and Shapes. I don't really know why this is an issue with the combo box but it isn't sim specific to Masses and Springs. Perhaps @jonathanolson, can provide some insight on our next collaboration. session.

[2018-01-22 17:36] Denz1994 commented on #190
A few bugs have been fixed during this test phase. Also, a fuzz test has been running successfully for 1hr and 30 min. I have released, which may be used for review [1.0.0-dev.37](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.37/phet/masses-and-springs_en_phet.html). Assigning to @ariel-phet for review and feedback.

[2018-01-22 18:13] Denz1994 commented on #136
@ariel-phet Mentioned that it isn't worth recovering the old sounds for the flash version of MAS. New sounds should be created. Until then I will remove the sound button. This suggestion was made in reference to #190. Unassigning @jonathanolson.

[2018-01-22 18:21] Denz1994 commented on #190
@ariel-phet Suggested using new sounds for MAS because the recovery of the flash sounds would be a bit involved requiring assistance from @jonathanolson. This would be a good time to create new sounds. Until the new sounds are created the sound button has been removed from the screenView.

A new [1.0.0-dev.38](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.38/phet/mass

[2018-01-22 20:54] Denz1994 opened #195 "Play/Pause button expansion should be at button's center."
@ariel-phet mentioned when reviewing #190, that the play/pause button should not be shifting when it is clicked and should expand in reference to its center.

[2018-01-22 20:56] Denz1994 opened #196 "OneSpringView shelf should be shifted over."
While reviewing #190, @ariel-phet mentioned that the shelf on the energy and lab screen should be shifted to towards the play area a bit more. There is some overlap with the masses on the Lab Screen and on the Energy Screen, the spacing is a bit tight.

[2018-01-22 21:02] Denz1994 opened #197 "Damping set to none causes incorrect thermal energy values."
Discovered by @ariel-phet, while reviewing #190. Steps to reproduce.
1. Open lab screen
2. Attach mass to spring to start oscillation.
3. Set damping to none.
4. During the oscillation, the total energy bar in the energy graph will begin to flicker.

[2018-01-22 21:04] Denz1994 opened #198 "Mass Equilibrium Text in panel"
The OneSpringView should be using the "Mass Equilibrium" text instead of the current "Equilibrium Position" text. The line that is being used is correctly representing the Mass Equilibrium, but the text is incorrect.

Discovered while reviewing #190.

[2018-01-22 21:18] phet-steele commented on #195
@Denz1994 I thought this was fixed in https://github.com/phetsims/masses-and-springs/issues/154?

[2018-01-22 23:42] arouinfar commented on #195
@Denz1994 actually, I would prefer that the play button didn't expand at all. In some sims, the button expands to draw attention to itself, but there are several other cases where play and pause are the same size (such as Pendulum Lab, Rutherford Scattering, and Gravity and Orbits).

Given the button's placement and general flow, I think that play and pause can be the same size. Currently, the siz

[2018-01-22 23:46] arouinfar commented on #198
@Denz1994 to be clear, Mass Equilibrium should be on Vectors, Energy, and Lab. Looks like the behavior is correct, but the string in the panel needs to be updated.

[2018-01-22 23:56] arouinfar commented on #196
@Denz1994 it looks like the shelf was moved between [dev.33](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.33/masses-and-springs_en.html) and [dev.34](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.34/masses-and-springs_en.html).  In [dev.35](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.35/phet/masses-and-spr

[2018-01-22 23:59] arouinfar commented on #194
@Denz1994 this bug isn't particularly problematic for interviews, as there generally isn't any window-resizing that occurs, so I would prioritize #197 over this bug .

[2018-01-23 00:05] arouinfar commented on #190
@Denz1994 thank you for this review! I'm in the process of reviewing of dev.38/master to see if there's anything that needs addressing before interviews. So far only #197 and #198 are critical to
address before interviews, which will likely be Monday/Tuesday next week.

[2018-01-23 17:32] Denz1994 commented on #104
After reviewing with @jonathanolson, there were some typo fixes but overall the documentation is in good shape. I will leave it up to @jonathanolson to update the mathematical expressions as need be after working on #98.

[2018-01-23 17:32] #104 closed, assigned to jonathanolson

[2018-01-23 17:41] phet-steele commented on #194
Some discussion of this has occurred in https://github.com/phetsims/sun/issues/237 I believe.

[2018-01-23 21:52] jonathanolson commented on #98
Added my mathematica notes used to generate the model code in `assets/`, along with a PDF conversion.

I'll be looking through those to come up with the more detailed documentation for model.md and for in the code itself.

[2018-01-24 12:21] #198 closed, assigned to Denz1994

[2018-01-24 12:41] #197 closed, assigned to Denz1994

[2018-01-24 12:56] Denz1994 commented on #197
The thermal energy is now preserved at whatever its current value is when the damping is set to zero.

[2018-01-24 13:01] #195 closed, assigned to Denz1994

[2018-01-24 13:03] Denz1994 commented on #195
@phet-steele  I was able to track down commit 52dc78d56e047e510e0235618c37409596ee1806 which may have altered the previous behavior. The change happened between [dev 24](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.24/masses-and-springs_en.html) and [dev 25](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.25/masses-and-springs_en.html). It

[2018-01-24 15:41] #196 closed, assigned to Denz1994

[2018-01-24 15:54] Denz1994 commented on #190
Posting a new dev version for review. Issues #136 and #194 are not priorities for the purposes of the interviews. Assigning to @arouinfar for review of this latest [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.40/phet/masses-and-springs_en_phet.html). Thanks for the feedback @arouinfar.

[2018-01-24 19:10] Denz1994 opened #199 "Resolution on FireFox causes blurry images."
![image](https://user-images.githubusercontent.com/13894380/35350368-b5512768-010b-11e8-82bd-373e6f5f045e.png)
It seems that on Firefox the resolution of the ruler node is not very defined. This was spotted while working with @jonathanolson and a potential workaround may be to have the toolbox have an image of the ruler node and change the render. Will investigate.

[2018-01-24 19:18] Denz1994 opened #200 "Arrangement of bars in total energy bar."
@ariel-phet commented via Slack 01/24/17, 1:42 EST

[2018-01-24 19:20] Denz1994 commented on #200
The original orientation was fitted to match the arrangement in pendulum lab, but [dev 41 ](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.41/phet/masses-and-springs_en_phet.html
)has been adjusted to follow the new suggestion mentioned above.

[2018-01-24 19:23] Denz1994 commented on #200
The original order of the total energy bar was done in accord with pendulum lab, but [dev 41](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.41/phet/masses-and-springs_en_phet.html) has the above suggestion implemented for review. Assigning to @ariel-phet for feedback.

[2018-01-24 19:36] ariel-phet commented on #200
@arouinfar see what you think about dev 41. I think this is much easier to interpret than dev 40. Here is my reasoning

1. I like the thermal energy coming "off the top" - I think this gives the feeling that as it grows it is "shriking" the available amounts of mechanical energy, which feels natural to me.

2. Putting KE on the bottom feels like a more natural mapping to me, it is easir for me to

[2018-01-24 20:25] arouinfar commented on #200
Thanks for this suggestion @ariel-phet. Looks awesome! I think and the stacking order makes the graph far more interpretable and intuitive. I definitely think this is a change we should migrate over to PL the next time it's up for a maintenance release. I'll open an issue for that.

[2018-01-24 20:25] #200 closed, assigned to arouinfar

[2018-01-25 17:48] samreid opened #201 "Masses are shaking"
I recorded this video from @kathy-phet laptop:

![export5](https://user-images.githubusercontent.com/679486/35403533-37f69bf6-01bd-11e8-9fb0-462b8701d9b9.gif)

[2018-01-25 17:49] Denz1994 commented on #201
Thanks for the issue @samreid. I'll investigate with @jonathanolson.

[2018-01-26 15:53] Denz1994 commented on #199
The above suggestion to create an image of the node has been implemented. I've experimented with changing the renderer of the rulerNode before using rulerNode.toImage() callback.

The screenshots are taken from the same screen on Firefox using different renderers.

Renderer: null
![image](https://user-images.githubusercontent.com/13894380/35447029-8aab4956-0284-11e8-9e4e-f1ee493f242d.png)

Rendere

[2018-01-26 16:53] #148 closed, assigned to Denz1994

[2018-01-27 00:19] arouinfar commented on #190
@Denz1994 Things are looking pretty good! I finished my review of the latest dev this afternoon, and have a few issues to open. None of them will need to be addressed before interviews, and are mostly pixel polishing.

I'll reassign this to you in case you want to keep it open until the remaining tagged issues are addressed. Otherwise, feel free to close.

[2018-01-29 15:03] #190 closed, assigned to Denz1994

[2018-01-29 17:35] arouinfar commented on #176
@Denz1994 in general the Displacement arrow is looking pretty good! I have a few suggestions/observations:

* Displacement should replace the Natural Length on the Energy and Lab screens
*  The arrows feel a little bit crowded. Would it be possible to separate the two springs a bit, say 20px? The gray panel the springs attach to would need to widen a bit, causing a shift in the stop button and spr

[2018-01-29 18:00] arouinfar opened #202 "Incorrect displacement magnitude"
In reviewing #176 I noticed that the displacement arrow tip can become misaligned. The tip should align with base of the spring, since that's where its zero point is.

The base of the displacement vector is correct. At more extreme displacements, the vector overshoots (left and right). For smaller displacements, the vector undershoots a bit (center).

<img width="717" alt="screen shot 2018-01-29 a

[2018-01-29 18:12] arouinfar opened #203 "Should we shift equilibrium position?"
The equilibrium position generally doesn't include the bit of the spring that attaches to the mass, so it would be more technically correct if we shifted the equilibrium position up to base of the final coil. We'd also need to shift the Natural Length too.

![image](https://user-images.githubusercontent.com/8419308/35526219-f522afe8-04e3-11e8-9c0a-227809aadd7d.png)

That said, the base of the spri

[2018-01-29 20:19] Denz1994 opened #204 "Displacement Arrow on Energy and Lab Screen"
@arouinfar made a comment on slack 01/29/2018:

[2018-01-29 20:22] arouinfar commented on #176
Looks like @Denz1994 is tracking this in #204, so the only remaining work left for this issue is the pixel polishing described in the 2nd bullet in my [previous comment](https://github.com/phetsims/masses-and-springs/issues/176#issuecomment-361323352).

[2018-01-29 20:41] Denz1994 commented on #204
The dev version [1.0.0-dev.42](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.42/phet/masses-and-springs_en_phet.html
) includes the displacement vector on the Vector, Energy, and Lab Screen. The bug found in #202 is still present. I will continue working on #202 and will post a new dev version when ready.

Assigning to @arouinfar to close this issue.

[2018-01-29 21:09] Denz1994 commented on #202
After investigating the previous dev versions, the above commit should patch the bug. Could you review this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.43/phet/masses-and-springs_en_phet.html) @arouinfar to assure that this bug is corrected?

[2018-01-29 21:20] arouinfar commented on #202
Looks great!! Thanks @Denz1994.

[2018-01-29 21:20] #202 closed, assigned to arouinfar, Denz1994

[2018-01-29 21:21] arouinfar commented on #204
👍

[2018-01-29 21:21] #204 closed, assigned to arouinfar

[2018-01-29 21:31] arouinfar commented on #185
@Denz1994 here are the updated colors:

* Equilibrium Position: ( 0, 180, 0 )
* Mass Equilibrium: black
* Small Mystery Mass: ( 246, 164, 255 )
* Medium Mystery Mass: ( 0, 222, 224 )
* Large Mystery Mass: ( 250, 186, 75 )

[2018-01-29 21:49] Denz1994 commented on #176
In the previous comment by @arouinfar there was a suggestion to add spacing between the springs.

This [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.44/phet/masses-and-springs_en_phet.html) includes the above suggestion, could you review this @arouinfar and close if need be. I also expanded the movable line node (red line) to cover the increased spacing

[2018-01-29 21:52] arouinfar commented on #176
Getting close @Denz1994!

The displacement vectors a a bit too close to the masses, and can overlap at times.
![image](https://user-images.githubusercontent.com/8419308/35536312-c355a982-0503-11e8-9877-99b8e406c219.png)

Can you move the vectors a few pixels towards the middle?

[2018-01-29 22:25] arouinfar opened #205 "Pixel polishing"
@Denz1994 here are some suggested pixel polishes. Please let me know if you have any questions, or if you would prefer to discuss over Zoom.

**Font Size**
(Anything not mentioned here is good as-is.)
- [x] Slider/panel titles, checkboxes, radio buttons, and value readouts (e.g. '100 g') = 14 pt
- [x] Combobox, slider min/max = 12 pt

**Padding**
- [x] Accordion box open/close button -- shift down

[2018-01-29 22:26] Denz1994 commented on #185
@arouinfar Could you review this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.45/phet/masses-and-springs_en_phet.html). Note that the mystery mass on the lab screen is unchanged because there it isn't labeled above. If these changes are sufficient then I'm leaving it up to @arouinfar to close.

[2018-01-29 22:39] arouinfar commented on #146
@Denz1994 I made a few general pixel polishing suggestions regarding font sizes and alignment in #205, so I won't repeat here.

I've noticed some shifting when switching to Planet X.

On Intro, the combobox gets closer to the bottom of the panel, but the panel itself doesn't appear to shift.
<img src="https://user-images.githubusercontent.com/8419308/35538132-fdfe5b82-0509-11e8-86f1-f9fc471db433.p

[2018-01-29 23:02] arouinfar commented on #185
Thanks @Denz1994!

Here's what I'm seeing:
* Equilibrium Position icon & line: black, but should be green ( 0, 180, 0 )
* Mass Equilibrium icon: black 👍
* Mass Equilibrium line: green, but should be black

I'd forgotten that the Lab screen had a different mystery mass was, since it was red. To confirm, there are four different mystery masses? The cyan mass on Intro and Lab appear to be the same to

[2018-01-29 23:07] ariel-phet commented on #203
Hooke's Law uses the base of the spring as the measurement point. The "natural length" of the spring to me does not mean the "length of the coils" it means the natural "resting" length of the spring as a whole. I think if you look up the length of extension springs the overall length is often mentioned:

https://www.masterspring.com/wp-content/uploads/2015/07/extension_spring_dimensions.gif

I thi

[2018-01-29 23:10] ariel-phet opened #206 "Shaking masses"
This problem appears to occur on multiple platforms. It is obvious on my Win 7 desktop on latest FF. It does not appear to be happening much on Win 7 chrome or IE (but maybe ever so slightly). It is obvious happening on my Win 10 laptop on chrome and firefox. The below recording is from Win 10 chrome. The easiest way to reproduce is just to pick up one mass and move it around, as the mass is moved

[2018-01-29 23:11] Denz1994 commented on #201
Closing and referring to #206

[2018-01-29 23:11] #201 closed, assigned to Denz1994

[2018-01-29 23:12] ariel-phet commented on #206
Labeling high priority since this bug will block publication

[2018-01-29 23:18] Denz1994 commented on #176
Ahh, good catch. The patch in this [dev version](https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.46/phet/masses-and-springs_en_phet.html) should fix this for both two spring and one spring views. Assigning to @arouinfar for review.